extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | GPS

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-GPS-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/GPS/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/GPS/ErrCounter'}]}) ---
                    tr
                      th State
                      td
                        span(data-sage={tlm: [{name:'/CFS/GPS/State'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/GPS/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/GPS/Reset'}}) Reset
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle GPS Position (Output)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Timestamp'}]}) ---
                    tr
                      th Time UTC Usec:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_TimeUtcUsec'}]}) ---
                    tr
                      th Lat:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Lat'}]}) ---
                    tr
                      th Lon:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Lon'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Alt'}]}) ---
                    tr
                      th Alt Ellipsoid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_AltEllipsoid'}]}) ---
                    tr
                      th S Var:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Svariance'}]}) ---
                    tr
                      th C Var:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Cvariance'}]}) ---
                    tr
                      th EpH:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_EpH'}]}) ---
                    tr
                      th EpV:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_EpV'}]}) ---
                    tr
                      th HDOP:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_HDOP'}]}) ---
                    tr
                      th VDOP:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_VDOP'}]}) ---
                    tr
                      th Noiser Per Ms:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_NoisePerMs'}]}) ---
                    tr
                      th Jamming Indicator:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_JammingIndicator'}]}) ---
                    tr
                      th Vel m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Vel_m_s'}]}) ---
                    tr
                      th Vel N m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Vel_n_m_s'}]}) ---
                    tr
                      th Vel E m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Vel_e_m_s'}]}) ---
                    tr
                      th Vel D m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_Vel_d_m_s'}]}) ---
                    tr
                      th COG:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_COG'}]}) ---
                    tr
                      th Relative Timstamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_TimestampTimeRelative'}]}) ---
                    tr
                      th Fix Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_FixType'}]}) ---
                    tr
                      th Vel NED Valid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_VelNedValid'}]}) ---
                    tr
                      th Satellites Used:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/GPS/VGPP_SatellitesUsed'}]}) ---

                                        
  .row
    +app_specific_telemetry_control("GPS")
                                    
  .row          
    +app_specific_mempools("GPS")
    
  .row
    +registered_applications() 
    +app_specific_application_control("GPS")

  .row
    +app_specific_event_filters("GPS")
    
  .row
    +app_specific_scheduler_control("GPS")

