script(type='text/javascript').

.row
  .col-xs-12.col-sm-7.col-md-7.col-lg-4
    h1.page-title.txt-color-blueDark
      block header

#content
  section#widget-grid(data-widget-grid)
    block main

script(type='text/javascript').
  pageSetUp();
  var replaceAll=function(str, find, replace) {
      str = str.toString();
      return str.replace(new RegExp(find, 'g'), replace);
  }

  !(function ($, undefined) {
    /// adapted http://jsfiddle.net/drzaus/Hgjfh/5/

    var get_selector = function (element) {
        var pieces = [];

        for (; element && element.tagName !== undefined; element = element.parentNode) {
            if (element.className) {
                var classes = element.className.split(' ');
                for (var i in classes) {
                    if (classes.hasOwnProperty(i) && classes[i]) {
                        pieces.unshift(classes[i]);
                        pieces.unshift('.');
                    }
                }
            }
            if (element.id && !/\s/.test(element.id)) {
                pieces.unshift(element.id);
                pieces.unshift('#');
            }
            pieces.unshift(element.tagName);
            pieces.unshift(' > ');
        }

        return pieces.slice(1).join('');
    };

    $.fn.getSelector = function (only_one) {
        if (true === only_one) {
            return get_selector(this[0]);
        } else {
            return $.map(this, function (el) {
                return get_selector(el);
            });
        }
    };

  })(window.jQuery);


  /*
  $('[data-sage]').each(function() {
    var obj = $(this).attr('data-sage');
    var jsonObj;
    if (typeof obj === 'string' || obj instanceof String) {
      // it's a string
      obj= replaceAll(obj,"\'","\"");
      console.log('---> ', obj);
      jsonObj = JSON.parse(obj);
    }
    else if(typeof obj === 'object' || obj instanceof Object) {
      // it's an object
      jsonObj = obj;
    }
    else {
      // it's something else
      return;
    }
    console.log('ERROR YAHA H');
    if(typeof $(this).attr('id') === undefined) {
      var uuid = generateUUID();
      $(this).attr('id', uuid);
    }
    else
    {
    }

    if(jsonObj.hasOwnProperty('tlm'))
    {
      // This is a telemetry object.
      var menu = new BootstrapMenu(null, {

        container: $(this).parent(),

        actions: {
          dataPlot: {
            name: 'Data Plot' + jsonObj.tlm.name,
            iconClass: 'fa-folder-o',
            onClick: function() {
              window.open('#view/probe/plot.pug?' + $.param({instance: session.selectedInstance, name: jsonObj.tlm.name}, false));
            },
            isEnabled: function() {
              return true;
            }
          }
        }
      });

    }
    if(jsonObj.hasOwnProperty('cmd'))
    {
      // This is a command object.
    }
    console.log('ERROR ISSKE AGAE NAI H');
  });*/


block scripts
  script(type='text/javascript').


script(type='text/javascript').

  if($("#yamcs-instance-selected").text() != 'Select'){

    BindHtmlToCommanderInstance($("#yamcs-instance-selected").text());
  }

  //sage.StartSession();
