script.
    var sendSBMemPoolStats = function () {
        var poolHandle = $('#SBMemPoolHandle').text();
        session.sendCommand({ops_path:'/CFE/CFE_ES_TlmPoolStatsCmd_t', args:{'Payload.Application':'CFE_SB', 'Payload.PoolHandle':poolHandle}});
    };
         
.row.os-theme-dark
  article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-table
        h2 Housekeeping
      div.widget-body.table-responsive
        table.table.table-condensed
          tbody
            tr
              th Cmd Count
              td
                div(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.CommandCnt'}],indicator:'text'}) ---
              td
                .btn-group
                  button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_Noop'},indicator:'cmd'}) No-Op
                  button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_Reset'},indicator:'cmd'}) Counter Reset
            tr
              th Cmd Error Count
              td
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.CmdErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th No Subscribers
              td
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.NoSubscribersCnt'}],indicator:'text'}) ---
              td
            tr  
              th Msg Send Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.MsgSendErrCnt'}],indicator:'text'}) ---
              td 
            tr  
              th Msg Receive Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.MsgReceiveErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Internal Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.InternalErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Create Pipe Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.CreatePipeErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Subscribe Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.SubscribeErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Duplicate Subscriptions
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.DupSubscriptionsCnt'}],indicator:'text'}) ---
              td
            tr  
              th Pipe Overflows
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.PipeOverflowErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Msg Limit Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.MsgLimErrCnt'}],indicator:'text'}) ---
              td
            tr  
              th Memory in Use
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.MemInUse'}],indicator:'text'}) ---
              td
            tr  
              th Unmarked Memory
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.UnmarkedMem'}],indicator:'text'}) ---
              td
            tr  
              th Mem Pool Handle
              td 
                span#SBMemPoolHandle(data-cdr={tlm:[{name:'/CFE/CFE_SB_HKMsg_t/Payload.MemPoolHandle', format:'0x%08x'}],indicator:'text'}) ---
              td
                button.btn.cdr-primary(onclick='sendSBMemPoolStats()') Send Stats
      footer
        .btn-group.dropdown
          button.btn.cdr-primary.dropdown-toggle(type='button', data-toggle='dropdown')
            | Commands
            span.caret
          ul#MiscCommands.dropdown-menu(role='menu')
            li.cdr-dropdown-list-item
              a(data-cdr={cmd:{name:'/CFE/CFE_SB_EnRoutCmd_t'},indicator:'cmd'}) Enable Route
            li.cdr-dropdown-list-item
              a(data-cdr={cmd:{name:'/CFE/CFE_SB_DisableRoutCmd_t'},indicator:'cmd'}) Disable Route
            li.cdr-dropdown-list-item
              a(data-cdr={cmd:{name:'/CFE/CFE_SB_SendRoutInfo_t'},indicator:'cmd'}) Send Routing Info
            li.cdr-dropdown-list-item
              a(data-cdr={cmd:{name:'/CFE/CFE_SB_SendPipeInfo_t'},indicator:'cmd'}) Send Pipe Info 
            li.cdr-dropdown-list-item
              a(data-cdr={cmd:{name:'/CFE/CFE_SB_SendMapInfo_t'},indicator:'cmd'}) Send Map Info 
