extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | File Manager

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'300px'}) 
      #wid-FM-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'180px'})  Cmd Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandCounter'}]}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandErrCounter'}]}) ---
                  tr
                    th Cmd Warning Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/CommandWarnCounter'}]}) ---
                  tr
                    th Child Cmd Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdCounter'}]}) ---
                  tr
                    th Child Cmd Err Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdErrCounter'}]}) ---
                  tr
                    th Child Cmd Warn Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCmdWarnCounter'}]}) ---
                  tr
                    th Open Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/NumOpenFiles'}]}) ---
                  tr
                    th Child Queue Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildQueueCount'}]}) ---
                  tr
                    th Child Current CC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildCurrentCC'}]}) ---
                  tr
                    th Child Prev CC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/ChildPreviousCC'}]}) ---
            footer
              .btn-group
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FM/SetTableState'}}) Set Table State
              
    article.col-xs-3.col-sm-3.col-md-2.col-lg-2(style={width:'150px'}) 
      #wid-FM-Ops.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Operations
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .btn-group-vertical.btn-group-sm.btn-space
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Copy'}}) Copy
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Move'}}) Move
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Rename'}}) Rename
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Delete'}}) Delete
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/DeleteAll'}}) Delete All
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Decompress'}}) Decompress
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/Concat'}}) Concat
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/CreateDir'}}) Create Dir
              button.btn.btn-space.btn-primary(data-sage={cmd:{name:'/CFS/FM/DeleteDir'}}) Delete Dir
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'720px'})
      #wid-FM-OpenFiles.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Open Files
                td(style={width:'100px'}) (
                  span(data-sage={tlm:[{name:'/CFS/FM/Count'}]}) ---
                  | )
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetOpenFiles'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'50px'})  
                    th(style={width:'100px'})  Logical Name
                    th(style={width:'100px'})  App Name
                    th(style={width:'50px'})  
                    th(style={width:'50px'})  
                    th(style={width:'100px'})  Logical Name
                    th App Name
                tbody
                  tr
                    th 0
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_AppName'}]}) ---
                    td
                    th 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_AppName'}]}) ---
                  tr
                    th 2
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_AppName'}]}) ---
                    td
                    th 3
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_AppName'}]}) ---
                  tr
                    th 4
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_AppName'}]}) ---
                    td
                    th 5
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_AppName'}]}) ---
                  tr
                    th 6
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_AppName'}]}) ---
                    td
                    th 7
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_AppName'}]}) ---
                  tr
                    th 8
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_AppName'}]}) ---
                    td
                    th 9
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_AppName'}]}) ---
                  tr
                    th 10
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_AppName'}]}) ---
                    td
                    th 11
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_AppName'}]}) ---
                  tr
                    th 12
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_AppName'}]}) ---
                    td
                    th 13
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_AppName'}]}) ---
                  tr
                    th 14
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_AppName'}]}) ---
                    td
                    th 15
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_AppName'}]}) ---
                  tr
                    th 16
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_AppName'}]}) ---
                    td
                    th 17
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_AppName'}]}) ---
                  tr
                    th 18
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_AppName'}]}) ---
                    td
                    th 19
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_AppName'}]}) ---
                  tr
                    th 20
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_20_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_20_AppName'}]}) ---
                    td
                    th 21
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_21_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_21_AppName'}]}) ---
                  tr
                    th 22
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_22_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_22_AppName'}]}) ---
                    td
                    th 23
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_23_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_23_AppName'}]}) ---
                  tr
                    th 24
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_24_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_24_AppName'}]}) ---
                    td
                    th 25
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_25_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_25_AppName'}]}) ---
                  tr
                    th 26
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_26_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_26_AppName'}]}) ---
                    td
                    th 27
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_27_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_27_AppName'}]}) ---
                  tr
                    th 28
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_28_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_28_AppName'}]}) ---
                    td
                    th 29
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_29_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_29_AppName'}]}) ---
                  tr
                    th 30
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_30_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_30_AppName'}]}) ---
                    td
                    th 31
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_31_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_31_AppName'}]}) ---
                  tr
                    th 32
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_32_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_32_AppName'}]}) ---
                    td
                    th 33
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_33_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_33_AppName'}]}) ---
                  tr
                    th 34
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_34_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_34_AppName'}]}) ---
                    td
                    th 35
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_35_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_35_AppName'}]}) ---
                  tr
                    th 36
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_36_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_36_AppName'}]}) ---
                    td
                    th 37
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_37_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_37_AppName'}]}) ---
                  tr
                    th 38
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_38_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_38_AppName'}]}) ---
                    td
                    th 39
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_39_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_39_AppName'}]}) ---
                  tr
                    th 40
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_40_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_40_AppName'}]}) ---
                    td
                    th 41
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_41_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_41_AppName'}]}) ---
                  tr
                    th 42
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_42_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_42_AppName'}]}) ---
                    td
                    th 43
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_43_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_43_AppName'}]}) ---
                  tr
                    th 44
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_44_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_44_AppName'}]}) ---
                    td
                    th 45
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_45_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_45_AppName'}]}) ---
                  tr
                    th 46
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_46_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_46_AppName'}]}) ---
                    td
                    th 47
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_47_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_47_AppName'}]}) ---
                  tr
                    th 48
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_48_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_48_AppName'}]}) ---
                    td
                    th 49
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_49_LogicalName'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_49_AppName'}]}) ---              
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'450px'})
      #wid-FM-FreeSpace.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Free Space
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetFreeSpace'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'50px'}) 
                    th(style={width:'100px'})  Hi
                    th(style={width:'100px'})  Low
                    th(style={width:'150px'})  Name
                tbody
                  tr
                    th 0
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_0_Name'}]}) ---
                  tr
                    th 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_1_Name'}]}) ---
                  tr
                    th 2
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_2_Name'}]}) ---
                  tr
                    th 3
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_3_Name'}]}) ---
                  tr
                    th 4
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_4_Name'}]}) ---
                  tr
                    th 5
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_5_Name'}]}) ---
                  tr
                    th 6
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_6_Name'}]}) ---
                  tr
                    th 7
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Hi'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Lo'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FileSys_7_Name'}]}) ---

  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'300px'}) 
      #wid-FM-FileInfo.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) File Info
                td(style={width:'100px'}) 
                  button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetFileInfo'}}) Get File Info
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'})  Status
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Status'}]}) ---
                  tr
                    th CRC Computed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/CRCComputed'}]}) ---
                  tr
                    th CRC
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/CRC', Format:'0x%08x'}]}) ---
                  tr
                    th Size
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Size'}]}) ---
                  tr
                    th Last Modified Time
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/LastModifiedTime'}]}) ---
                  tr
                    th Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Name'}]}) ---
    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'600px'}) 
      #wid-FM-DirList.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 
            table
              tr
                td(style={width:'100px'}) Directory List
                td(style={width:'200px'}) 
                  .btn-group
                    button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetDirFile'}}) Get Dir File
                    button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/FM/GetDirPkt'}}) Get Dir Pkt
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'})  Directory Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/DirName'}]}) ---
                  tr
                    th Total Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/TotalFiles'}]}) ---
                  tr
                    th Packet Files
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/PacketFiles'}]}) ---
                  tr
                    th First File
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/FirstFile'}]}) ---
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th(style={width:'100px'})  Size
                    th(style={width:'200px'}) Modify Time
                    th(style={width:'250px'}) Name
                tbody
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_0_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_1_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_2_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_3_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_4_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_5_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_6_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_7_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_8_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_9_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_10_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_11_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_12_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_13_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_14_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_15_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_16_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_17_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_18_EntryName'}]}) ---
                  tr
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_EntrySize'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_ModifyTime'}]}) ---
                    td 
                      span(data-sage={tlm:[{name:'/CFS/FM/Entry_19_EntryName'}]}) ---
                                  
  .row          
    +app_specific_mempools("FM")
    
  .row
    +app_specific_application_control("FM") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("FM")

  