table.table.table-condensed
  tbody
    tr
      th Coefficient 0
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[0]'}]}) ---
    tr
      th Coefficient 1
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[1]'}]}) ---
    tr
      th Coefficient 2
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[2]'}]}) ---
    tr
      th Coefficient 3
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[3]'}]}) ---
    tr
      th Coefficient 4
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[4]'}]}) ---
    tr
      th Coefficient 5
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[5]'}]}) ---
    tr
      th Coefficient 6
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[6]'}]}) ---
    tr
      th Coefficient 7
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Coefficients[7]'}]}) ---
    tr
      th Measurement Count
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/MeasureCount'}]}) ---
    tr
      th Raw Pressure
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/RawPressure'}]}) ---
    tr
      th Raw Temperature
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/RawTemperature'}]}) ---
    tr
      th Pressure
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Pressure'}]}) ---
    tr
      th Temperature
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Temperature'}]}) ---
    tr
      th Altitude
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_DiagPacket_t/Altitude'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MS5607/SendDiag'}}) Send Diag    
