table.table.table-condensed
  tbody
    tr
      th Commands Accepted
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Commands Rejected
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th State
      td
        div(data-cdr={tlm:[{name:'/MS5607/MS5607_HkTlm_t/State'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MS5607/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MS5607/Reset'}}) Reset
