{% extends "../../common/layout.pug" %}

block header
        i.fa-fw.fa.fa-signal
        | Memory Dwell

block main
  style.
    table.table-stats th:nth-of-type(1)
    table.table-stats th:nth-of-type(2)
    table.table-stats th:nth-of-type(3)
    table.table-stats th:nth-of-type(4)
    table.table-stats th:nth-of-type(5)
    table.table-stats th:nth-of-type(6)
    table.table-stats th:nth-of-type(7)
    table.table-stats td:nth-of-type(1)
    table.table-stats td:nth-of-type(2)
    table.table-stats td:nth-of-type(3)
    table.table-stats td:nth-of-type(4)
    table.table-stats td:nth-of-type(5)
    table.table-stats td:nth-of-type(6)
    table.table-stats td:nth-of-type(7)

  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 General
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage="{'tlm':[{'name':'/CFS/MD/ValidCmdCntr'}]}") ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage="{'tlm':[{'name':'/CFS/MD/InvalidCmdCntr'}]}") ---
                  tr
                    th Enable Mask
                    td
                      span(style="font-family: monospace" data-sage="{'tlm':[{'name':'/CFS/MD/DwellEnableMask', 'format':'0x%08x'}]}") ---
            footer
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/NoOp'}}") No-Op
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/Reset'}}") Reset Ctrs
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/StartDwell'}}") Start
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/StopDwell'}}") Stop
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/JamDwell'}}") Jam
              button.btn.btn-primary(data-sage="{cmd:{'name':'/CFS/MD/SetSignature'}}") Set Signature

    article.col-xs-12.col-sm-12.col-md-6.col-lg-5
      #wid-md-stats.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Stats
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-stats
                tbody
                  tr
                    th(style="width:40px; overflow:hidden") #
                    th(style="width:100px; overflow:hidden") Tbl Addr Count
                    th(style="width:100px; overflow:hidden") Num Waits Per Pkt
                    th(style="width:100px; overflow:hidden") Byte Count
                    th(style="width:100px; overflow:hidden") Pkt Offset
                    th(style="width:100px; overflow:hidden") Tbl Entry
                    th(style="width:100px; overflow:hidden") Countdown
