.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 HMC5883 - Diagnostics
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr 
            th Calibration X Scale
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.x_scale'}],indicator:'text'}) ---
          tr
            th Calibration Y Scale
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.y_scale'}],indicator:'text'}) ---
          tr
            th Calibration Z Scale
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.z_scale'}],indicator:'text'}) ---
          tr
            th Calibration X Offset
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.x_offset'}],indicator:'text'}) ---
          tr
            th Calibration Y Offset
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.y_offset'}],indicator:'text'}) ---
          tr
            th Calibration Z Offset
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.z_offset'}],indicator:'text'}) ---
          tr
            th Calibration Rotation
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.Rotation'}],indicator:'text'}) ---
          tr
            th Calibration X Scale Internal
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.x_scale_internal'}],indicator:'text'}) ---
          tr
            th Calibration Y Scale Internal
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.y_scale_internal'}],indicator:'text'}) ---
          tr
            th Calibration Z Scale Internal
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Calibration.z_scale_internal'}],indicator:'text'}) ---
          tr
            th Conversion Range
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.Range'}],indicator:'text'}) ---
          tr
            th Conversion Scaling
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.Scaling'}],indicator:'text'}) ---
          tr
            th Conversion Unit
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.Unit'}],indicator:'text'}) ---
          tr
            th Conversion Divideer
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.Divider'}],indicator:'text'}) ---
          tr
            th Conversion Config A
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.ConfigA'}],indicator:'text'}) ---
          tr
            th Conversion Config B
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_DiagPacket_t/Conversion.ConfigB'}],indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/HMC5883/SendDiag'},indicator:'cmd'}) Send Diagnositcs
