.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 HMC5883 - Housekeeping
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/HMC5883/HMC5883_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
          tr
            th State
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/State'}], indicator:'text'}) ---
          tr
            th Timestamp
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Timestamp'}], indicator:'text'}) ---
          tr
            th Error Count
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.ErrorCount'}], indicator:'text'}) ---
          tr
            th X
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.X'}], indicator:'text'}) ---
          tr
            th Y
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Y'}], indicator:'text'}) ---
          tr
            th Z
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Z'}], indicator:'text'}) ---
          tr
            th Range
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Range'}], indicator:'text'}) ---
          tr
            th Scaling
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Scaling'}], indicator:'text'}) ---
          tr
            th Temperature
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.Temperature'}], indicator:'text'}) ---
          tr
            th Device ID
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.DeviceID'}], indicator:'text'}) ---
          tr
            th X Raw
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.XRaw'}], indicator:'text'}) ---
          tr
            th Y Raw
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.YRaw'}], indicator:'text'}) ---
          tr
            th Z Raw
            td
              span(data-cdr={tlm: [{name:'/HMC5883/HMC5883_HkTlm_t/SensorMagMsg.ZRaw'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/HMC5883/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/HMC5883/Reset'},indicator:'cmd'}) Reset   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/HMC5883/HMC5883_SetCalibrationCmd_t'},indicator:'cmd'}) Set Calibration
