.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - OpticalFlowMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th FrameCountSinceLastReadout
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/FrameCountSinceLastReadout'}],indicator:'text'}) ---
          tr
            th GroundDistance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GroundDistance'}],indicator:'text'}) ---
          tr
            th GyroTemperature
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroTemperature'}],indicator:'text'}) ---
          tr
            th GyroXRateIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroXRateIntegral'}],indicator:'text'}) ---
          tr
            th GyroYRateIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroYRateIntegral'}],indicator:'text'}) ---
          tr
            th GyroZRateIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroZRateIntegral'}],indicator:'text'}) ---
          tr
            th IntegrationTimespan
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/IntegrationTimespan'}],indicator:'text'}) ---
          tr
            th PixelFlowXIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/PixelFlowXIntegral'}],indicator:'text'}) ---
          tr
            th PixelFlowYIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/PixelFlowYIntegral'}],indicator:'text'}) ---
          tr
            th Quality
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/Quality'}],indicator:'text'}) ---
          tr
            th SensorID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/SensorID'}],indicator:'text'}) ---
          tr
            th TimeSinceLastSonarUpdate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/TimeSinceLastSonarUpdate'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/Timestamp'}],indicator:'text'}) ---
