.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleGlobalVelocitySetpointMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th VX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VX'}],indicator:'text'}) ---
          tr
            th VY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VY'}],indicator:'text'}) ---
          tr
            th VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VZ'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/Timestamp'}],indicator:'text'}) ---
