.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - MissionMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Count
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/Count'}],indicator:'text'}) ---
          tr
            th CurrentSeq
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/CurrentSeq'}],indicator:'text'}) ---
          tr
            th DatamanID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/DatamanID'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/Timestamp'}],indicator:'text'}) ---
