.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - DistanceSensorMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Covariance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Covariance'}],indicator:'text'}) ---
          tr
            th CurrentDistance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/CurrentDistance'}],indicator:'text'}) ---
          tr
            th ID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/ID'}],indicator:'text'}) ---
          tr
            th MaxDistance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/MaxDistance'}],indicator:'text'}) ---
          tr
            th MinDistance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/MinDistance'}],indicator:'text'}) ---
          tr
            th Orientation
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Orientation'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th Type
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Type'}],indicator:'text'}) ---
