.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - MultirotorMotorLimitsMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.RollNeg
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.RollNeg'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.PitchPos
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.PitchPos'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.ThrustPos
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.ThrustPos'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.YawPos
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.YawPos'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.PitchNeg
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.PitchNeg'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.YawNeg
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.YawNeg'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.MotorPos
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.MotorPos'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.MotorNeg
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.MotorNeg'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.RollPos
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.RollPos'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Flags.ThrustNeg
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.ThrustNeg'}],indicator:'text'}) ---
          tr
            th SaturationStatus.Value
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Value'}],indicator:'text'}) ---
