.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - LedControlMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Color
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Color'}],indicator:'text'}) ---
          tr
            th LedMask
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/LedMask'}],indicator:'text'}) ---
          tr
            th Mode
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Mode'}],indicator:'text'}) ---
          tr
            th NumBlinks
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/NumBlinks'}],indicator:'text'}) ---
          tr
            th Priority
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Priority'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Timestamp'}],indicator:'text'}) ---
