.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleGlobalPositionMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Alt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Alt'}],indicator:'text'}) ---
          tr
            th AltResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/AltResetCounter'}],indicator:'text'}) ---
          tr
            th DeadReckoning
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeadReckoning'}],indicator:'text'}) ---
          tr
            th DeltaAlt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaAlt'}],indicator:'text'}) ---
          tr
            th DeltaLatLon[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaLatLon[0]'}],indicator:'text'}) ---
          tr
            th DeltaLatLon[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaLatLon[1]'}],indicator:'text'}) ---
          tr
            th EpH
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EpH'}],indicator:'text'}) ---
          tr
            th EpV
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EpV'}],indicator:'text'}) ---
          tr
            th EvH
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EvH'}],indicator:'text'}) ---
          tr
            th EvV
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EvV'}],indicator:'text'}) ---
          tr
            th Lat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Lat'}],indicator:'text'}) ---
          tr
            th LatLonResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/LatLonResetCounter'}],indicator:'text'}) ---
          tr
            th Lon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Lon'}],indicator:'text'}) ---
          tr
            th PressureAlt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/PressureAlt'}],indicator:'text'}) ---
          tr
            th TerrainAlt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TerrainAlt'}],indicator:'text'}) ---
          tr
            th TerrainAltValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TerrainAltValid'}],indicator:'text'}) ---
          tr
            th TimeUtcUsec
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TimeUtcUsec'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th VelD
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelD'}],indicator:'text'}) ---
          tr
            th VelE
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelE'}],indicator:'text'}) ---
          tr
            th VelN
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelN'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Yaw'}],indicator:'text'}) ---
