.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - SensorAccelMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th DeviceID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/DeviceID'}],indicator:'text'}) ---
          tr
            th ErrorCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ErrorCount'}],indicator:'text'}) ---
          tr
            th IntegralDt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/IntegralDt'}],indicator:'text'}) ---
          tr
            th Range_m_s2
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Range_m_s2'}],indicator:'text'}) ---
          tr
            th Scaling
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Scaling'}],indicator:'text'}) ---
          tr
            th Temperature
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Temperature'}],indicator:'text'}) ---
          tr
            th TemperatureRaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/TemperatureRaw'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/X'}],indicator:'text'}) ---
          tr
            th XIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/XIntegral'}],indicator:'text'}) ---
          tr
            th XRaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/XRaw'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Y'}],indicator:'text'}) ---
          tr
            th YIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/YIntegral'}],indicator:'text'}) ---
          tr
            th YRaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/YRaw'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Z'}],indicator:'text'}) ---
          tr
            th ZIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ZIntegral'}],indicator:'text'}) ---
          tr
            th ZRaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ZRaw'}],indicator:'text'}) ---
