.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - AirspeedMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AirTemperature
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/AirTemperature'}],indicator:'text'}) ---
          tr
            th Confidence
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/Confidence'}],indicator:'text'}) ---
          tr
            th IndicatedAirspeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/IndicatedAirspeed'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th TrueAirspeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/TrueAirspeed'}],indicator:'text'}) ---
          tr
            th TrueAirspeedUnfiltered
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/TrueAirspeedUnfiltered'}],indicator:'text'}) ---
