.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleAttitudeSetpointMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th ApplyFlaps
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/ApplyFlaps'}],indicator:'text'}) ---
          tr
            th DisableMcYawControl
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/DisableMcYawControl'}],indicator:'text'}) ---
          tr
            th FwControlYaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/FwControlYaw'}],indicator:'text'}) ---
          tr
            th LandingGear
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/LandingGear'}],indicator:'text'}) ---
          tr
            th PitchBody
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/PitchBody'}],indicator:'text'}) ---
          tr
            th PitchResetIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/PitchResetIntegral'}],indicator:'text'}) ---
          tr
            th Q_D[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[0]'}],indicator:'text'}) ---
          tr
            th Q_D[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[1]'}],indicator:'text'}) ---
          tr
            th Q_D[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[2]'}],indicator:'text'}) ---
          tr
            th Q_D[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[3]'}],indicator:'text'}) ---
          tr
            th Q_D_Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D_Valid'}],indicator:'text'}) ---
          tr
            th RollBody
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/RollBody'}],indicator:'text'}) ---
          tr
            th RollResetIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/RollResetIntegral'}],indicator:'text'}) ---
          tr
            th Thrust
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Thrust'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th YawBody
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawBody'}],indicator:'text'}) ---
          tr
            th YawResetIntegral
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawResetIntegral'}],indicator:'text'}) ---
          tr
            th YawSpMoveRate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawSpMoveRate'}],indicator:'text'}) ---
