table.table.table-condensed
  tbody
    tr
      th Acc[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[0]'}]}) ---
    tr
      th Acc[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[1]'}]}) ---
    tr
      th Acc[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[2]'}]}) ---
    tr
      th AccIntegralDt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccIntegralDt'}]}) ---
    tr
      th AccRelTimeInvalid
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccRelTimeInvalid'}]}) ---
    tr
      th AccTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccTimestampRelative'}]}) ---
    tr
      th BaroAlt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroAlt'}]}) ---
    tr
      th BaroRelTimeInvalid
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroRelTimeInvalid'}]}) ---
    tr
      th BaroTemp
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTemp'}]}) ---
    tr
      th BaroTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTimestampRelative'}]}) ---
    tr
      th GyroIntegralDt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroIntegralDt'}]}) ---
    tr
      th GyroRad[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[0]'}]}) ---
    tr
      th GyroRad[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[1]'}]}) ---
    tr
      th GyroRad[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[2]'}]}) ---
    tr
      th Mag[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[0]'}]}) ---
    tr
      th Mag[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[1]'}]}) ---
    tr
      th Mag[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[2]'}]}) ---
    tr
      th MagRelTimeInvalid
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagRelTimeInvalid'}]}) ---
    tr
      th MagTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagTimestampRelative'}]}) ---
    tr
      th Timestamp
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Timestamp'}]}) ---
