.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - CommanderStateMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th MainState
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_CommanderStateMsg_t/MainState'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_CommanderStateMsg_t/Timestamp'}],indicator:'text'}) ---
