.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - TelemetryStatusMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th ComponentID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/ComponentID'}],indicator:'text'}) ---
          tr
            th Fixed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Fixed'}],indicator:'text'}) ---
          tr
            th HeartbeatTime
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/HeartbeatTime'}],indicator:'text'}) ---
          tr
            th Noise
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Noise'}],indicator:'text'}) ---
          tr
            th RSSI
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RSSI'}],indicator:'text'}) ---
          tr
            th RemoteNoise
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RemoteNoise'}],indicator:'text'}) ---
          tr
            th RemoteRSSI
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RemoteRSSI'}],indicator:'text'}) ---
          tr
            th RxErrors
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RxErrors'}],indicator:'text'}) ---
          tr
            th SystemID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/SystemID'}],indicator:'text'}) ---
          tr
            th TelemTime
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/TelemTime'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th TxBuf
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/TxBuf'}],indicator:'text'}) ---
          tr
            th Type
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Type'}],indicator:'text'}) ---
