.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - HomePositionMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Alt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Alt'}],indicator:'text'}) ---
          tr
            th DirectionX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionX'}],indicator:'text'}) ---
          tr
            th DirectionY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionY'}],indicator:'text'}) ---
          tr
            th DirectionZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionZ'}],indicator:'text'}) ---
          tr
            th Lat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Lat'}],indicator:'text'}) ---
          tr
            th Lon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Lon'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/X'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Y'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Yaw'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Z'}],indicator:'text'}) ---
