.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleLandDetectedMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AltMax
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/AltMax'}],indicator:'text'}) ---
          tr
            th Freefall
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Freefall'}],indicator:'text'}) ---
          tr
            th GroundContact
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/GroundContact'}],indicator:'text'}) ---
          tr
            th Landed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Landed'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Timestamp'}],indicator:'text'}) ---
