.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - MissionResultMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Failure
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Failure'}],indicator:'text'}) ---
          tr
            th Finished
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Finished'}],indicator:'text'}) ---
          tr
            th FlightTermination
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/FlightTermination'}],indicator:'text'}) ---
          tr
            th InstanceCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/InstanceCount'}],indicator:'text'}) ---
          tr
            th ItemChangedIndex
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemChangedIndex'}],indicator:'text'}) ---
          tr
            th ItemDoJumpChanged
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemDoJumpChanged'}],indicator:'text'}) ---
          tr
            th ItemDoJumpRemaining
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemDoJumpRemaining'}],indicator:'text'}) ---
          tr
            th Reached
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Reached'}],indicator:'text'}) ---
          tr
            th SeqCurrent
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqCurrent'}],indicator:'text'}) ---
          tr
            th SeqReached
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqReached'}],indicator:'text'}) ---
          tr
            th SeqTotal
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqTotal'}],indicator:'text'}) ---
          tr
            th StayInFailsafe
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/StayInFailsafe'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Valid'}],indicator:'text'}) ---
          tr
            th Warning
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Warning'}],indicator:'text'}) ---
