.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - SensorCombinedMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Acc[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[0]'}],indicator:'text'}) ---
          tr
            th Acc[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[1]'}],indicator:'text'}) ---
          tr
            th Acc[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[2]'}],indicator:'text'}) ---
          tr
            th AccIntegralDt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccIntegralDt'}],indicator:'text'}) ---
          tr
            th AccRelTimeInvalid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccRelTimeInvalid'}],indicator:'text'}) ---
          tr
            th AccTimestampRelative
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccTimestampRelative'}],indicator:'text'}) ---
          tr
            th BaroAlt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroAlt'}],indicator:'text'}) ---
          tr
            th BaroRelTimeInvalid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroRelTimeInvalid'}],indicator:'text'}) ---
          tr
            th BaroTemp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTemp'}],indicator:'text'}) ---
          tr
            th BaroTimestampRelative
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTimestampRelative'}],indicator:'text'}) ---
          tr
            th GyroIntegralDt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroIntegralDt'}],indicator:'text'}) ---
          tr
            th GyroRad[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[0]'}],indicator:'text'}) ---
          tr
            th GyroRad[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[1]'}],indicator:'text'}) ---
          tr
            th GyroRad[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[2]'}],indicator:'text'}) ---
          tr
            th Mag[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[0]'}],indicator:'text'}) ---
          tr
            th Mag[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[1]'}],indicator:'text'}) ---
          tr
            th Mag[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[2]'}],indicator:'text'}) ---
          tr
            th MagRelTimeInvalid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagRelTimeInvalid'}],indicator:'text'}) ---
          tr
            th MagTimestampRelative
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagTimestampRelative'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Timestamp'}],indicator:'text'}) ---
