.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - EstimatorStatusMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th ControlModeFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/ControlModeFlags'}],indicator:'text'}) ---
          tr
            th Covariances[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[0]'}],indicator:'text'}) ---
          tr
            th Covariances[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[1]'}],indicator:'text'}) ---
          tr
            th Covariances[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[2]'}],indicator:'text'}) ---
          tr
            th Covariances[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[3]'}],indicator:'text'}) ---
          tr
            th Covariances[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[4]'}],indicator:'text'}) ---
          tr
            th Covariances[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[5]'}],indicator:'text'}) ---
          tr
            th Covariances[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[6]'}],indicator:'text'}) ---
          tr
            th Covariances[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[7]'}],indicator:'text'}) ---
          tr
            th Covariances[8]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[8]'}],indicator:'text'}) ---
          tr
            th Covariances[9]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[9]'}],indicator:'text'}) ---
          tr
            th Covariances[10]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[10]'}],indicator:'text'}) ---
          tr
            th Covariances[11]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[11]'}],indicator:'text'}) ---
          tr
            th Covariances[12]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[12]'}],indicator:'text'}) ---
          tr
            th Covariances[13]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[13]'}],indicator:'text'}) ---
          tr
            th Covariances[14]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[14]'}],indicator:'text'}) ---
          tr
            th Covariances[15]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[15]'}],indicator:'text'}) ---
          tr
            th Covariances[16]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[16]'}],indicator:'text'}) ---
          tr
            th Covariances[17]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[17]'}],indicator:'text'}) ---
          tr
            th Covariances[18]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[18]'}],indicator:'text'}) ---
          tr
            th Covariances[19]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[19]'}],indicator:'text'}) ---
          tr
            th Covariances[20]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[20]'}],indicator:'text'}) ---
          tr
            th Covariances[21]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[21]'}],indicator:'text'}) ---
          tr
            th Covariances[22]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[22]'}],indicator:'text'}) ---
          tr
            th Covariances[23]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[23]'}],indicator:'text'}) ---
          tr
            th Covariances[24]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[24]'}],indicator:'text'}) ---
          tr
            th Covariances[25]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[25]'}],indicator:'text'}) ---
          tr
            th Covariances[26]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[26]'}],indicator:'text'}) ---
          tr
            th Covariances[27]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[27]'}],indicator:'text'}) ---
          tr
            th FilterFaultFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/FilterFaultFlags'}],indicator:'text'}) ---
          tr
            th GpsCheckFailFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/GpsCheckFailFlags'}],indicator:'text'}) ---
          tr
            th HealthFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/HealthFlags'}],indicator:'text'}) ---
          tr
            th NanFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/NanFlags'}],indicator:'text'}) ---
          tr
            th NumStates
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/NumStates'}],indicator:'text'}) ---
          tr
            th States[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[0]'}],indicator:'text'}) ---
          tr
            th States[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[1]'}],indicator:'text'}) ---
          tr
            th States[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[2]'}],indicator:'text'}) ---
          tr
            th States[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[3]'}],indicator:'text'}) ---
          tr
            th States[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[4]'}],indicator:'text'}) ---
          tr
            th States[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[5]'}],indicator:'text'}) ---
          tr
            th States[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[6]'}],indicator:'text'}) ---
          tr
            th States[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[7]'}],indicator:'text'}) ---
          tr
            th States[8]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[8]'}],indicator:'text'}) ---
          tr
            th States[9]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[9]'}],indicator:'text'}) ---
          tr
            th States[10]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[10]'}],indicator:'text'}) ---
          tr
            th States[11]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[11]'}],indicator:'text'}) ---
          tr
            th States[12]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[12]'}],indicator:'text'}) ---
          tr
            th States[13]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[13]'}],indicator:'text'}) ---
          tr
            th States[14]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[14]'}],indicator:'text'}) ---
          tr
            th States[15]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[15]'}],indicator:'text'}) ---
          tr
            th States[16]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[16]'}],indicator:'text'}) ---
          tr
            th States[17]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[17]'}],indicator:'text'}) ---
          tr
            th States[18]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[18]'}],indicator:'text'}) ---
          tr
            th States[19]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[19]'}],indicator:'text'}) ---
          tr
            th States[20]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[20]'}],indicator:'text'}) ---
          tr
            th States[21]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[21]'}],indicator:'text'}) ---
          tr
            th States[22]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[22]'}],indicator:'text'}) ---
          tr
            th States[23]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[23]'}],indicator:'text'}) ---
          tr
            th States[24]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[24]'}],indicator:'text'}) ---
          tr
            th States[25]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[25]'}],indicator:'text'}) ---
          tr
            th States[26]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[26]'}],indicator:'text'}) ---
          tr
            th States[27]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[27]'}],indicator:'text'}) ---
          tr
            th States[28]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[28]'}],indicator:'text'}) ---
          tr
            th States[29]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[29]'}],indicator:'text'}) ---
          tr
            th States[30]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[30]'}],indicator:'text'}) ---
          tr
            th States[31]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[31]'}],indicator:'text'}) ---
          tr
            th TimeoutFlags
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/TimeoutFlags'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th Vibe[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[0]'}],indicator:'text'}) ---
          tr
            th Vibe[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[1]'}],indicator:'text'}) ---
          tr
            th Vibe[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[2]'}],indicator:'text'}) ---
