.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - ManualControlSetpointMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AcroSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/AcroSwitch'}],indicator:'text'}) ---
          tr
            th ArmSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ArmSwitch'}],indicator:'text'}) ---
          tr
            th Aux1
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux1'}],indicator:'text'}) ---
          tr
            th Aux2
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux2'}],indicator:'text'}) ---
          tr
            th Aux3
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux3'}],indicator:'text'}) ---
          tr
            th Aux4
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux4'}],indicator:'text'}) ---
          tr
            th Aux5
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux5'}],indicator:'text'}) ---
          tr
            th DataSource
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/DataSource'}],indicator:'text'}) ---
          tr
            th Flaps
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Flaps'}],indicator:'text'}) ---
          tr
            th GearSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/GearSwitch'}],indicator:'text'}) ---
          tr
            th KillSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/KillSwitch'}],indicator:'text'}) ---
          tr
            th LoiterSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/LoiterSwitch'}],indicator:'text'}) ---
          tr
            th ManSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ManSwitch'}],indicator:'text'}) ---
          tr
            th ModeSlot
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ModeSlot'}],indicator:'text'}) ---
          tr
            th ModeSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ModeSwitch'}],indicator:'text'}) ---
          tr
            th OffboardSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/OffboardSwitch'}],indicator:'text'}) ---
          tr
            th PosctlSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/PosctlSwitch'}],indicator:'text'}) ---
          tr
            th R
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/R'}],indicator:'text'}) ---
          tr
            th RattitudeSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/RattitudeSwitch'}],indicator:'text'}) ---
          tr
            th ReturnSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ReturnSwitch'}],indicator:'text'}) ---
          tr
            th StabSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/StabSwitch'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th TransitionSwitch
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/TransitionSwitch'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/X'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Y'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Z'}],indicator:'text'}) ---
