.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - DifferentialPressureMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th DifferentialPressureFiltered
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/DifferentialPressureFiltered'}],indicator:'text'}) ---
          tr
            th DifferentialPressureRaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/DifferentialPressureRaw'}],indicator:'text'}) ---
          tr
            th ErrorCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/ErrorCount'}],indicator:'text'}) ---
          tr
            th Temperature
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/Temperature'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/Timestamp'}],indicator:'text'}) ---
