extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Health Services

block main
  .row.row-fluid    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'575px'})
      #wid-HS-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'}) Cmd Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CmdCount'}]}) ---
                    td(style={width:'320px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/NoOp'}}) No-Op
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CmdErrCount'}]}) ---
                    td
                  tr
                    th
                    td
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/Reset'}}) Cmd Counter Reset
                  tr
                    th App Monitor
                    td 
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentAppMonState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableAppMon'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableAppMon'}}) Dis
                    
                  tr
                    th Event Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentEventMonState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableEventMon'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableEventMon'}}) Dis
                  tr
                    th Aliveness Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentAlivenessState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableAliveness'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableAliveness'}}) Dis
                  tr
                    th CPU Hog Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentCPUHogState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableCPUHog'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableCPUHog'}}) Dis
                  tr
                    th CDS In Use
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CDSInUse'}]}) ---
                    td
                  tr
                    th EMT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedEMT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Abort 
                  tr
                    th AMT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedAMT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Abort 
                  tr
                    th MAT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedMAT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Abort 
                  tr
                    th XCT Table 
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedXCT'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Abort 
                  tr
                    th Resets Performed
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/ResetsPerformed'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/ResetProcResetsPerformed'}}) Reset
                  tr
                    th Max Resets
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/MaxResets'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/SetMaxResets'}}) Set
                  tr
                    th Events Monitored
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/EventsMonitoredCount'}]}) ---
                    td
                  tr
                    th Invalid Events Monitored
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/InvalidEventMonCount'}]}) ---
                    td
                  tr
                    th Msg Act Exec
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/MsgActExec'}]}) ---
                    td
                  tr
                    th CPU Average
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/UtilCpuAvg'}]}) ---
                    td
                  tr
                    th CPU Peak
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/UtilCpuPeak'}]}) ---
                    td
            footer
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/ReportDiag'}}) Report Diag
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/SetUtilParams'}}) Set Util Params
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/SetUtilDiag'}}) Set Util Diag
 
                  
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'400px'})
      style.
        table.table.table-condensed.table-apps th:nth-of-type(1) {width:150px} /*Setting the width of column 1.*/
        table.table.table-condensed.table-apps td:nth-of-type(1) {width:100px} /*Setting the width of column 2.*/
        table.table.table-condensed.table-apps td:nth-of-type(2) {width:100px;} /*Setting the width of column 3.*/
      #wid-HS-ExeCounts.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Exe Counts
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-apps
                tbody.table-apps
                  tr
                    th CFE_ES
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_0'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_0'}]}) ---
                  tr
                    th CFE_EVS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_1'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_1'}]}) ---
                  tr
                    th CFE_TIME
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_2'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_2'}]}) ---
                  tr
                    th TIME_TONE_TASK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_3'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_3'}]}) ---
                  tr
                    th TIME_1HZ_TASK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_4'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_4'}]}) ---
                  tr
                    th VC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_5'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_5'}]}) ---
                  tr
                    th CFE_SB
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_6'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_6'}]}) ---
                  tr
                    th CF
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_7'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_7'}]}) ---
                  tr
                    th CI
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_8'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_8'}]}) ---
                  tr
                    th CS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_9'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_9'}]}) ---
                  tr
                    th DS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_10'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_10'}]}) ---
                  tr
                    th ETA
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_11'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_11'}]}) ---
                  tr
                    th FM
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_12'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_12'}]}) ---
                  tr
                    th HK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_13'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_13'}]}) ---
                  tr
                    th HS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_14'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_14'}]}) ---
                  tr
                    th LC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_15'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_15'}]}) ---
                  tr
                    th MD
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_16'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_16'}]}) ---
                  tr
                    th MM
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_17'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_17'}]}) ---
                  tr
                    th PX4BR
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_18'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_18'}]}) ---
                  tr
                    th SC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_19'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_19'}]}) ---
                  tr
                    th SCH
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_20'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_20'}]}) ---
                  tr
                    th TO
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_21'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_21'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'600px'})
      #wid-HS-CPUtil.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 CPU Utilization
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            #CPU_Util.chart(style={height:'425px', width:'100%'}) 
  
  .row               
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'500px'})
      #wid-CFE-ES-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Application Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-app-status
                tbody
                  tr
                    th App Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Name'}]}) ---
                  tr
                    th ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AppID'}]}) ---
                  tr
                    th Type
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Type'}]}) ---
                  tr
                    th Entry Point
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_EntryPoint'}]}) ---
                  tr
                    th File Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_FileName'}]}) ---
                  tr 
                    th Stack Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StackSize'}]}) ---
                  tr
                    th Module ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ModuleID'}]}) ---
                  tr
                    th Addr valid
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]}) ---
                  tr 
                    th Code addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeAddress', format:'0x%08x'}]}) ---
                  tr
                    th Code size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeSize'}]}) ---
                  tr
                    th Data Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataAddress', format:'0x%08x'}]}) ---
                  tr
                    th Data Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataSize'}]}) ---
                  tr
                    th BSS Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSAddress', format:'0x%08x'}]}) ---
                  tr
                    th BSS Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSSize'}]}) ---
                  tr
                    th Start Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StartAddress', format:'0x%08x'}]}) ---
                  tr 
                    th Exception Action
                    td              
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}) ---
                  tr
                    th Priority
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Priority'}]}) ---
                  tr
                    th Main Task ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskId'}]}) ---
                  tr
                    th Execution Counter
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}) ---
                  tr 
                    th Main Task Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskName'}]}) ---
                  tr
                    th Child Task Count
                    td
                     span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}) ---
            .btn-group.dropup(style='margin-top: 10px;')
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/QueryOne', argument:[{name:'Name', value:'HS'}]}}) Query
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/StartApp', argument:[{name:'Name', value:'HS'},{name:'EntryPoint', value:'HS_AppMain'},{name:'FileName', value:'/cf/apps/hs.so'},{name:'StackSize', value:'32768'},{name:'ExceptionAction', value:'0'},{name:'Priority', value:'123'}]}}) Start
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/StopApp', argument:[{name:'Name', value:'HS'}]}}) Stop
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/RestartApp', argument:[{name:'Name', value:'HS'}]}}) Restart
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/ReloadApp', argument:[{name:'Name', value:'HS'},{name:'FileName', value:'/cf/apps/hs.so'}]}}) Reload

    article.col-xs-12.col-sm-12.col-md-12.col-lg-8
      #wid-SCH-Diag-Entries.jarviswidget.jarviswidget-color-blueDark(style='width: 860px' data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler 
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/SendDiagTlm'}}) Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/ErrCounter'}]}) ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody
                  tr
                    td 198
                    td 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/SCH/EntryState_991'}]}) ---
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MsgID_991'}]}) ---
                    td
                      .btn-group.dropup
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/EnableEntry', argument:[{name:'Slot', value:'198'},{name:'Entry', value:'1'}]}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/DisableEntry', argument:[{name:'Slot', value:'198'},{name:'Entry', value:'1'}]}}) Dis
                  tr
                    td 199
                    td 1
                    td 
                      span(data-sage={tlm:[{name:'/CFS/SCH/EntryState_996'}]}) ---
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MsgID_996'}]}) ---
                    td
                      .btn-group.dropup
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/EnableEntry', argument:[{name:'Slot', value:'199'},{name:'Entry', value:'1'}]}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/SCH/DisableEntry', argument:[{name:'Slot', value:'199'},{name:'Entry', value:'1'}]}}) Dis
    
  .row
    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style={width:'500px'})               
      #wid-HS-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 250px') Cmd Count:
                    td(style='width: 150px')
                      span(data-sage={tlm: [{name: "/CFS/CFE_EVS/CmdCounter"}]}) ---
                  tr
                    th Cmd Error Count:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_EVS/ErrCounter'}]}) ---
                  tr
                    th All App Events
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEvents', argument:[{name:'AppName', value:'HS'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEvents', argument:[{name:'AppName', value:'HS'}]}}) Disable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetAllFilters', argument:[{name:'AppName', value:'HS'}]}}) Reset
                  tr
                    th Event Types
                    td
                  tr
                    td(style='padding-left: 20px !important') Critical
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Set'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Set'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Error
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Info
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    td(style='padding-left: 20px !important')  Debug
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/EnableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Enable
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DisableAppEventType', argument:[{name:'AppName', value:'HS'},{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}}) Disable
                  tr
                    th Event IDs
                    td
                  tr
                    td(style='padding-left: 20px !important')  HS_INIT_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'1'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'1'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'1'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'1'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important')  HS_APP_EXIT_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'2'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'2'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'2'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'2'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important')  HS_CDS_RESTORE_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'3'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'3'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'3'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'3'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CR_CMD_PIPE_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'4'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'4'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'4'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'4'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CR_EVENT_PIPE_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'5'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'5'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'5'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'5'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CR_WAKEUP_PIPE_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'6'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'6'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'6'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'6'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_SUB_EVS_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'7'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'7'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'7'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'7'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_SUB_REQ_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'8'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'8'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'8'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'8'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_SUB_CMD_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'9'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'9'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'9'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'9'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_AMT_REG_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'10'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'10'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'10'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'10'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EMT_REG_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'11'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'11'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'11'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'11'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_XCT_REG_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'12'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'12'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'12'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'12'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MAT_REG_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'13'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'13'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'13'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'13'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_AMT_LD_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'14'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'14'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'14'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'14'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EMT_LD_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'15'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'15'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'15'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'15'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_XCT_LD_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'16'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'16'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'16'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'16'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MAT_LD_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'17'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'17'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'17'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'17'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CDS_CORRUPT_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'18'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'18'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'18'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'18'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CC_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'19'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'19'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'19'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'19'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MID_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'20'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'20'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'20'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'20'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_HKREQ_LEN_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'21'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'21'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'21'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'21'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_LEN_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'22'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'22'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'22'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'22'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_NOOP_INF_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'23'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'23'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'23'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'23'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_RESET_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'24'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'24'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'24'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'24'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_ENABLE_APPMON_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'25'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'25'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'25'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'25'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_APPMON_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'26'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'26'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'26'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'26'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_ENABLE_EVENTMON_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'27'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'27'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'27'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'27'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_EVENTMON_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'28'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'28'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'28'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'28'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_ENABLE_ALIVENESS_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'29'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'29'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'29'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'29'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_ALIVENESS_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'30'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'30'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'30'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'30'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_RESET_RESETS_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'31'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'31'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'31'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'31'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_SET_MAX_RESETS_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'32'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'32'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'32'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'32'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_GETADDR_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'33'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'33'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'33'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'33'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_GETADDR_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'34'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'34'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'34'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'34'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EXECOUNT_GETADDR_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'35'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'35'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'35'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'35'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MSGACTS_GETADDR_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'36'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'36'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'36'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'36'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_RESET_LIMIT_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'37'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'37'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'37'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'37'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_APPNAME_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'38'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'38'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'38'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'38'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_RESTART_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'39'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'39'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'39'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'39'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_NOT_RESTARTED_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'40'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'40'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'40'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'40'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_FAIL_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'41'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'41'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'41'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'41'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_PROC_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'42'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'42'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'42'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'42'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_APPMON_MSGACTS_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'43'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'43'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'43'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'43'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_MSGACTS_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'44'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'44'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'44'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'44'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_PROC_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'45'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'45'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'45'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'45'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_RESTART_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'46'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'46'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'46'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'46'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_NOT_RESTARTED_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'47'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'47'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'47'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'47'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_DELETE_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'48'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'48'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'48'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'48'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_NOT_DELETED_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'49'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'49'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'49'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'49'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_AMTVAL_INF_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'50'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'50'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'50'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'50'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_AMTVAL_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'51'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'51'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'51'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'51'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EMTVAL_INF_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'52'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'52'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'52'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'52'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EMTVAL_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'53'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'53'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'53'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'53'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_XCTVAL_INF_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'54'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'54'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'54'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'54'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_XCTVAL_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'55'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'55'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'55'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'55'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MATVAL_INF_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'56'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'56'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'56'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'56'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_MATVAL_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'57'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'57'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'57'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'57'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_APPMON_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'58'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'58'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'58'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'58'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_EVENTMON_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'59'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'59'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'59'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'59'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_SUB_WAKEUP_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'60'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'60'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'60'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'60'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_CPUMON_HOGGING_ERR_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'61'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'61'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'61'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'61'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_ENABLE_CPUHOG_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'62'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'62'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'62'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'62'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_DISABLE_CPUHOG_DBG_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'63'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'63'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'63'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'63'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_SUB_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'64'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'64'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'64'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'64'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_EVENTMON_UNSUB_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'65'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'65'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'65'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'65'}]}}) Delete
                  tr
                    td(style='padding-left: 20px !important') HS_BADEMT_UNSUB_EID
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/SetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',         value:'66'}]}}) Set
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/ResetFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',       value:'66'}]}}) Reset
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/AddEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID',    value:'66'}]}}) Add
                        button.btn.btn-xs.btn-primary(data-sage={cmd: {name:'/CFS/CFE_EVS/DeleteEventFilter', argument:[{name:'AppName', value:'HS'},{name:'EventID', value:'66'}]}}) Delete




  script.
    var CpuPeakData = [];
    var CpuAvgData = [];

    $(function () {
      function legendFormatter(label, series) {
        return '<div ' + 
           'style="color:white;font-size:8pt;text-align:left;padding:4px;padding-left:10px">' +
           label + '</div>';
      };

      var UtilGraph = $.plot($("#CPU_Util"), [],{
          xaxis : {
            mode : 'time',
            font : {
              color: "#ffffff"
            }
          },
          yaxis : {
            min : 0,
            max : 100,
            font : {
              color: "#ffffff"
            }
          },
          series : {
            lines : {
              show : true
            },
            points: {
              show: false
            }
          },
          legend: {
            show: true,
            labelFormatter: legendFormatter,
            labelBoxBorderColor: 'rgba(255, 255, 255, 0.0)',
            noColumns: 1,
            position: 'ne',
            margin: [10,10],
            backgroundColor: null,
            backgroundOpacity: 0,
            container: null,
            sorted: false
          },
          grid: {
            show: true,
            //aboveData: boolean
            //color: '#ffffff',
            //backgroundColor: color/gradient or null
            //margin: number or margin object
            //labelMargin: number
            //axisMargin: number
            //markings: [{ color: "#ffffff" }],
            //markings: array of markings or (fn: axes -> array of markings)
            //borderWidth: number or object with "top", "right", "bottom" and "left" properties with different widths
            //borderColor: color or null or object with "top", "right", "bottom" and "left" properties with different colors
            //minBorderMargin: number or null
            //clickable: boolean
            //hoverable: boolean
            //autoHighlight: boolean
            //mouseActiveRadius: number
          }
        }
      );

      var AvgUtilCount = 0;
      var PeakUtilCount = 0;
      var MaxCount = 120;
      var ignoreCount = 3;
      var prevCpuPeak = -1;
      var prevCpuAvg = -1;
      var updateInterval = 1000;
      var count = 0;

      session.subscribe({
        homogeneity: {tolerance: 0},
        tlm: [
          {name: '/CFS/HS/UtilCpuPeak'},
          {name: '/CFS/HS/UtilCpuAvg'}
        ]}, 
        function (params) {
          count = count + 1;
          if(ignoreCount > 0){
            ignoreCount = ignoreCount - 1;
          } else { 
            if (CpuPeakData.length >= MaxCount) {
              CpuPeakData = CpuPeakData.slice(1);
            }
            if (CpuAvgData.length >= MaxCount) {
              CpuAvgData = CpuAvgData.slice(1);
            }

            console.log('' + count + ': ' + params);
            console.log(params);

            var timeStamp = new Date(params[0].acquisitionTime);
            var CpuPeak = params[0].engValue.uint32Value / 100;
            var CpuAvg = params[1].engValue.uint32Value / 100;
             
            CpuPeakData.push([timeStamp, CpuPeak]);
            CpuAvgData.push([timeStamp, CpuAvg]);
          }
      });

      function update() {
        UtilGraph.setData(
          [{
            data: CpuPeakData,
            label: "Peak",
            color: '#ff00ff',
            threshold: [{
              below: 5,
              color: '#ff00ff'
            },{
              below: 7,
              color: "yellow"
            },{
              below: 100,
              color: "red"
            }]
          }, {
            data : CpuAvgData,
            label : 'Average',
            color: '#00ffff',
            threshold: [{
              below: 5,
              color: '#00ffff'
            },{
              below: 7,
              color: "yellow"
            },{
              below: 100,
              color: "red"
            }]
          }]);


        // since the axes don't change, we don't need to call plot.setupGrid()
        UtilGraph.setupGrid();
        UtilGraph.draw();
        setTimeout(update, updateInterval);
      }
          
      update();
    });
