extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Health Services

block main
  .row.row-fluid    
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'575px'})
      #wid-HS-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'}) Cmd Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CmdCount'}]}) ---
                    td(style={width:'320px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/NoOp'}}) No-Op
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CmdErrCount'}]}) ---
                    td
                  tr
                    th
                    td
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/Reset'}}) Cmd Counter Reset
                  tr
                    th App Monitor
                    td 
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentAppMonState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableAppMon'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableAppMon'}}) Dis
                    
                  tr
                    th Event Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentEventMonState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableEventMon'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableEventMon'}}) Dis
                  tr
                    th Aliveness Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentAlivenessState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableAliveness'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableAliveness'}}) Dis
                  tr
                    th CPU Hog Monitor
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/CurrentCPUHogState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/EnableCPUHog'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/DisableCPUHog'}}) Dis
                  tr
                    th CDS In Use
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/CDSInUse'}]}) ---
                    td
                  tr
                    th EMT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedEMT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.EventMon_Tbl'}]}}) Abort 
                  tr
                    th AMT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedAMT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.AppMon_Tbl'}]}}) Abort 
                  tr
                    th MAT Table
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedMAT'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.MsgActs_Tbl'}]}}) Abort 
                  tr
                    th XCT Table 
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/LoadedXCT'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) DelCDS  
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad', argument:[{name:'TableName', value:'HS.ExeCount_Tbl'}]}}) Abort 
                  tr
                    th Resets Performed
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/ResetsPerformed'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/ResetProcResetsPerformed'}}) Reset
                  tr
                    th Max Resets
                    td
                      span(style='width: 60px; display:inline-block;', data-sage={tlm: [{name: '/CFS/HS/MaxResets'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HS/SetMaxResets'}}) Set
                  tr
                    th Events Monitored
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/EventsMonitoredCount'}]}) ---
                    td
                  tr
                    th Invalid Events Monitored
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/InvalidEventMonCount'}]}) ---
                    td
                  tr
                    th Msg Act Exec
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/MsgActExec'}]}) ---
                    td
                  tr
                    th CPU Average
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/UtilCpuAvg'}]}) ---
                    td
                  tr
                    th CPU Peak
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/UtilCpuPeak'}]}) ---
                    td
            footer
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/ReportDiag'}}) Report Diag
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/SetUtilParams'}}) Set Util Params
              button.btn.btn-primary(data-sage={cmd: {name: '/CFS/HS/SetUtilDiag'}}) Set Util Diag
 
                  
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'400px'})
      style.
        table.table.table-condensed.table-apps th:nth-of-type(1) {width:150px} /*Setting the width of column 1.*/
        table.table.table-condensed.table-apps td:nth-of-type(1) {width:100px} /*Setting the width of column 2.*/
        table.table.table-condensed.table-apps td:nth-of-type(2) {width:100px;} /*Setting the width of column 3.*/
      #wid-HS-ExeCounts.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Exe Counts
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-apps
                tbody.table-apps
                  tr
                    th CFE_ES
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_0'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_0'}]}) ---
                  tr
                    th CFE_EVS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_1'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_1'}]}) ---
                  tr
                    th CFE_TIME
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_2'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_2'}]}) ---
                  tr
                    th TIME_TONE_TASK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_3'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_3'}]}) ---
                  tr
                    th TIME_1HZ_TASK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_4'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_4'}]}) ---
                  tr
                    th CFE_TBL
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_5'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_5'}]}) ---
                  tr
                    th CFE_SB
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_6'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_6'}]}) ---
                  tr
                    th CF
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_7'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_7'}]}) ---
                  tr
                    th CI
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_8'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_8'}]}) ---
                  tr
                    th CS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_9'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_9'}]}) ---
                  tr
                    th DS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_10'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_10'}]}) ---
                  tr
                    th EA
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_11'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_11'}]}) ---
                  tr
                    th FM
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_12'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_12'}]}) ---
                  tr
                    th HK
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_13'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_13'}]}) ---
                  tr
                    th HS
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_14'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_14'}]}) ---
                  tr
                    th LC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_15'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_15'}]}) ---
                  tr
                    th MD
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_16'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_16'}]}) ---
                  tr
                    th MM
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_17'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_17'}]}) ---
                  tr
                    th SC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_18'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_18'}]}) ---
                  tr
                    th SCH
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_19'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_19'}]}) ---
                  tr
                    th TO
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_20'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_20'}]}) ---
                  tr
                    th VC
                    td 
                      span(data-sage={tlm: [{name: '/CFS/HS/ExeCounts_21'}]}) ---
                    td
                      span(data-sage={tlm: [{name: '/CFS/HS/AppMonEnable_21'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'600px'})
      #wid-HS-CPUtil.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 CPU Utilization
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            #CPU_Util.chart(style={height:'425px', width:'100%'}) 
                                              
  .row          
    +app_specific_mempools("HS")
    
  .row
    +app_specific_application_control("HS") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("HS")
                                       
  .row
    +app_specific_scheduler_control("HS")


  script.
    var CpuPeakData = [];
    var CpuAvgData = [];

    $(function () {
      function legendFormatter(label, series) {
        return '<div ' + 
           'style="color:white;font-size:8pt;text-align:left;padding:4px;padding-left:10px">' +
           label + '</div>';
      };

      var UtilGraph = $.plot($("#CPU_Util"), [],{
          xaxis : {
            mode : 'time',
            font : {
              color: "#ffffff"
            }
          },
          yaxis : {
            min : 0,
            max : 100,
            font : {
              color: "#ffffff"
            }
          },
          series : {
            lines : {
              show : true
            },
            points: {
              show: false
            }
          },
          legend: {
            show: true,
            labelFormatter: legendFormatter,
            labelBoxBorderColor: 'rgba(255, 255, 255, 0.0)',
            noColumns: 1,
            position: 'ne',
            margin: [10,10],
            backgroundColor: null,
            backgroundOpacity: 0,
            container: null,
            sorted: false
          },
          grid: {
            show: true,
            //aboveData: boolean
            //color: '#ffffff',
            //backgroundColor: color/gradient or null
            //margin: number or margin object
            //labelMargin: number
            //axisMargin: number
            //markings: [{ color: "#ffffff" }],
            //markings: array of markings or (fn: axes -> array of markings)
            //borderWidth: number or object with "top", "right", "bottom" and "left" properties with different widths
            //borderColor: color or null or object with "top", "right", "bottom" and "left" properties with different colors
            //minBorderMargin: number or null
            //clickable: boolean
            //hoverable: boolean
            //autoHighlight: boolean
            //mouseActiveRadius: number
          }
        }
      );

      var AvgUtilCount = 0;
      var PeakUtilCount = 0;
      var MaxCount = 120;
      var ignoreCount = 3;
      var prevCpuPeak = -1;
      var prevCpuAvg = -1;
      var updateInterval = 1000;
      var count = 0;

      session.subscribe({
        homogeneity: {tolerance: 0},
        tlm: [
          {name: '/CFS/HS/UtilCpuPeak'},
          {name: '/CFS/HS/UtilCpuAvg'}
        ]}, 
        function (params) {
          count = count + 1;
          if(ignoreCount > 0){
            ignoreCount = ignoreCount - 1;
          } else { 
            if (CpuPeakData.length >= MaxCount) {
              CpuPeakData = CpuPeakData.slice(1);
            }
            if (CpuAvgData.length >= MaxCount) {
              CpuAvgData = CpuAvgData.slice(1);
            }

            console.log('' + count + ': ' + params);
            console.log(params);

            var timeStamp = new Date(params[0].acquisitionTime);
            var CpuPeak = params[0].engValue.uint32Value / 100;
            var CpuAvg = params[1].engValue.uint32Value / 100;
             
            CpuPeakData.push([timeStamp, CpuPeak]);
            CpuAvgData.push([timeStamp, CpuAvg]);
          }
      });

      function update() {
        UtilGraph.setData(
          [{
            data: CpuPeakData,
            label: "Peak",
            color: '#ff00ff',
            threshold: [{
              below: 5,
              color: '#ff00ff'
            },{
              below: 7,
              color: "yellow"
            },{
              below: 100,
              color: "red"
            }]
          }, {
            data : CpuAvgData,
            label : 'Average',
            color: '#00ffff',
            threshold: [{
              below: 5,
              color: '#00ffff'
            },{
              below: 7,
              color: "yellow"
            },{
              below: 100,
              color: "red"
            }]
          }]);


        // since the axes don't change, we don't need to call plot.setupGrid()
        UtilGraph.setupGrid();
        UtilGraph.draw();
        setTimeout(update, updateInterval);
      }
          
      update();
    });
