{% extends "../../common/layout.pug" %}

block header
        i.fa-fw.fa.fa-signal
        | Health Services

block main
  .row.row-fluid
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style="width:575px")
      #wid-HS-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style="width:150px") Cmd Count
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/CmdCount'}]}") ---
                    td(style="width:320px")
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/NoOp'}}") No-Op
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/CmdErrCount'}]}") ---
                    td
                  tr
                    th
                    td
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/Reset'}}") Cmd Counter Reset
                  tr
                    th App Monitor
                    td
                      span(style="width: 60px; display:inline-block;", data-sage="{'tlm': [{'name': '/CFS/HS/CurrentAppMonState'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/EnableAppMon'}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/DisableAppMon'}}") Dis

                  tr
                    th Event Monitor
                    td
                      span(style="width: 60px; display:inline-block;", data-sage="{'tlm': [{'name': '/CFS/HS/CurrentEventMonState'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/EnableEventMon'}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/DisableEventMon'}}") Dis
                  tr
                    th Aliveness Monitor
                    td
                      span(style="width: 60px; display:inline-block;"", data-sage="{'tlm': [{'name': '/CFS/HS/CurrentAlivenessState'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/EnableAliveness'}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/DisableAliveness'}}") Dis
                  tr
                    th CPU Hog Monitor
                    td
                      span(style="width: 60px; display:inline-block;", data-sage="{'tlm': [{'name': '/CFS/HS/CurrentCPUHogState'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/EnableCPUHog'}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/DisableCPUHog'}}") Dis
                  tr
                    th CDS In Use
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/CDSInUse'}]}") ---
                    td
                  tr
                    th EMT Table
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/LoadedEMT'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Load'}}") Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Validate', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Activate', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/DeleteCDS', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") DelCDS
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/AbortLoad', 'argument':[{'name':'TableName', 'value':'HS.EventMon_Tbl'}]}}") Abort
                  tr
                    th AMT Table
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/LoadedAMT'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Load'}}") Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Validate', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Activate', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/DeleteCDS', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") DelCDS
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/AbortLoad', 'argument':[{'name':'TableName', 'value':'HS.AppMon_Tbl'}]}}") Abort
                  tr
                    th MAT Table
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/LoadedMAT'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Load'}}") Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Validate', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Activate', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/DeleteCDS', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") DelCDS
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/AbortLoad', 'argument':[{'name':'TableName', 'value':'HS.MsgActs_Tbl'}]}}") Abort
                  tr
                    th XCT Table
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/LoadedXCT'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Load'}}") Load
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") Dump
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Validate', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") Val
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Activate', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") Act
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") TlmReg
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/DeleteCDS', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") DelCDS
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/AbortLoad', 'argument':[{'name':'TableName', 'value':'HS.ExeCount_Tbl'}]}}") Abort
                  tr
                    th Resets Performed
                    td
                      span(style="width: 60px; display:inline-block;", data-sage="{'tlm': [{'name': '/CFS/HS/ResetsPerformed'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/ResetProcResetsPerformed'}}") Reset
                  tr
                    th Max Resets
                    td
                      span(style="width: 60px; display:inline-block;", data-sage="{'tlm': [{'name': '/CFS/HS/MaxResets'}]}") ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/HS/SetMaxResets'}}") Set
                  tr
                    th Events Monitored
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/EventsMonitoredCount'}]}") ---
                    td
                  tr
                    th Invalid Events Monitored
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/InvalidEventMonCount'}]}") ---
                    td
                  tr
                    th Msg Act Exec
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/MsgActExec'}]}") ---
                    td
                  tr
                    th CPU Average
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/UtilCpuAvg'}]}") ---
                    td
                  tr
                    th CPU Peak
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/UtilCpuPeak'}]}") ---
                    td
            footer
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/HS/ReportDiag'}}") Report Diag
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/HS/SetUtilParams'}}") Set Util Params
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/HS/SetUtilDiag'}}") Set Util Diag


    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style="width:400px")
      style.
        table.table.table-condensed.table-apps th:nth-of-type(1) "width:150px" /*Setting the width of column 1.*/
        table.table.table-condensed.table-apps td:nth-of-type(1) "width:100px" /*Setting the width of column 2.*/
        table.table.table-condensed.table-apps td:nth-of-type(2) "width:100px" /*Setting the width of column 3.*/
      #wid-HS-ExeCounts.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Exe Counts
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-apps
                tbody.table-apps
                  tr
                    th CFE_ES
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_0'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_0'}]}") ---
                  tr
                    th CFE_EVS
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_1'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_1'}]}") ---
                  tr
                    th CFE_TIME
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_2'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_2'}]}") ---
                  tr
                    th TIME_TONE_TASK
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_3'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_3'}]}") ---
                  tr
                    th TIME_1HZ_TASK
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_4'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_4'}]}") ---
                  tr
                    th CFE_TBL
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_5'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_5'}]}") ---
                  tr
                    th CFE_SB
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_6'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_6'}]}") ---
                  tr
                    th CF
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_7'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_7'}]}") ---
                  tr
                    th CI
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_8'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_8'}]}") ---
                  tr
                    th CS
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_9'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_9'}]}") ---
                  tr
                    th DS
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_10'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_10'}]}") ---
                  tr
                    th EA
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_11'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_11'}]}") ---
                  tr
                    th FM
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_12'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_12'}]}") ---
                  tr
                    th HK
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_13'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_13'}]}") ---
                  tr
                    th HS
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_14'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_14'}]}") ---
                  tr
                    th LC
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_15'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_15'}]}") ---
                  tr
                    th MD
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_16'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_16'}]}") ---
                  tr
                    th MM
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_17'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_17'}]}") ---
                  tr
                    th SC
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_18'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_18'}]}") ---
                  tr
                    th SCH
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_19'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_19'}]}") ---
                  tr
                    th TO
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_20'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_20'}]}") ---
                  tr
                    th VC
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/ExeCounts_21'}]}") ---
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/HS/AppMonEnable_21'}]}") ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style="width:600px")
      #wid-HS-CPUtil.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 CPU Utilization
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            #CPU_Util.chart(style="height:'425px, width:100%")

  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style="width:500px")
      #wid-CFE-ES-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Application Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-app-status
                tbody
                  tr
                    th App Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Name'}]}") ---
                  tr
                    th ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_AppID'}]}") ---
                  tr
                    th Type
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Type'}]}") ---
                  tr
                    th Entry Point
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_EntryPoint'}]}") ---
                  tr
                    th File Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_FileName'}]}") ---
                  tr
                    th Stack Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_StackSize'}]}") ---
                  tr
                    th Module ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ModuleID'}]}") ---
                  tr
                    th Addr valid
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]}") ---
                  tr
                    th Code addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_CodeAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Code size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_CodeSize'}]}") ---
                  tr
                    th Data Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_DataAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Data Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_DataSize'}]}") ---
                  tr
                    th BSS Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_BSSAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th BSS Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_BSSSize'}]}") ---
                  tr
                    th Start Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_StartAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Exception Action
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}") ---
                  tr
                    th Priority
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Priority'}]}") ---
                  tr
                    th Main Task ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_MainTaskId'}]}") ---
                  tr
                    th Execution Counter
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}") ---
                  tr
                    th Main Task Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_MainTaskName'}]}") ---
                  tr
                    th Child Task Count
                    td
                     span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}") ---
            .btn-group.dropup(style="margin-top: 10px;")
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/QueryOne', 'argument':[{'name':'Name', 'value':'HS'}]}}") Query
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/StartApp', 'argument':[{'name':'Name', 'value':'HS'},{'name':'EntryPoint', 'value':'HS_AppMain'},{'name':'FileName', 'value':'/cf/apps/HS.so'},{'name':'StackSize', 'value':'32768'},{'name':'ExceptionAction', 'value':'APP RESTART'},{'name':'Priority', 'value':'123'}]}}") Start
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/StopApp', 'argument':[{'name':'Name', 'value':'HS'}]}}") Stop
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/RestartApp', 'argument':[{'name':'Name', 'value':'HS'}]}}") Restart
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/ReloadApp', 'argument':[{'name':'Name', 'value':'HS'},{'name':'FileName', 'value':'/cf/apps/hs.so'}]}}") Reload

    article.col-xs-12.col-sm-12.col-md-12.col-lg-8
      #wid-SCH-Diag-Entries.jarviswidget.jarviswidget-color-blueDark(style="width: 860px" data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/SendDiagTlm'}}") Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style="width: 150px") Cmd Count
                    td
                      span(data-sage="{'tlm': [{'name':'/CFS/SCH/CmdCounter'}]}") ---
                  tr
                    th Error Count
                    td
                      span(data-sage="{'tlm': [{'name':'/CFS/SCH/ErrCounter'}]}") ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody
                  tr
                    td 198
                    td 1
                    td
                      span(data-sage="{'tlm':[{'name':'/CFS/SCH/EntryState_991'}]}") ---
                    td
                      span(data-sage="{'tlm':[{'name':'/CFS/SCH/MsgID_991'}]}") ---
                    td
                      .btn-group.dropup
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/EnableEntry', 'argument':[{'name':'Slot', 'value':'198'},{'name':'Entry', 'value':'1'}]}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/DisableEntry', 'argument':[{'name':'Slot', 'value':'198'},{'name':'Entry', 'value':'1'}]}}") Dis
                  tr
                    td 199
                    td 1
                    td
                      span(data-sage="{'tlm':[{'name':'/CFS/SCH/EntryState_996'}]}") ---
                    td
                      span(data-sage="{'tlm':[{'name':'/CFS/SCH/MsgID_996'}]}") ---
                    td
                      .btn-group.dropup
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/EnableEntry', 'argument':[{'name':'Slot', 'value':'199'},{'name':'Entry', 'value':'1'}]}}") Ena
                        button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/DisableEntry', 'argument':[{'name':'Slot', 'value':'199'},{'name':'Entry', 'value':'1'}]}}") Dis

  .row
    article.col-xs-12.col-sm-12.col-md-10.col-lg-6(style="width: 500px")
      #wid-HS-Events.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Event Filter
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  
