extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Baro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Baro(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SB.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Baro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Error Count:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SB_ErrorCount"}}) ---
                    tr
                      th Pressure:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SB_Press"}}) ---
                    tr
                      th Altitude:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SB_Alt"}}) ---
                    tr
                      th Temperature:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SB_Temp"}}) ---

      script.
        var MaxCount = 2500;
              
        loadScript("js/plugin/dygraphs/dygraph-combined.min.js", function () {
            var AltData = [];
            var Alt = {value: 0, time: 1, utcTime: ''};
            var AltStarted = false;

            AltGraph = new Dygraph(document.getElementById("Baro"), AltData, {
                                drawPoints: false,
                                showRoller: true,
                                labels: ['Time', 'Alt']
                         });

            session.on('connectFailed', function(err) {
                console.log('Failed to start Sage session.  err = ' + err);
            });

            session.on('connect', function() {
              var AltCount = 0;

              session.subscribe({name: '/CFS/PX4/SB_Alt'}, function(param) { 
                    if(AltStarted == false){
                        /* Skip the first one. */
                        AltStarted = true;
                    } else {          
                        if (AltData.length >= MaxCount) {
                          AltData = AltData.slice(1);
                        }  
                        AltData.push([AltCount, param.engValue.floatValue]);
                        AltCount++;
                    }
              });

             setInterval(function() {
                 AltGraph.updateOptions( { 'file': AltData } );
             }, 100);
          });
        });



