extends ../../../web_includes/common/layout

block includes
    include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Mission Result

block main
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Mission Result
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_Timestamp'}]}) ---
                    tr
                      th Instance Count:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_InstanceCount'}]}) ---
                    tr
                      th Sequence Reached:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_SeqReached'}]}) ---
                    tr
                      th Sequence Current:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_SeqCurrent'}]}) ---
                    tr
                      th Item Changed Index:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_ItemChangedIndex'}]}) ---
                    tr
                      th Item Do Jump Remaining:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_ItemDoJumpRemaining'}]}) ---
                    tr
                      th Valid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_Valid'}]}) ---
                    tr
                      th Warning:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_Warning'}]}) ---
                    tr
                      th Reached:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_Reached'}]}) ---
                    tr
                      th Finished:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_Finished'}]}) ---
                    tr
                      th Stay In Failsafe:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_StayInFailsafe'}]}) ---
                    tr
                      th Flight Termination:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_FlightTermination'}]}) ---
                    tr
                      th Item Do Jump Changed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_ItemDoJumpChanged'}]}) ---
                    tr
                      th Mission Failure:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MS_MissionFailure'}]}) ---