extends ../../../web_includes/common/layout

block includes
    include ../../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Gyro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Gyro(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Gyro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Integral:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Integral"}}) ---
                    tr
                      th Error Count:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_ErrorCount"}}) ---
                    tr
                      th X:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_X"}}) ---
                    tr
                      th Y:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Y"}}) ---
                    tr
                      th Z:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Z"}}) ---
                    tr
                      th X Int:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_XInt"}}) ---
                    tr
                      th Y Int:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_YInt"}}) ---
                    tr
                      th Z Int:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_ZInt"}}) ---
                    tr
                      th Temp:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Temp"}}) ---
                    tr
                      th Range:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Range"}}) ---
                    tr
                      th Scaling:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_Scaling"}}) ---
                    tr
                      th Device ID:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_DeviceID"}}) ---
                    tr
                      th X Raw:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_XRaw"}}) ---
                    tr
                      th Y Raw:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_YRaw"}}) ---
                    tr
                      th Z Raw:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_ZRaw"}}) ---
                    tr
                      th Temp Raw:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SG_TempRaw"}}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                data: [
                    { 
                      tlm: {name: '/CFS/PX4/SG_X'},
                      label: 'X',
                      color: '#ff00ff'
                    },
                    { 
                      tlm: {'name': '/CFS/PX4/SG_Y'},
                      label: 'Y',
                      color: '#00ffff'
                    },
                    { 
                      tlm: {'name': '/CFS/PX4/SG_Z'},
                      labe: 'Z',
                      color: '#ffff00'
                    }
                ],
                options: {
                    yaxis: {
                        max: 1.0,
                        min: -1.0
                    }
                }
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Gyro'), dataplotDef);
        });
