extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Vehicle Attitude

block main
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Attitude
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Accelerometer(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Accelerometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Seconds
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_TimeSec'}]}") ---
                    tr
                      th Subseconds
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_TimeSubSec'}]}") ---
                    tr
                      th Roll Speed
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_RollSpeed'}]}") ---
                    tr
                      th Pitch Speed
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_PitchSpeed'}]}") ---
                    tr
                      th Yaw Speed
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_YawSpeed'}]}") ---
                    tr
                      th Q[0]
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_Q_0'}]}") ---
                    tr
                      th Q[1]
                      td 
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/VA_Q_1'}]}") ---
                    tr
                      th Q[2]
                      td 
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VA_Q_2'}]}) ---
                    tr
                      th Q[3]
                      td 
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VA_Q_3'}]}) ---
                    tr
                      th Yaw
                      td 
                        span#Yaw ---
                    tr
                      th Pitch
                      td 
                        span#Pitch ---
                    tr
                      th Roll
                      td 
                        span#Roll ---


      script.
        var Q = [];
        var tlm_o = new Telemetry();
                
        tlm_o.subscribeTelemetry({'homogeneity': {tolerance: 0.5}, 'tlm': [
           {'name': '/CFS/PX4/VA_Q_0'},
           {'name': '/CFS/PX4/VA_Q_1'},
           {'name': '/CFS/PX4/VA_Q_2'},
           {'name': '/CFS/PX4/VA_Q_3'}
           ]},
           function (param) {
              
              switch(param.id.name){
                  case '/CFS/PX4/VA_Q_0':
                      Q[0] = param;
                      break; 
                  case '/CFS/PX4/VA_Q_1':
                      Q[1] = param;
                      break; 
                  case '/CFS/PX4/VA_Q_2':
                      Q[2] = param;
                      break; 
                  case '/CFS/PX4/VA_Q_3':
                      Q[3] = param;
                      break; 
              }
              
              try{
                  if((Q[0].generationTimeUTC == Q[1].generationTimeUTC) &&
                     (Q[1].generationTimeUTC == Q[2].generationTimeUTC) &&
                     (Q[2].generationTimeUTC == Q[3].generationTimeUTC))
                  {
                      var q1 = Q[0].engValue.floatValue;
                      var q2 = Q[1].engValue.floatValue;
                      var q3 = Q[2].engValue.floatValue;
                      var q4 = Q[3].engValue.floatValue;
                      
                      var phi = Math.atan2((q1*q3)+(q2*q4), (q1*q4)-(q2*q3));
                      var theta = Math.acos(-(q1*q1)-(q2*q2)+(q3*q3)+(q4*q4));
                      var psi = Math.atan2((q1*q3)-(q2*q4),(q2*q3)+(q1*q4));
                      
                      var roll = phi;
                      var pitch = theta;
                      var yaw = psi;
                      
                      $('#Roll').html(phi);
                      $('#Pitch').html(theta);
                      $('#Yaw').html(psi);
                  }
              } catch (e) {
              }
          }
        );


