extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | Geofence Result

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_GEOFENCE_RESULT_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Geofence Result
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span.format-microseconds(data-sage={tlm: {name: "/CFS/PX4/GR_Timestamp"}}) ---
                    tr
                      th Geofence Violated:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/GR_GeofenceViolated"}}) ---
                    tr
                      th Geofence Action:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/GR_GeofenceAction"}}) ---
