[submodule "tools/sitl_gazebo"]
	path = tools/sitl_gazebo
	url = https://hangar.windhoverlabs.com/code/scm/pub/sitl_gazebo.git
[submodule "tools/pygazebo"]
	path = tools/pygazebo
	url = https://hangar.windhoverlabs.com/code/scm/pub/pygazebo.git
[submodule "apps/cf"]
	path = apps/cf
	url = https://hangar.windhoverlabs.com/code/scm/pub/cf.git
[submodule "apps/cfs_lib"]
	path = apps/cfs_lib
	url = https://hangar.windhoverlabs.com/code/scm/pub/cfs_lib.git
[submodule "apps/cs"]
	path = apps/cs
	url = https://hangar.windhoverlabs.com/code/scm/pub/cs.git
[submodule "apps/ds"]
	path = apps/ds
	url = https://hangar.windhoverlabs.com/code/scm/pub/ds.git
[submodule "apps/fm"]
	path = apps/fm
	url = https://hangar.windhoverlabs.com/code/scm/pub/fm.git
[submodule "apps/hs"]
	path = apps/hs
	url = https://hangar.windhoverlabs.com/code/scm/pub/hs.git
[submodule "apps/lc"]
	path = apps/lc
	url = https://hangar.windhoverlabs.com/code/scm/pub/lc.git
[submodule "apps/md"]
	path = apps/md
	url = https://hangar.windhoverlabs.com/code/scm/pub/md.git
[submodule "apps/mm"]
	path = apps/mm
	url = https://hangar.windhoverlabs.com/code/scm/pub/mm.git
[submodule "apps/sbn"]
	path = apps/sbn
	url = https://hangar.windhoverlabs.com/code/scm/pub/sbn.git
[submodule "apps/sc"]
	path = apps/sc
	url = https://hangar.windhoverlabs.com/code/scm/pub/sc.git
[submodule "apps/sch"]
	path = apps/sch
	url = https://hangar.windhoverlabs.com/code/scm/pub/sch.git
[submodule "apps/amc"]
	path = apps/amc
	url = https://hangar.windhoverlabs.com/code/scm/pub/amc.git
[submodule "apps/bat"]
	path = apps/bat
	url = https://hangar.windhoverlabs.com/code/scm/pub/bat.git
[submodule "apps/ci"]
	path = apps/ci
	url = https://hangar.windhoverlabs.com/code/scm/pub/ci.git
[submodule "apps/ea"]
	path = apps/ea
	url = https://hangar.windhoverlabs.com/code/scm/pub/ea.git
[submodule "apps/gps"]
	path = apps/gps
	url = https://hangar.windhoverlabs.com/code/scm/pub/gps.git
[submodule "apps/hmc5883"]
	path = apps/hmc5883
	url = https://hangar.windhoverlabs.com/code/scm/pub/hmc5883.git
[submodule "apps/ld"]
	path = apps/ld
	url = https://hangar.windhoverlabs.com/code/scm/pub/ld.git
[submodule "apps/lgc"]
	path = apps/lgc
	url = https://hangar.windhoverlabs.com/code/scm/pub/lgc.git
[submodule "apps/mac"]
	path = apps/mac
	url = https://hangar.windhoverlabs.com/code/scm/pub/mac.git
[submodule "apps/mavlink"]
	path = apps/mavlink
	url = https://hangar.windhoverlabs.com/code/scm/pub/mavlink.git
[submodule "apps/mpc"]
	path = apps/mpc
	url = https://hangar.windhoverlabs.com/code/scm/pub/mpc.git
[submodule "apps/mpu9250"]
	path = apps/mpu9250
	url = https://hangar.windhoverlabs.com/code/scm/pub/mpu9250.git
[submodule "apps/ms5611"]
	path = apps/ms5611
	url = https://hangar.windhoverlabs.com/code/scm/pub/ms5611.git
[submodule "apps/nav"]
	path = apps/nav
	url = https://hangar.windhoverlabs.com/code/scm/pub/nav.git
[submodule "apps/pblib"]
	path = apps/pblib
	url = https://hangar.windhoverlabs.com/code/scm/pub/pblib.git
[submodule "apps/pe"]
	path = apps/pe
	url = https://hangar.windhoverlabs.com/code/scm/pub/pe.git
[submodule "apps/prmlib"]
	path = apps/prmlib
	url = https://hangar.windhoverlabs.com/code/scm/pub/prmlib.git
[submodule "apps/px4br"]
	path = apps/px4br
	url = https://hangar.windhoverlabs.com/code/scm/pub/px4br.git
[submodule "apps/px4lib"]
	path = apps/px4lib
	url = https://hangar.windhoverlabs.com/code/scm/pub/px4lib.git
[submodule "apps/qae"]
	path = apps/qae
	url = https://hangar.windhoverlabs.com/code/scm/pub/qae.git
[submodule "apps/rcin"]
	path = apps/rcin
	url = https://hangar.windhoverlabs.com/code/scm/pub/rcin.git
[submodule "apps/rgbled"]
	path = apps/rgbled
	url = https://hangar.windhoverlabs.com/code/scm/pub/rgbled.git
[submodule "apps/sens"]
	path = apps/sens
	url = https://hangar.windhoverlabs.com/code/scm/pub/sens.git
[submodule "apps/sim"]
	path = apps/sim
	url = https://hangar.windhoverlabs.com/code/scm/pub/sim.git
[submodule "apps/to"]
	path = apps/to
	url = https://hangar.windhoverlabs.com/code/scm/pub/to.git
[submodule "apps/ulr"]
	path = apps/ulr
	url = https://hangar.windhoverlabs.com/code/scm/pub/ulr.git
[submodule "apps/vc"]
	path = apps/vc
	url = https://hangar.windhoverlabs.com/code/scm/pub/vc.git
[submodule "apps/vm"]
	path = apps/vm
	url = https://hangar.windhoverlabs.com/code/scm/pub/vm.git
[submodule "apps/hk"]
	path = apps/hk
	url = https://hangar.windhoverlabs.com/code/scm/pub/hk.git
[submodule "tools/commanderjs"]
	path = tools/commanderjs
	url = https://hangar.windhoverlabs.com/code/scm/pub/commanderjs.git
[submodule "tools/jmavsim"]
	path = tools/jmavsim
	url = https://hangar.windhoverlabs.com/code/scm/pub/jMAVSim.git
[submodule "apps/sonar"]
	path = apps/sonar
	url = https://hangar.windhoverlabs.com/code/scm/pub/sonar.git
[submodule "apps/mpu6050"]
	path = apps/mpu6050
	url = https://hangar.windhoverlabs.com/code/scm/pub/mpu6050.git
[submodule "apps/ms5607"]
	path = apps/ms5607
	url = https://hangar.windhoverlabs.com/code/scm/pub/ms5607.git
[submodule "apps/ak8963"]
	path = apps/ak8963
	url = https://hangar.windhoverlabs.com/code/scm/pub/ak8963.git
