[submodule "tools/sitl_gazebo"]
	path = tools/sitl_gazebo
	url = https://github.com/WindhoverLabs/sitl_gazebo.git
[submodule "tools/pygazebo"]
	path = tools/pygazebo
	url = https://github.com/WindhoverLabs/pygazebo.git
[submodule "tools/jmavsim"]
	path = tools/jmavsim
	url = https://github.com/WindhoverLabs/jMAVSim.git
[submodule "rtems/rtems"]
	path = rtems/rtems
	url = https://github.com/WindhoverLabs/rtems.git
[submodule "rtems/rtems-source-builder"]
	path = rtems/rtems-source-builder
	url = https://github.com/WindhoverLabs/rtems-source-builder.git
[submodule "config/squeaky_weasel/target/hw/TE0820-03-2AI21FA/device-tree"]
	path = config/squeaky_weasel/target/hw/TE0820-03-2AI21FA/device-tree
	url = https://github.com/Xilinx/device-tree-xlnx
