table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Arming State
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/ArmingState'}]}) ---
    tr
      th Nav State 
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/NavState'}]}) ---
    tr
      th Not Initialized
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/NotInitialized'}]}) ---
    tr
      th Boot Timestamp
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/BootTimestamp'}]}) ---
    tr
      th Sensors Initialized
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.SensorsInitialized'}]}) ---
    tr
      th Return To Home Set
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.ReturnToHomeSet'}]}) ---
    tr
      th Home Position Is Valid
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.HomePositionValid'}]}) ---
    tr
      th USB Power Conencted
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.UsbPowerConnected'}]}) ---
    tr
      th RC Signal Found Once
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.RcSignalFoundOnce'}]}) ---
    tr
      th RC Signal Lost Mode Is Commanded
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.RcSignalLostModeIsCmded'}]}) ---
    tr
      th RC Input Is Temporarily Blocked
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.RcInputIsTemporarilyBlocked'}]}) ---
    tr
      th Local Position Is Valid
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StatusFlags.LocalPositionIsValid'}]}) ---
    tr
      th Previously Landed
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PrevLanded'}]}) ---
    tr
      th Previously In Flight
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PrevInFlight'}]}) ---
    tr
      th Stick Off Counter
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StickOffCounter'}]}) ---
    tr
      th Stick On Counter
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/StickOnCounter'}]}) ---
    tr
      th Last Setpoint with Manual Ctrl Arm Switch
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/LastSpManArmSwitch'}]}) ---
    tr
      th Low Battery Voltage Actions Done
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/LowBatteryVoltageActionsDone'}]}) ---
    tr
      th Critical Battery Voltage Actions Done
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/CriticalBatteryVoltageActionsDone'}]}) ---
    tr
      th Emergency Battery Voltage Actions Done
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/EmergencyBatteryVoltageActionsDone'}]}) ---
    tr
      th RC Signal Lost Timestamp
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/RCSignalLostTimestamp'}]}) ---
    tr
      th Arming State Changed
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/ArmingStateChanged'}]}) ---
    tr
      th Previous Modes - PosCtl
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inPosCtl'}]}) ---
    tr
      th Previous Modes - RTL
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inRtl'}]}) ---
    tr
      th Previous Modes - Loiter
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inLoiter'}]}) ---
    tr
      th Previous Modes - Manual
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inManual'}]}) ---
    tr
      th Previous Modes - Takeoff
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inTakeoff'}]}) ---
    tr
      th Previous Modes - AltCtl
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PreviousModes.inAltCtl'}]}) ---
    tr 
      th Wakeup Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/WakeupCount'}]}) ---
    tr
      th Sensor Mag Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorMagMsgCount'}]}) ---
    tr
      th Sensor Gyro Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorGyroMsgCount'}]}) ---
    tr
      th Battery Status Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/BatteryStatusMsgCount'}]}) ---
    tr
      th Telemetry Status Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/TelemetryStatusMsgCount'}]}) ---
    tr
      th Subsystem Info Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SubsystemInfoMsgCount'}]}) ---
    tr
      th Vehicle Attitude Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleAttitudeMsgCount'}]}) ---
    tr
      th Vehicle Local Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleLocalPositionMsgCount'}]}) ---
    tr
      th Vehicle Land Detected Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleLandDetectedMsgCount'}]}) ---
    tr
      th Mission Result Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/MissionResultMsgCount'}]}) ---
    tr
      th Manual Control Setpoint Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/ManualControlSetpointMsgCount'}]}) ---
    tr
      th Position Setpoint Triplet Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PositionSetpointTripletMsgCount'}]}) ---
    tr
      th Sensor Accel Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorAccelMsgCount'}]}) ---
    tr
      th Safety Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SafetyMsgCount'}]}) ---
    tr
      th Sensor Correction Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorCorrectionMsgCount'}]}) ---
    tr
      th Vehicle Status Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleStatusMsgCount'}]}) ---
    tr
      th Vehicle Control Mode Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleControlModeMsgCount'}]}) ---
    tr
      th Sensor Combined Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorCombinedMsgCount'}]}) ---
    tr
      th Vehicle Command Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleCommandMsgCount'}]}) ---
    tr
      th Vehicle Global Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleGlobalPositionMsgCount'}]}) ---
    tr
      th Vehicle GPS Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleGpsPositionMsgCount'}]}) ---

footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Reset'}}) Reset
