table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Wakeup Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/WakeupCount'}]}) ---
    tr
      th Magnetometer Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorMagMsgCount'}]}) ---
    tr
      th Gyro Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorGyroMsgCount'}]}) ---
    tr
      th Battery Status Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/BatteryStatusMsgCount'}]}) ---
    tr
      th Telemetry Status Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/TelemetryStatusMsgCount'}]}) ---
    tr
      th Subsystem Info Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SubsystemInfoMsgCount'}]}) ---
    tr
      th Vehicle Attitude Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleAttitudeMsgCount'}]}) ---
    tr
      th Vehicle Local Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleLocalPositionMsgCount'}]}) ---
    tr
      th Vehicle Land Detected Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleLandDetectedMsgCount'}]}) ---
    tr
      th Mission Result Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/MissionResultMsgCount'}]}) ---
    tr
      th Manual Control Setpoint Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/ManualControlSetpointMsgCount'}]}) ---
    tr
      th Position Setpoint Triplet Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/PositionSetpointTripletMsgCount'}]}) ---
    tr
      th Sensor Accel Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorAccelMsgCount'}]}) ---
    tr
      th Safety Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SafetyMsgCount'}]}) ---
    tr
      th Sensor Correction Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorCorrectionMsgCount'}]}) ---
    tr
      th Sensor Combined Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/SensorCombinedMsgCount'}]}) ---
    tr
      th Vehicle Command Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleCommandMsgCount'}]}) ---
    tr
      th Vehicle Global Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleGlobalPositionMsgCount'}]}) ---
    tr
      th Vehicle GPS Position Msg Count
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/VehicleGpsPositionMsgCount'}]}) ---        
        
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Reset'}}) Reset
