table.table.table-condensed
  tbody
    tr
      th Arming State
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/ArmingState', calibration:{ type:'enumeration',
          enumerations:[
            { value: 0, name:'NA'},
            { value: 1, name:'STANDBY'},
            { value: 2, name:'ARMED'}
            ]}}]}) ---
    tr
      th Navigation State
      td
        div(data-cdr={tlm:[{name:'/VM/VM_HkTlm_t/NavState', calibration:{ type:'enumeration',
          enumerations:[
            { value: 0, name:'MANUAL'},
            { value: 1, name:'ALT-CTL'},
            { value: 2, name:'POS-CTL'},
            { value: 3, name:'AUTO-LOITER'},
            { value: 4, name:'AUTO-RTL'},
            { value: 5, name:'ACROBATIC'},
            { value: 6, name:'STABILIZED'},
            { value: 7, name:'RATTITUDE'},
            { value: 8, name:'AUTO-TAKEOFF'},
            { value: 9, name:'AUTO-LAND'}
            ]}}]}) ---
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Arm'}}) Arm
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Disarm'}}) Disarm
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Manual'}}) Manual    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AltCtl'}}) Altitude Control
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/PosCtl'}}) Position Control
footer.btn-group(role="group")    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoLoiter'}}) Auto Loiter
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoRtl'}}) Auto RTL  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoTakeOff'}}) Auto TakeOff
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoLand'}}) Auto Land
footer.btn-group(role="group")    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Acrobatic'}}) Acrobatic    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Rattitude'}}) Rattitude
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Stabilized'}}) Stabilized
footer.btn-group(role="group")    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/SetBatteryFailsafeMode'}}) Set Battery Failsafe Mode
