table.table.table-condensed
  tbody
    tr
      th(style='width: 150px') Cmd Count
      td
        span(data-cdr={tlm: [{name:'/SCH/SCH_HkPacket_t/CmdCounter'}]}) ---
    tr
      th Error Count
      td
        span(data-cdr={tlm: [{name:'/SCH/SCH_HkPacket_t/ErrCounter'}]}) ---

table.table.table-bordered.table-condensed
  thead
    tr
      th(style="width: 100px") Slot #
      th(style="width: 100px") Activity #
      th(style="width: 150px") State
      th MsgID
      th(style="width: 150px") Action
  tbody
    - for (var idx = 0; idx < appSchEntryObj.length; ++idx) {
        - var entryID = (appSchEntryObj[idx].slot * schObj.SCH_ENTRIES_PER_SLOT) + appSchEntryObj[idx].activity;
        - var strSlotID = '' + appSchEntryObj[idx].slot;
        - var strActID =  '' + appSchEntryObj[idx].activity;
        - var strEntryID = '' + entryID;
        - var tlmEntryState = {tlm:[{name:'/CFE/SCH/EntryState_'+strEntryID}]};
        - var tlmMsgID = {tlm:[{name:'/CFE/SCH/MsgID_'+entryID}]};
        - var cmdEnableEntry = {cmd: {name:'/CFE/SCH/EnableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
        - var cmdDisableEntry = {cmd: {name:'/CFE/SCH/DisableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
        tr
          td #{strSlotID}
          td #{strActID}
          td 
            span(data-cdr= tlmEntryState) ---
          td
            span(data-cdr= tlmMsgID) #{appSchEntryObj[idx].entry.MessageIndex}
          td
            .btn-group.dropup
               button.btn.btn-xs.btn-primary.btn-labeled(data-cdr= cmdEnableEntry) Ena
               button.btn.btn-xs.btn-primary.btn-labeled(data-cdr= cmdDisableEntry) Dis
    - };

table.table.table-bordered.table-condensed
  thead
    tr
      th(style="width: 200px") Group 
      th(style="width: 150px") Action
  tbody
    - for (var grpIdx = 0; grpIdx < appSchGroupObj.length; ++grpIdx) {
      - var grpID = appSchGroupObj[grpIdx];
      - var strGrpID = '' + grpID;
      - var cmdEnableGroup = {cmd: {name:'/CFE/SCH/EnableGroup', argument:[{name:'Group', value:strGrpID}]}};
      - var cmdDisableGroup = {cmd: {name:'/CFE/SCH/DisableGroup', argument:[{name:'Group', value:strGrpID}]}};
      tr
        td(style='font-family: monospace') #{strGrpID}
        td
          .btn-group.dropup
            button.btn.btn-xs.btn-primary.btn-labeled(data-cdr= cmdEnableGroup) Ena
            button.btn.btn-xs.btn-primary.btn-labeled(data-cdr= cmdDisableGroup) Dis
    - };
-
  }
}
}
