extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Position Estimator

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Estimator Status
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Local Estimation Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/EstimatorLocalInitialized'}]})
                  tr
                    th Global Estimation Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/EstimatorGlobalInitialized'}]})
                  tr
                    th Altitude Origin Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/AltOriginInitialized'}]})
                  tr
                    th Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/AltitudeOrigin', format:'%0.3f m'}]}) ---
                  tr
                    th Horizontal Estimate Valid
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/XyEstValid'}]})
                  tr
                    th Vertical Estimate Valid
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/ZestValid'}]})
                  tr
                    th Terrain Estimate Valid
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/TzEstValid'}]})

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 GPS Status
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Fused
                    td
                      div.bool-led(data-sage={tlm:[{name:'/CFS/PE/GpsFused'}]})
                  tr
                    th Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/GpsInitialized'}]})
                  tr
                    th Fault
                    td
                      div.bool-led.bool-led-error(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/GpsFault'}]})
                  tr
                    th Timeout
                    td
                      div.bool-led.bool-led-warn(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/GpsTimeout'}]})
                  tr
                    th Last Timestamp
                    td
                      span.format-microseconds(data-sage={tlm:[{name:'/CFS/PE/TimeLastGps'}]}) ---
                  tr
                    th Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/GpsAltOrigin'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/FuseGps'}}) Enable GPS
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/DisableGps'}}) Disable GPS
                
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Distance Sensor Status
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Fused
                    td
                      div.bool-led(data-sage={tlm:[{name:'/CFS/PE/UlrFused'}]})
                  tr
                    th Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/UlrInitialized'}]})
                  tr
                    th Fault
                    td
                      div.bool-led.bool-led-error(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/UlrFault'}]})
                  tr
                    th Timeout
                    td
                      div.bool-led.bool-led-warn(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/UlrTimeout'}]})
                  tr
                    th Last Timestamp
                    td.format-microseconds(data-sage={tlm:[{name:'/CFS/PE/TimeLastUlr'}]}) ---
                  tr
                    th Altitude Origin
                    td(data-sage={tlm:[{name:'/CFS/PE/UlrAltOrigin'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/FuseUlr'}}) Enable ULR
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/DisableUlr'}}) Disable ULR

  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Baro Status
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Fused
                    td
                      div.bool-led(data-sage={tlm:[{name:'/CFS/PE/BaroFused'}]})
                  tr
                    th Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/BaroInitialized'}]})
                  tr
                    th Fault
                    td
                      div.bool-led.bool-led-error(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/BaroFault'}]})
                  tr
                    th Timeout
                    td
                      div.bool-led.bool-led-warn(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/BaroTimeout'}]})
                  tr
                    th Last Timestamp
                    td
                      span.format-microseconds(data-sage={tlm:[{name:'/CFS/PE/TimeLastBaro'}]}) ---
                  tr
                    th Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/BaroAltOrigin'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/FuseBaro'}}) Enable Baro
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/DisableBaro'}}) Disable Baro

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Land Detector Status
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Fused
                    td
                      div.bool-led(data-sage={tlm:[{name:'/CFS/PE/LandFused'}]})
                  tr
                    th Initialized
                    td
                      div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/PE/LandInitialized'}]})
                  tr
                    th Fault
                    td
                      div.bool-led.bool-led-error(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/LandFault'}]})
                  tr
                    th Timeout
                    td
                      div.bool-led.bool-led-warn(style='--cmdr-led-off-bg-color: #00ff00;' data-sage={tlm:[{name:'/CFS/PE/LandTimeout'}]})
                  tr
                    th Last Timestamp
                    td.format-microseconds(data-sage={tlm:[{name:'/CFS/PE/TimeLastLand'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/FuseLand'}}) Enable Land
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/DisableLand'}}) Disable Land

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/PE/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/ErrCounter'}]}) ---
                  tr
                    th Timestamp
                    td
                      span.format-microseconds(data-sage={tlm:[{name:'/CFS/PE/Timestamp'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/Reset'}}) Reset
                                        
  .row
    +app_specific_telemetry_control("PE")
                                                  
  .row          
    +app_specific_mempools("PE")
    
  .row
    +app_specific_application_control("PE") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("PE")
    
  .row
    +app_specific_scheduler_control("PE")
