extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Local Position

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_LOCAL_POSITION_MID'}])

    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Local Altitude
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #AltitudeAGL(style='width:100%; height:300px;') 
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-VLP.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Local Position (Previous)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody  	
                   tr
                      th Timestamp:
                      td
                         span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Timestamp'}]}) ---
                   tr
                      th Reference Timestamp:
                      td
                         span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_RefTimestamp'}]}) ---
                   tr
                      th Reference Lat:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_RefLat'}]}) ---
                   tr
                      th Reference Lon:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_RefLon'}]}) ---
                   tr
                      th Surface Bottom Timestamp:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_SurfaceBottomTimestamp'}]}) ---
                   tr
                      th X:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_X'}]}) ---
                   tr
                      th Y:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Y'}]}) ---
                   tr
                      th Z:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Z'}]}) ---
                   tr
                      th Delta XY_X:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_XY_X'}]}) ---
                   tr
                      th Delta XY_Y:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_XY_Y'}]}) ---
                   tr
                      th Delta Z:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_Z'}]}) ---
                   tr
                      th VX:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_VX'}]}) ---
                   tr
                      th VY:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_VY'}]}) ---
                   tr
                      th VZ:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_VZ'}]}) ---
                   tr
                      th Delta VXY_X:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_VXY_X'}]}) ---
                   tr
                      th Delta VXY_Y:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_VXY_Y'}]}) ---
                   tr
                      th Delta VZ:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Delta_VZ'}]}) ---
                   tr
                      th AX:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_AX'}]}) ---
                   tr
                      th AY:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_AY'}]}) ---
                   tr
                      th AZ:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_AZ'}]}) ---
                   tr
                      th Yaw:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Yaw'}]}) ---
                   tr
                      th Reference Altitude:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_RefAlt'}]}) ---
                   tr
                      th Distance Bottom:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_DistBottom'}]}) ---
                   tr
                      th Dist Bottom Rate:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_DistBottomRate'}]}) ---
    
                   tr
                      th EpH:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_EpH'}]}) ---
                   tr
                      th EpV:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_EpV'}]}) ---
                   tr
                      th EvH:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_EvH'}]}) ---
                   tr
                      th EvV:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_EvV'}]}) ---    
    
                   tr
                      th Estimator Type:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_EstimatorType'}]}) ---
                   tr
                      th XY Valid:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_XY_Valid'}]})
                   tr
                      th Z Valid:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Z_Valid'}]})
                   tr
                      th VXY Valid:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_V_XY_Valid'}]})
                   tr
                      th VZ Valid:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_V_Z_Valid'}]})
                   tr
                      th XY Reset Counter:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_XY_ResetCounter'}]})
                   tr
                      th Z Reset Counter:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Z_ResetCounter'}]})
                   tr
                      th VXY Reset Counter:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_VXY_ResetCounter'}]})  
                   tr
                      th VZ Reset Counter:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_VZ_ResetCounter'}]})
                   tr
                      th XY Global:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_XY_Global'}]})
                   tr
                      th Z Global:
                      td                         
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_Z_Global'}]})
                   tr
                      th Bottom Distance Valid:
                      td
                         div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/VLP_DistBottomValid'}]})

    script.
        $(function () {
            var dataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/VLP_EpH'},
                      'label': 'EPH',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/VLP_VX'},
                      'label': 'VX',
                      'color': '#ffff00'
                    },
                    { 'tlm': {'name': '/CFS/PX4/VLP_VY'},
                      'label': 'VY',
                      'color': '#00ffff'
                    }
                ],
                'options': {
                }
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#AltitudeAGL'), dataplotDef);
        });
