extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Commander State

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_COMMANDER_STATE_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Commander State
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/CDR_Timestamp'}]}) ---
                    tr
                      th Dataman ID:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/CDR_MainState'}]}) ---
