table.table.table-condensed
  tbody
    tr
      th Last Update
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastBaro'}]}) ---
    tr
      th Initialized
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroInitialized', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th Fault
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFault', notext: true, class: [{eval: '==0', class: 'CDR-LED-OFF'},{eval: '==1', class: 'CDR-LED-RED'}]}]})
    tr
      th Alt Origin
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroAltOrigin'}]}) ---
    tr
      th Timeout
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroTimeout', notext: true, class: [{eval: '==0', class: 'CDR-LED-OFF'},{eval: '==1', class: 'CDR-LED-RED'}]}]})
    tr
      th Fused
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFused', notext: true, class: [{eval: '==0', class: 'CDR-LED-YELLOW'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
            
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/EnableBaro'}}) Enable
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/DisableBaro'}}) Disable 
      
