.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - Distance Sensor
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Last Update
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastDist'}], indicator:'text'}) ---
          tr
            th Alt Origin
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/m_DistAltOrigin'}], indicator:'text'}) ---
          tr
            th Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/DistInitialized'}], indicator:'text'}) ---
          tr
            th Fault
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/DistFault'}], indicator:'text'}) ---
          tr
            th Timeout
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/DistTimeout'}], indicator:'text'}) ---
          tr
            th Fused
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/DistFused'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/EnableDistanceSensor'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/DisableDistanceSensor'},indicator:'cmd'}) Disable 
      
