.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - Flow Sensor
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Last Update
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastFlow'}], indicator:'text'}) ---
          tr
            th Flow Fused
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/FlowFused'}], indicator:'text'}) ---
          tr
            th Flow Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/FlowInitialized'}], indicator:'text'}) ---
          tr
            th Flow Fault
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/FlowFault'}], indicator:'text'}) ---
          tr
            th Flow Timeout
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/FlowTimeout'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/EnableFlow'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/DisableFlow'},indicator:'cmd'}) Disable 
      
