.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - GPS
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Last Update
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastGps'}], indicator:'text'}) ---
          tr
            th Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsInitialized'}], indicator:'text'}) ---
          tr
            th Fault
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsFault'}], indicator:'text'}) ---
          tr
            th Timeout
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsTimeout'}], indicator:'text'}) ---
          tr
            th Alt Origin
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsAltOrigin'}], indicator:'text'}) ---
          tr
            th Fused
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsFused'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/EnableGPS'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/DisableGPS'},indicator:'cmd'}) Disable 
      
