table.table.table-condensed
  tbody
    tr
      th Last Update
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastGps'}]}) ---
    tr
      th Initialized
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsInitialized'}]}) ---
    tr
      th Fault
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsFault'}]}) ---
    tr
      th Timeout
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsTimeout'}]}) ---
    tr
      th Alt Origin
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsAltOrigin'}]}) ---
    tr
      th Fused
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/GpsFused'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/EnableGPS'}}) Enable
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/DisableGPS'}}) Disable 
      
