table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/PE/PE_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/PE/PE_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Timestamp
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/Timestamp'}]}) ---
    tr
      th Alt Origin
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/AltOrigin'}]}) ---
    tr
      th Estimator Global Initialized
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/EstimatorGlobalInitialized', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th Alt Origin Initialized
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/AltOriginInitialized', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th XY Est Valid
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/XyEstValid', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th Z Est Valid
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/ZEstValid', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th Terrain Z Est Valid
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TzEstValid', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
    tr
      th Estimator Local Initialized
      td
        .led-basic(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/EstimatorLocalInitialized', notext: true, class: [{eval: '==0', class: 'CDR-LED-RED'},{eval: '==1', class: 'CDR-LED-GREEN'}]}]})
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/Reset'}}) Reset  
      
