table.table.table-condensed
  tbody
    tr
      th Switch Pending
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/SwitchPendFlag'}]}) ---
    tr
      th Append Cmd Arg
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AppendCmdArg'}]}) ---
    tr
      th Append Entry Count
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AppendEntryCount'}]}) ---
    tr
      th Append Byte Count
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AppendByteCount'}]}) ---
    tr
      th Append Load Count
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AppendLoadCount'}]}) ---
    tr
      th ATP Free Bytes[0]
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AtpFreeBytes[0]'}]}) ---
    tr
      th ATP Free Bytes[1]
      td
        div(data-cdr={tlm:[{name:'/SC/SC_HkTlm_t/AtpFreeBytes[1]'}]}) ---

footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/SC/ManageTable'}}) Manage Table    
