extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | Actuator Armed

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_ACTUATOR_ARMED_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Actuator Armed
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Time (Seconds)
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_Timestamp'}]}) ---
                    tr
                      th Armed
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_Armed'}]}) ---
                    tr
                      th Prearmed
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_Prearmed'}]}) ---
                    tr
                      th Ready to Arm
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_ReadyToArm'}]}) ---
                    tr
                      th Lockdown
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_Lockdown'}]}) ---
                    tr
                      th Manual Lockdown
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_ManualLockdown'}]}) ---
                    tr
                      th Force Failsafe
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_ForceFailsafe'}]}) ---
                    tr
                      th In ESC Calibration Mode
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/AA_InEscCalibrationMode'}]}) ---
                        
