extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Home Position

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_HOME_POSITION_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Home Position
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Timestamp'}]}) ---
                    tr
                      th Lat:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Lat'}]}) ---
                    tr
                      th Lon:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Lon'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Alt'}]}) ---
                    tr
                      th X
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Z'}]}) ---
                    tr
                      th Yaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_Yaw'}]}) ---
                    tr
                      th Direction X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_DirectionX'}]}) ---
                    tr
                      th Direction Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_DirectionY'}]}) ---
                    tr
                      th Direction Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/HP_DirectionZ'}]}) ---
