extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Manual Control Setpoint

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_MANUAL_CONTROL_SETPOINT_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Manual Control Setpoint
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Timestamp'}]}) ---
                    tr
                      th X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Z'}]}) ---
                    tr
                      th R:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_R'}]}) ---
                    tr
                      th Flaps:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Flaps'}]}) ---
                    tr
                      th Aux 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Aux1'}]}) ---
                    tr
                      th Aux 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Aux2'}]}) ---
                    tr
                      th Aux 3:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Aux3'}]}) ---
                    tr
                      th Aux 4:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Aux4'}]}) ---
                    tr
                      th Aux 5:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_Aux5'}]}) ---
                    tr
                      th Mode Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_ModeSwitch'}]}) ---
                    tr
                      th Return Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_ReturnSwitch'}]}) ---
                    tr
                      th Rattitude Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_RattitudeSwitch'}]}) ---
                    tr
                      th Position Control Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_PosctlSwitch'}]}) ---
                    tr
                      th Loiter Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_LoiterSwitch'}]}) ---
                    tr
                      th Acro Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_AcroSwitch'}]}) ---
                    tr
                      th Offboard Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_OffboardSwitch'}]}) ---
                    tr
                      th Kill Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_KillSwitch'}]}) ---
                    tr
                      th Transition Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_TransitionSwitch'}]}) ---
                    tr
                      th Gear Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_GearSwitch'}]}) ---
                    tr
                      th Arm Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_ArmSwitch'}]}) ---
                    tr
                      th Stab Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_StabSwitch'}]}) ---
                    tr
                      th Manual Switch:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_ManSwitch'}]}) ---
                    tr
                      th Mode Slot:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_ModeSlot'}]}) ---
                    tr
                      th Data Source:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/MCS_DataSource'}]}) ---
                        
