extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Accel Sensor

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SENSOR_ACCEL_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Accelerometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Accelerometer(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Accelerometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Timestamp'}]}) ---
                    tr
                      th Integral:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_IntegralDt'}]}) ---
                    tr
                      th ErrorCount:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_ErrorCount'}]}) ---
                    tr
                      th X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Z'}]}) ---
                    tr
                      th XInt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_XInt'}]}) ---
                    tr
                      th YInt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_YInt'}]}) ---
                    tr
                      th ZInt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_ZInt'}]}) ---
                    tr
                      th Temp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Temp'}]}) ---
                    tr
                      th Range:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Range'}]}) ---
                    tr
                      th Scaling:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_Scaling'}]}) ---
                    tr
                      th DeviceID:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_DeviceID'}]}) ---
                    tr
                      th XRaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_XRaw'}]}) ---
                    tr
                      th YRaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_YRaw'}]}) ---
                    tr
                      th ZRaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_ZRaw'}]}) ---
                    tr
                      th TempRaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SA_TempRaw'}]}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SA_X'},
                      'label': 'X',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SA_Y'},
                      'label': 'Y',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SA_Z'},
                      'label': 'Z',
                      'color': '#ffff00'
                    }
                ],
                'options': {
                    'yaxis' : {
                        'max' : 20.0,
                        'min' : -20.0
                    }
                }
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Accelerometer'), dataplotDef);
        });
