extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Sensor Correction

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SENSOR_CORRECTION_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Correction
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td(colspan="3")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_Timestamp'}]}) ---
                      td
                      td
                    tr
                      th Gyro 0 Offset:
                      td(width="100px")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_0_0'}]}) ---
                      td(width="100px")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_0_1'}]}) ---
                      td(width="100px")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_0_2'}]}) ---
                    tr
                      th Gyro 0 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_0_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_0_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_0_2'}]}) ---
                    tr
                      th Gyro 1 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_1_2'}]}) ---
                    tr
                      th Gyro 1 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_1_2'}]}) ---
                    tr
                      th Gyro 2 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroOffset_2_2'}]}) ---
                    tr
                      th Gyro 2 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroScale_2_2'}]}) ---
                    tr
                      th Accel 0 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_0_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_0_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_0_2'}]}) ---
                    tr
                      th Accel 1 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_1_2'}]}) ---
                    tr
                      th Accel 1 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_1_2'}]}) ---
                    tr
                      th Accel 2 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelOffset_2_2'}]}) ---
                    tr
                      th Accel 2 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelScale_2_2'}]}) ---                        
                    tr
                      th Baro 0 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_0_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_0_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_0_2'}]}) ---
                    tr
                      th Baro 1 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_1_2'}]}) ---
                    tr
                      th Baro 1 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_1_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_1_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_1_2'}]}) ---
                    tr
                      th Baro 2 Offset:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroOffset_2_2'}]}) ---
                    tr
                      th Baro 2 Scale:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_2_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_2_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroScale_2_2'}]}) ---
                    tr
                      th Selected Gyro Instance:
                      td(colspan="3")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_SelectedGyroInstance'}]}) ---
                    tr
                      th Selected Accel Instance:
                      td(colspan="3")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_SelectedAccelInstance'}]}) ---
                    tr
                      th Selected Baro Instance:
                      td(colspan="3")
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_SelectedBaroInstance'}]}) ---
                    tr
                      th Gyro Mapping:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroMapping_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroMapping_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_GyroMapping_2'}]}) ---
                    tr
                      th Accel Mapping:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelMapping_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelMapping_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_AccelMapping_2'}]}) ---
                    tr
                      th Baro Mapping:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroMapping_0'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroMapping_1'}]}) ---
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SCX_BaroMapping_2'}]}) ---
                        
                        
                        
                        
