extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Vehicle Global Position

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_GLOBAL_POSITION_MID'}])
    
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Global Altitude
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Altitude(style='width:100%; height:300px;')  
    
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Global Position
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_Timestamp'}]}) ---
                    tr
                      th Time UTC Usec:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_TimeUtcUsec'}]}) ---
                    tr
                      th Lat:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_Lat'}]}) ---
                    tr
                      th Lon:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_Lon'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_Alt'}]}) ---
                    tr
                      th Delta Lat/Lon 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_DeltaLatLon_0'}]}) ---
                    tr
                      th Delta Lat/Lon 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_DeltaLatLon_1'}]}) ---
                    tr
                      th Delta Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_DeltaAlt'}]}) ---
                    tr
                      th Lat/Lon Reset Counter:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_LatLonResetCounter'}]}) ---
                    tr
                      th Alt Reset Counter:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_AltResetCounter'}]}) ---
                    tr
                      th Vel N:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_VelN'}]}) ---
                    tr
                      th Vel E:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_VelE'}]}) ---
                    tr
                      th Vel D:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_VelD'}]}) ---
                    tr
                      th Yaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_Yaw'}]}) ---
                    tr
                      th EpH:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_EpH'}]}) ---
                    tr
                      th EpV:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_EpV'}]}) ---
                    tr
                      th Terrain Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_TerrainAlt'}]}) ---
                    tr
                      th Pressure Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_PressureAlt'}]}) ---
                    tr
                      th Terrain Alt Valid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_TerrainAltValid'}]}) ---
                    tr
                      th Dead Reckoning:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGP_DeadReckoning'}]}) ---

    script.
        $(function () {
            var dataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/VGP_Alt'},
                      'label': 'Global Altitude',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/VGP_TerrainAlt'},
                      'label': 'Terrain Altitude',
                      'color': '#00ffff'
                    }
                ],
                'options': {
                }
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Altitude'), dataplotDef);
        });
