extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Commands

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_COMMAND_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-VC.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Commands (Previous)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody  	
                   tr
                      th Timestamp:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Timestamp'}]}) ---
                   tr
                      th Param 5:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param5'}]}) ---
                   tr
                      th Param 6:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param6'}]}) ---
                   tr
                      th Param 1:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param1'}]}) ---
                   tr
                      th Param 2:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param2'}]}) ---
                   tr
                      th Param 3:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param3'}]}) ---
                   tr
                      th Param 4:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param4'}]}) ---
                   tr
                      th Param 7:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Param7'}]}) ---
                   tr
                      th Command:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Command'}]}) ---
                   tr
                      th Target System:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_TargetSystem'}]}) ---
                   tr
                      th Target Component:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_TargetComponent'}]}) ---
                   tr
                      th Source System:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_SourceSystem'}]}) ---
                   tr
                      th Source Component:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_SourceComponent'}]}) ---
                   tr
                      th Confirmation:
                      td
                         span(data-sage={'tlm': [{'name': '/CFS/PX4/VC_Confirmation'}]}) ---
                  
