extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Land Detector

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_LAND_DETECTED_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-VLD.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Land Detector
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VLD_Timestamp'}]}) ---
                    tr
                      th Altitude Maximum:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VLD_AltMax'}]}) ---
                    tr
                      th Landed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VLD_Landed'}]}) ---
                    tr
                      th FreeFall:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VLD_Freefall'}]}) ---
                    tr
                      th GroundContact:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VLD_GroundContact'}]}) ---
    .row.row-fluid
      article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-VLD.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 VLD
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #VLD(style='width:100%; height:300px;')
      
                        
    script.
        $(function () {
            var vldDataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/VLD_Landed'},
                      'label': 'Landed',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/VLD_Freefall'},
                      'label': 'Freefall',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/VLD_GroundContact'},
                      'label': 'GroundContact',
                      'color': '#ffff00'
                    }
                ]
            };
    
            var vldDataplot = new SageTimeSeriesDataplot($('#VLD'), vldDataplotDef);
            

        });
