extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | Vehicle Attitude Setpoint

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_ATTITUDE_SETPOINT_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Attitude Setpoint
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Timestamp'}]}) ---
                    tr
                      th Roll Body
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_RollBody'}]}) ---
                    tr
                      th Pitch Body
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_PitchBody'}]}) ---
                    tr
                      th Yaw Body
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_YawBody'}]}) ---
                    tr
                      th Yaw Setpoint Move Rate
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_YawSpMoveRate'}]}) ---
                    tr
                      th Q_D[0]
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Q_D_0'}]}) ---
                    tr
                      th Q_D[1]
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Q_D_1'}]}) ---
                    tr
                      th Q_D[2]
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Q_D_2'}]}) ---
                    tr
                      th Q_D[3]
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Q_D_3'}]}) ---
                    tr
                      th Q_D Valid
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Q_D_Valid'}]}) ---
                    tr
                      th Thrust
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_Thrust'}]}) ---
                    tr
                      th Roll Reset Int
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_RollResetInt'}]}) ---
                    tr
                      th Pitch Reset Int
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_PitchResetInt'}]}) ---
                    tr
                      th Yaw Reset Int
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_YawResetInt'}]}) ---
                    tr
                      th FW Control Yaw
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_FwControlYaw'}]}) ---
                    tr
                      th Disable MC Yaw Control
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_DisableMcYawControl'}]}) ---
                    tr
                      th Apply Flaps
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_ApplyFlaps'}]}) ---
                    tr
                      th Landing Gear
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VAS_LandingGear'}]}) ---
