style.
  .left{
    float:left;
  }
  .right{
    float:right;
  }
  .cdr-button-container {
    display: inline-table;
    width: 100%;
  }
  .cdr-button-container >div {
    margin: 5px 10px;
  }
  .cdr-button-container >div >button {
    margin: 2px;
  }
.row.os-theme-dark.cdr-display-class
  .col-xs-12.col-sm-12
    .cdr-button-container
      .left
        button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 0] onclick='setDisplayState(this)') NO DISPLAY    
        button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 1] onclick='setDisplayState(this)') VIDEO STREAM
        button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 2] onclick='setDisplayState(this)') CESIUM MAP
      .right
        button.btn.cdr-outline-green(data-info=['LAYERS', 0] onclick='setDisplayState(this)') NO LAYER    
        button.btn.cdr-outline-green(data-info=['LAYERS', 1] onclick='setDisplayState(this)') ADI
        button.btn.cdr-outline-green(data-info=['LAYERS', 2] onclick='setDisplayState(this)') ADSB
  .col-xs-12.col-sm-12
    .cdr-display-container
      #cdr-guages.cdr-display-container-item.cdr-guages  
      img#cdr-video.cdr-display-container-item.cdr-video  
      #cdr-cesium.cdr-display-container-item.cdr-cesium  
      #cdr-image.cdr-display-container-item.cdr-image  
      #cdr-empty.cdr-display-container-item.cdr-empty  
  .col-xs-12.col-sm-12
    .cdr-button-container
      .left
        button.btn.cdr-outline-green(data-info=['MAP_TYPES', 0] onclick='setDisplayState(this)') DEFAULT MAP    
        button.btn.cdr-outline-green(data-info=['MAP_TYPES', 1] onclick='setDisplayState(this)') SATTELITE MAP
      .right
        button.btn.cdr-outline-green(data-info=['TERRAIN_TYPES', 0] onclick='setDisplayState(this)') 2D TERRAIN
        button.btn.cdr-outline-green(data-info=['TERRAIN_TYPES', 1] onclick='setDisplayState(this)') 3D TERRAIN  
script.
  var displayClass = $('.cdr-display-class');
  displayClass.each((e)=>{
    var displayClassObj = $(displayClass[e]);
    if (displayClassObj.attr('id') == undefined) {
      var randomKey = cu.makeKey();
      var splKeyCollection = displayClassObj.find('button[data-info]');
      displayClassObj.attr('id',randomKey);
      splKeyCollection.each((itm)=>{
        $(splKeyCollection[itm]).data('key',randomKey);
      });
      splKeyCollection = displayClassObj.find('.cdr-display-container-item');
      splKeyCollection.each((itm)=>{
        var id = $(splKeyCollection[itm]).attr('id');
        $(splKeyCollection[itm]).attr('id',id+'-'+randomKey);
      });
      
      display_controllers[randomKey] = new CommanderDisplay($('#'+randomKey));
      
    }
  });
  




  

  
  
