style.
  .left{
    float:left;
  }
  .right{
    float:right;
  }
  .cdr-button-container {
    display: inline-table;
    width: 100%;
  }
  .cdr-button-container >div {
    margin: 5px 10px;
  }
  .cdr-button-container >div >button {
    margin: 2px;
  }
   
  
.cdr-button-container(style='position:absolute; top:0px; z-index: 10')
  .left(style='')
    button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 0] onclick='setDisplayState(this)') NO DISPLAY    
    button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 1] onclick='setDisplayState(this)') VIDEO STREAM
    button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 2] onclick='setDisplayState(this)') GROUND TRACK
    button.btn.cdr-outline-green(data-info=['DISPLAY_CHANNELS', 3] onclick='setDisplayState(this)') FPV
  .right(style='')
    button.btn.cdr-outline-green(data-info=['ADDITIONAL_CTL', 0] onclick='setDisplayState(this)') CA LOCK    
    button.btn.cdr-outline-green(data-info=['ADDITIONAL_CTL', 1] onclick='setDisplayState(this)') ADI
    button.btn.cdr-outline-green(data-info=['ADDITIONAL_CTL', 2] onclick='setDisplayState(this)') ADSB 

.cdr-display-container('z-index: 5')
  img#cdr-video.cdr-display-container-item.cdr-video
  #cdr-guages.cdr-display-container-item.cdr-guages  
  #cdr-cesium.cdr-display-container-item.cdr-cesium  
  #cdr-image.cdr-display-container-item.cdr-image  
  #cdr-empty.cdr-display-container-item.cdr-empty
        
.cdr-button-container(style='position:absolute; bottom:0px; z-index: 10')
  .left
    button.btn.cdr-outline-green(data-info=['MAP_TYPES', 0] onclick='setDisplayState(this)') DEFAULT MAP    
    button.btn.cdr-outline-green(data-info=['MAP_TYPES', 1] onclick='setDisplayState(this)') SATTELITE MAP
  .right
    button.btn.cdr-outline-green(data-info=['TERRAIN_TYPES', 0] onclick='setDisplayState(this)') 2D TERRAIN
    button.btn.cdr-outline-green(data-info=['TERRAIN_TYPES', 1] onclick='setDisplayState(this)') 3D TERRAIN
        
script.
  var displayClass = $('.cdr-display-class');
  
  //draw = SVG('cdr-video').size('100%', 500);
  
  if (SVG.supported == false) {
      alert('SVG not supported with ths browser.');
  }
  
  session.enableVideoStream(function(imgObj) {
      $('#cdr-video').attr('src', 'data:image/jpeg;base64,' + imgObj.buffer);

      
      //    cameraImage.load('data:image/jpeg;base64,' + imgObj.buffer);
      //    
      //  cameraImage = draw.image('ws/flight/logo.png', hudWidth, hudHeight);
  });
  
  displayClass.each((e)=>{
    var displayClassObj = $(displayClass[e]);
    
    if (displayClassObj.attr('id') == undefined) {
      /* new display is loaded */
      var randomKey = cu.makeKey();
      var viewControlObjs = displayClassObj.find('button[data-info]');
      displayClassObj.attr('id',randomKey);
  
      viewControlObjs.each((itm)=>{
        $(viewControlObjs[itm]).data('key',randomKey);
      });
      viewControlObjs = displayClassObj.find('.cdr-display-container-item');
  
      viewControlObjs.each((itm)=>{
        var id = $(viewControlObjs[itm]).attr('id');
        $(viewControlObjs[itm]).attr('id',id+'-'+randomKey);
      });
  
      display_controllers[randomKey] = new CommanderDisplay($('#'+randomKey));
      display_controllers[randomKey].Subscriptions();
      display_controllers[randomKey].updateCesiumGroundHeight();
    }
  });
  




  

  
  
