.row.os-theme-dark
  article.col-xs-12.col-sm-12
    div.widget-body.table-responsive
    table.table.table-condensed
        tbody
          tr
            th Arm Status
            td Armed
          tr
            th Navigation Mode
            td Position Control
          tr
            th Satellites
            td 20
