style.
  .pfd-ind-tbody > tr {
    display:grid;
    margin:2px;
  }

  .pfd-indicator{
    text-align: center;
    display:grid;
  }
  .pfd-ind-label{
    text-align: center;
    padding: 5px;
    font-size: small;
    font-weight: bold;
  }
  .pfd-indicator > span {
    margin: 5px;
  }
  .pfd-outline-green {
    padding: 0px 3px;
    border-radius:5px;
    font-size: 14px;
    color: var(--btn-ssb-txt-inactive-color);
    background-color: var(--btn-trasperant-color);
    border: 1px solid var(--btn-ssb-border-inactive-color);
  }
  .pfd-outline-green.active {
    color: var(--btn-ssb-text-active-color);
    background-color: var(--btn-trasperant-color);
    border: 1px solid var(--btn-ssb-border-hover-active-color);
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    div.widget-body
      table.table.table-condensed
        tbody.pfd-ind-tbody
          tr
            td
              .pfd-ind-label  WIFI
              .pfd-indicator
                span.pfd-outline-green.active CONNECTED
          tr
            td
              .pfd-ind-label  RADIO
              .pfd-indicator
                span.pfd-outline-green.active CONNECTED
          tr
            td
              .pfd-ind-label  VEHICLE LAND
              .pfd-indicator
                span.pfd-outline-green.active DETECTED
          tr
            td
              .pfd-ind-label  LANDING GEAR
              .pfd-indicator
                span.btn.pfd-outline-green.active EXTENDED
                span.pfd-outline-green RETRACTED
          tr
            td
              .pfd-ind-label  PE
              .pfd-indicator
                span.pfd-outline-green INITIALIZED
