style.
  .pfd-tbody > tr > td {
    padding:5px !important;
    overflow :hidden;
  }
  .pfd-label{
    display: block;
    text-align: center;
    font-size: large;
    color: var(--danger);
    margin: 5px;
  }
  .pfd-large{
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 5px;
  }
  .pfd-label-metric{
    display:block;
    text-align:center;
    font-style:italic;
    margin: 5px;
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    div.widget-body
      table.table.table-condensed
        tbody.pfd-tbody
          tr
            td 
              span.pfd-label Altitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGlobalPositionMsg_t/Alt', format:'%0.3f'}],indicator:'text'}) 0
              span.pfd-label-metric meters
            td
              span.pfd-label Velocity
              .pfd-large
                span.pfd-vlp-cal-vxyz 0
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label VXY
              .pfd-large
                span.pfd-vlp-cal-vxy 0
              span.pfd-label-metric meters/sec
            td
              span.pfd-label VZ
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleLocalPositionMsg_t/VZ', format:'%0.2f'}],indicator:'text'}) 0
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label Latitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGlobalPositionMsg_t/Lat', format:'%0.3f'}],indicator:'text'}) 0
              span.pfd-label-metric degrees
            td
              span.pfd-label Longitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGlobalPositionMsg_t/Lon', format:'%0.3f'}],indicator:'text'}) 0
              span.pfd-label-metric degrees

script.
  /* PX4 Messages */
  /* add local position Message */
  var vlp_add = [
  {
    name: "ChannelIdx", value: "GROUND"
  },
  {
    name: "MsgID", value: "2644"
  },
  {
    name: "MsgLimit", value: "1"
  },
  {
    name: "PqueueIdx", value: "LOW"
  }
  ]
  var vgpp_add = [
  {
    name: "ChannelIdx", value: "GROUND"
  },
  {
    name: "MsgID", value: "2642"
  },
  {
    name: "MsgLimit", value: "1"
  },
  {
    name: "PqueueIdx", value: "LOW"
  }
  ]
  var vgp_add = [
  {
    name: "ChannelIdx", value: "GROUND"
  },
  {
    name: "MsgID", value: "2640"
  },
  {
    name: "MsgLimit", value: "1"
  },
  {
    name: "PqueueIdx", value: "HIGH"
  }
  ]
  /* Subscribe to px4 streams */
  session.sendCommand('/CFS/TO/AddMessage', vlp_add);
  session.sendCommand('/CFS/TO/AddMessage', vgpp_add);
  session.sendCommand('/CFS/TO/AddMessage', vgp_add);
  /* VXY calculation */  
  session.subscribe([{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VX'},
    {name:'/PX4/PX4_VehicleLocalPositionMsg_t/VY'},
    {name:'/PX4/PX4_VehicleLocalPositionMsg_t/VZ'}], (param)=>{
      try {
        var vx, vy, vz;
        for(var i in param){
          var opsPath = param[i].opsPath;
          var value = param[i].sample[ param[i].sample.length - 1 ].value;
          if(opsPath == '/PX4/PX4_VehicleLocalPositionMsg_t/VX'){
            vx = value;
          }
          else if(opsPath == '/PX4/PX4_VehicleLocalPositionMsg_t/VY'){
            vy = value;
          }
          else if(opsPath == '/PX4/PX4_VehicleLocalPositionMsg_t/VZ'){
            vz = value;
          }
        }
        if(vx != undefined && vy != undefined && vz != undefined){
          var horizontalVel = Math.sqrt((vx*vx)+(vy*vy));
          var velocity = Math.sqrt((vx*vx)+(vy*vy)+(vz*vz));
          $('.pfd-vlp-cal-vxy').text(sprintf( '%0.3f', horizontalVel ))
          $('.pfd-vlp-cal-vxyz').text(sprintf( '%0.3f', velocity ))
        }
      }
      catch(e){
        cu.logError("RougeSubscribe | unable to process response. error= ",e.message)
        $('.pfd-vlp-cal-vxy').text(sprintf( '%0.3f', 0 ))
        $('.pfd-vlp-cal-vxyz').text(sprintf( '%0.3f', 0 ))
      } 
  });
