style.
  .pfd-tbody > tr > td {
    padding:5px !important;
    overflow :hidden;
  }
  .pfd-label{
    display: block;
    text-align: center;
    font-size: large;
    color: var(--danger);
    margin: 5px;
  }
  .pfd-large{
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 5px;
  }
  .pfd-label-metric{
    display:block;
    text-align:center;
    font-style:italic;
    margin: 5px;
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    div.widget-body
      table.table.table-condensed
        tbody.pfd-tbody
          tr
            td 
              span.pfd-label Altitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGpsPositionMsg_t/Alt'}],indicator:'text'}) 0
              span.pfd-label-metric meters
            td
              span.pfd-label Velocity
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGpsPositionMsg_t/Vel_m_s'}],indicator:'text'}) 0
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label VXY
              .pfd-large
                span.pfd-vlp-cal-vxy 0
              span.pfd-label-metric meters/sec
            td
              span.pfd-label VZ
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleLocalPositionMsg_t/VZ'}],indicator:'text'}) 0
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label Latitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGpsPositionMsg_t/Lat'}],indicator:'text'}) 0
              span.pfd-label-metric degrees
            td
              span.pfd-label Longitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/PX4/PX4_VehicleGpsPositionMsg_t/Lon'}],indicator:'text'}) 0
              span.pfd-label-metric degrees

script.
    /* VXY calculation */  
    /* session.subscribe([{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VX'},
                       {name:'/PX4/PX4_VehicleLocalPositionMsg_t/VY'}], (param)=>{
      try {
      }
      catch(e){
        cu.logError("RougeSubscribe | unable to process response. error= ",e.message)
      } 
    }); */
