style.
  .pfd-tbody > tr > td {
    padding:5px !important;
    overflow :hidden;
  }
  .pfd-label{
    display: block;
    text-align: center;
    font-size: large;
    color: var(--danger);
    margin: 5px;
  }
  .pfd-large{
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 5px;
  }
  .pfd-label-metric{
    display:block;
    text-align:center;
    font-style:italic;
    margin: 5px;
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    div.widget-body
      table.table.table-condensed
        tbody.pfd-tbody
          tr
            td 
              span.pfd-label Altitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 573.239
              span.pfd-label-metric meters
            td
              span.pfd-label Velocity
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 2.504
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label VXY
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 0.116
              span.pfd-label-metric meters/sec
            td
              span.pfd-label VZ
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 2.501
              span.pfd-label-metric meters/sec
          tr
            td 
              span.pfd-label Latitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 47.3977
              span.pfd-label-metric degrees
            td
              span.pfd-label Longitude
              .pfd-large
                span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.SysLogBytesUsed'}],indicator:'text'}) 8.5452
              span.pfd-label-metric degrees
