style.
  .wdg-time{
    display:block;
  }
  .wdg-time > div{
    padding: 0px 5px;
  }
  .wdg-label{
    float:left;
  }
  .wdg-value{
    float:right;
  }

div.wgd-time
  div.wdg-label Time : 
  div.wdg-value 0:0:0

script.
  var interval = setInterval( () => {
    var d = new Date();
    var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
    $( '.wdg-value' ).text( " "+time );
  }, 1000 );
