style.
  .pfd-container-2{
    background-color: var(--th-bg-color);
    padding: 5px;
    display: inline-flex;
    margin: 9px;
    border: 0.5px solid var(--btn-primary-background-color);
    border-radius: 7px;
  }
  
  .pfd-container-2 > i {
    font-size:x-large;
  }

  .pfd-value{
    margin: 0px 0px 0px 10px;
  }

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    .pfd-container-2#battery
      i.fa.fa-battery-4
      .pfd-value --
    .pfd-container-2#wifi
      i.fa.fa-wifi
      .pfd-value --
    .pfd-container-2#radio
      i.fa.fa-signal
      .pfd-value --
      
    
script.
  setInterval(()=>{
    var rand = Math.random() * 100;
    var eachPartValue = 20;
    var ind = Math.floor(rand/eachPartValue);
    $('#battery').find('.fa').attr('class','fa fa-battery-'+ind);
    $('#battery').find('.pfd-value').text(rand.toFixed(2)+'%');
    },1000)
