style.
  .pfd-container{
    background-color: var(--th-bg-color);
    padding: 5px;
    display: grid;
    margin: 9px;
    border: 2px solid var(--btn-primary-background-color);
    border-radius: 7px;
  }
  .pfd-container>button{
    margin:3px;
    padding: 5px;
    overflow: hidden;
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    .pfd-container
      button.btn.cdr-important(data-cdr={cmd:{name:'/VM/Arm'},indicator:'cmd'}) ARM  
          i.fa.fa-superpowers
      button.btn.cdr-important(data-cdr={cmd:{name:'/VM/Disarm'},indicator:'cmd'}) DISARM  
          i.fa.fa-stop-circle-o
    .pfd-container 
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoTakeOff'},indicator:'cmd'}) Auto Takeoff    
          i.fa.fa-paper-plane-o
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoLoiter'},indicator:'cmd'}) Auto Loiter   
          i.fa.fa-pause-circle-o
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoLand'},indicator:'cmd'}) Auto Land    
          i.fa.fa-road
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AutoRtl'},indicator:'cmd'}) Auto RTL   
          i.fa.fa-home
    .pfd-container
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/Manual'},indicator:'cmd'}) Manual    
          i.fa.fa-hand-grab-o
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/PosCtl'},indicator:'cmd'}) Position Control   
          i.fa.fa-gears
      button.btn.cdr-primary(data-cdr={cmd:{name:'/VM/AltCtl'},indicator:'cmd'}) Altitude Control      
          i.fa.fa-gears
