extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | HMC5883 Magnetometer Driver

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-HMC5883-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/ErrCounter'}]}) ---
                    tr
                      th State
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/State'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/HMC5883/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/HMC5883/Reset'}}) Reset
                
  .row.row-fluid
    article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-HMC5883.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Magnetometer (Output)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
                table.table.table-hover.table-condensed.table-compressed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Timestamp"}]}) ---
                    tr
                      th Error Count:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_ErrorCount"}]}) ---
                    tr
                      th X:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_X"}]}) ---
                    tr
                      th Y:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Y"}]}) ---
                    tr
                      th Z:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Z"}]}) ---
                    tr
                      th Range:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Range"}]}) ---
                    tr
                      th Scaling:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Scaling"}]}) ---
                    tr
                      th Temp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_Temp"}]}) ---
                    tr
                      th Device ID:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_DeviceID"}]}) ---
                    tr
                      th X Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_XRaw"}]}) ---
                    tr
                      th Y Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_YRaw"}]}) ---
                    tr
                      th Z Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/HMC5883/SM_ZRaw"}]}) ---
                
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-HMC5883-Diagnostic.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Diagnostic
              button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name:'/CFS/HMC5883/SendDiag'}}) Send
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th(style={width:"100px"}) Scale
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleX'}]}) ---
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleY'}]}) ---
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleZ'}]}) ---
                    tr
                      th Offset
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_OffsetX'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_OffsetY'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_OffsetZ'}]}) ---
                    tr
                      th Rotation
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_Rotation'}]}) ---
                      td
                      td
                    tr
                      th Scale Int
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleXInt'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleYInt'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ScaleZInt'}]}) ---
                    tr
                      th Range
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_Range'}]}) ---
                      td
                      td
                    tr
                      th Scaling
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_Scaling'}]}) ---
                      td
                      td
                    tr
                      th Unit
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_Unit'}]}) ---
                      td
                      td
                    tr
                      th Divider
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_Divider'}]}) ---
                      td
                      td
                    tr
                      th Config A
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ConfigA'}]}) ---
                      td
                      td
                    tr
                      th Config B
                      td
                        span(data-sage={tlm: [{name:'/CFS/HMC5883/Diag_ConfigB'}]}) ---
                      td
                      td

                                        
  .row
    +app_specific_telemetry_control("HMC5883")
                                    
  .row          
    +app_specific_mempools("HMC5883")
    
  .row
    +registered_applications() 
    +app_specific_application_control("HMC5883")

  .row
    +app_specific_event_filters("HMC5883")
    
  .row
    +app_specific_scheduler_control("HMC5883")

