.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 MPC - Control State
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Max Velocity XY
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/VelMaxXy'}],indicator:'text'}) ---
          tr
            th Max Accel XY
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/AccelerationStateLimitXY'}],indicator:'text'}) ---
          tr
            th Max Accel Z
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/AccelerationStateLimitZ'}],indicator:'text'}) ---
          tr
            th Max Jerk XY
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/ManualJerkLimitXY', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Max Jerk Z
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/ManualJerkLimitZ'}],indicator:'text'}) ---
          tr
            th Takeoff Velocity Limit
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/TakeoffVelLimit', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Yaw At Takeoff
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/YawTakeoff', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/Yaw', format: '%.8f' }],indicator:'text'}) ---
          tr
            th User Intent XY
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/UserIntentionXY'}],indicator:'text'}) ---
          tr
            th User Intent Z
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/UserIntentionZ'}],indicator:'text'}) ---
