.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 MPC - Table Values
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th XY_VEL_MAX
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_VEL_MAX'}],indicator:'text'}) ---
          tr
            th MPC_VEL_MANUAL
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/MPC_VEL_MANUAL'}],indicator:'text'}) ---
          tr
            th XY_CRUISE
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_CRUISE'}],indicator:'text'}) ---
          tr
            th Z_VEL_MAX_UP
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_VEL_MAX_UP'}],indicator:'text'}) ---
          tr
            th Z_VEL_MAX_DN
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_VEL_MAX_DN'}],indicator:'text'}) ---
          tr
            th Z_FF
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_FF'}],indicator:'text'}) ---
          tr
            th XY_FF
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_FF'}],indicator:'text'}) ---
          tr
            th TILTMAX_AIR
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/TILTMAX_AIR'}],indicator:'text'}) ---
              
          tr
            th ACC_HOR_MAX
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/ACC_HOR_MAX'}],indicator:'text'}) ---
          tr
            th MPC_DEC_HOR_SLOW
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/MPC_DEC_HOR_SLOW'}],indicator:'text'}) ---
          tr
            th ACC_UP_MAX
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/ACC_UP_MAX'}],indicator:'text'}) ---
          tr
            th ACC_DOWN_MAX
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/ACC_DOWN_MAX'}],indicator:'text'}) ---
          tr
            th HOLD_DZ
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/MPC_HOLD_DZ', format: '%.8f' }],indicator:'text'}) ---
          tr
            th XY_MAN_EXPO
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_MAN_EXPO'}],indicator:'text'}) ---
          tr
            th Z_MAN_EXPO
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_MAN_EXPO'}],indicator:'text'}) ---
          tr
            th TKO_RAMP_T
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/TKO_RAMP_T', format: '%.8f' }],indicator:'text'}) ---

    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SendDiag'},indicator:'cmd'}) Query    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SetHoldDZ'},indicator:'cmd'}) Set Hold DZ
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SetStickExpo'},indicator:'cmd'}) Set Stick Expo
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SetTkoRamp'},indicator:'cmd'}) Set Takeoff Ramp Time
