.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 MPC - Vehicle State
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Autonomous Mode
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/ModeAuto'}],indicator:'led'}) ---
          tr
            th Position Control
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/RunPosControl'}], indicator:'led'}) ---
          tr
            th Position Hold
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/PositionHoldEngaged'}],indicator:'led'}) ---
          tr
            th Altitude Control
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/RunAltControl'}],indicator:'led'}) ---
          tr
            th Altitude Hold
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/AltitudeHoldEngaged'}],indicator:'led'}) ---
          tr
            th In Takeoff
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/InTakeoff'}],indicator:'led'}) ---
          tr
            th Triplet Finite
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/TripletLatLonFinite'}],indicator:'led'}) ---
          tr
            th Was Landed
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/WasLanded'}],indicator:'led'}) ---
          tr
            th Was Armed
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_HkTlm_t/WasArmed'}],indicator:'led'}) ---
