extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Battery

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-BAT-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/BAT/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/BAT/Reset'}}) Reset
    
    script.
        function FloatToPercent(item) {
            //return Number((item * 100).toFixed(0));
            return item * 100;
        }
        
                    
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-BAT-BatteryStatus.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Battery Status (Output)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Timestamp'}]}) ---
                    tr
                      th Voltage
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Voltage'}]}) ---
                    tr
                      th Voltage (filtered)
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_VoltageFiltered'}]}) ---
                    tr
                      th Current
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Current'}]}) ---
                    tr
                      th Current (filtered)
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_CurrentFiltered'}]}) ---
                    tr
                      th Discharged
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Discharged'}]}) ---
                    tr
                      th Remaining
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Remaining', format:'%.0f%%', calibration:{type:'function', function:'FloatToPercent(value)'}}]}) ---
                    tr
                      th Scale
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Scale'}]}) ---
                    tr
                      th Cell Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_CellCount'}]}) ---
                    tr
                      th Connected
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Connected'}]}) ---
                    tr
                      th Warning
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Warning'}]}) ---
                                        
  .row
    +app_specific_telemetry_control("BAT")
                                              
  .row          
    +app_specific_mempools("BAT")
    
  .row
    +app_specific_application_control("BAT") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("BAT")
    
  .row
    +app_specific_scheduler_control("BAT")

