extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Housekeeping

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-HK-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width: '150px'}) Cmd Count:
                    td(style={width: '150px'})
                      span(data-sage={tlm: [{name: '/CFS/HK/CmdCounter'}]}) ---
                    td(style={width: '150px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HK/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/HK/Reset'}}) Reset
                  tr
                    th Cmd Error Count:
                    td
                      span(data-sage={tlm: [{name: '/CFS/HK/ErrCounter'}]}) ---
                    td
                  tr
                    th Combined Packets Sent
                    td
                      span(data-sage={tlm: [{name:'/CFS/HK/CombinedPacketsSent'}]}) ---
                    td
                  tr
                    th Missing Data Ctr
                    td
                      span(data-sage={tlm:[{name:'/CFS/HK/MissingDataCtr'}]}) ---
                    td
                  tr
                    th Memory Pool Handle
                    td
                      span(data-sage={tlm:[{name:'/CFS/HK/MemPoolHandle', format:'0x%08x'}]}) ---
                    td
                                        
  .row
    +app_specific_telemetry_control("HK")
                                  
  .row          
    +app_specific_mempools("HK")
    
  .row
    +app_specific_application_control("HK") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("HK")
    
  .row
    +app_specific_scheduler_control("HK")
      
