.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Application
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
        
  .row.row-fluid
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 App
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Wakeup for File Proc
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.WakeupForFileProc'}],indicator:'text'}) ---
                  tr
                    th Engine Cycle Count
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.EngineCycleCount'}],indicator:'text'}) ---
                  tr
                    th Memory In Use
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemInUse'}],indicator:'text'}) ---
                  tr
                    th Peak Mem In Use
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PeakMemInUse'}],indicator:'text'}) ---
                  tr
                    th Low Memory Mark
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LowMemoryMark'}],indicator:'text'}) ---
                  tr
                    th Max Mem Needed
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MaxMemNeeded'}],indicator:'text'}) ---
                  tr
                    th Mem Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemAllocated'}],indicator:'text'}) ---
                  tr
                    th Buffer Pool Handle
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.BufferPoolHandle'}],indicator:'text'}) ---
                  tr
                    th Q Nodes Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QnodesAllocated'}],indicator:'text'}) ---
                  tr
                    th Q Nodes Deallocated
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QnodesDeallocated'}],indicator:'text'}) ---
                  tr
                    th PDUs Received
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsReceived'}],indicator:'text'}) ---
                  tr
                    th PDUs Rejected
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsRejected'}],indicator:'text'}) ---
                  tr
                    th Total In Prog Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalInProgTrans'}],indicator:'text'}) ---
                  tr
                    th Total Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalFailedTrans'}],indicator:'text'}) ---
                  tr
                    th Total Abandon Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalAbandonTrans'}],indicator:'text'}) ---
                  tr
                    th Total Success Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalSuccessTrans'}],indicator:'text'}) ---
                  tr
                    th Total Completed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalCompletedTrans'}],indicator:'text'}) ---
                  tr
                    th Last Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LastFailedTrans'}],indicator:'text'}) ---
                  tr
                    th Auto Suspend Enabled
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_Enable'}],indicator:'text'}) ---
                  tr
                    th Auto Suspend Low Free Mark
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_LowFreeMark'}],indicator:'text'}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Commands
                  span.caret
                ul#MiscCommands.dropdown-menu(role='menu')
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackFile'},indicator:'cmd'}, href='javascript:void(0);') Playback File
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackDir'},indicator:'cmd'}, href='javascript:void(0);') Playback Dir
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Freeze'},indicator:'cmd'}, href='javascript:void(0);') Freeze
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Thaw'},indicator:'cmd'}, href='javascript:void(0);') Thaw
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Suspend'},indicator:'cmd'}, href='javascript:void(0);') Suspend
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Resume'},indicator:'cmd'}, href='javascript:void(0);') Resume
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Cancel'},indicator:'cmd'}, href='javascript:void(0);') Cancel
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Abandon'},indicator:'cmd'}, href='javascript:void(0);') Abandon
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetMIBParam'},indicator:'cmd'}, href='javascript:void(0);') Set MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GetMIBParam'},indicator:'cmd'}, href='javascript:void(0);') Get MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'},indicator:'cmd'}, href='javascript:void(0);') Send Trans Diag Data
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetPollParam'},indicator:'cmd'}, href='javascript:void(0);') Set Poll Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'},indicator:'cmd'}, href='javascript:void(0);') Send Cfg Params
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteQueueInfo'},indicator:'cmd'}, href='javascript:void(0);') Write Queue Info
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDequeue'},indicator:'cmd'}, href='javascript:void(0);') Enable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDequeue'},indicator:'cmd'}, href='javascript:void(0);') Disable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDirPolling'},indicator:'cmd'}, href='javascript:void(0);') Enable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDirPolling'},indicator:'cmd'}, href='javascript:void(0);') Disable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DeleteQueueNode'},indicator:'cmd'}, href='javascript:void(0);') Delete Queue Node
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PurgeQueue'},indicator:'cmd'}, href='javascript:void(0);') Purge Queue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteActiveTrans'},indicator:'cmd'}, href='javascript:void(0);') Write Active Trans
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Kickstart'},indicator:'cmd'}, href='javascript:void(0);') Kickstart
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/QuickStatus'},indicator:'cmd'}, href='javascript:void(0);') Quick Status
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GiveTake'},indicator:'cmd'}, href='javascript:void(0);') Give / Take
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnaDisAutoSuspend'},indicator:'cmd'}, href='javascript:void(0);') Ena/Dis Auto Suspend
