.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Command and Data Handling
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'150px'}) Cmd Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/CmdCounter'}],indicator:'text'}) ---
          tr
            th Cmd Error Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/ErrCounter'}],indicator:'text'}) ---
    footer
      button.btn.btn-primary(data-cdr={cmd: {name: '/CF/Noop'},indicator:'cmd'}) No-Op
      button.btn.btn-primary(data-cdr={cmd: {name: '/CF/CF_ResetCtrsCmd_t'},indicator:'cmd'}) Reset

  