table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Pos Ack Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.PosAckNum'}]}) ---
    tr
      th File Store Rej Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileStoreRejNum'}]}) ---
    tr
      th File Checksum Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileChecksumNum'}]}) ---
    tr
      th File Size Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileSizeNum'}]}) ---
    tr
      th NAK Limit Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.NakLimitNum'}]}) ---
    tr
      th Inactive Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.InactiveNum'}]}) ---
    tr
      th Suspend Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.SuspendNum'}]}) ---
    tr
      th Cancel Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.CancelNum'}]}) ---
