.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Fault
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Pos Ack Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.PosAckNum'}],indicator:'text'}) ---
          tr
            th File Store Rej Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileStoreRejNum'}],indicator:'text'}) ---
          tr
            th File Checksum Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileChecksumNum'}],indicator:'text'}) ---
          tr
            th File Size Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.FileSizeNum'}],indicator:'text'}) ---
          tr
            th NAK Limit Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.NakLimitNum'}],indicator:'text'}) ---
          tr
            th Inactive Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.InactiveNum'}],indicator:'text'}) ---
          tr
            th Suspend Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.SuspendNum'}],indicator:'text'}) ---
          tr
            th Cancel Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Cond.CancelNum'}],indicator:'text'}) ---
