table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Eng Cyc Per Wakeup
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/EngCycPerWakeup'}]}) ---
    tr
      th Ack Limit
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/AckLimit'}]}) ---
    tr
      th Ack Timeout
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/AckTimeout'}]}) ---
    tr
      th Nak Limit
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NakLimit'}]}) ---
    tr
      th Nak Timeout
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NakTimeout'}]}) ---
    tr
      th Inact Timeout
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/InactTimeout'}]}) ---
    tr
      th Def Outgoing Chunk Size
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DefOutgoingChunkSize'}]}) ---
    tr
      th Pipe Depth
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/PipeDepth'}]}) ---
    tr
      th Max Simultaneous Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxSimultaneousTrans'}]}) ---
    tr
      th Incoming PDU Buf Size
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/IncomingPduBufSize'}]}) ---
    tr
      th Outgoing PDU Buf Size
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/OutgoingPduBufSize'}]}) ---
    tr
      th Num Input Channels
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NumInputChannels'}]}) ---
    tr
      th Max Playback Chans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxPlaybackChans'}]}) ---
    tr
      th Max Polling Dirs Per Chan
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxPollingDirsPerChan'}]}) ---
    tr
      th Mem Pool Bytes
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MemPoolBytes'}]}) ---
    tr
      th Debug Compiled In
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DebugCompiledIn'}]}) ---
    tr
      th Save Incomplete Files
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/SaveIncompleteFiles'}]}) ---
    tr
      th Pipe Name
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/PipeName'}]}) ---
    tr
      th Tmp File Prefix
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/TmpFilePrefix'}]}) ---
    tr
      th Cfg Tbl Name
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/CfgTblName'}]}) ---
    tr
      th Cfg Tbl File Name
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/CfgTbleFilename'}]}) ---
    tr
      th Def Q Info File Name
      td
        span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DefQInfoFilename'}]}) ---

footer
      button.btn.cdr-primary(data-cdr={cmd: {name: '/CF/SendCfgParams'}}) Send Config