.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Configuration
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Eng Cyc Per Wakeup
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/EngCycPerWakeup'}],indicator:'text'}) ---
          tr
            th Ack Limit
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/AckLimit'}],indicator:'text'}) ---
          tr
            th Ack Timeout
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/AckTimeout'}],indicator:'text'}) ---
          tr
            th Nak Limit
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NakLimit'}],indicator:'text'}) ---
          tr
            th Nak Timeout
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NakTimeout'}],indicator:'text'}) ---
          tr
            th Inact Timeout
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/InactTimeout'}],indicator:'text'}) ---
          tr
            th Def Outgoing Chunk Size
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DefOutgoingChunkSize'}],indicator:'text'}) ---
          tr
            th Pipe Depth
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/PipeDepth'}],indicator:'text'}) ---
          tr
            th Max Simultaneous Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxSimultaneousTrans'}],indicator:'text'}) ---
          tr
            th Incoming PDU Buf Size
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/IncomingPduBufSize'}],indicator:'text'}) ---
          tr
            th Outgoing PDU Buf Size
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/OutgoingPduBufSize'}],indicator:'text'}) ---
          tr
            th Num Input Channels
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/NumInputChannels'}],indicator:'text'}) ---
          tr
            th Max Playback Chans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxPlaybackChans'}],indicator:'text'}) ---
          tr
            th Max Polling Dirs Per Chan
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MaxPollingDirsPerChan'}],indicator:'text'}) ---
          tr
            th Mem Pool Bytes
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/MemPoolBytes'}],indicator:'text'}) ---
          tr
            th Debug Compiled In
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DebugCompiledIn'}],indicator:'text'}) ---
          tr
            th Save Incomplete Files
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/SaveIncompleteFiles'}],indicator:'text'}) ---
          tr
            th Pipe Name
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/PipeName'}],indicator:'text'}) ---
          tr
            th Tmp File Prefix
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/TmpFilePrefix'}],indicator:'text'}) ---
          tr
            th Cfg Tbl Name
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/CfgTblName'}],indicator:'text'}) ---
          tr
            th Cfg Tbl File Name
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/CfgTbleFilename'}],indicator:'text'}) ---
          tr
            th Def Q Info File Name
            td
              span(data-cdr={tlm: [{name: '/CF/CF_ConfigPacket_t/DefQInfoFilename'}],indicator:'text'}) ---
    footer
      button.btn.btn-primary(data-cdr={cmd: {name: '/CF/SendCfgParams'},indicator:'cmd'}) Send Config