table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) PDUs Sent
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].PDUsSent'}]}) ---
    tr
      th FilesSent
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].FilesSent'}]}) ---
    tr
      th Success Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].SuccessCounter'}]}) ---
    tr
      th Failed Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].FailedCounter'}]}) ---
    tr
      th Pending Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].PendingQFileCnt'}]}) ---
    tr
      th Active Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].ActiveQFileCnt'}]}) ---
    tr
      th History Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].HistoryQFileCnt'}]}) ---
    tr
      th Flags
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].Flags'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].RedLightCntr'}]}) ---
    tr
      th Green Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].GreenLightCntr'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].RedLightCntr'}]}) ---
    tr
      th Poll Dirs Checked
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].PollDirsChecked'}]}) ---
    tr
      th Pending Q Checked
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].PendingQChecked'}]}) ---
    tr
      th Sem Value
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[0].SemValue'}]}) ---
              