table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) PDUs Sent
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].PDUsSent'}]}) ---
    tr
      th FilesSent
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].FilesSent'}]}) ---
    tr
      th Success Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].SuccessCounter'}]}) ---
    tr
      th Failed Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].FailedCounter'}]}) ---
    tr
      th Pending Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].PendingQFileCnt'}]}) ---
    tr
      th Active Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].ActiveQFileCnt'}]}) ---
    tr
      th History Q File Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].HistoryQFileCnt'}]}) ---
    tr
      th Flags
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].Flags'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].RedLightCntr'}]}) ---
    tr
      th Green Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].GreenLightCntr'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].RedLightCntr'}]}) ---
    tr
      th Poll Dirs Checked
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].PollDirsChecked'}]}) ---
    tr
      th Pending Q Checked
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].PendingQChecked'}]}) ---
    tr
      th Sem Value
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Chan[1].SemValue'}]}) ---
              