h2 CF - Downlink Channel <unselected>
form.form-group(onchange="CF_SelectDownlinkChannel(event);")
  label.radio-inline
    input(type="radio" name="channel" value='1')
    | 1
  label.radio-inline
    input(type="radio" name="channel" value='2')
    | 2
  label.radio-inline
    input(type="radio" name="channel" value='3')
    | 3
    
table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) PDUs Sent
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].PDUsSent'}]}) ---
    tr
      th FilesSent
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].FilesSent'}]}) ---
    tr
      th Success Counter
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].SuccessCounter'}]}) ---
    tr
      th Failed Counter
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].FailedCounter'}]}) ---
    tr
      th Pending Q File Cnt
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].PendingQFileCnt'}]}) ---
    tr
      th Active Q File Cnt
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].ActiveQFileCnt'}]}) ---
    tr
      th History Q File Cnt
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].HistoryQFileCnt'}]}) ---
    tr
      th Flags
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].Flags'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].RedLightCntr'}]}) ---
    tr
      th Green Light Cntr
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].GreenLightCntr'}]}) ---
    tr
      th Red Light Cntr
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].RedLightCntr'}]}) ---
    tr
      th Poll Dirs Checked
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].PollDirsChecked'}]}) ---
    tr
      th Pending Q Checked
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].PendingQChecked'}]}) ---
    tr
      th Sem Value
      td
        span(data-cdr-dynamic={tlm: [{name: '/CF/CF_HkPacket_t/Chan[%d].SemValue'}]}) ---
              
script.
    function CF_SelectDownlinkChannel(event) {
        /* TODO: Unsubscribe from telemetry here. */
        
        var form = event.srcElement.parentNode.parentNode;
        var newChannelID = CF_getRadioVal(form, 'channel');
        
        var article = event.srcElement.parentNode.parentNode.parentNode;        
        var header = $(article).find('header h2');
        
        header.text('CF - Downlink Channel ' + newChannelID);
        
        var dataElements = $(article).find('[data-cdr-dynamic]');
        
        for(var i=0; i < dataElements.length; ++i) {
            var elem = dataElements[i];
            var data = $(elem).data('cdr-dynamic');
            
            for(var j=0; j < data.tlm.length; ++j) {
                data.tlm[j].name = sprintf( data.tlm[j].name, newChannelID );
            }
            
            $(elem).data('cdr', data);
        }
        
        /* TODO: Subscribe to telemetry here. */
    }
    
    function CF_getRadioVal(form, name) {
        var val;
        // get list of radio buttons with specified name
        var radios = form.elements[name];
    
        // loop through list of radio buttons
        for (var i=0, len=radios.length; i<len; i++) {
            if ( radios[i].checked ) { // radio checked?
                val = radios[i].value; // if so, hold its value in val
                break; // and break out of for loop
            }
        }
        return val; // return value of checked radio or undefined if none checked
    }
    
    
    //<![CDATA[
    $(document).ready(function(){
        $('.combobox').combobox()
    });
    //]]>