table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Entity ID
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.FlightEngineEntityId'}]}) ---
    tr
      th Flags
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.Flags'}]}) ---
    tr
      th Machines Allocated
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.MachinesAllocated'}]}) ---
    tr
      th Machines Deallocated
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.MachinesDeallocated'}]}) ---
    tr
      th Frozen Partners?
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.are_any_partners_frozen'}]}) ---
    tr
      th Sender Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_senders'}]}) ---
    tr
      th Receiver Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_receivers'}]}) ---
    tr
      th Frozen Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_frozen'}]}) ---
    tr
      th Suspended Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_suspended'}]}) ---
    tr
      th Files Sent
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_files_sent'}]}) ---
    tr
      th Files Received
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_files_received'}]}) ---
    tr
      th Unsuccessful Senders
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_unsuccessful_senders'}]}) ---
    tr
      th Unsuccessful Receivers
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_unsuccessful_receivers'}]}) ---