.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CFDP Ground Utilities
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'150px',height:'20px'}) MIB Parameters
            td
              span.cfdp-gnd-requested-mib-param-name ---
            td
              span.cfdp-requested-mib-param-value ---
            td(style={width:'100px'} )
              button.btn.cdr-primary( data-toggle="modal" data-target="#genericInputModal" data-title="Query MIB Parameter" data-submit="GetMibParam" data-custom='[{"label":"MIB Parameter Name", "type":"field", "dtype":"text"}]')   GET MIB
            td(style={width:'100px'} )
              button.btn.cdr-primary( data-toggle="modal" data-target="#genericInputModal" data-title="Set MIB Parameter" data-submit="SetMibParam" data-custom='[{"label":"MIB Parameter Name", "type":"field", "dtype":"text"},{"label":"MIB Parameter Value", "type":"field", "dtype":"text"}]')   SET MIB
script.
  if ( GetMibParam == undefined ) {
    function GetMibParam() {
      var args = {};
      var labels = $( "#genericInputModal" ).find( 'label' );
      for ( var i = 0; i < labels.length; ++i ) {
        var label = labels[ i ].textContent;
        var value = labels[ i ].control.value;
        args[ label ] = value;
      }
      session.cfdpAPI( 'GET_MIB', [ args[ 'MIB Parameter Name' ] ], ( data ) => {
        if ( data.msg == 'SUCCESS' ) {
          $( '.cfdp-gnd-requested-mib-param-name' ).text( data.value.mib_name );
          $( '.cfdp-requested-mib-param-value' ).text( data.value.mib_value );
        } else {
          $( '.cfdp-gnd-requested-mib-param-name' ).text( data.value.mib_name );
          $( '.cfdp-requested-mib-param-value' ).text( "Err: unable to get value." );
        }
      } )
    }
  }

  if ( SetMibParam == undefined ) {
    function SetMibParam() {
      var args = {};
      var labels = $( "#genericInputModal" ).find( 'label' );
      for ( var i = 0; i < labels.length; ++i ) {
        var label = labels[ i ].textContent;
        var value = labels[ i ].control.value;
        args[ label ] = value;
      }
      session.cfdpAPI( 'SET_MIB', [ args[ 'MIB Parameter Name' ], args[ 'MIB Parameter Value' ] ], ( data ) => {
        if ( data.msg == 'SUCCESS' ) {
          cu.logInfo( 'MIB param ' + args[ 'MIB Parameter Name' ] + ' set to ' + args[ 'MIB Parameter Value' ] );
        } else {
          cu.logError( 'MIB param ' + args[ 'MIB Parameter Name' ] + ' not set to ' + args[ 'MIB Parameter Value' ] );
        }
      } );
    }
  }
