.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CFDP Ground Transaction Status
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'150px'}) Abandoned
            td
              span.cfdp-gnd-trans-abandoned ---
          tr
            th Attempts
            td
              span.cfdp-gnd-trans-attempts ---
          tr
            th Cancelled
            td
              span.cfdp-gnd-trans-cancelled ---
          tr
            th External File Xfer
            td
              span.cfdp-gnd-trans-exter-file-xfer ---
          tr
            th Fd Offset
            td
              span.cfdp-gnd-trans-fd-offset ---
          tr
            th Fd Length
            td
              span.cfdp-gnd-trans-fd-length ---
          tr
            th File Checksum As Calculated
            td
              span.cfdp-gnd-trans-file-checksum-calculated ---
          tr
            th Finished
            td
              span.cfdp-gnd-trans-finished ---
          tr
            th Frozen
            td
              span.cfdp-gnd-trans-frozen ---
              
          tr
            th Has MD Been Received
            td
              span.cfdp-gnd-trans-has-md-been-received ---
          tr
            th How Many Naks
            td
              span.cfdp-gnd-trans-how-many-naks ---
          tr
            th Is This Trans Solely For Ack Fin
            td
              span.cfdp-gnd-trans-is-this-trans-solely-for-ack-fin ---
          tr
            th Phase
            td
              span.cfdp-gnd-trans-phase ---
          tr
            th Received File Size
            td
              span.cfdp-gnd-trans-recv-file-size ---
          tr
            th Start Time
            td
              span.cfdp-gnd-trans-start-time ---
          tr
            th Suspended
            td
              span.cfdp-gnd-trans-suspended ---
          tr
            th Temp File Name
            td
              span.cfdp-gnd-trans-temp-file-name ---
          tr
            th Condition Code
            td
              span.cfdp-gnd-trans-condition-code ---
          tr
            th Delivery Code
            td
              span.cfdp-gnd-trans-delivery-code ---
              
          tr
            th Final Status
            td
              span.cfdp-gnd-trans-final-status ---
          tr
            th Role
            td
              span.cfdp-gnd-trans-role ---
          tr
            th State
            td
              span.cfdp-gnd-trans-state ---
    br
    header
      span.widget-icon
        i.fa.fa-table
      h2 CFDP Ground Transaction Status - MD
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'150px'}) Destination File Name
            td
              span.cfdp-gnd-trans-md-dst-file-name ---
          tr
            th File Size
            td
              span.cfdp-gnd-trans-md-file-size ---
          tr
            th File Transfer
            td
              span.cfdp-gnd-trans-md-file-transfer ---
          tr
            th Segmentation Control
            td
              span.cfdp-gnd-trans-md-seg-ctl ---
          tr
            th Source File Name
            td
              span.cfdp-gnd-trans-md-src-file-name ---      
    footer
      button.btn.btn-primary( data-toggle="modal" data-target="#genericInputModal" data-title="Get Transaction Status" data-submit="GetTransStatus" data-custom='[{"label":"Entity ID", "type":"field", "dtype":"text"},{"label":"Transaction Value", "type":"field", "dtype":"integer"}]') Get Transaction Status
script.
  if(GetTransStatus == undefined){
    function GetTransStatus(){
      var args = {};
      var labels = $( "#genericInputModal" ).find( 'label' );
      for ( var i = 0; i < labels.length; ++i ) {
        var label = labels[ i ].textContent;
        var value = labels[ i ].control.value;
        args[ label ] = value;
      }
      session.cfdpAPI('REG_TRANS_STATUS_CB',null,(data)=>{
        if(typeof(data)=='object'){
          $('.cfdp-gnd-trans-abandoned').text(data.abandoned);
          $('.cfdp-gnd-trans-attempts').text(data.attempts);
          $('.cfdp-gnd-trans-cancelled').text(data.cancelled);
          $('.cfdp-gnd-trans-exter-file-xfer').text(data.external_file_xfer);
          $('.cfdp-gnd-trans-fd-offset').text(data.fd_offset);
          $('.cfdp-gnd-trans-fd-length').text(data.fd_length);      
          $('.cfdp-gnd-trans-file-checksum-calculated').text(data.file_checksum_as_calculated);
          $('.cfdp-gnd-trans-finished').text(data.finished);
          $('.cfdp-gnd-trans-frozen').text(data.frozen);
          $('.cfdp-gnd-trans-has-md-been-received').text(data.has_md_been_received);
          $('.cfdp-gnd-trans-how-many-naks').text(data.how_many_naks);
          $('.cfdp-gnd-trans-is-this-trans-solely-for-ack-fin').text(data.is_this_trans_solely_for_ack_fin);
          $('.cfdp-gnd-trans-phase').text(data.phase);
          $('.cfdp-gnd-trans-recv-file-size').text(data.received_file_size);
          $('.cfdp-gnd-trans-start-time').text(data.start_time);
          $('.cfdp-gnd-trans-suspended').text(data.suspended);
          $('.cfdp-gnd-trans-temp-file-name').text(data.temp_file_name);
          $('.cfdp-gnd-trans-condition-code').text(data.condition_code);
          $('.cfdp-gnd-trans-delivery-code').text(data.delivery_code);
          $('.cfdp-gnd-trans-final-status').text(data.final_status);
          $('.cfdp-gnd-trans-role').text(data.role);
          $('.cfdp-gnd-trans-state').text(data.state);
          
          $('.cfdp-gnd-trans-md-dst-file-name').text(data.md.dest_file_name);
          $('.cfdp-gnd-trans-md-file-size').text(data.md.file_size + ' bytes');
          $('.cfdp-gnd-trans-md-file-transfer').text(data.md.file_transfer);
          $('.cfdp-gnd-trans-md-seg-ctl').text(data.md.segmentation_control);
          $('.cfdp-gnd-trans-md-src-file-name').text(data.md.source_file_name);
        }
      });
      session.cfdpAPI('GET_TRANS_STATUS',[parseInt(args['Transaction Value']),args['Entity ID']],(data)=>{
        if ( data.msg == 'SUCCESS' ) {
          cu.logInfo( 'Succesfully requested trans status:');
        } else {
          cu.logError( 'Unable request trans status' );
        }
      });
    }
  } 
