.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CFDP Ground Control
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'150px'}) Are Any Partners Frozen
            td
              span.cfdp-gnd-are-any-partners-frozen ---
          tr
            th How Many Frozen
            td
              span.cfdp-gnd-how-many-frozen ---
          tr
            th How Many Receivers
            td
              span.cfdp-gnd-how-many-receivers ---
          tr
            th How Many Senders
            td
              span.cfdp-gnd-how-many-senders ---
          tr
            th How Many Suspended
            td
              span.cfdp-gnd-how-many-suspended ---
          tr
            th Total Files Received
            td
              span.cfdp-gnd-total-files-received ---
          tr
            th Total Files Sent
            td
              span.cfdp-gnd-total-files-sent ---
          tr
            th Total Unsuccessful Receivers
            td
              span.cfdp-gnd-total-unsuccessful-receivers ---
          tr
            th Total Unsuccessful Senders
            td
              span.cfdp-gnd-total-unsuccessful-senders ---
    footer
      button.btn.btn-primary.cfdp-grnd-get-status(data-loaded="false") Get Status
      button.btn.btn-primary.cfdp-grnd-send-file( data-toggle="modal" data-target="#genericInputModal" data-title="Send File" data-submit="SendFileToSpc" data-custom='[{"label":"Class", "type":"field", "dtype":"text"},{"label":"Entity ID", "type":"field", "dtype":"text"},{"label":"Source", "type":"field", "dtype":"text"},{"label":"Destination", "type":"field", "dtype":"text"}]')  Send File From Ground
      button.btn.btn-primary(data-cdr={cmd: {name: '/CF/CF_PlaybackFileCmd_t'},indicator:'cmd'}) Recv File To Ground

script.
  
  $('.cfdp-grnd-get-status').each(function(){
    if($(this).data('loaded')==false){
      $(this).on('click',()=>{
        session.cfdpAPI('GET_SUMMARY_STATUS',null,(data)=>{
          if(data.msg == 'SUCCESS'){
            $('.cfdp-gnd-are-any-partners-frozen').text(data.value.are_any_partners_frozen);
            $('.cfdp-gnd-how-many-frozen').text(data.value.how_many_frozen);
            $('.cfdp-gnd-how-many-receivers').text(data.value.how_many_receivers);
            $('.cfdp-gnd-how-many-senders').text(data.value.how_many_senders);
            $('.cfdp-gnd-how-many-suspended').text(data.value.how_many_suspended);
            $('.cfdp-gnd-total-files-received').text(data.value.total_files_received);
            $('.cfdp-gnd-total-files-sent').text(data.value.total_files_sent);
            $('.cfdp-gnd-total-unsuccessful-receivers').text(data.value.total_unsuccessful_receivers);
            $('.cfdp-gnd-total-unsuccessful-senders').text(data.value.total_unsuccessful_senders);          
          }
        })
      });
    }
  });
    
  if(SendFileToSpc == undefined){
    function SendFileToSpc(){
      var args = {};
      var labels = $( "#genericInputModal" ).find( 'label' );
      for ( var i = 0; i < labels.length; ++i ) {
        var label = labels[ i ].textContent;
        var value = labels[ i ].control.value;
        args[ label ] = value;
      }
      session.cfdpAPI('SEND_FROM_GND',[parseInt(args['Class']),args['Entity ID'],args['Source'],args['Destination']],(data)=>{
        if ( data.msg == 'SUCCESS' ) {
          cu.logInfo( 'Succesfully sent file: '+args['Source'] );
        } else {
          cu.logError( 'Unable to send file: '+args['Source'] );
        }
      });
    }
  }  
