
  .row.row-fluid
    article.col-xs-6.col-sm-5.col-md-4.col-lg-2
      #wid-CF-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'}) Cmd Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/CmdCounter'}]}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/ErrCounter'}]}) ---
            footer
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/NoOp'}}) No-Op
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/Reset'}}) Reset

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 App
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Wakeup for File Proc
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_WakeupForFileProc'}]}) ---
                  tr
                    th Engine Cycle Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_EngineCycleCount'}]}) ---
                  tr
                    th Q Nodes Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_QnodesAllocated'}]}) ---
                  tr
                    th Q Nodes Deallocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_QnodesDeallocated'}]}) ---
                  tr
                    th PDUs Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_PDUsReceived'}]}) ---
                  tr
                    th PDUs Rejected
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_PDUsRejected'}]}) ---
                  tr
                    th Total In Prog Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalInProgTrans'}]}) ---
                  tr
                    th Total Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalFailedTrans'}]}) ---
                  tr
                    th Total Abandon Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalAbandonTrans'}]}) ---
                  tr
                    th Total Success Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalSuccessTrans'}]}) ---
                  tr
                    th Total Completed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalCompletedTrans'}]}) ---
                  tr
                    th Last Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_LastFailedTrans'}]}) ---
                  tr
                    th Auto Suspend Enabled
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_Enable'}]}) ---
                  tr
                    th Auto Suspend Low Free Mark
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_LowFreeMark'}]}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Commands
                  span.caret
                ul#MiscCommands.dropdown-menu(role='menu')
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackFile'}}, href='javascript:void(0);') Playback File
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackDir'}}, href='javascript:void(0);') Playback Dir
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Freeze'}}, href='javascript:void(0);') Freeze
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Thaw'}}, href='javascript:void(0);') Thaw
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Suspend'}}, href='javascript:void(0);') Suspend
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Resume'}}, href='javascript:void(0);') Resume
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Cancel'}}, href='javascript:void(0);') Cancel
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Abandon'}}, href='javascript:void(0);') Abandon
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetMIBParam'}}, href='javascript:void(0);') Set MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GetMIBParam'}}, href='javascript:void(0);') Get MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'}}, href='javascript:void(0);') Send Trans Diag Data
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetPollParam'}}, href='javascript:void(0);') Set Poll Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'}}, href='javascript:void(0);') Send Cfg Params
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteQueueInfo'}}, href='javascript:void(0);') Write Queue Info
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDequeue'}}, href='javascript:void(0);') Enable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDequeue'}}, href='javascript:void(0);') Disable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDirPolling'}}, href='javascript:void(0);') Enable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDirPolling'}}, href='javascript:void(0);') Disable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DeleteQueueNode'}}, href='javascript:void(0);') Delete Queue Node
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PurgeQueue'}}, href='javascript:void(0);') Purge Queue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteActiveTrans'}}, href='javascript:void(0);') Write Active Trans
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Kickstart'}}, href='javascript:void(0);') Kickstart
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/QuickStatus'}}, href='javascript:void(0);') Quick Status
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GiveTake'}}, href='javascript:void(0);') Give / Take
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnaDisAutoSuspend'}}, href='javascript:void(0);') Ena/Dis Auto Suspend


    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Cond.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cond
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Pos Ack Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_PosAckNum'}]}) ---
                  tr
                    th File Store Rej Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileStoreRejNum'}]}) ---
                  tr
                    th File Checksum Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileChecksumNum'}]}) ---
                  tr
                    th File Size Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileSizeNum'}]}) ---
                  tr
                    th NAK Limit Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_NakLimitNum'}]}) ---
                  tr
                    th Inactive Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_InactiveNum'}]}) ---
                  tr
                    th Suspend Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_SuspendNum'}]}) ---
                  tr
                    th Cancel Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_CancelNum'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Up.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Up
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Meta Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_MetaCount'}]}) ---
                  tr
                    th Uplink Active QFile Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_UplinkActiveQFileCnt'}]}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_SuccessCounter'}]}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_FailedCounter'}]}) ---
                  tr
                    th Last File Uplinked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_FailedCounter'}]}) ---


    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Engine.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Engine
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Entity ID
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FlightEngineEntityId'}]}) ---
                  tr
                    th Seg Control
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_SegControl'}]}) ---
                  tr
                    th File Transfer
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_FileTransfer'}]}) ---
                  tr
                    th Suspended
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Suspended'}]}) ---
                  tr
                    th Ack Fin Only
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_AckFinOnly'}]}) ---
                  tr
                    th MD Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_MDReceived'}]}) ---
                  tr
                    th Frozen
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Frozen'}]}) ---
                  tr
                    th Finished
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Finished'}]}) ---
                  tr
                    th Ext File Xfer
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_ExtFileXfer'}]}) ---
                  tr
                    th Cancelled
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Cancelled'}]}) ---
                  tr
                    th Abandoned
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Abandoned'}]}) ---
                  tr
                    th Machines Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_MachinesAllocated'}]}) ---
                  tr
                    th Machines Deallocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_MachinesDeallocated'}]}) ---
                  tr
                    th Frozen Partners?
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_AreAnyPartnersFrozen'}]}) ---
                  tr
                    th Sender Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManySenders'}]}) ---
                  tr
                    th Receiver Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManyReceivers'}]}) ---
                  tr
                    th Frozen Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManyFrozen'}]}) ---
                  tr
                    th Suspended Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManySuspended'}]}) ---
                  tr
                    th Files Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesSent'}]}) ---
                  tr
                    th Files Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesReceived'}]}) ---
                  tr
                    th Unsuccessful Senders
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesReceived'}]}) ---
                  tr
                    th Unsuccessful Receivers
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalUnsuccessfulReceivers'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Channel0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Channel 0
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) PDUs Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PDUsSent'}]}) ---
                  tr
                    th FilesSent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_FilesSent'}]}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_SuccessCounter'}]}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_FailedCounter'}]}) ---
                  tr
                    th Pending Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PendingQFileCnt'}]}) ---
                  tr
                    th Active Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_ActiveQFileCnt'}]}) ---
                  tr
                    th History Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_HistoryQFileCnt'}]}) ---
                  tr
                    th Dequeue
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_Flags_Dequeue'}]}) ---
                  tr
                    th Blast
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_Flags_Blast'}]}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_RedLightCntr'}]}) ---
                  tr
                    th Green Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_GreenLightCntr'}]}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_RedLightCntr'}]}) ---
                  tr
                    th Poll Dirs Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PollDirsChecked'}]}) ---
                  tr
                    th Pending Q Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PendingQChecked'}]}) ---
                  tr
                    th Sem Value
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_SemValue'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Channel1.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Channel 1
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) PDUs Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PDUsSent'}]}) ---
                  tr
                    th FilesSent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_FilesSent'}]}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_SuccessCounter'}]}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_FailedCounter'}]}) ---
                  tr
                    th Pending Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PendingQFileCnt'}]}) ---
                  tr
                    th Active Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_ActiveQFileCnt'}]}) ---
                  tr
                    th History Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_HistoryQFileCnt'}]}) ---
                  tr
                    th Dequeue
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_Flags_Dequeue'}]}) ---
                  tr
                    th Blast
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_Flags_Blast'}]}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_RedLightCntr'}]}) ---
                  tr
                    th Green Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_GreenLightCntr'}]}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_RedLightCntr'}]}) ---
                  tr
                    th Poll Dirs Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PollDirsChecked'}]}) ---
                  tr
                    th Pending Q Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PendingQChecked'}]}) ---
                  tr
                    th Sem Value
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_SemValue'}]}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Cfg.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Config
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Eng Cyc Per Wakeup
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_EngCycPerWakeup'}]}) ---
                  tr
                    th Ack Limit
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_AckLimit'}]}) ---
                  tr
                    th Ack Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_AckTimeout'}]}) ---
                  tr
                    th Nak Limit
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NakLimit'}]}) ---
                  tr
                    th Nak Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NakTimeout'}]}) ---
                  tr
                    th Inact Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_InactTimeout'}]}) ---
                  tr
                    th Def Outgoing Chunk Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DefOutgoingChunkSize'}]}) ---
                  tr
                    th Pipe Depth
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_PipeDepth'}]}) ---
                  tr
                    th Max Simultaneous Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxSimultaneousTrans'}]}) ---
                  tr
                    th Incoming PDU Buf Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_IncomingPduBufSize'}]}) ---
                  tr
                    th Outgoing PDU Buf Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_OutgoingPduBufSize'}]}) ---
                  tr
                    th Num Input Channels
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NumInputChannels'}]}) ---
                  tr
                    th Max Playback Chans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxPlaybackChans'}]}) ---
                  tr
                    th Max Polling Dirs Per Chan
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxPollingDirsPerChan'}]}) ---
                  tr
                    th Mem Pool Bytes
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MemPoolBytes'}]}) ---
                  tr
                    th Debug Compiled In
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DebugCompiledIn'}]}) ---
                  tr
                    th Save Incomplete Files
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_SaveIncompleteFiles'}]}) ---
                  tr
                    th Pipe Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_PipeName'}]}) ---
                  tr
                    th Tmp File Prefix
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_TmpFilePrefix'}]}) ---
                  tr
                    th Cfg Tbl Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_CfgTblName'}]}) ---
                  tr
                    th Cfg Tbl File Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_CfgTbleFilename'}]}) ---
                  tr
                    th Def Q Info File Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DefQInfoFilename'}]}) ---
            footer
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'}}) Send Config

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-TransDiag.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Trans Diag
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Eng Trans Len
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransLen'}]}) ---
                  tr
                    th Eng Trans Val
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransVal'}]}) ---
                  tr
                    th Eng Naks
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Naks'}]}) ---
                  tr
                    th Eng Part Len
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_PartLen'}]}) ---
                  tr
                    th Eng Part Val
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_PartVal'}]}) ---
                  tr
                    th Eng Phase
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Phase'}]}) ---
                  tr
                    th Eng Frozen
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Frozen'}]}) ---
                  tr
                    th Eng Trans Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransNum'}]}) ---
                  tr
                    th Eng Attempts
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Attempts'}]}) ---
                  tr
                    th Eng Cond Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_CondCode'}]}) ---
                  tr
                    th Eng Deli Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_DeliCode'}]}) ---
                  tr
                    th Eng Fd Offset
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FdOffset'}]}) ---
                  tr
                    th Eng Fd Length
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FdLength'}]}) ---
                  tr
                    th Eng Checksum
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Checksum'}]}) ---
                  tr
                    th Eng Final Stat
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FinalStat'}]}) ---
                  tr
                    th Eng File Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FileSize'}]}) ---
                  tr
                    th ENg Rcvd File Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_RcvdFileSize'}]}) ---
                  tr
                    th Eng Role
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Role'}]}) ---
                  tr
                    th Eng State
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_State'}]}) ---
                  tr
                    th Eng Start Time
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_StartTime'}]}) ---
                  tr
                    th Eng Src File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_SrcFile'}]}) ---
                  tr
                    th Eng Dst File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_DstFile'}]}) ---
                  tr
                    th Eng Tmp File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TmpFile'}]}) ---
                  tr
                    th App Status
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Status'}]}) ---
                  tr
                    th App Cond Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_CondCode'}]}) ---
                  tr
                    th App Priority
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Priority'}]}) ---
                  tr
                    th App Class
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Class'}]}) ---
                  tr
                    th App Chan Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_ChanNum'}]}) ---
                  tr
                    th App Source
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Source'}]}) ---
                  tr
                    th App Node Type
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_NodeType'}]}) ---
                  tr
                    th App Trans Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_TransNum'}]}) ---
                  tr
                    th App Src Entity ID
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_SrcEntityId'}]}) ---
                  tr
                    th App Src File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_SrcFile'}]}) ---
                  tr
                    th App Dst File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_DstFile'}]}) ---
            footer
              button.btn.btn-primary(data-placement='top' data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'}}) Send Trans Diag
    
  .row
    +app_specific_event_filters("CF")

    article.col-xs-11.col-sm-6.col-md-5.col-lg-4(style='width:350px')
      #wid-CFE-SB-Memory.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Memory
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Memory in Use
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MemInUse'}]}) ---
                  tr
                    th Peak Memory in Use
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_PeakMemInUse'}]}) ---
                  tr
                    th Low Memory Mark
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_LowMemoryMark'}]}) ---
                  tr
                    th Max Memory Needed
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MaxMemNeeded'}]}) ---
                  tr
                    th Memory Allocated
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MemAllocated'}]}) ---
                                        
  .row
    +app_specific_telemetry_control("CF")
            
  .row          
    +app_specific_mempools("CF")
    
  .row
    +app_specific_application_control("CF") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("CF")
    
  .row
    +app_specific_scheduler_control("CF")
  