table.table.table-condensed
  tbody
    tr
      th Memory in Use
      td
        span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MemInUse'}]}) ---
    tr
      th Peak Memory in Use
      td
        span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.PeakMemInUse'}]}) ---
    tr
      th Low Memory Mark
      td
        span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.LowMemoryMark'}]}) ---
    tr
      th Max Memory Needed
      td
        span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MaxMemNeeded'}]}) ---
    tr
      th Memory Allocated
      td
        span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MemAllocated'}]}) ---
                                