table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Eng Trans Len
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransLen'}]}) ---
    tr
      th Eng Trans Val
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransVal'}]}) ---
    tr
      th Eng Naks
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Naks'}]}) ---
    tr
      th Eng Part Len
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.PartLen'}]}) ---
    tr
      th Eng Part Val
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.PartVal'}]}) ---
    tr
      th Eng Phase
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Phase'}]}) ---
    tr
      th Eng Flags
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Flags'}]}) ---
    tr
      th Eng Trans Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransNum'}]}) ---
    tr
      th Eng Attempts
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Attempts'}]}) ---
    tr
      th Eng Cond Code
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.CondCode'}]}) ---
    tr
      th Eng Deli Code
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.DeliCode'}]}) ---
    tr
      th Eng Fd Offset
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FdOffset'}]}) ---
    tr
      th Eng Fd Length
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FdLength'}]}) ---
    tr
      th Eng Checksum
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Checksum'}]}) ---
    tr
      th Eng Final Stat
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FinalStat'}]}) ---
    tr
      th Eng File Size
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FileSize'}]}) ---
    tr
      th ENg Rcvd File Size
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.RcvdFileSize'}]}) ---
    tr
      th Eng Role
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Role'}]}) ---
    tr
      th Eng State
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.State'}]}) ---
    tr
      th Eng Start Time
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.StartTime'}]}) ---
    tr
      th Eng Src File
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.SrcFile'}]}) ---
    tr
      th Eng Dst File
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.DstFile'}]}) ---
    tr
      th Eng Tmp File
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TmpFile'}]}) ---
    tr
      th App Status
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Status'}]}) ---
    tr
      th App Cond Code
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.CondCode'}]}) ---
    tr
      th App Priority
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Priority'}]}) ---
    tr
      th App Class
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Class'}]}) ---
    tr
      th App Chan Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.ChanNum'}]}) ---
    tr
      th App Source
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Source'}]}) ---
    tr
      th App Node Type
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.NodeType'}]}) ---
    tr
      th App Trans Num
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.TransNum'}]}) ---
    tr
      th App Src Entity ID
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.SrcEntityId'}]}) ---
    tr
      th App Src File
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.SrcFile'}]}) ---
    tr
      th App Dst File
      td
        span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.DstFile'}]}) ---

footer
      button.btn.cdr-primary(data-placement='top' data-cdr={cmd: {name: '/CF/CF_SendTransCmd_t'}}) Send Trans Diag