.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Transaction Diagnostics
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Eng Trans Len
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransLen'}],indicator:'text'}) ---
          tr
            th Eng Trans Val
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransVal'}],indicator:'text'}) ---
          tr
            th Eng Naks
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Naks'}],indicator:'text'}) ---
          tr
            th Eng Part Len
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.PartLen'}],indicator:'text'}) ---
          tr
            th Eng Part Val
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.PartVal'}],indicator:'text'}) ---
          tr
            th Eng Phase
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Phase'}],indicator:'text'}) ---
          tr
            th Eng Flags
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Flags'}],indicator:'text'}) ---
          tr
            th Eng Trans Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TransNum'}],indicator:'text'}) ---
          tr
            th Eng Attempts
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Attempts'}],indicator:'text'}) ---
          tr
            th Eng Cond Code
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.CondCode'}],indicator:'text'}) ---
          tr
            th Eng Deli Code
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.DeliCode'}],indicator:'text'}) ---
          tr
            th Eng Fd Offset
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FdOffset'}],indicator:'text'}) ---
          tr
            th Eng Fd Length
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FdLength'}],indicator:'text'}) ---
          tr
            th Eng Checksum
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Checksum'}],indicator:'text'}) ---
          tr
            th Eng Final Stat
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FinalStat'}],indicator:'text'}) ---
          tr
            th Eng File Size
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.FileSize'}],indicator:'text'}) ---
          tr
            th ENg Rcvd File Size
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.RcvdFileSize'}],indicator:'text'}) ---
          tr
            th Eng Role
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.Role'}],indicator:'text'}) ---
          tr
            th Eng State
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.State'}],indicator:'text'}) ---
          tr
            th Eng Start Time
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.StartTime'}],indicator:'text'}) ---
          tr
            th Eng Src File
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.SrcFile'}],indicator:'text'}) ---
          tr
            th Eng Dst File
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.DstFile'}],indicator:'text'}) ---
          tr
            th Eng Tmp File
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/Eng.TmpFile'}],indicator:'text'}) ---
          tr
            th App Status
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Status'}],indicator:'text'}) ---
          tr
            th App Cond Code
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.CondCode'}],indicator:'text'}) ---
          tr
            th App Priority
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Priority'}],indicator:'text'}) ---
          tr
            th App Class
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Class'}],indicator:'text'}) ---
          tr
            th App Chan Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.ChanNum'}],indicator:'text'}) ---
          tr
            th App Source
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.Source'}],indicator:'text'}) ---
          tr
            th App Node Type
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.NodeType'}],indicator:'text'}) ---
          tr
            th App Trans Num
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.TransNum'}],indicator:'text'}) ---
          tr
            th App Src Entity ID
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.SrcEntityId'}],indicator:'text'}) ---
          tr
            th App Src File
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.SrcFile'}],indicator:'text'}) ---
          tr
            th App Dst File
            td
              span(data-cdr={tlm: [{name: '/CF/CF_TransPacket_t/App.DstFile'}],indicator:'text'}) ---
    footer
      button.btn.btn-primary(data-placement='top' data-cdr={cmd: {name: '/CF/CF_SendTransCmd_t'},indicator:'cmd'}) Send Trans Diag