table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Meta Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.MetaCount'}]}) ---
    tr
      th Uplink Active QFile Cnt
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.UplinkActiveQFileCnt'}]}) ---
    tr
      th Success Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.SuccessCounter'}]}) ---
    tr
      th Failed Counter
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.FailedCounter'}]}) ---
    tr
      th Last File Uplinked
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.FailedCounter'}]}) ---
