.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Uplink
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Meta Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.MetaCount'}],indicator:'text'}) ---
          tr
            th Uplink Active QFile Cnt
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.UplinkActiveQFileCnt'}],indicator:'text'}) ---
          tr
            th Success Counter
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.SuccessCounter'}],indicator:'text'}) ---
          tr
            th Failed Counter
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.FailedCounter'}],indicator:'text'}) ---
          tr
            th Last File Uplinked
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Up.FailedCounter'}],indicator:'text'}) ---
