extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Limit Checker

block main
  style.
    table.table-results th:nth-of-type(1) {width:20px; overflow:hidden;} 
    table.table-results td:nth-of-type(1) {width:50px; overflow:hidden;}
    table.table-results td:nth-of-type(2) {width:50px; overflow:hidden;}
  
  .row
      article.col-xs-12.col-sm-12.col-md-6.col-lg-4
        #wid-LC-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Cmd and Data
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm:{name:'/CFS/LC/CmdCounter'}}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm:{name:'/CFS/LC/ErrCounter'}}) ---
                    tr
                      th LC State
                      td
                        span(style='width: 60px; display:inline-block;', data-sage={tlm:{name:'/CFS/LC/CurrentLCState'}}) ---
                        .btn-group
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/LC/SetLCState'}}) Disabled
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/LC/SetLCState'}}) Passive
                          button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/LC/SetLCState'}}) Active
              footer
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/LC/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/LC/Reset'}}) Reset
                                              
  .row          
    +app_specific_mempools("LC")
    
  .row
    +app_specific_application_control("LC") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("LC")
                                       