style.
  .wdg-label{
    float:left;
    margin-right:10px;
  }
  .wdg-down-duration-value{
    float:right;
  }

div.wdg-throughput
  div.wdg-label Throughput 
  div.wdg-down-duration-value -

script.
  var sparkLineOptions = {
    width: 30,
    height: 20,
    startColor: 'transperant',
    maxColor: 'red',
    minColor: 'green',
  }

  $('.wdg-down-duration-value').toArray().forEach((wdgFlot)=>{
      
      
      if($(wdgFlot).attr('sparklineIndex') == undefined | $(wdgFlot).attr('sparklineIndex') == null){
        var index = sparklineIndex.push(new Sparkline(wdgFlot,sparkLineOptions)) - 1;
        $(wdgFlot).attr('sparklineIndex',index);
      }

    });
    
  if(cdrPerfDataDOWN == undefined | cdrPerfDataDOWN == null ){
    var cdrPerfDataDOWN = [];
  }
    
    
  if( WdgPerformanceDownInterval == undefined){

    
    var WdgPerformanceDownInterval = setInterval( () => {
      
      
      try{
        
        var sizeTransfered_Accumulated = 0;
        
        var entries = performance.getEntries( {
          "initiatorType": "xmlhttprequest"
        } );
        for ( var i in entries ) {
          try {
            if(typeof entries[ i ].transferSize == 'number'){
              sizeTransfered_Accumulated +=  entries[ i ].transferSize;
            }
          } catch ( e ) {
            cu.logError( 'cdrThroughput | error calculating performance' )
          }
        }
        
        cdrPerfDataDOWN.push( sizeTransfered_Accumulated / entries.length )
        if ( cdrPerfDataDOWN.length == 30 ) {
          cdrPerfDataDOWN.splice( 0, 1 );
        }

        
      }
      catch(e){
        cu.logError('Widget | session connection widget errored out');
      }
      
      $('.wdg-down-duration-value').toArray().forEach((wdgFlot)=>{
          sparklineIndex[$(wdgFlot).attr('sparklineIndex')].draw(cdrPerfDataDOWN);
        });
      
      /* performance.clearResourceTimings(); */
    }, 1000 );
    
    
    
    widgetIntervalCollection.push({
      interval:WdgPerformanceDownInterval,
      bindclass:'wdg-down-duration-value'
      })
  }

  if( WdgPerformanceInterval == undefined){
    var WdgPerformanceInterval = setInterval(()=>{
        
        performance.clearResourceTimings();
      
      },10000);
    widgetIntervalCollection.push({
      interval:WdgPerformanceInterval,
      bindclass:'wdg-throughput'
      })
  }
