style.
  .wdg-label{
    float:left;
    margin-right:10px;
  }
  .wdg-up-duration-value{
    float:right;
  }

div.wdg-throughput
  div.wdg-label Latency 
  div.wdg-up-duration-value -

script.
  var sparkLineOptions = {
    width: 30,
    height: 20,
    startColor: 'transperant',
    maxColor: 'red',
    minColor: 'green',
  }

  $('.wdg-up-duration-value').toArray().forEach((wdgFlot)=>{
      
      
      if($(wdgFlot).attr('sparklineIndex') == undefined | $(wdgFlot).attr('sparklineIndex') == null){
        var index = sparklineIndex.push(new Sparkline(wdgFlot,sparkLineOptions)) - 1;
        $(wdgFlot).attr('sparklineIndex',index);
      }

    });
    
  if(cdrPerfDataUP == undefined | cdrPerfDataUP == null ){
    var cdrPerfDataUP = [];
  }
    
    
  if( WdgPerformanceUpInterval == undefined){

    
    var WdgPerformanceUpInterval = setInterval( () => {
      
      try{
        
        var duration_Accumulated = 0;
        
        var entries = performance.getEntries( {
          "initiatorType": "xmlhttprequest"
        } );
        
        for ( var i in entries ) {
          try {
            duration_Accumulated += entries[ i ].duration;
          } catch ( e ) {
            cu.logError( 'cdrThroughput | error calculating performance' )
          }
        }
        
        cdrPerfDataUP.push( duration_Accumulated / entries.length )
        if ( cdrPerfDataUP.length == 10 ) {
          cdrPerfDataUP.splice( 0, 1 );
        }

        
      }
      catch(e){
        cu.logError('Widget | session connection widget errored out');
      }
      
      $('.wdg-up-duration-value').toArray().forEach((wdgFlot)=>{
          sparklineIndex[$(wdgFlot).attr('sparklineIndex')].draw(cdrPerfDataUP);
        });
      
      /* performance.clearResourceTimings(); */
    }, 1000 );
    
    
    
    widgetIntervalCollection.push({
      interval:WdgPerformanceUpInterval,
      bindclass:'wdg-up-duration-value'
      })
  }
  
  if( WdgPerformanceInterval == undefined){
    var WdgPerformanceInterval = setInterval(()=>{
        
        performance.clearResourceTimings();
      
      },10000);
    widgetIntervalCollection.push({
      interval:WdgPerformanceInterval,
      bindclass:'wdg-throughput'
      })
  }
