style.
  .wdg-time{
    display:block;
  }
  .wdg-time > div{
    padding: 0px 5px;
  }
  .wdg-label{
    float:left;
  }
  .wdg-clk-value{
    float:right;
  }

div.wgd-time
  div.wdg-clk-value -

script.
  if( WdgClockInterval == undefined){
    var WdgClockInterval = setInterval( () => {
      try{
        var d = new Date();
        $( '.wdg-clk-value' ).text( "  "+d.toLocaleString() );
      }
      catch(e){
        cu.logError('Widget | clock errored out');
      }
    }, 1000 );
    widgetIntervalCollection.push({
      interval:WdgClockInterval,
      bindclass:'wdg-clk-value'
      })
  }
