style.
  .wdg-timer{
    display:block;
  }
  .wdg-timer > div{
    padding: 0px 5px;
  }
  .wdg-label{
    float:left;
    margin-right: 10px;
  }
  .wdg-timer-value{
    float:right;
  }

div.wgd-timer
  div.wdg-label Timer 
  div.wdg-timer-value(data-sec=0 data-min=0 data-hr=0) -

script.
  if( WdgTimerInterval == undefined){
    
    var WdgTimerInterval = setInterval( () => {
      try{
        $( '.wdg-timer-value' ).toArray().forEach((tmrwdg)=>{
          var sec = $(tmrwdg).data('sec');
          var min = $(tmrwdg).data('min');
          var hr = $(tmrwdg).data('hr');
          
          if(sec < 59){
            sec += 1
          }else{
            sec = 0
            if(min < 59){
              min += 1
            }else{
              min = 0
              hr + 1
            }
          }
          
          $(tmrwdg).data('sec',sec);
          $(tmrwdg).data('min',min);
          $(tmrwdg).data('hr',hr);
          var time = hr + " hr : " + min + " min : " + sec + " s";
          $(tmrwdg).text( "  "+time );
          })
      }
      catch(e){
        cu.logError('Widget | timer errored out');
      }
    }, 1000 );
    widgetIntervalCollection.push({
      interval:WdgTimerInterval,
      bindclass:'wdg-timer-value'
      })
  }
