extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4 - LED Control

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_LED_CONTROL_MID'}])

    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-LC.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 LED Control
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_Timestamp"}]}) ---
                    tr
                      th Mask:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_LedMask"}]}) ---
                    tr
                      th Color:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_Color"}]}) ---
                    tr
                      th Mode:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_Mode"}]}) ---
                    tr
                      th Number of Blinks:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_NumBlinks"}]}) ---
                    tr
                      th Priority:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/LC_Priority"}]}) ---
                        
    style.
      .container {
        background-size: cover;
        background: rgb(226,226,226); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
        padding: 20px;
      }
		
      .led-box {
        height: 30px;
        width: 25%;
        margin: 10px 0;
        float: left;
      }
		
      .led-box p {
        font-size: 12px;
        text-align: center;
        margin: 1em;
      }
		
      .led-blink-fast {
        -webkit-animation: blink 0.2s infinite;
        -moz-animation: blink 0.2s infinite;
        -ms-animation: blink 0.2s infinite;
        -o-animation: blink 0.2s infinite;
        animation: blink 0.2s infinite;
        transition-timing-function: ease-in-out;
      }
		
      .led-blink-normal {
        -webkit-animation: blink 0.5s infinite;
        -moz-animation: blink 0.5s infinite;
        -ms-animation: blink 0.5s infinite;
        -o-animation: blink 0.5s infinite;
        animation: blink 0.5s infinite;
        transition-timing-function: ease-in-out;
      }
		
      .led-blink-slow {
        -webkit-animation: blink 1.0s infinite;
        -moz-animation: blink 1.0s infinite;
        -ms-animation: blink 1.0s infinite;
        -o-animation: blink 1.0s infinite;
        animation: blink 1.0s infinite;
        transition-timing-function: ease-in-out;
      }
		
      .led-breathe {
        -webkit-animation: breathe 5.0s infinite;
        -moz-animation: breathe 5.0s infinite;
        -ms-animation: breathe 5.0s infinite;
        -o-animation: breathe 5.0s infinite;
        animation: breathe 5.0s infinite;
        transition-timing-function: ease-in-out;
      }
		
      @-webkit-keyframes blink {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-moz-keyframes blink {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-ms-keyframes blink {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-o-keyframes blink {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @keyframes blink {
        from { }
        50% { background-color: #000;}
        to {}
      }
      
		
      @-webkit-keyframes breathe {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-moz-keyframes breathe {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-ms-keyframes breathe {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @-o-keyframes breathe {
        from { }
        50% { background-color: #000;}
        to {}
      }
      @keyframes breathe {
        from { }
        50% { background-color: #000;}
        to {}
      }
		
      .led {
        margin: 0 auto;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
		
      .led-off {
        background-color: #000000;
      }
		
      .led-red {
        background-color: #ff0000;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #441313 0 2px 14px;
      }
		
      .led-green {
        background-color: #00ff00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #1c491c 0 2px 14px;
      }
		
      .led-blue {
        background-color: #0000ff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #0f0f33 0 2px 14px;
      }
		
      .led-amber {
        background-color: #ff8000;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #664416 0 2px 14px;
      }
		
      .led-yellow {
        background-color: #ffff00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #60601a 0 2px 14px;
      }
		
      .led-purple {
        background-color: #ff00ff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #602260 0 2px 14px;
      }
		
      .led-cyan {
        background-color: #00ffff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #175151 0 2px 14px;
      }
		
      .led-white {
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #565656 0 2px 14px;
      }

    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-LED.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 LED
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
                .led-box
                  #LED.led.led-off

    script.
      
      session.subscribe({
        homogeneity: {tolerance: 0},
        tlm: [
          {name: '/CFS/PX4/LC_Color'},
          {name: '/CFS/PX4/LC_Mode'},
          {name: '/CFS/PX4/LC_LedMask'},
          {name: '/CFS/PX4/LC_NumBlinks'},
          {name: '/CFS/PX4/LC_Priority'}
        ]}, 
        function (params) {
          var ledColor = params[0].engValue.stringValue;
          var ledMode = params[1].engValue.stringValue;
          var ledLedMask = params[2].engValue.uint32Value;
          var ledNumBlinks = params[3].engValue.uint32Value;
          var ledPriority = params[4].engValue.uint32Value;
          
          ResetLED($('#LED'));
          
          switch(ledMode){
            case 'OFF': {
              SetLEDColor($('#LED'), 'OFF');
              break;
            }
              
            case 'ON': {
              SetLEDColor($('#LED'), ledColor);
              break;
            }
            
            case 'DISABLED': {
              SetLEDColor($('#LED'), 'OFF');
              break;
            }
            
            case 'BLINK_SLOW': {
              SetLEDColor($('#LED'), ledColor);
              $('#LED').addClass('led-blink-slow');
              break;
            }
            
            case 'BLINK_NORMAL': {
              SetLEDColor($('#LED'), ledColor);
              $('#LED').addClass('led-blink-normal');
              break;
            }
            
            case 'BLINK_FAST': {
              SetLEDColor($('#LED'), ledColor);
              $('#LED').addClass('led-blink-fast');
              break;
            }
            
            case 'BREATHE': {
              SetLEDColor($('#LED'), ledColor);
              $('#LED').addClass('led-breathe');
              break;
            }
          };
      });
      
      function ResetLED(ledObj) {
        ledObj.removeClass('led-red led-green led-blue led-amber led-yellow led-purple led-red led-cyan led-white led-blink-slow led-blink-normal led-blink-fast led-breathe');
      }
      
      function SetLEDColor(ledObj, color) {
        switch(color){
          case 'OFF': {
            ledObj.addClass('led-off');
            break;
          }
          
          case 'RED': {
            ledObj.addClass('led-red');
            break;
          }
          
          case 'GREEN': {
            ledObj.addClass('led-green');
            break;
          }
          
          case 'BLUE': {
            ledObj.addClass('led-blue');
            break;
          }
          
          case 'AMBER': {
            ledObj.addClass('led-amber');
            break;
          }
          
          case 'YELLOW': {
            ledObj.addClass('led-yellow');
            break;
          }
          
          case 'PURPLE': {
            ledObj.addClass('led-purple');
            break;
          }
          
          case 'CYAN': {
            ledObj.addClass('led-white');
            break;
          }
          
          case 'WHITE': {
            ledObj.addClass('led-white');
            break;
          }
        }
      };
      
      