extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | RC Channels

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_RC_CHANNELS_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 RC Channels
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Time 
                      td
                        span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Timestamp'}]}) ---
                    tr
                      th Last Valid Time
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_LastValidTime'}]}) ---
                    tr
                      th Channel 0
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_0'}]}) ---
                    tr
                      th Channel 1
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_1'}]}) ---
                    tr
                      th Channel 2
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_2'}]}) ---
                    tr
                      th Channel 3
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_3'}]}) ---
                    tr
                      th Channel 4
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_4'}]}) ---
                    tr
                      th Channel 5
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_5'}]}) ---
                    tr
                      th Channel 6
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_6'}]}) ---
                    tr
                      th Channel 7
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_7'}]}) ---
                    tr
                      th Channel 8
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_8'}]}) ---
                    tr
                      th Channel 9
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_9'}]}) ---
                    tr
                      th Channel 10
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_10'}]}) ---
                    tr
                      th Channel 11
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_11'}]}) ---
                    tr
                      th Channel 12
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_12'}]}) ---
                    tr
                      th Channel 13
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_13'}]}) ---
                    tr
                      th Channel 14
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_14'}]}) ---
                    tr
                      th Channel 15
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_15'}]}) ---
                    tr
                      th Channel 16
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_16'}]}) ---
                    tr
                      th Channel 17
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Channel_17'}]}) ---
                    tr
                      th Frame Drop Count
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_FrameDropCount'}]}) ---
                    tr
                      th Channel Count
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_ChannelCount'}]}) ---
                    tr
                      th Function 0
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_0'}]}) ---
                    tr
                      th Function 1
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_1'}]}) ---
                    tr
                      th Function 2
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_2'}]}) ---
                    tr
                      th Function 3
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_3'}]}) ---
                    tr
                      th Function 4
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_4'}]}) ---
                    tr
                      th Function 5
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_5'}]}) ---
                    tr
                      th Function 6
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_6'}]}) ---
                    tr
                      th Function 7
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_7'}]}) ---
                    tr
                      th Function 8
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_8'}]}) ---
                    tr
                      th Function 9
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_9'}]}) ---
                    tr
                      th Function 10
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_10'}]}) ---
                    tr
                      th Function 11
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_11'}]}) ---
                    tr
                      th Function 12
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_12'}]}) ---
                    tr
                      th Function 13
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_13'}]}) ---
                    tr
                      th Function 14
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_14'}]}) ---
                    tr
                      th Function 15
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_15'}]}) ---
                    tr
                      th Function 16
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_16'}]}) ---
                    tr
                      th Function 17
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_17'}]}) ---
                    tr
                      th Function 18
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_18'}]}) ---
                    tr
                      th Function 19
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_19'}]}) ---
                    tr
                      th Function 20
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_20'}]}) ---
                    tr
                      th Function 21
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_Function_21'}]}) ---
                    tr
                      th RSSI
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_RSSI'}]}) ---
                    tr
                      th Signal Lost
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/RCC_SignalLost'}]}) ---
