extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | MS5611 Barometric Altimeter Driver

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MS5611-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Command and Data Handling
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:{name:'/CFS/MS5611/CmdCounter'}}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/ErrCounter'}}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MS5611/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MS5611/Reset'}}) Reset
              
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MS5611-Config.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Configuration
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th AppID
                    td
                      span.sage-tlm(data-sage={tlm:{name:'/CFS/MS5611/AppID'}}) ---
                  tr
                    th Coef 0
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef0'}}) ---
                  tr
                    th Coef 1
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef1'}}) ---
                  tr
                    th Coef 2
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef2'}}) ---
                  tr
                    th Coef 3
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef3'}}) ---
                  tr
                    th Coef 4
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef4'}}) ---
                  tr
                    th Coef 5
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef5'}}) ---
                  tr
                    th Coef 6
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef6'}}) ---
                  tr
                    th Coef 7
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Coef7'}}) ---
                      
              
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MS5611-Measurements.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Measurements
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Temperature
                    td
                      span.sage-tlm(data-sage={tlm:{name:'/CFS/MS5611/Temperature'}}) ---
                  tr
                    th Pressure
                    td
                      span(data-sage={tlm:{name:'/CFS/MS5611/Pressure'}}) ---
                                        
  .row
    +app_specific_telemetry_control("MS5611")
                                              
  .row          
    +app_specific_mempools("MS5611")
    
  .row
    +app_specific_application_control("MS5611") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("MS5611")
    
  .row
    +app_specific_scheduler_control("MS5611")