extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Aerotenna uLanding Radar (ULR)

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-ULR-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/ErrCounter'}]}) ---
                  tr
                    th Maximum Distance
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/MaxDistance'}]}) ---
                  tr
                    th Minimum Distance
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/MinDistance'}]}) ---
                  tr
                    th Current Distance
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/CurrentDistance'}]}) ---
                  tr
                    th Covariance
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/Covariance'}]}) ---
                  tr
                    th Sensor Type
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/Type'}]}) ---
                  tr
                    th Sensor ID
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/SensorID'}]}) ---
                  tr
                    th Sensor Orientation
                    td
                      span(data-sage={tlm: [{name:'/CFS/ULR/Orientation'}]}) ---

            footer
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/ULR/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/ULR/Reset'}}) Reset
                                              
  .row          
    +app_specific_mempools("ULR")
    
  .row
    +app_specific_application_control("ULR") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("ULR")
    
  .row
    +app_specific_scheduler_control("ULR")
