table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/EA/EA_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/EA/EA_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Active Application
      td
        span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveApp'}]}) ---
    tr
      th CPU Utilization
      td
        span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveAppUtil'}]}) ---
    tr
      th Active Application PID
      td
        span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveAppPID'}]}) ---
    tr
      th Last Application Run
      td
        span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/LastAppRun'}]}) ---
    tr
      th Last Application Status
      td
        span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/LastAppStatus'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/EA/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/EA/Reset'}}) Reset
  button.btn.cdr-primary(data-cdr={cmd:{name:'/EA/EA_StartCmd_t'}}) Start Cmd
  button.btn.cdr-primary(data-cdr={cmd:{name:'/EA/Terminate'}}) Stop Cmd
