.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 EA - Housekeeping
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/EA/EA_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/EA/EA_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
          tr
            th Active Application
            td
              span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveApp'}], indicator:'text'}) ---
          tr
            th CPU Utilization
            td
              span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveAppUtil'}], indicator:'text'}) ---
          tr
            th Active Application PID
            td
              span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/ActiveAppPID'}], indicator:'text'}) ---
          tr
            th Last Application Run
            td
              span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/LastAppRun'}], indicator:'text'}) ---
          tr
            th Last Application Status
            td
              span(data-cdr={tlm: [{name:'/EA/EA_HkTlm_t/LastAppStatus'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/EA/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/EA/Reset'},indicator:'cmd'}) Reset
