extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Telemetry Output

block main
  -var MFLOW_COUNT = 50
  -var PQUEUE_COUNT = 10
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
        #wid-TO-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td 
                        span(data-sage={tlm: [{name:'/CFS/TO/CmdCounter'}]}) ---
                    tr
                      th Cmd Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/ErrCounter'}]}) ---
                    tr
                      th Total Messages Dropped
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/TotalMsgsDropped'}]}) ---
                    tr
                      th Memory In Use
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/MemInUse'}]}) ---
                    tr
                      th Peak Memory In Use
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/PeakMemInUse'}]}) ---
                    tr
                      th Max Allocatable Memory
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/MaxMem'}]}) ---
                    tr
                      th Output Queue 0 Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/OutChannel0Queud'}]}) ---
                    tr
                      th Output Queue 1 Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/OutChannel1Queud'}]}) ---
                    tr
                      th Output Queue 2 Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/OutChannel2Queud'}]}) ---
                    tr
                      th Output Queue 3 Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/OutChannel3Queud'}]}) ---
                    tr
                      th Output Queue 4 Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/TO/OutChannel4Queud'}]}) ---
              footer
                .btn-group.btn-group-sm.btn-space
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/NoOp'}}) No-Op
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/Reset'}}) Reset Counters
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/EnableChannel'}}) Enable Channel
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/DisableChannel'}}) Disable Channel
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/AddMessage'}}) Add Message
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/RemoveMessage'}}) Remove Message
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/QueryMessageFlow'}}) Query Message Flow
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/QueryPriorityQueue'}}) Query Priority Queue
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/QueryOutputQueue'}}) Query Output Queue
                  button.btn.btn-primary(data-sage={cmd: {name:'/CFS/TO/EnableChannel', argument:[{name:'ChannelIdx', value:'GROUND'},{name:'Port', value:'5011'}]}}) Enable Ground
  .row
    article.col-xs-12.col-sm-12.col-md-8.col-lg-7(style='width:750px')
      #wid-TO-Diag.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Diagnostic
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/TO/SendDiag'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr  
                    th Channel Index
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/ChannelIndex'}]}) --- 
                  tr  
                    th Config Table Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/ConfigTableName'}]}) --- 
                  tr  
                    th Config Table File Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/ConfigTableFileName'}]}) ---   
                  tr  
                    th Dump Table Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/DumpTableName'}]}) ---   
                  tr  
                    th Channel Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/ChannelName'}]}) ---   
                  tr  
                    th Table ID
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/TableID'}]}) ---      
            .table-responsive
              table.table.table-striped.table-condensed.table-memory
                thead
                  th(style='width:50px') Message Flow
                  th(style='width:200px') Msg ID
                  th(style='width:75px') Msg Limit
                  th(style='width:75px') PQ ID
                  th(style='width:75px') Dropped Msgs
                  th(style='width:75px') Queued Msgs
                tbody
                  - for (var i = 0; i < MFLOW_COUNT; ++i) {
                    tr
                      th= i
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/MF'+i+'_MsgId'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/MF'+i+'_MsgLimit'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/MF'+i+'_PqueueID'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/MF'+i+'_DroppedMsgCnt'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/MF'+i+'_QueuedMsgCnt'}]}) ---   
                  - } 
            .table-responsive
              table.table.table-striped.table-condensed.table-memory
                thead
                  th(style='width:50px') Priority Queue
                  th(style='width:100px') State
                  th(style='width:75px') Msg Limit
                  th(style='width:75px') Type
                  th(style='width:75px') Dropped
                  th(style='width:75px') Total Queued
                  th(style='width:75px') Current Queued
                  th(style='width:75px') Highwater
                tbody
                  - for (var i = 0; i < PQUEUE_COUNT; ++i) {
                    tr
                      th= i
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_State'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_MsgLimit'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_Qtype'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_DroppedMsgCnt'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_QueuedMsgCnt'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_CurrentlyQueuedCnt'}]}) ---
                      td
                        span(data-sage={tlm:[{name:'/CFS/TO/PQ'+i+'_HighwaterMark'}]}) --- 
                  - } 
            .table-responsive
              table.table.table-condensed
                tbody
                  tr  
                    th Output Sent
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/Out_SentCount'}]}) --- 
                  tr  
                    th Output Currently Queued
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/Out_CurrentlyQueuedCnt'}]}) ---   
                  tr  
                    th Output Highwater
                    td 
                      span(data-sage={tlm:[{name:'/CFS/TO/Out_HighwaterMark'}]}) ---  
                                        
  .row
    +app_specific_telemetry_control("TO")
                                              
  .row          
    +app_specific_mempools("TO")
    
  .row
    +app_specific_application_control("TO") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("TO")
    
  .row
    +app_specific_scheduler_control("TO")
                
      