extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Checksum

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-6(style={width:'800px'})
      #wid-CF-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'200px'}) Cmd Count
                    td(style={width:'95px'})
                      span(data-sage={tlm:[{name:'/CFS/CS/CmdCounter'}]}) ---
                    td(style={width:'450px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CS/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CS/Reset'}}) Counter Reset
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/CS/ErrCounter'}]}) ---
                    td
                  tr
                    th Checksum State
                    td
                      span(data-sage={tlm:[{name:'/CFS/CS/ChecksumState'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.btn-space.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableAllCS'}}) Ena All
                        button.btn.btn-xs.btn-primary.btn-labeled.btn-space.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableAllCS'}}) Dis All
                        button.btn.btn-xs.btn-primary.btn-labeled.btn-space.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaseAllCS'}}) Report All
                        button.btn.btn-xs.btn-primary.btn-labeled.btn-space.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaseAllCS'}}) Recompute All
                  tr
                    th EEPROM
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/EepromCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableEEPROM'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableEEPROM'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaselineEEPROM'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaselineEEPROM'}}) Recompute
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableEntryEEPROM'}}) Ena Entry
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableEntryEEPROM'}}) Dis Entry
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/GetEntryIDEEPROM'}}) Get Entry ID
                  tr
                    th RAM
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/MemoryCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableMemory'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableMemory'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaselineMemory'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaselineMemry'}}) Recompute
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableEntryMemory'}}) Ena Entry
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableEntryMemory'}}) Dis Entry
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/GetEntryIDMemory'}}) Get Entry ID
                  tr
                    th App
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/AppCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableApps'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableApps'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaselineApp'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaselineApp'}}) Recompute
                  tr
                    th Table
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/TableCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableTables'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableTables'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaselineTable'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaselineTable'}}) Recompute
                  tr
                    th OS 
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/OSCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableOS'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableOS'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaselineOS'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaselineOS'}}) Recompute
                  tr
                    th CFE Core 
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/CfeCoreCSState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/EnableCFECore'}}) Ena
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/DisableCFECore'}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/ReportBaseCFECore'}}) Report
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd:{name:'/CFS/CS/RecomputeBaseCFECore'}}) Recompute
                  tr
                    th Child Task In Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/ChildTaskInUse'}]}) ---
                    td
                  tr
                    th One Shot Task In Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/OneShotTaskInUse'}]}) ---
                    td
                  tr
                    th EEPROM Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/EepromCSErrCounter'}]}) ---
                    td
                  tr
                    th Memory Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/MemoryCSErrCounter'}]}) ---
                    td
                  tr
                    th App Errors 
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/AppCSErrCounter'}]}) ---
                    td
                  tr
                    th Table Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/TablesCSErrCounter'}]}) ---
                    td
                  tr
                    th CFE Core Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/CfeCoreCSErrCounter'}]}) ---
                    td
                  tr
                    th OS Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/OSCSErrCounter'}]}) ---
                    td
                  tr
                    th Current Table
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/CurrentCSTable'}]}) ---
                    td
                  tr
                    th Current Entry In Table
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/CurrentEntryInTable'}]}) ---
                    td
                  tr
                    th EEPROM Baseline
                    td 
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/CS/EepromBaseline', format:'0x%08x'}]}) ---
                    td
                  tr
                    th OS Baseline
                    td 
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/CS/OSBaseline', format:'0x%08x'}]}) ---
                    td
                  tr
                    th CFE Core Baseline
                    td 
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/CS/CfeCoreBaseline', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Last One Shot Address
                    td
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/CS/LastOneShotAddress', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Last One Shot Size
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/LastOneShotSize'}]}) ---
                    td
                  tr
                    th Last One Shot Checksum
                    td 
                      span(style='font-family: monospace' data-sage={tlm:[{name:'/CFS/CS/LastOneShotChecksum', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Pass Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CS/PassCounter'}]}) ---
                    td
                 
              footer
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/OneShot'}}) One Shot
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/CancelOneShot'}}) Cancel One Shot
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/EnableNameTable'}}) Enable Name Table
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/DisableNameTable'}}) Disable Name Table
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/EnableNameApp'}}) Enable Name App
                button.btn.btn-xs.btn-primary(data-sage={cmd:{name:'/CFS/CS/DisableNameApp'}}) Disable Name App
                            
  .row          
    +app_specific_mempools("CS")
    
  .row
    +app_specific_application_control("CS") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("CS")



