.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Application
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Wakeup for File Proc
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.WakeupForFileProc'}],indicator:'text'}) ---
          tr
            th Engine Cycle Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.EngineCycleCount'}],indicator:'text'}) ---
          tr
            th Memory In Use
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemInUse'}],indicator:'text'}) ---
          tr
            th Peak Mem In Use
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PeakMemInUse'}],indicator:'text'}) ---
          tr
            th Low Memory Mark
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LowMemoryMark'}],indicator:'text'}) ---
          tr
            th Max Mem Needed
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MaxMemNeeded'}],indicator:'text'}) ---
          tr
            th Mem Allocated
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemAllocated'}],indicator:'text'}) ---
          tr
            th Buffer Pool Handle
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.BufferPoolHandle'}],indicator:'text'}) ---
          tr
            th Q Nodes Allocated
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QNodesAllocated'}],indicator:'text'}) ---
          tr
            th Q Nodes Deallocated
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QNodesDeallocated'}],indicator:'text'}) ---
          tr
            th PDUs Received
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsReceived'}],indicator:'text'}) ---
          tr
            th PDUs Rejected
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsRejected'}],indicator:'text'}) ---
          tr
            th Total In Prog Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalInProgTrans'}],indicator:'text'}) ---
          tr
            th Total Failed Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalFailedTrans'}],indicator:'text'}) ---
          tr
            th Total Abandon Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalAbandonTrans'}],indicator:'text'}) ---
          tr
            th Total Success Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalSuccessTrans'}],indicator:'text'}) ---
          tr
            th Total Completed Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalCompletedTrans'}],indicator:'text'}) ---
          tr
            th Last Failed Trans
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LastFailedTrans'}],indicator:'text'}) ---
    footer
      .dropdown
        button.btn.cdr-primary.dropup-toggle(type='button' id='MiscCommands' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Commands
        .dropdown-menu(role='menu' aria-labelledby='MiscCommands' style="max-height:200px;overflow-y:scroll")
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_PlaybackFileCmd_t'},indicator:'cmd'}) Playback File
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_PlaybackDirCmd_t'},indicator:'cmd'}) Playback Dir
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Freeze'},indicator:'cmd'}) Freeze
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Thaw'},indicator:'cmd'}) Thaw
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Suspend'},indicator:'cmd'}) Suspend
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Resume'},indicator:'cmd'}) Resume
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Cancel'},indicator:'cmd'}) Cancel
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/Abandon'},indicator:'cmd'}) Abandon
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_SetMibParam_t'},indicator:'cmd'}) Set MIB Param
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_GetMibParam_t'},indicator:'cmd'}) Get MIB Param
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_SendTransCmd_t'},indicator:'cmd'}) Send Trans Diag Data
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_SetPollParamCmd_t'},indicator:'cmd'}) Set Poll Param
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/SendCfgParams'},indicator:'cmd'}) Send Cfg Params
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_WriteQueueCmd_t'},indicator:'cmd'}) Write Queue Info
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/EnableDequeue'},indicator:'cmd'}) Enable Dequeue
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/DisableDequeue'},indicator:'cmd'}) Disable Dequeue
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/EnableDirPolling'},indicator:'cmd'}) Enable Dir Polling
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/DisableDirPolling'},indicator:'cmd'}) Disable Dir Polling
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_DequeueNodeCmd_t'},indicator:'cmd'}) Delete Queue Node
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_PurgeQueueCmd_t'},indicator:'cmd'}) Purge Queue
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_WriteActiveTransCmd_t'},indicator:'cmd'}) Write Active Trans
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_KickstartCmd_t'},indicator:'cmd'}) Kickstart
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_QuickStatCmd_t'},indicator:'cmd'}) Quick Status
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_GiveTakeCmd_t'},indicator:'cmd'}) Give / Take
            a.dropdown-item(href='#' data-cdr={cmd: {name: '/CF/CF_AutoSuspendEnCmd_t'},indicator:'cmd'}) Ena/Dis Auto Suspend
