.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - Baro
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Last Update
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastBaro'}], indicator:'text'}) ---
          tr
            th Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroInitialized'}], indicator:'text'}) ---
          tr
            th Fault
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFault'}], indicator:'text'}) ---
          tr
            th Alt Origin
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroAltOrigin'}], indicator:'text'}) ---
          tr
            th Timeout
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroTimeout'}], indicator:'text'}) ---
          tr
            th Fused
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFused'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/EnableBaro'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/DisableBaro'},indicator:'cmd'}) Disable 
      
