.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 MS5611 - Command and Data Handling
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/MS5611/MS5611_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/MS5611/MS5611_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/MS5611/MS5611_HkTlm_t/State', calibration:{ type:'enumeration',
              enumerations:[
              { value: 0, name:'UNINITIALIZED'},
              { value: 1, name:'INITIALIZED'}
              ]}}],indicator:'text'}) ---
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MS5611/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MS5611/Reset'},indicator:'cmd'}) Reset
