.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CS - EEPROM
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/EepromCSState'}],indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableEEPROM'},indicator:'cmd'}) Enable 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableEEPROM'},indicator:'cmd'}) Disable
          tr
            th Error Count
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/EepromCSErrCounter'}], indicator:'text'}) ---
          tr
            th Baseline
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/EepromBaseline'}], indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/ReportBaselineEEPROM'},indicator:'cmd'}) Report 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineEEPROM'},indicator:'cmd'}) Recompute
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableEntryEEPROM'},indicator:'cmd'}) Enable Entry  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableEntryEEPROM'},indicator:'cmd'}) Disable Entry
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/GetEntryIDEEPROM'},indicator:'cmd'}) Get Entry ID
