.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Engine
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style={width:'250px'}) Entity ID
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.FlightEngineEntityId'}],indicator:'text'}) ---
          tr
            th Flags
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.Flags'}],indicator:'text'}) ---
          tr
            th Machines Allocated
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.MachinesAllocated'}],indicator:'text'}) ---
          tr
            th Machines Deallocated
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.MachinesDeallocated'}],indicator:'text'}) ---
          tr
            th Frozen Partners?
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.are_any_partners_frozen'}],indicator:'text'}) ---
          tr
            th Sender Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_senders'}],indicator:'text'}) ---
          tr
            th Receiver Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_receivers'}],indicator:'text'}) ---
          tr
            th Frozen Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_frozen'}],indicator:'text'}) ---
          tr
            th Suspended Count
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.how_many_suspended'}],indicator:'text'}) ---
          tr
            th Files Sent
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_files_sent'}],indicator:'text'}) ---
          tr
            th Files Received
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_files_received'}],indicator:'text'}) ---
          tr
            th Unsuccessful Senders
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_unsuccessful_senders'}],indicator:'text'}) ---
          tr
            th Unsuccessful Receivers
            td
              span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/Eng.total_unsuccessful_receivers'}],indicator:'text'}) ---