.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 FM - File Info
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th File Name
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/Filename'}], indicator:'text'}) ---
          tr
            th File Status
            td
              div(data-cdr={tlm:[{name:'/FM/FM_FileInfoPkt_t/FileStatus'}],indicator:'text'}) ---
          tr
            th CRC Computed
            td
              div(data-cdr={tlm:[{name:'/FM/FM_FileInfoPkt_t/CRC_Computed'}],indicator:'text'}) ---
          tr
            th CRC
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/CRC', format: '0x%04x'}], indicator:'text'}) ---
          tr
            th File Size
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/FileSize'}], indicator:'text'}) ---
          tr
            th Last Modified Time
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/LastModifiedTime'}], indicator:'text'}) ---
          tr
            th Permissions
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/Mode'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_GetFileInfoCmd_t'},indicator:'cmd'}) Get File Info
