- queryString = '$.Airliner.apps.FM.config.FM_TABLE_ENTRY_COUNT';
-
- global.COMMANDER.queryConfigDB(queryString, function (results) {
-     FM_TABLE_ENTRY_COUNT = results[0];

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 FM - Free Space
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th File Name
            th Upper 32 bit
            th Lower 32 bit
          - for(var i = 0; i < FM_TABLE_ENTRY_COUNT; ++i) {
          tr
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FreeSpacePkt_t/FileSys[' + i + '].Name'}], indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FreeSpacePkt_t/FileSys[' + i + '].FreeSpace_A'}],indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_FreeSpacePkt_t/FileSys[' + i + '].FreeSpace_B'}], indicator:'text'}) ---
          - }
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_GetFreeSpaceCmd_t'},indicator:'cmd'}) Get Free Space
- });
      
