.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - Housekeeping
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/PE/PE_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/PE/PE_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/Timestamp'}], indicator:'text'}) ---
          tr
            th Alt Origin
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/AltOrigin'}], indicator:'text'}) ---
          tr
            th Estimator Global Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/EstimatorGlobalInitialized'}], indicator:'text'}) ---
          tr
            th Alt Origin Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/AltOriginInitialized'}], indicator:'text'}) ---
          tr
            th XY Est Valid
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/XyEstValid'}], indicator:'text'}) ---
          tr
            th Z Est Valid
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/ZEstValid'}], indicator:'text'}) ---
          tr
            th Terrain Z Est Valid
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TzEstValid'}], indicator:'text'}) ---
          tr
            th Estimator Local Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/EstimatorLocalInitialized'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/Reset'},indicator:'cmd'}) Reset  
      
