.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Housekeeping (SCH)
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th Cmd Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/CmdCounter'}],indicator:'text'}) ---
              tr
                th Error Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/ErrCounter'}],indicator:'text'}) ---
              tr
                th Sync to MET
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/SyncToMET'}],indicator:'text'}) ---
              tr
                th Major Frame Source
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/MajorFrameSource'}],indicator:'text'}) ---
              tr
                th Schedule Activity Success Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/ScheduleActivitySuccessCount'}],indicator:'text'}) ---
              tr
                th Schedule Activity Failure Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/ScheduleActivityFailureCount'}],indicator:'text'}) ---
              tr
                th Slots Processed Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/SlotsProcessedCount'}],indicator:'text'}) ---
              tr
                th Skipped Slots Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/SkippedSlotsCount'}],indicator:'text'}) ---
              tr
                th Multiple Slots Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/MultipleSlotsCount'}],indicator:'text'}) ---
              tr
                th Same Slot Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/SameSlotCount'}],indicator:'text'}) ---
              tr
                th Bad Table Data Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/BadTableDataCount'}],indicator:'text'}) ---
              tr
                th Table Verify Success Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/TableVerifySuccessCount'}],indicator:'text'}) ---
              tr
                th Table Verify Failure Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/TableVerifyFailureCount'}],indicator:'text'}) ---
              tr
                th Table Pass Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/TablePassCount'}],indicator:'text'}) ---
              tr
                th Valid Major Frame Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/ValidMajorFrameCount'}],indicator:'text'}) ---
              tr
                th Missed Major Frame Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/MissedMajorFrameCount'}],indicator:'text'}) ---
              tr
                th Unexpected Major Frame Count
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/UnexpectedMajorFrameCount'}],indicator:'text'}) ---
              tr
                th Minor Frames Since Tone
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/MinorFramesSinceTone'}],indicator:'text'}) ---
              tr
                th Next Slot Number
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/NextSlotNumber'}],indicator:'text'}) ---
              tr
                th Last Sync MET Slot
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/LastSyncMETSlot'}],indicator:'text'}) ---
              tr
                th Ignore Major Frame
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/IgnoreMajorFrame'}],indicator:'text'}) ---
              tr
                th Unexpected Major Frame
                td
                  div(data-cdr={tlm:[{name:'/SCH/SCH_HkPacket_t/UnexpectedMajorFrame'}],indicator:'text'}) ---
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/Reset'},indicator:'cmd'}) Reset   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/Enable'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/Disable'},indicator:'cmd'}) Disable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/EnableGroup'},indicator:'cmd'}) Enable Group
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/DisableGroup'},indicator:'cmd'}) Disable Group
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/EnableSync'},indicator:'cmd'})  Enable Sync
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SCH/SendDiag'},indicator:'cmd'}) Send Diag
