.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PE - Landing
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Last Update
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastLand'}], indicator:'text'}) ---
          tr
            th Initialized
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandInitialized'}], indicator:'text'}) ---
          tr
            th Fault
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandFault'}], indicator:'text'}) ---
          tr
            th Timeout
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandTimeout'}], indicator:'text'}) ---
          tr
            th Fused
            td
              span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandFused'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/EnableLanding'},indicator:'cmd'}) Enable
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/PE/DisableLanding'},indicator:'cmd'}) Disable 
      
