
  .row.row-fluid
    article.col-xs-6.col-sm-5.col-md-4.col-lg-2
      #wid-CF-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'150px'}) Cmd Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/CmdCounter'}],indicator:'text'}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/ErrCounter'}],indicator:'text'}) ---
            footer
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/NoOp'},indicator:'cmd'}) No-Op
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/Reset'},indicator:'cmd'}) Reset

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 App
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Wakeup for File Proc
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_WakeupForFileProc'}],indicator:'text'}) ---
                  tr
                    th Engine Cycle Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_EngineCycleCount'}],indicator:'text'}) ---
                  tr
                    th Q Nodes Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_QnodesAllocated'}],indicator:'text'}) ---
                  tr
                    th Q Nodes Deallocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_QnodesDeallocated'}],indicator:'text'}) ---
                  tr
                    th PDUs Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_PDUsReceived'}],indicator:'text'}) ---
                  tr
                    th PDUs Rejected
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_PDUsRejected'}],indicator:'text'}) ---
                  tr
                    th Total In Prog Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalInProgTrans'}],indicator:'text'}) ---
                  tr
                    th Total Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalFailedTrans'}],indicator:'text'}) ---
                  tr
                    th Total Abandon Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalAbandonTrans'}],indicator:'text'}) ---
                  tr
                    th Total Success Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalSuccessTrans'}],indicator:'text'}) ---
                  tr
                    th Total Completed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_TotalCompletedTrans'}],indicator:'text'}) ---
                  tr
                    th Last Failed Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/App_LastFailedTrans'}],indicator:'text'}) ---
                  tr
                    th Auto Suspend Enabled
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_Enable'}],indicator:'text'}) ---
                  tr
                    th Auto Suspend Low Free Mark
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_LowFreeMark'}],indicator:'text'}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Commands
                  span.caret
                ul#MiscCommands.dropdown-menu(role='menu')
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackFile'},indicator:'cmd'}, href='javascript:void(0);') Playback File
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PlaybackDir'},indicator:'cmd'}, href='javascript:void(0);') Playback Dir
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Freeze'},indicator:'cmd'}, href='javascript:void(0);') Freeze
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Thaw'},indicator:'cmd'}, href='javascript:void(0);') Thaw
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Suspend'},indicator:'cmd'}, href='javascript:void(0);') Suspend
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Resume'},indicator:'cmd'}, href='javascript:void(0);') Resume
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Cancel'},indicator:'cmd'}, href='javascript:void(0);') Cancel
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Abandon'},indicator:'cmd'}, href='javascript:void(0);') Abandon
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetMIBParam'},indicator:'cmd'}, href='javascript:void(0);') Set MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GetMIBParam'},indicator:'cmd'}, href='javascript:void(0);') Get MIB Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'},indicator:'cmd'}, href='javascript:void(0);') Send Trans Diag Data
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SetPollParam'},indicator:'cmd'}, href='javascript:void(0);') Set Poll Param
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'},indicator:'cmd'}, href='javascript:void(0);') Send Cfg Params
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteQueueInfo'},indicator:'cmd'}, href='javascript:void(0);') Write Queue Info
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDequeue'},indicator:'cmd'}, href='javascript:void(0);') Enable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDequeue'},indicator:'cmd'}, href='javascript:void(0);') Disable Dequeue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnableDirPolling'},indicator:'cmd'}, href='javascript:void(0);') Enable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DisableDirPolling'},indicator:'cmd'}, href='javascript:void(0);') Disable Dir Polling
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/DeleteQueueNode'},indicator:'cmd'}, href='javascript:void(0);') Delete Queue Node
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/PurgeQueue'},indicator:'cmd'}, href='javascript:void(0);') Purge Queue
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/WriteActiveTrans'},indicator:'cmd'}, href='javascript:void(0);') Write Active Trans
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/Kickstart'},indicator:'cmd'}, href='javascript:void(0);') Kickstart
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/QuickStatus'},indicator:'cmd'}, href='javascript:void(0);') Quick Status
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/GiveTake'},indicator:'cmd'}, href='javascript:void(0);') Give / Take
                  li
                    a(data-cdr={cmd: {name: '/CFS/CF/EnaDisAutoSuspend'},indicator:'cmd'}, href='javascript:void(0);') Ena/Dis Auto Suspend


    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Cond.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cond
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Pos Ack Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_PosAckNum'}],indicator:'text'}) ---
                  tr
                    th File Store Rej Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileStoreRejNum'}],indicator:'text'}) ---
                  tr
                    th File Checksum Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileChecksumNum'}],indicator:'text'}) ---
                  tr
                    th File Size Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_FileSizeNum'}],indicator:'text'}) ---
                  tr
                    th NAK Limit Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_NakLimitNum'}],indicator:'text'}) ---
                  tr
                    th Inactive Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_InactiveNum'}],indicator:'text'}) ---
                  tr
                    th Suspend Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_SuspendNum'}],indicator:'text'}) ---
                  tr
                    th Cancel Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Cond_CancelNum'}],indicator:'text'}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Up.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Up
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Meta Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_MetaCount'}],indicator:'text'}) ---
                  tr
                    th Uplink Active QFile Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_UplinkActiveQFileCnt'}],indicator:'text'}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_SuccessCounter'}],indicator:'text'}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_FailedCounter'}],indicator:'text'}) ---
                  tr
                    th Last File Uplinked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Up_FailedCounter'}],indicator:'text'}) ---


    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Engine.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Engine
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Entity ID
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FlightEngineEntityId'}],indicator:'text'}) ---
                  tr
                    th Seg Control
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_SegControl'}],indicator:'text'}) ---
                  tr
                    th File Transfer
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_FileTransfer'}],indicator:'text'}) ---
                  tr
                    th Suspended
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Suspended'}],indicator:'text'}) ---
                  tr
                    th Ack Fin Only
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_AckFinOnly'}],indicator:'text'}) ---
                  tr
                    th MD Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_MDReceived'}],indicator:'text'}) ---
                  tr
                    th Frozen
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Frozen'}],indicator:'text'}) ---
                  tr
                    th Finished
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Finished'}],indicator:'text'}) ---
                  tr
                    th Ext File Xfer
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_ExtFileXfer'}],indicator:'text'}) ---
                  tr
                    th Cancelled
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Cancelled'}],indicator:'text'}) ---
                  tr
                    th Abandoned
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Abandoned'}],indicator:'text'}) ---
                  tr
                    th Machines Allocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_MachinesAllocated'}],indicator:'text'}) ---
                  tr
                    th Machines Deallocated
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_MachinesDeallocated'}],indicator:'text'}) ---
                  tr
                    th Frozen Partners?
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_AreAnyPartnersFrozen'}],indicator:'text'}) ---
                  tr
                    th Sender Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManySenders'}],indicator:'text'}) ---
                  tr
                    th Receiver Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManyReceivers'}],indicator:'text'}) ---
                  tr
                    th Frozen Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManyFrozen'}],indicator:'text'}) ---
                  tr
                    th Suspended Count
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_HowManySuspended'}],indicator:'text'}) ---
                  tr
                    th Files Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesSent'}],indicator:'text'}) ---
                  tr
                    th Files Received
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesReceived'}],indicator:'text'}) ---
                  tr
                    th Unsuccessful Senders
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalFilesReceived'}],indicator:'text'}) ---
                  tr
                    th Unsuccessful Receivers
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TotalUnsuccessfulReceivers'}],indicator:'text'}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Channel0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Channel 0
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) PDUs Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PDUsSent'}],indicator:'text'}) ---
                  tr
                    th FilesSent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_FilesSent'}],indicator:'text'}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_SuccessCounter'}],indicator:'text'}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_FailedCounter'}],indicator:'text'}) ---
                  tr
                    th Pending Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PendingQFileCnt'}],indicator:'text'}) ---
                  tr
                    th Active Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_ActiveQFileCnt'}],indicator:'text'}) ---
                  tr
                    th History Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_HistoryQFileCnt'}],indicator:'text'}) ---
                  tr
                    th Dequeue
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_Flags_Dequeue'}],indicator:'text'}) ---
                  tr
                    th Blast
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_Flags_Blast'}],indicator:'text'}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_RedLightCntr'}],indicator:'text'}) ---
                  tr
                    th Green Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_GreenLightCntr'}],indicator:'text'}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_RedLightCntr'}],indicator:'text'}) ---
                  tr
                    th Poll Dirs Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PollDirsChecked'}],indicator:'text'}) ---
                  tr
                    th Pending Q Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_PendingQChecked'}],indicator:'text'}) ---
                  tr
                    th Sem Value
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_0_SemValue'}],indicator:'text'}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Channel1.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Channel 1
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) PDUs Sent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PDUsSent'}],indicator:'text'}) ---
                  tr
                    th FilesSent
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_FilesSent'}],indicator:'text'}) ---
                  tr
                    th Success Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_SuccessCounter'}],indicator:'text'}) ---
                  tr
                    th Failed Counter
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_FailedCounter'}],indicator:'text'}) ---
                  tr
                    th Pending Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PendingQFileCnt'}],indicator:'text'}) ---
                  tr
                    th Active Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_ActiveQFileCnt'}],indicator:'text'}) ---
                  tr
                    th History Q File Cnt
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_HistoryQFileCnt'}],indicator:'text'}) ---
                  tr
                    th Dequeue
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_Flags_Dequeue'}],indicator:'text'}) ---
                  tr
                    th Blast
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_Flags_Blast'}],indicator:'text'}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_RedLightCntr'}],indicator:'text'}) ---
                  tr
                    th Green Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_GreenLightCntr'}],indicator:'text'}) ---
                  tr
                    th Red Light Cntr
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_RedLightCntr'}],indicator:'text'}) ---
                  tr
                    th Poll Dirs Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PollDirsChecked'}],indicator:'text'}) ---
                  tr
                    th Pending Q Checked
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_PendingQChecked'}],indicator:'text'}) ---
                  tr
                    th Sem Value
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Chan_1_SemValue'}],indicator:'text'}) ---

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-Cfg.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Config
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Eng Cyc Per Wakeup
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_EngCycPerWakeup'}],indicator:'text'}) ---
                  tr
                    th Ack Limit
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_AckLimit'}],indicator:'text'}) ---
                  tr
                    th Ack Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_AckTimeout'}],indicator:'text'}) ---
                  tr
                    th Nak Limit
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NakLimit'}],indicator:'text'}) ---
                  tr
                    th Nak Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NakTimeout'}],indicator:'text'}) ---
                  tr
                    th Inact Timeout
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_InactTimeout'}],indicator:'text'}) ---
                  tr
                    th Def Outgoing Chunk Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DefOutgoingChunkSize'}],indicator:'text'}) ---
                  tr
                    th Pipe Depth
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_PipeDepth'}],indicator:'text'}) ---
                  tr
                    th Max Simultaneous Trans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxSimultaneousTrans'}],indicator:'text'}) ---
                  tr
                    th Incoming PDU Buf Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_IncomingPduBufSize'}],indicator:'text'}) ---
                  tr
                    th Outgoing PDU Buf Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_OutgoingPduBufSize'}],indicator:'text'}) ---
                  tr
                    th Num Input Channels
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_NumInputChannels'}],indicator:'text'}) ---
                  tr
                    th Max Playback Chans
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxPlaybackChans'}],indicator:'text'}) ---
                  tr
                    th Max Polling Dirs Per Chan
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MaxPollingDirsPerChan'}],indicator:'text'}) ---
                  tr
                    th Mem Pool Bytes
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_MemPoolBytes'}],indicator:'text'}) ---
                  tr
                    th Debug Compiled In
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DebugCompiledIn'}],indicator:'text'}) ---
                  tr
                    th Save Incomplete Files
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_SaveIncompleteFiles'}],indicator:'text'}) ---
                  tr
                    th Pipe Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_PipeName'}],indicator:'text'}) ---
                  tr
                    th Tmp File Prefix
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_TmpFilePrefix'}],indicator:'text'}) ---
                  tr
                    th Cfg Tbl Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_CfgTblName'}],indicator:'text'}) ---
                  tr
                    th Cfg Tbl File Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_CfgTbleFilename'}],indicator:'text'}) ---
                  tr
                    th Def Q Info File Name
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Config_DefQInfoFilename'}],indicator:'text'}) ---
            footer
              button.btn.btn-primary(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'},indicator:'cmd'}) Send Config

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3
      #wid-CF-TransDiag.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Trans Diag
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'250px'}) Eng Trans Len
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransLen'}],indicator:'text'}) ---
                  tr
                    th Eng Trans Val
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransVal'}],indicator:'text'}) ---
                  tr
                    th Eng Naks
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Naks'}],indicator:'text'}) ---
                  tr
                    th Eng Part Len
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_PartLen'}],indicator:'text'}) ---
                  tr
                    th Eng Part Val
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_PartVal'}],indicator:'text'}) ---
                  tr
                    th Eng Phase
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Phase'}],indicator:'text'}) ---
                  tr
                    th Eng Frozen
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Flags_Frozen'}],indicator:'text'}) ---
                  tr
                    th Eng Trans Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TransNum'}],indicator:'text'}) ---
                  tr
                    th Eng Attempts
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Attempts'}],indicator:'text'}) ---
                  tr
                    th Eng Cond Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_CondCode'}],indicator:'text'}) ---
                  tr
                    th Eng Deli Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_DeliCode'}],indicator:'text'}) ---
                  tr
                    th Eng Fd Offset
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FdOffset'}],indicator:'text'}) ---
                  tr
                    th Eng Fd Length
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FdLength'}],indicator:'text'}) ---
                  tr
                    th Eng Checksum
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Checksum'}],indicator:'text'}) ---
                  tr
                    th Eng Final Stat
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FinalStat'}],indicator:'text'}) ---
                  tr
                    th Eng File Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_FileSize'}],indicator:'text'}) ---
                  tr
                    th ENg Rcvd File Size
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_RcvdFileSize'}],indicator:'text'}) ---
                  tr
                    th Eng Role
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_Role'}],indicator:'text'}) ---
                  tr
                    th Eng State
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_State'}],indicator:'text'}) ---
                  tr
                    th Eng Start Time
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_StartTime'}],indicator:'text'}) ---
                  tr
                    th Eng Src File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_SrcFile'}],indicator:'text'}) ---
                  tr
                    th Eng Dst File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_DstFile'}],indicator:'text'}) ---
                  tr
                    th Eng Tmp File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Eng_TmpFile'}],indicator:'text'}) ---
                  tr
                    th App Status
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Status'}],indicator:'text'}) ---
                  tr
                    th App Cond Code
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_CondCode'}],indicator:'text'}) ---
                  tr
                    th App Priority
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Priority'}],indicator:'text'}) ---
                  tr
                    th App Class
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Class'}],indicator:'text'}) ---
                  tr
                    th App Chan Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_ChanNum'}],indicator:'text'}) ---
                  tr
                    th App Source
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_Source'}],indicator:'text'}) ---
                  tr
                    th App Node Type
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_NodeType'}],indicator:'text'}) ---
                  tr
                    th App Trans Num
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_TransNum'}],indicator:'text'}) ---
                  tr
                    th App Src Entity ID
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_SrcEntityId'}],indicator:'text'}) ---
                  tr
                    th App Src File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_SrcFile'}],indicator:'text'}) ---
                  tr
                    th App Dst File
                    td
                      span(data-cdr={tlm: [{name: '/CFS/CF/Trans_App_DstFile'}],indicator:'text'}) ---
            footer
              button.btn.btn-primary(data-placement='top' data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'},indicator:'cmd'}) Send Trans Diag
    
  .row
    +app_specific_event_filters("CF")

    article.col-xs-11.col-sm-6.col-md-5.col-lg-4(style='width:350px')
      #wid-CFE-SB-Memory.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Memory
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Memory in Use
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MemInUse'}],indicator:'text'}) ---
                  tr
                    th Peak Memory in Use
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_PeakMemInUse'}],indicator:'text'}) ---
                  tr
                    th Low Memory Mark
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_LowMemoryMark'}],indicator:'text'}) ---
                  tr
                    th Max Memory Needed
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MaxMemNeeded'}],indicator:'text'}) ---
                  tr
                    th Memory Allocated
                    td
                      span(data-cdr={tlm: [{'name': '/CFS/CF/App_MemAllocated'}],indicator:'text'}) ---
                                        
  .row
    +app_specific_telemetry_control("CF")
            
  .row          
    +app_specific_mempools("CF")
    
  .row
    +app_specific_application_control("CF") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("CF")
    
  .row
    +app_specific_scheduler_control("CF")
  