.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CS - Memory
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/MemoryCSState'}],indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableMemory'},indicator:'cmd'}) Enable 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableMemory'},indicator:'cmd'}) Disable
          tr
            th Error Count
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/MemoryCSErrCounter'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/ReportBaselineMemory'},indicator:'cmd'}) Report 
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineMemory'},indicator:'cmd'}) Recompute
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableEntryMemory'},indicator:'cmd'}) Enable Entry  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableEntryMemory'},indicator:'cmd'}) Disable Entry
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/GetEntryIDMemory'},indicator:'cmd'}) Get Entry ID
