.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CF - Memory
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Memory in Use
            td
              span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MemInUse'}],indicator:'text'}) ---
          tr
            th Peak Memory in Use
            td
              span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.PeakMemInUse'}],indicator:'text'}) ---
          tr
            th Low Memory Mark
            td
              span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.LowMemoryMark'}],indicator:'text'}) ---
          tr
            th Max Memory Needed
            td
              span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MaxMemNeeded'}],indicator:'text'}) ---
          tr
            th Memory Allocated
            td
              span(data-cdr={tlm: [{'name': '/CF/CF_HkPacket_t/App.MemAllocated'}],indicator:'text'}) ---
                                