.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 MPC - PID Tuning
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th XY Gain
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_P', format: '%.8f' }],indicator:'text'}) ---
          tr
            th XY P
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_VEL_P', format: '%.8f' }],indicator:'text'}) ---
          tr
            th XY I
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_VEL_I', format: '%.8f' }],indicator:'text'}) ---
          tr
            th XY D
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/XY_VEL_D', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Z Gain
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_P'}],indicator:'text'}) ---
          tr
            th Z P
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_VEL_P', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Z I
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_VEL_I', format: '%.8f' }],indicator:'text'}) ---
          tr
            th Z D
            td
              div(data-cdr={tlm:[{name:'/MPC/MPC_DiagPacket_t/Z_VEL_D'}],indicator:'text'}) ---

    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SendDiag'},indicator:'cmd'}) Query    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SetXYPID'},indicator:'cmd'}) Set XY PID
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/MPC/SetZPID'},indicator:'cmd'}) Set Z PID
