.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - ActuatorControlsMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Control[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[0]'}],indicator:'text'}) ---
          tr
            th Control[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[1]'}],indicator:'text'}) ---
          tr
            th Control[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[2]'}],indicator:'text'}) ---
          tr
            th Control[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[3]'}],indicator:'text'}) ---
          tr
            th Control[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[4]'}],indicator:'text'}) ---
          tr
            th Control[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[5]'}],indicator:'text'}) ---
          tr
            th Control[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[6]'}],indicator:'text'}) ---
          tr
            th Control[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[7]'}],indicator:'text'}) ---
          tr
            th SampleTime
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/SampleTime'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Timestamp'}],indicator:'text'}) ---
