.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleLocalPositionSetpointMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AccX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccX'}],indicator:'text'}) ---
          tr
            th AccY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccY'}],indicator:'text'}) ---
          tr
            th AccZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccZ'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th VX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VX'}],indicator:'text'}) ---
          tr
            th VY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VY'}],indicator:'text'}) ---
          tr
            th VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VZ'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/X'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Y'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Yaw'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Z'}],indicator:'text'}) ---
