.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - ControlStateMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AccX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccX'}],indicator:'text'}) ---
          tr
            th AccY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccY'}],indicator:'text'}) ---
          tr
            th AccZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccZ'}],indicator:'text'}) ---
          tr
            th Airspeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Airspeed'}],indicator:'text'}) ---
          tr
            th AirspeedValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AirspeedValid'}],indicator:'text'}) ---
          tr
            th DeltaQReset[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[0]'}],indicator:'text'}) ---
          tr
            th DeltaQReset[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[1]'}],indicator:'text'}) ---
          tr
            th DeltaQReset[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[2]'}],indicator:'text'}) ---
          tr
            th DeltaQReset[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[3]'}],indicator:'text'}) ---
          tr
            th HorzAccMag
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/HorzAccMag'}],indicator:'text'}) ---
          tr
            th PitchRate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PitchRate'}],indicator:'text'}) ---
          tr
            th PitchRateBias
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PitchRateBias'}],indicator:'text'}) ---
          tr
            th PosVariance[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[0]'}],indicator:'text'}) ---
          tr
            th PosVariance[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[1]'}],indicator:'text'}) ---
          tr
            th PosVariance[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[2]'}],indicator:'text'}) ---
          tr
            th PosX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosX'}],indicator:'text'}) ---
          tr
            th PosY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosY'}],indicator:'text'}) ---
          tr
            th PosZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosZ'}],indicator:'text'}) ---
          tr
            th Q[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[0]'}],indicator:'text'}) ---
          tr
            th Q[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[1]'}],indicator:'text'}) ---
          tr
            th Q[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[2]'}],indicator:'text'}) ---
          tr
            th Q[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[3]'}],indicator:'text'}) ---
          tr
            th QuatResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/QuatResetCounter'}],indicator:'text'}) ---
          tr
            th RollRate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/RollRate'}],indicator:'text'}) ---
          tr
            th RollRateBias
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/RollRateBias'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th VelVariance[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[0]'}],indicator:'text'}) ---
          tr
            th VelVariance[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[1]'}],indicator:'text'}) ---
          tr
            th VelVariance[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[2]'}],indicator:'text'}) ---
          tr
            th VelX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelX'}],indicator:'text'}) ---
          tr
            th VelY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelY'}],indicator:'text'}) ---
          tr
            th VelZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelZ'}],indicator:'text'}) ---
          tr
            th YawRate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/YawRate'}],indicator:'text'}) ---
          tr
            th YawRateBias
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/YawRateBias'}],indicator:'text'}) ---
