.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - ActuatorArmedMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Armed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Armed'}],indicator:'text'}) ---
          tr
            th ForceFailsafe
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ForceFailsafe'}],indicator:'text'}) ---
          tr
            th InEscCalibrationMode
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/InEscCalibrationMode'}],indicator:'text'}) ---
          tr
            th Lockdown
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Lockdown'}],indicator:'text'}) ---
          tr
            th ManualLockdown
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ManualLockdown'}],indicator:'text'}) ---
          tr
            th Prearmed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Prearmed'}],indicator:'text'}) ---
          tr
            th ReadyToArm
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ReadyToArm'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Timestamp'}],indicator:'text'}) ---
