.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - ActuatorOutputsMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Count
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Count'}],indicator:'text'}) ---
          tr
            th Output[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[0]'}],indicator:'text'}) ---
          tr
            th Output[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[1]'}],indicator:'text'}) ---
          tr
            th Output[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[2]'}],indicator:'text'}) ---
          tr
            th Output[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[3]'}],indicator:'text'}) ---
          tr
            th Output[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[4]'}],indicator:'text'}) ---
          tr
            th Output[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[5]'}],indicator:'text'}) ---
          tr
            th Output[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[6]'}],indicator:'text'}) ---
          tr
            th Output[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[7]'}],indicator:'text'}) ---
          tr
            th Output[8]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[8]'}],indicator:'text'}) ---
          tr
            th Output[9]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[9]'}],indicator:'text'}) ---
          tr
            th Output[10]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[10]'}],indicator:'text'}) ---
          tr
            th Output[11]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[11]'}],indicator:'text'}) ---
          tr
            th Output[12]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[12]'}],indicator:'text'}) ---
          tr
            th Output[13]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[13]'}],indicator:'text'}) ---
          tr
            th Output[14]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[14]'}],indicator:'text'}) ---
          tr
            th Output[15]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[15]'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Timestamp'}],indicator:'text'}) ---
