.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - SensorBaroMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Altitude
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Altitude'}],indicator:'text'}) ---
          tr
            th ErrorCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/ErrorCount'}],indicator:'text'}) ---
          tr
            th Pressure
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Pressure'}],indicator:'text'}) ---
          tr
            th Temperature
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Temperature'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Timestamp'}],indicator:'text'}) ---
