.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleAttitudeMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th PitchSpeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/PitchSpeed'}],indicator:'text'}) ---
          tr
            th Q[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[0]'}],indicator:'text'}) ---
          tr
            th Q[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[1]'}],indicator:'text'}) ---
          tr
            th Q[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[2]'}],indicator:'text'}) ---
          tr
            th Q[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[3]'}],indicator:'text'}) ---
          tr
            th RollSpeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/RollSpeed'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th YawSpeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/YawSpeed'}],indicator:'text'}) ---
