.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleGpsPositionMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Alt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Alt'}],indicator:'text'}) ---
          tr
            th AltEllipsoid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/AltEllipsoid'}],indicator:'text'}) ---
          tr
            th COG
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/COG'}],indicator:'text'}) ---
          tr
            th CVariance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/CVariance'}],indicator:'text'}) ---
          tr
            th EpH
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/EpH'}],indicator:'text'}) ---
          tr
            th EpV
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/EpV'}],indicator:'text'}) ---
          tr
            th FixType
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/FixType'}],indicator:'text'}) ---
          tr
            th HDOP
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/HDOP'}],indicator:'text'}) ---
          tr
            th JammingIndicator
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/JammingIndicator'}],indicator:'text'}) ---
          tr
            th Lat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Lat'}],indicator:'text'}) ---
          tr
            th Lon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Lon'}],indicator:'text'}) ---
          tr
            th NoisePerMs
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/NoisePerMs'}],indicator:'text'}) ---
          tr
            th SVariance
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/SVariance'}],indicator:'text'}) ---
          tr
            th SatellitesUsed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/SatellitesUsed'}],indicator:'text'}) ---
          tr
            th TimeUtcUsec
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/TimeUtcUsec'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th TimestampTimeRelative
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/TimestampTimeRelative'}],indicator:'text'}) ---
          tr
            th VDOP
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/VDOP'}],indicator:'text'}) ---
          tr
            th VelNedValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/VelNedValid'}],indicator:'text'}) ---
          tr
            th Vel_d_m_s
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_d_m_s'}],indicator:'text'}) ---
          tr
            th Vel_e_m_s
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_e_m_s'}],indicator:'text'}) ---
          tr
            th Vel_m_s
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_m_s'}],indicator:'text'}) ---
          tr
            th Vel_n_m_s
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_n_m_s'}],indicator:'text'}) ---
