.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - RcChannelsMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th ChannelCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/ChannelCount'}],indicator:'text'}) ---
          tr
            th Channels[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[0]'}],indicator:'text'}) ---
          tr
            th Channels[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[1]'}],indicator:'text'}) ---
          tr
            th Channels[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[2]'}],indicator:'text'}) ---
          tr
            th Channels[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[3]'}],indicator:'text'}) ---
          tr
            th Channels[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[4]'}],indicator:'text'}) ---
          tr
            th Channels[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[5]'}],indicator:'text'}) ---
          tr
            th Channels[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[6]'}],indicator:'text'}) ---
          tr
            th Channels[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[7]'}],indicator:'text'}) ---
          tr
            th Channels[8]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[8]'}],indicator:'text'}) ---
          tr
            th Channels[9]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[9]'}],indicator:'text'}) ---
          tr
            th Channels[10]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[10]'}],indicator:'text'}) ---
          tr
            th Channels[11]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[11]'}],indicator:'text'}) ---
          tr
            th Channels[12]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[12]'}],indicator:'text'}) ---
          tr
            th Channels[13]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[13]'}],indicator:'text'}) ---
          tr
            th Channels[14]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[14]'}],indicator:'text'}) ---
          tr
            th Channels[15]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[15]'}],indicator:'text'}) ---
          tr
            th Channels[16]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[16]'}],indicator:'text'}) ---
          tr
            th Channels[17]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[17]'}],indicator:'text'}) ---
          tr
            th FrameDropCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/FrameDropCount'}],indicator:'text'}) ---
          tr
            th Function[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[0]'}],indicator:'text'}) ---
          tr
            th Function[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[1]'}],indicator:'text'}) ---
          tr
            th Function[2]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[2]'}],indicator:'text'}) ---
          tr
            th Function[3]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[3]'}],indicator:'text'}) ---
          tr
            th Function[4]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[4]'}],indicator:'text'}) ---
          tr
            th Function[5]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[5]'}],indicator:'text'}) ---
          tr
            th Function[6]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[6]'}],indicator:'text'}) ---
          tr
            th Function[7]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[7]'}],indicator:'text'}) ---
          tr
            th Function[8]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[8]'}],indicator:'text'}) ---
          tr
            th Function[9]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[9]'}],indicator:'text'}) ---
          tr
            th Function[10]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[10]'}],indicator:'text'}) ---
          tr
            th Function[11]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[11]'}],indicator:'text'}) ---
          tr
            th Function[12]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[12]'}],indicator:'text'}) ---
          tr
            th Function[13]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[13]'}],indicator:'text'}) ---
          tr
            th Function[14]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[14]'}],indicator:'text'}) ---
          tr
            th Function[15]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[15]'}],indicator:'text'}) ---
          tr
            th Function[16]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[16]'}],indicator:'text'}) ---
          tr
            th Function[17]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[17]'}],indicator:'text'}) ---
          tr
            th Function[18]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[18]'}],indicator:'text'}) ---
          tr
            th Function[19]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[19]'}],indicator:'text'}) ---
          tr
            th Function[20]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[20]'}],indicator:'text'}) ---
          tr
            th Function[21]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[21]'}],indicator:'text'}) ---
          tr
            th Function[22]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[22]'}],indicator:'text'}) ---
          tr
            th Function[23]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[23]'}],indicator:'text'}) ---
          tr
            th Function[24]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[24]'}],indicator:'text'}) ---
          tr
            th Function[25]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[25]'}],indicator:'text'}) ---
          tr
            th RSSI
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/RSSI'}],indicator:'text'}) ---
          tr
            th SignalLost
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/SignalLost'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th TimestampLastValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/TimestampLastValid'}],indicator:'text'}) ---
