table.table.table-condensed
  tbody
    tr
      th Bytes Used:
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.SysLogBytesUsed'}]}) ---
      td
    tr
      th Entries:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.SysLogEntries'}]}) ---
      td
        .btn-group
          button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_ClearSyslog_t'}}) Clear SysLog
          button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_WriteSyslog_t'}}) Write SysLog
    tr 
      th Mode:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.SysLogMode', calibration: {type:'enumeration', 
          enumerations:[
            {value:0, name:'OVERWRITE'},
            {value:1, name:'DISCARD'}]}  }]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_OverWriteSyslog_t'}}) Set Mode
    tr
      th Index:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.ERLogIndex'}]}) ---
      td
    tr 
      th Entries:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.ERLogEntries'}]}) ---
      td
        .btn-group
          button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_ClearERLog_t'}}) Clear ER Log
          button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_WriteERLog_t'}}) Write ER Log
