table.table.table-condensed
  tbody
    tr
      th Bytes Free:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.HeapBytesFree'}]}) ---
    tr
      th Blocks Free:
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.HeapBlocksFree'}]}) ---
    tr
      th Maximum:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.HeapMaxBlockSize'}]}) ---
    tr
      th Pool handle
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolHandle', format:'0x%08x'}]}) ---
    tr
      th Pool size
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.PoolSize'}]}) ---
    tr
      th Num blocks requested
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.NumBlocksRequested'}]}) ---
    tr
      th Check error count
      td 
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.CheckErrCtr'}]}) ---
    tr
      th Num free bytes
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.NumFreeBytes'}]}) ---       
table.table.table-striped.table-condensed.table-memory
  thead
    th(style='width:50px') #
    th(style='width:100px') Block Size
    th(style='width:75px') Created
    th(style='width:75px') Free
  tbody
    - for (var i = 0; i < 17; ++i) {
      - var size = '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].BlockSize'
      - var numCreated = '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].NumCreated'
      - var numFree = '/CFE/CFE_ES_MemStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].NumFree'
      tr
        th #{i}
        td 
          span(data-cdr={tlm:[{name: size}]}) ---
        td 
          span(data-cdr={tlm:[{name: numCreated}]}) ---
        td
          span(data-cdr={tlm:[{name: numFree}]}) ---
      - }  
    
footer
 .btn-group
   button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_SendMemPoolStats_t'}}) Send Stats
   button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DumpCDSRegistry_t'}}) Dump CDS
   button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DeleteCDS_t'}}) Delete CDS
