table.table.table-condensed
  tbody
    tr
    th CFE Version:
      td 
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.CFEMajorVersion'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.CFEMinorVersion'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.CFERevision'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.CFEMissionRevision'}]}) -
      td
    tr
      th OSAL Version:
      td 
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.OSALMajorVersion'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.OSALMinorVersion'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.OSALRevision'}]}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.OSALMissionRevision'}]}) -
      td
    tr
      th Checksum:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HousekeepingTlm_t/Payload.CFECoreChecksum', format:'0x%04x'}]}) ---
      td
