extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Optical Flow Estimator

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Command and Data Handling
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Timestamp
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/Timestamp'}]}) ---
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/FLOW/ErrCounter'}]}) ---   
                  tr
                    th Quality
                    td
                      span(data-sage={tlm:[{name:'/CFS/FLOW/Quality'}]}) --- 
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/Reset'}}) Reset

                      
              

                                        
  .row
    +app_specific_telemetry_control("FLOW")
                                                  
  .row          
    +app_specific_mempools("FLOW")
    
  .row
    +app_specific_application_control("FLOW") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("FLOW")
    
  .row
    +app_specific_scheduler_control("FLOW")
