- var pluginName = query.pluginName;
table.table.table-condensed
  tbody
    tr
      th Commands Accepted 
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/cmdAcceptCount'}]}) ---
    tr
      th Commands Rejected
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/cmdRejectCount'}]}) ---
    tr
      th Input Port
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/inPort'}]}) ---
    tr
      th Output Port
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/outPort'}]}) ---
    tr
      th Output Address
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/outAddress'}]}) ---
    tr
      th Messages Sent
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/msgSentCount'}]}) ---
    tr
      th Messages Received
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/msgRecvCount'}]}) ---
    tr
      th Input Stream
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/inputStreamID'}]}) ---
    tr
      th Output Stream
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/outputStreamID'}]}) ---
              
footer.btn-group(role="group")        
  button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/setInput'}}) Set Input
  button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/setOutput'}}) Set Output
