table.table.table-condensed
  tbody
    tr
      th Commands Accepted
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/cmdAcceptCount'}]}) ---
    tr
      th Commands Rejected
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/cmdRejectCount'}]}) ---
    tr
      th Input Port
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/inPort'}]}) ---
    tr
      th Output Port
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/outPort'}]}) ---
    tr
      th Output Address
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/outAddress'}]}) ---
    tr
      th Messages Sent
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/msgSentCount'}]}) ---
    tr
      th Messages Received
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/msgRecvCount'}]}) ---
    tr
      th Input Stream
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/inputStreamID'}]}) ---
    tr
      th Output Stream
      td
        div(data-cdr={tlm:[{name:'/fsw-connector/hk/outputStreamID'}]}) ---
              
footer.btn-group(role="group")        
  button.btn.cdr-primary(data-cdr={cmd:{name:'/fsw-connector/setInput'},indicator:'cmd'}) Set Input
  button.btn.cdr-primary(data-cdr={cmd:{name:'/fsw-connector/setOutput'},indicator:'cmd'}) Set Output
