table.table.table-condensed
  tbody
    tr
      th Last Update
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastBaro'}]}) ---
    tr
      th Initialized
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroInitialized'}]}) ---
    tr
      th Fault
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFault'}]}) ---
    tr
      th Alt Origin
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroAltOrigin'}]}) ---
    tr
      th Timeout
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroTimeout'}]}) ---
    tr
      th Fused
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/BaroFused'}]}) ---
            
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/EnableBaro'}}) Enable
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/DisableBaro'}}) Disable 
      
