table.table.table-condensed
  tbody
    tr
      th Last Update
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/TimeLastLand'}]}) ---
    tr
      th Initialized
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandInitialized'}]}) ---
    tr
      th Fault
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandFault'}]}) ---
    tr
      th Timeout
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandTimeout'}]}) ---
    tr
      th Fused
      td
        span(data-cdr={tlm: [{name:'/PE/PE_HkTlm_t/LandFused'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/EnableLanding'}}) Enable
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PE/DisableLanding'}}) Disable 
      
