- queryString = '$.Airliner.apps.FM.config.FM_DIR_LIST_PKT_ENTRIES';
-
- global.COMMANDER.queryConfigDB(queryString, function (results) {
-     FM_DIR_LIST_PKT_ENTRIES = results[0];

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 FM - Directory Listing
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Directory Name
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/DirName'}], indicator:'text'}) ---
          tr
            th Total Files
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/TotalFiles'}], indicator:'text'}) ---
          tr
            th Packet Files
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/PacketFiles'}], indicator:'text'}) ---
          tr
            th Index of First Packet File
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/FirstFile'}], indicator:'text'}) ---
      table.table.table-condensed
        tbody
          tr
            th File Name
            th File Size
            th Modify Time
            th Mode
          - for(var i = 0; i < FM_DIR_LIST_PKT_ENTRIES; ++i) {
          tr
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/FileList[' + i + '].EntryName'}],indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/FileList[' + i + '].EntrySize'}], indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/FileList[' + i + '].ModifyTime'}], indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_DirListPkt_t/FileList[' + i + '].Mode'}], indicator:'text'}) ---
          - }
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_GetDirPktCmd_t'},indicator:'cmd'}) Get Directory (telemetry)
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_GetDirFileCmd_t'},indicator:'cmd'}) Get Directory (file)
- });
