table.table.table-condensed
  tbody
    tr
      th File Name
      td
        span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/Filename'}]}) ---
    tr
      th File Status
      td
        div(data-cdr={tlm:[{name:'/FM/FM_FileInfoPkt_t/FileStatus'}]}) ---
    tr
      th CRC Computed
      td
        div(data-cdr={tlm:[{name:'/FM/FM_FileInfoPkt_t/CRC_Computed'}]}) ---
    tr
      th CRC
      td
        span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/CRC', format: '0x%04x'}]}) ---
    tr
      th File Size
      td
        span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/FileSize'}]}) ---
    tr
      th Last Modified Time
      td
        span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/LastModifiedTime'}]}) ---
    tr
      th Permissions
      td
        span(data-cdr={tlm: [{name:'/FM/FM_FileInfoPkt_t/Mode'}]}) ---
            
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_GetFileInfoCmd_t'}}) Get File Info
