.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 FM - Housekeeping
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/FM/FM_HousekeepingPkt_t/CommandCounter'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/FM/FM_HousekeepingPkt_t/CommandErrCounter'}],indicator:'text'}) ---
          tr
            th Num Open Files
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/NumOpenFiles'}], indicator:'text'}) ---
          tr
            th Child Cmd Counter
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdCounter'}], indicator:'text'}) ---
          tr
            th Child Cmd Error Count
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdErrCounter'}], indicator:'text'}) ---
          tr
            th Child Cmd Warning Count
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdWarnCounter'}], indicator:'text'}) ---
          tr
            th Child Queue Count
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildQueueCount'}], indicator:'text'}) ---
          tr
            th Child Current Cmd Code
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCurrentCC'}], indicator:'text'}) ---
          tr
            th Child Previous Cmd Code
            td
              span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildPreviousCC'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_NoopCmd_t'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_ResetCmd_t'},indicator:'cmd'}) Reset 
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_CopyFileCmd_t'},indicator:'cmd'}) Copy File
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_MoveFileCmd_t'},indicator:'cmd'}) Move File
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_RenameFileCmd_t'},indicator:'cmd'}) Rename File
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_DeleteFileCmd_t'},indicator:'cmd'}) Delete File
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_DeleteAllCmd_t'},indicator:'cmd'}) Delete All
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_DecompressCmd_t'},indicator:'cmd'}) Decompress File
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_ConcatCmd_t'},indicator:'cmd'}) Concatenate Files
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_CreateDirCmd_t'},indicator:'cmd'}) Create Directory
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_DeleteDirCmd_t'},indicator:'cmd'}) Delete Directory
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_SetTableStateCmd_t'},indicator:'cmd'}) Set Table State
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_SetPermCmd_t'},indicator:'cmd'}) Set Permissions
