table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/FM/FM_HousekeepingPkt_t/CommandCounter'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/FM/FM_HousekeepingPkt_t/CommandErrCounter'}]}) ---
    tr
      th Num Open Files
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/NumOpenFiles'}]}) ---
    tr
      th Child Cmd Counter
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdCounter'}]}) ---
    tr
      th Child Cmd Error Count
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdErrCounter'}]}) ---
    tr
      th Child Cmd Warning Count
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCmdWarnCounter'}]}) ---
    tr
      th Child Queue Count
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildQueueCount'}]}) ---
    tr
      th Child Current Cmd Code
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildCurrentCC'}]}) ---
    tr
      th Child Previous Cmd Code
      td
        span(data-cdr={tlm: [{name:'/FM/FM_HousekeepingPkt_t/ChildPreviousCC'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_NoopCmd_t'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_ResetCmd_t'}}) Reset 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_CopyFileCmd_t'}}) Copy File
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_MoveFileCmd_t'}}) Move File
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_RenameFileCmd_t'}}) Rename File
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_DeleteFileCmd_t'}}) Delete File
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_DeleteAllCmd_t'}}) Delete All
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_DecompressCmd_t'}}) Decompress File
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_ConcatCmd_t'}}) Concatenate Files
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_CreateDirCmd_t'}}) Create Directory
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_DeleteDirCmd_t'}}) Delete Directory
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_SetTableStateCmd_t'}}) Set Table State
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_SetPermCmd_t'}}) Set Permissions
