- queryString = '$.Airliner.apps.CFE.config.OS_MAX_NUM_OPEN_FILES';
-
- global.COMMANDER.queryConfigDB(queryString, function (results) {
-     OS_MAX_NUM_OPEN_FILES = results[0];

table.table.table-condensed
  tbody
    tr 
      th Number of Open Files
      td
        span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/NumOpenFiles'}]}) ---
table.table.table-condensed
  tbody
    tr
      th Logical Name
      th App Name
    - for(var i = 0; i < OS_MAX_NUM_OPEN_FILES; ++i) {
    tr
      td
        span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/OpenFilesList[' + i + '].LogicalName'}]}) ---
      td
        span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/OpenFilesList[' + i + '].AppName'}]}) ---
    - }
             
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FM/FM_GetOpenFilesCmd_t'}})  Get Open Files
- });
      
