- queryString = '$.Airliner.apps.CFE.config.OS_MAX_NUM_OPEN_FILES';
-
- global.COMMANDER.queryConfigDB(queryString, function (results) {
-     OS_MAX_NUM_OPEN_FILES = results[0];

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 FM - Free Space
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr 
            th Number of Open Files
            td
              span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/NumOpenFiles'}], indicator:'text'}) ---
      table.table.table-condensed
        tbody
          tr
            th Logical Name
            th App Name
          - for(var i = 0; i < OS_MAX_NUM_OPEN_FILES; ++i) {
          tr
            td
              span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/OpenFilesList[' + i + '].LogicalName'}], indicator:'text'}) ---
            td
              span(data-cdr={tlm: [{name:'/FM/FM_OpenFilesPkt_t/OpenFilesList[' + i + '].AppName'}],indicator:'text'}) ---
          - }
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/FM/FM_GetOpenFilesCmd_t'},indicator:'cmd'})  Get Open Files
- });
      
