table.table.table-condensed
  tbody
    tr
      th #
      th Tbl Addr Count
      th Num Waits Per Pkt
      th Byte Count
      th Pkt Offset
      th Tbl Entry
      th Countdown          
    tr
      th 0
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblAddrCount[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/NumWaitsPerPkt[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/ByteCount[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellPktOffset[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblEntry[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/Countdown[0]'}]}) ---
    tr
      th 1
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblAddrCount[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/NumWaitsPerPkt[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/ByteCount[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellPktOffset[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblEntry[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/Countdown[1]'}]}) ---
    tr
      th 2
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblAddrCount[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/NumWaitsPerPkt[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/ByteCount[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellPktOffset[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblEntry[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/Countdown[2]'}]}) ---      
    tr
      th 3
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblAddrCount[3]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/NumWaitsPerPkt[3]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/ByteCount[3]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellPktOffset[3]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/DwellTblEntry[3]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/MD/MD_HkTlm_t/Countdown[3]'}]}) ---
