button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiagnosticTlm_t'}}) Telemeter Diag

table.table.table-condensed
        tbody
          tr
            th Tone Data Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneDataLatch.Seconds'}]}) ---
          tr
            th
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneDataLatch.Subseconds'}]}) ---
          tr
            th Tone Match Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneMatchCount'}]}) ---
          tr
            th Tone Match Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneMatchErrors'}]}) ---
          tr
            th Tone Signal Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneSignalCount'}]}) ---
          tr
            th Tone Data Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneDataCount'}]}) ---
          tr
            th Tone Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneIntCount'}]}) ---
          tr
            th Tone Int Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneIntErrors'}]}) ---
          tr
            th Tone Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneTaskCount'}]}) ---
          tr
            th Version Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.VersionCount'}]}) ---
          tr
            th Local Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.LocalIntCount'}]}) ---
          tr
            th Local Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.LocalTaskCount'}]}) ---
          tr
            th Virtual MET
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.VirtualMET'}]}) ---
          tr
            th Min Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.MinElapsed'}]}) ---
          tr
            th Max Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.MaxElapsed'}]}) ---
          tr
            th Max Local Clock
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.MaxLocalClock.Seconds'}]}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.MaxLocalClock.Subseconds'}]}) ---
          tr
            th Tone Over Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneOverLimit'}]}) ---
          tr
            th Tone Under Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneUnderLimit'}]}) ---
          tr
            th Data Store Status
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.DataStoreStatus', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ERROR'},
                  {value:2, name:'BAD'},
                  {value:3, name:'NEW'},
                  {value:4, name:'EXISTING'}
                ]}}]}) ---
