button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiag'}, indicator:'cmd'}) Telemeter Diag

table.table.table-condensed
        tbody
          tr
            th Tone Data Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataLatch.Seconds'}], indicator:'text'}) ---
          tr
            th
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Match Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneMatchCount'}], indicator:'text'}) ---
          tr
            th Tone Match Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneMatchErrors'}], indicator:'text'}) ---
          tr
            th Tone Signal Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalCount'}], indicator:'text'}) ---
          tr
            th Tone Data Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataCount'}], indicator:'text'}) ---
          tr
            th Tone Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneIntCount'}], indicator:'text'}) ---
          tr
            th Tone Int Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneIntErrors'}], indicator:'text'}) ---
          tr
            th Tone Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneTaskCount'}], indicator:'text'}) ---
          tr
            th Version Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.VersionCount'}], indicator:'text'}) ---
          tr
            th Local Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.LocalIntCount'}], indicator:'text'}) ---
          tr
            th Local Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.LocalTaskCount'}], indicator:'text'}) ---
          tr
            th Virtual MET
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.VirtualMET'}], indicator:'text'}) ---
          tr
            th Min Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MinElapsed'}], indicator:'text'}) ---
          tr
            th Max Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxElapsed'}], indicator:'text'}) ---
          tr
            th Max Local Clock
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxLocalClock.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxLocalClock.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Over Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneOverLimit'}], indicator:'text'}) ---
          tr
            th Tone Under Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneUnderLimit'}], indicator:'text'}) ---
          tr
            th Data Store Status
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.DataStoreStatus', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ERROR'},
                  {value:2, name:'BAD'},
                  {value:3, name:'NEW'},
                  {value:4, name:'EXISTING'}
                ]}}]}) ---
