button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiagnosticTlm_t'}}) Telemeter Diag

table.table.table-condensed
        tbody
          tr
            th Current UTC
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.CurrentUTC.Seconds'}]}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.CurrentUTC.Subseconds'}]}) ---
          tr
            th Set State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ClockSetState'}]}) ---
          tr
            th Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ClockFlyState'}]}) ---
          tr
            th Source
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ClockSource'}]}) ---
          tr
            th Signal
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ClockSignal'}]}) ---
          tr
            th Server Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ServerFlyState'}]}) ---
          tr
            th Forced to Fly
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.Forced2Fly'}]}) ---
          tr
            th Clock State Flags
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ClockStateFlags'}]}) ---
          tr
            th One Time Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneTimeDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th 1Hz Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneHzDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th Delay Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.DelayDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th One Time Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneTimeAdjust.Seconds'}]}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneTimeAdjust.Subseconds'}]}) ---
          tr
            th 1Hz Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneHzAdjust.Seconds'}]}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.OneHzAdjust.Subseconds'}]}) ---
          tr
            th Tone Signal Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneSignalLatch.Seconds'}]}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagnosticTlm_t/Payload.ToneSignalLatch.Subseconds'}]}) ---
      
                      