button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiag'}, indicator:'cmd'}) Telemeter Diag

table.table.table-condensed
        tbody
          tr
            th Current UTC
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentUTC.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentUTC.Subseconds'}], indicator:'text'}) ---
          tr
            th Set State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSetState'}], indicator:'led'}) ---
          tr
            th Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockFlyState'}], indicator:'led'}) ---
          tr
            th Source
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSource'}], indicator:'led'}) ---
          tr
            th Signal
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSignal'}], indicator:'led'}) ---
          tr
            th Server Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ServerFlyState'}], indicator:'led'}) ---
          tr
            th Forced to Fly
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.Forced2Fly'}], indicator:'led'}) ---
          tr
            th Clock State Flags
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockStateFlags'}], indicator:'text'}) ---
          tr
            th One Time Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th 1Hz Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th Delay Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.DelayDirection', calibration: {type:'enumeration', 
                enumerations:[
                  {value:1, name:'ADD'},
                  {value:2, name:'SUBTRACT'}
                ]}}]}) ---
          tr
            th One Time Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeAdjust.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeAdjust.Subseconds'}], indicator:'text'}) ---
          tr
            th 1Hz Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzAdjust.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzAdjust.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Signal Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalLatch.Subseconds'}], indicator:'text'}) ---
      
                      