div.widget-body
      table.table.table-condensed
        tbody
          tr
            th(style='width:100px') Cmd Count
            td(style='width:100px') 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.CmdCounter'}], indicator:'text'}) ---
            td(style='width:100px') 
              .btn-group
                button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Noop'}, indicator:'cmd'}) No-Op
                button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Reset'}, indicator:'cmd'}) Reset
          tr
            th Cmd Error Count
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.ErrCounter'}], indicator:'text'}) ---
            td
          tr
            th Clock State Flags
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.ClockStateFlags'}], indicator:'text'})
            td
          tr
            th Clock State API
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.ClockStateAPI', calibration: {type:'enumeration', 
                enumerations:[
                  {value:-1, name:'INVALID'},
                  {value:0, name:'VALID'},
                  {value:1, name:'FLYWHEEL'}
                ]}}]}) ---
            td
          tr
            th Leap Seconds
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.LeapSeconds'}], indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetLeapsCmd'}, indicator:'cmd'}) Set
          tr
            th MET
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.SecondsMET'}], indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetMetCmd'}, indicator:'cmd'}) Set
          tr
            th
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.SubsecsMET'}], indicator:'text'}) ---
            td
          tr
            th STCF
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.SecondsSTCF'}], indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetStcfCmd'}, indicator:'cmd'}) Set
          tr
            th
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.SubsecsSTCF'}], indicator:'text'}) ---
            td
          tr
            th 1Hz Adjust
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.Seconds1HzAdj'}], indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Add1HzAdjCmd'}, indicator:'cmd'}) Add
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Sub1HzAdjCmd'}, indicator:'cmd'}) Sub
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HkPacket_t/Payload.Subsecs1HzAdj'}], indicator:'text'}) ---
            td
footer
  .btn-group
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_StateCmd_t'}, indicator:'cmd'}) Set State
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SourceCmd_t'}, indicator:'cmd'}) Set Source
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetSignalCmd'}, indicator:'cmd'}) Set Signal
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetTimeCmd'}, indicator:'cmd'}) Set Time
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetMetCmd'}, indicator:'cmd'}) Set MET
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetStcfCmd'}, indicator:'cmd'}) Set STCF
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_AddAdjustCmd'}, indicator:'cmd'}) Add Adjust
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SubAdjustCmd'}, indicator:'cmd'}) Sub Adjust
