div.widget-body
      table.table.table-condensed
        tbody
          tr
            th(style='width:100px') Cmd Count
            td(style='width:100px') 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.CmdCounter'}]}) ---
            td(style='width:100px') 
              .btn-group
                button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Noop_t'}}) No-Op
                button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_ResetCounters_t'}}) Reset
          tr
            th Cmd Error Count
            tdCFE_TIME_HousekeepingTlm_t
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.ErrCounter'}]}) ---
            td
          tr
            th Clock State Flags
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.ClockStateFlags'}]})
            td
          tr
            th Clock State API
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.ClockStateAPI', calibration: {type:'enumeration', 
                enumerations:[
                  {value:-1, name:'INVALID'},
                  {value:0, name:'VALID'},
                  {value:1, name:'FLYWHEEL'}
                ]}}]}) ---
            td
          tr
            th Leap Seconds
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.LeapSeconds'}]}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetLeapSeconds_t'}}) Set
          tr
            th MET
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.SecondsMET'}]}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetMetCmd'}}) Set
          tr
            th
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.SubsecsMET'}]}) ---
            td
          tr
            th STCF
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.SecondsSTCF'}]}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetStcfCmd'}}) Set
          tr
            th
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.SubsecsSTCF'}]}) ---
            td
          tr
            th 1Hz Adjust
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.Seconds1HzAdj'}]}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Add1HZAdjustment_t'}}) Add
              button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_Sub1HZAdjustment_t'}}) Sub
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_HousekeepingTlm_t/Payload.Subsecs1HzAdj'}]}) ---
            td
footer
  .btn-group
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetState_t'}}) Set State
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetSource_t'}}) Set Source
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetSignal_t'}}) Set Signal
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetTime_t'}}) Set Time
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetMET_t'}}) Set MET
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SetSTCF_t'}}) Set STCF
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_AddAdjust_t'}}) Add Adjust
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SubAdjust_t'}}) Sub Adjust
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_AddDelay_t'}}) Add Delay
     button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SubDelay_t'}}) Sub Delay
