extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | MPU9250 Inertial Measurement Unit Driver

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MPU9250-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/ErrCounter'}]}) ---
                    tr
                      th State
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/State'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPU9250/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPU9250/Reset'}}) Reset
                
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:650px')
        #wid-MPU9250-Diagnostic.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Diagnostic
              button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name:'/CFS/MPU9250/SendDiag'}}) Send
              button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name:'/CFS/MPU9250/SetCalibration'}}) Set Calibration
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th(style={width:"250px"}) Accel Scale
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccScaleX'}]}) ---
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccScaleY'}]}) ---
                      td(style={width:"100px"})
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccScaleZ'}]}) ---
                    tr
                      th Accel Offset
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccOffsetX'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccOffsetY'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccOffsetZ'}]}) ---
                    tr
                      th Gyro Scale
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroScaleX'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroScaleY'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroScaleZ'}]}) ---
                    tr
                      th Gyro Offset
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroOffsetX'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroOffsetY'}]}) ---
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroOffsetZ'}]}) ---
                    tr
                      th Rotation
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_Rotation'}]}) ---
                      td
                      td
                    tr
                      th Accel Unit
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccUnit'}]}) ---
                      td
                      td
                    tr
                      th Gyro Unit
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroUnit'}]}) ---
                      td
                      td
                    tr
                      th Accel Divider
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccDivider'}]}) ---
                      td
                      td
                    tr
                      th Gyro Divider
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroDivider'}]}) ---
                      td
                      td
                    tr
                      th Room Temperature Offset
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_RoomTempOffset'}]}) ---
                      td
                      td
                    tr
                      th Temperature Sensitivity
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_TempSensitivity'}]}) ---
                      td
                      td
                    tr
                      th Accel Scale
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_AccScale'}]}) ---
                      td
                      td
                    tr
                      th Gyro Scale
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPU9250/Diag_GyroScale'}]}) ---
                      td
                      td

                                        
  .row
    +app_specific_telemetry_control("MPU9250")
                
  .row
    +app_specific_table_control("MPU9250")
                    
  .row          
    +app_specific_mempools("MPU9250")
    
  .row
    +app_specific_application_control("MPU9250")
    +registered_applications() 

  .row
    +app_specific_event_filters("MPU9250")
    
  .row
    +app_specific_scheduler_control("MPU9250")

