extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Embedded Test Agent

block main
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count:
                      td 
                        span(data-sage={tlm: {name: "/CFS/ETA/CmdCounter"}}) ---
                    tr
                      th Cmd Error Count:
                      td
                        span(data-sage={tlm: {name: "/CFS/ETA/ErrCounter"}}) ---
                    tr
                      th Sync Mode:
                      td
                        span(data-sage={tlm: {name: "/CFS/ETA/RuntimeMode"}}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/ETA/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/ETA/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/ETA/SetRuntimeMode'}}) Set Runtime Mode
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/ETA/StepFrame'}}) Step Frame










