extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | RGBLED Control

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-RGBLED-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 RGBLED Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/RGBLED/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/RGBLED/ErrCounter'}]}) ---
                  tr
                    th State
                    td
                      span(data-sage={tlm: [{name:'/CFS/RGBLED/State'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/RGBLED/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/RGBLED/Reset'}}) Reset
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/RGBLED/SelfTest'}}) Self-Test
                                              
  .row          
    +app_specific_mempools("RGBLED")
    
  .row
    +app_specific_application_control("RGBLED") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("RGBLED")
    
  .row
    +app_specific_scheduler_control("RGBLED")
