.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Event Filter (Generic)
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th(style={width:'100px'}) App Events
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEvents'}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEvents'}, indicator:'cmd'}) Disable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetAppFilters'}, indicator:'cmd'}) Reset
              tr
                th Event Types
                td
              tr
                td(style='padding-left: 20px !important') Critical
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Error
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Info
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Debug
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                th Event IDs
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_SetAppEventFilter'}, indicator:'cmd'}) Set
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetAppEventFilter'}, indicator:'cmd'}) Reset
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_AddAppEventFilter'}, indicator:'cmd'}) Add
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DeleteAppEventFilter'}, indicator:'cmd'}) Delete
