.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Event Filter (Generic)
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th(style={width:'100px'}) App Events
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/EnableAppEvents'}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DisableAppEvents'}, indicator:'cmd'}) Disable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/ResetAllFilters'}, indicator:'cmd'}) Reset
              tr
                th Event Types
                td
              tr
                td(style='padding-left: 20px !important') Critical
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Error
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Set'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Info
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Error', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Set'},{name:'Debug', value:'Ignored'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                td(style='padding-left: 20px !important')  Debug
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/EnableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Enable
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DisableAppEventType', argument:[{name:'Critical', value:'Ignored'},{name:'Error', value:'Ignored'},{name:'Information', value:'Ignored'},{name:'Debug', value:'Set'},{name:'Spare', value:'0'}]}, indicator:'cmd'}) Disable
              tr
                th Event IDs
                td
                  .btn-group
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/SetFilter'}, indicator:'cmd'}) Set
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/ResetFilter'}, indicator:'cmd'}) Reset
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/AddEventFilter'}, indicator:'cmd'}) Add
                    button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/EVS_HK/DeleteEventFilter'}, indicator:'cmd'}) Delete
