.row.os-theme-dark
  article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-table
        h2 Housekeeping
      div.widget-body.table-responsive
        table.table.table-condensed
              tbody
                tr
                  th(style={width: '150px'}) Cmd Count:
                  td(style={width: '80px'})
                    span(data-cdr={tlm: [{name: '/CFE/EVS_HK/Payload.CommandCounter'}],indicator:'text'}) ---
                  td(style={width: '150px'})
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_EVS_Noop'}, indicator:'cmd'}) No-Op
                      button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_EVS_Reset'}, indicator:'cmd'}) Reset
                tr
                  th Cmd Error Count:
                  td
                    span(data-cdr={tlm: [{name: '/CFE/EVS_HK/Payload.CommandErrCounter'}],indicator:'text'}) ---
                  td
                tr
                  th Msg Format
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.MessageFormatMode'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_SetEventFormatMode', argument:[{name:'Payload.Mode', value:'Short'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Short 
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_SetEventFormatMode', argument:[{name:'Payload.Mode', value:'Long'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Long
                tr
                  th Truncated Msgs
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.MessageTruncCounter'}],indicator:'text'}) ---
                  td
                tr
                  th Unregistered Apps
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.UnregisteredAppCounter'}],indicator:'text'}) ---
                  td
                tr
                  th Output Port 0
                  td
                    span(data-commander={tlm:[{name:'/CFE/EVS_HK/Payload.OutputPort0'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_EnablePorts', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_DisablePorts', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
                tr
                  th Output Port 1
                  td
                    span(data-commander={tlm:[{name:'/CFE/EVS_HK/Payload.OutputPort1'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_EnablePorts', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_DisablePorts', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
                tr
                  th Output Port 2
                  td
                    span(data-commander={tlm:[{name:'/CFE/EVS_HK/Payload.OutputPort2'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_EnablePorts', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_DisablePorts', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
                tr
                  th Output Port 3
                  td
                    span(data-commander={tlm:[{name:'/CFE/EVS_HK/Payload.OutputPort3'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_EnablePorts', argument:[{name:'Payload.BitMask', value:'8'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_DisablePorts', argument:[{name:'Payload.BitMask', value:'8'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
                tr
                  th Log Full
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.LogFullFlag'}],indicator:'text'}) ---
                  td
                tr
                  th Log Mode
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.LogMode'}],indicator:'text'}) ---
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_SetLogMode', argument:[{name:'Payload.Mode', value:'Overwrite'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Overwrite
                      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_EVS_SetLogMode', argument:[{name:'Payload.Mode', value:'Discard'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Discard
                tr
                  th Msg Send Counter
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.MessageSendCounter'}],indicator:'text'}) ---
                  td
                tr
                  th Overflow Count
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.LogOverflowCounter'}],indicator:'text'}) ---
                  td
                tr
                  th Log Enabled
                  td
                    span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.LogEnabled'}],indicator:'text'}) ---
                  td
