.row.os-theme-dark
  article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-table
        h2 Stats
      div.widget-body.table-responsive
        table.table.table-condensed.table-striped
         thead
           th(style={width:'50px'}) #
           th(style={width:'75px'}) App ID
           th(style={width:'100px'}) Msgs Sent
           th(style={width:'100px'}) Status
           th(style={width:'10px'}) 
         tbody
           tr
             td 0
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[0].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[0].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[0].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 1
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[1].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[1].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[1].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 2
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[2].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[2].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[2].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 3
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[3].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[3].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[3].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 4
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[4].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[4].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[4].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 5
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[5].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[5].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[5].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 6
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[6].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[6].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[6].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 7
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[7].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[7].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[7].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 8
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[8].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[8].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[8].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 9
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[9].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[9].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[9].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 10
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[10].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[10].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[10].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 11
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[11].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[11].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[11].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 12
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[12].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[12].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[12].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 13
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[13].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[13].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[13].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 14
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[14].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[14].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[14].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 15
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[15].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[15].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[15].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 16
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[16].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[16].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[16].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 17
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[17].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[17].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[17].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 18
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[18].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[18].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[18].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 19
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[19].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[19].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[19].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 20
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[20].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[20].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[20].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 21
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[21].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[21].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[21].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 22
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[22].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[22].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[22].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 23
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[23].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[23].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[23].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 24
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[24].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[24].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[24].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 25
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[25].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[25].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[25].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 26
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[26].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[26].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[26].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 27
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[27].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[27].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[27].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 28
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[28].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[28].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[28].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 29
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[29].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[29].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[29].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 30
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[30].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[30].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[30].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 31
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[31].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[31].AppMessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[31].AppEnableStatus'}],indicator:'text'}) ---
             td
      footer
      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/EVS_HK/FileWriteAppData'}, indicator:'cmd'}) Write To File
      .btn-group.dropup
        button.btn.cdr-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | Reset App Counters
          span.caret
        ul#ResetAppCounters.dropdown-menu(role='menu')
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_ES'}]}, indicator:'cmd'}, data-placement="left") CFE_ES
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CF_EVS'}]}, indicator:'cmd'}, data-placement="left") EVS_HK
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_SB'}]}, indicator:'cmd'}, data-placement="left") CFE_SB
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_TBL'}]}, indicator:'cmd'}, data-placement="left") CFE_TBL
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_TIME'}]}, indicator:'cmd'}, data-placement="left") CFE_TIME
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CF'}]}, indicator:'cmd'}, data-placement="left") CF
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CIO'}]}, indicator:'cmd'}, data-placement="left") CIO
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CS'}]}, indicator:'cmd'}, data-placement="left") CS
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'DS'}]}, indicator:'cmd'}, data-placement="left") DS
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'EIM'}]}, indicator:'cmd'}, data-placement="left") EIM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'FM'}]}, indicator:'cmd'}, data-placement="left") FM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'HK'}]}, indicator:'cmd'}, data-placement="left") HK
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'LC'}]}, indicator:'cmd'}, data-placement="left") LC
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'MD'}]}, indicator:'cmd'}, data-placement="left") MD
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'MM'}]}, indicator:'cmd'}, data-placement="left") MM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'SC'}]}, indicator:'cmd'}, data-placement="left") SC
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'SCH'}]}, indicator:'cmd'}, data-placement="left") SCH
  script.
    var AppIDtoName = function(value) {
      //return value;
      switch(value){
        case 0:
          return 'EVS_HK';

        case 1:
          return 'CFE_SB';

        case 2:
          return 'CFE_ES';

        case 3:
          return 'CFE_TIME';

        case 4:
          return 'CFE_TBL';

        case 5:
          return 'SCH';

        case 6:
          return 'TO';

        case 7:
          return 'CI';

        case 8:
          return 'PX4BR';

        case 9:
          return 'SCH';

        case 10:
          return 'CS';

        case 11:
          return 'DS';

        case 12:
          return 'FM';

        case 13:
          return 'HK';

        case 14:
          return 'FM';

        case 15:
          return 'LC';

        case 16:
          return 'MD';

        case 17:
          return 'MM';

        case 18:
          return 'HS';

        case 19:
          return 'ETA';

        default:
          return '???';
      }
    }
                                   
    /* .row
      +app_specific_telemetry_control("EVS_HK")
                               
    .row          
      +app_specific_mempools("EVS_HK")
      
    .row
      +registered_applications() 
      +app_specific_application_control("EVS_HK")

    .row
      +app_specific_event_filters("EVS_HK")
      
    .row
      +app_specific_scheduler_control("EVS_HK") */
