.row.os-theme-dark
  article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-table
        h2 Stats
      div.widget-body.table-responsive
        table.table.table-condensed.table-striped
         thead
           th(style={width:'50px'}) #
           th(style={width:'75px'}) App ID
           th(style={width:'100px'}) Msgs Sent
           th(style={width:'100px'}) Status
           th(style={width:'10px'}) 
         tbody
           tr
             td 0
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData[0].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData[0].MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData[0].EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 1
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[0]'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/Payload.AppData[0].AppEnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 2
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_2_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_2_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_2_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 3
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_3_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_3_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_3_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 4
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_4_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_4_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_4_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 5
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_5_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_5_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_5_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 6
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_6_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_6_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_6_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 7
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_7_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_7_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_7_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 8
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_8_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_8_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_8_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 9
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_9_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_9_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_9_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 10
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_10_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_10_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_10_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 11
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_11_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_11_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_11_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 12
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_12_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_12_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_12_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 13
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_13_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_13_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_13_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 14
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_14_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_14_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_14_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 15
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_15_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_15_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_15_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 16
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_16_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_16_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_16_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 17
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_17_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_17_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_17_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 18
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_18_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_18_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_18_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 19
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_19_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_19_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_19_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 20
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_20_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_20_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_20_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 21
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_21_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_21_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_21_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 22
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_22_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_22_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_22_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 23
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_23_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_23_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_23_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 24
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_24_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_24_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_24_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 25
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_25_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_25_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_25_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 26
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_26_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_26_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_26_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 27
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_27_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_27_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_27_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 28
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_28_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_28_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_28_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 29
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_29_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_29_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_29_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 30
             td
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_30_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_30_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_30_EnableStatus'}],indicator:'text'}) ---
             td
           tr
             td 31
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_31_AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_31_MessageSentCounter'}],indicator:'text'}) ---
             td 
                span(data-cdr={tlm:[{name:'/CFE/EVS_HK/AppData_31_EnableStatus'}],indicator:'text'}) ---
             td
      footer
      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/EVS_HK/FileWriteAppData'}, indicator:'cmd'}) Write To File
      .btn-group.dropup
        button.btn.cdr-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | Reset App Counters
          span.caret
        ul#ResetAppCounters.dropdown-menu(role='menu')
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_ES'}]}, indicator:'cmd'}, data-placement="left") CFE_ES
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CF_EVS'}]}, indicator:'cmd'}, data-placement="left") EVS_HK
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_SB'}]}, indicator:'cmd'}, data-placement="left") CFE_SB
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_TBL'}]}, indicator:'cmd'}, data-placement="left") CFE_TBL
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CFE_TIME'}]}, indicator:'cmd'}, data-placement="left") CFE_TIME
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CF'}]}, indicator:'cmd'}, data-placement="left") CF
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CIO'}]}, indicator:'cmd'}, data-placement="left") CIO
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'CS'}]}, indicator:'cmd'}, data-placement="left") CS
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'DS'}]}, indicator:'cmd'}, data-placement="left") DS
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'EIM'}]}, indicator:'cmd'}, data-placement="left") EIM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'FM'}]}, indicator:'cmd'}, data-placement="left") FM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'HK'}]}, indicator:'cmd'}, data-placement="left") HK
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'LC'}]}, indicator:'cmd'}, data-placement="left") LC
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'MD'}]}, indicator:'cmd'}, data-placement="left") MD
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'MM'}]}, indicator:'cmd'}, data-placement="left") MM
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'SC'}]}, indicator:'cmd'}, data-placement="left") SC
          li.cdr-dropdown-list-item
            a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppEventCounters', argument:[{name:'Payload.AppName', value:'SCH'}]}, indicator:'cmd'}, data-placement="left") SCH
  script.
    var AppIDtoName = function(value) {
      //return value;
      switch(value){
        case 0:
          return 'EVS_HK';

        case 1:
          return 'CFE_SB';

        case 2:
          return 'CFE_ES';

        case 3:
          return 'CFE_TIME';

        case 4:
          return 'CFE_TBL';

        case 5:
          return 'SCH';

        case 6:
          return 'TO';

        case 7:
          return 'CI';

        case 8:
          return 'PX4BR';

        case 9:
          return 'SCH';

        case 10:
          return 'CS';

        case 11:
          return 'DS';

        case 12:
          return 'FM';

        case 13:
          return 'HK';

        case 14:
          return 'FM';

        case 15:
          return 'LC';

        case 16:
          return 'MD';

        case 17:
          return 'MM';

        case 18:
          return 'HS';

        case 19:
          return 'ETA';

        default:
          return '???';
      }
    }
                                   
    /* .row
      +app_specific_telemetry_control("EVS_HK")
                               
    .row          
      +app_specific_mempools("EVS_HK")
      
    .row
      +registered_applications() 
      +app_specific_application_control("EVS_HK")

    .row
      +app_specific_event_filters("EVS_HK")
      
    .row
      +app_specific_scheduler_control("EVS_HK") */
