.table-responsive
  table.table.table-condensed
    tbody
      tr
        th(width='150px') SubType
        td CFE_ES_ERLOG
      tr
        th Length
        td 64
      tr
        th SpacecraftID
        td 66
      tr
        th ProcessorID
        td 1
      tr
        th ApplicationID
        td 2
      tr
        th Timestamp
        td 06/06/2014 22:45:38.000
      tr
        th Description
        td ES ERlog data file
  table#ReportDetail.table.table-striped.table-bordered.table-hover(width='100%')
    thead
      tr
        th Entry Type
        th Reset Type
        th Reset SubType
        th Boot Source
        th Proc Reset Cnt
        th Max Proc Reset Cnt
        th Debug Flag
        th WD Write
        th Printf Enabled
        th Last App ID
        th Timestamp
        th Description
        th Context Present
        th AppID
        th Context
      tr
        td CORE_LOG
        td POWERON_RESET
        td POWER_CYCLE
        td 1
        td 0
        td 0
        td 0
        td 0
        td 0
        td 0
        td 07/06/2014 22:45:38.000
        td ES Startup: POWER ON Reset
        td FALSE
        td AppID
        td 
        
script.

  
           