extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Position Setpoint Triplet

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_POSITION_SETPOINT_TRIPLET_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-PST.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Position Setpoint Triplet
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Timestamp'}]}) ---
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-PST.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Previous
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Timestamp'}]}) ---
                    tr
                      th Latitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Lat'}]}) ---
                    tr
                      th Longitude :
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Lon'}]}) ---
                    tr
                      th X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Z'}]}) ---
                    tr
                      th VX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_VX'}]}) ---
                    tr
                      th VY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_VY'}]}) ---
                    tr
                      th VZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_VZ'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Alt'}]}) ---
                    tr
                      th Yaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Yaw'}]}) ---
                    tr
                      th Yawspeed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Yawspeed'}]}) ---
                    tr
                      th Loiter Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_LoiterRadius'}]}) ---
                    tr
                      th Pitch Minimum:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_PitchMin'}]}) ---
                    tr
                      th AX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AX'}]}) ---
                    tr
                      th AY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AY'}]}) ---
                    tr
                      th AZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AZ'}]}) ---
                    tr
                      th Acceptance Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AcceptanceRadius'}]}) ---
                    tr
                      th Cruising Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_CruisingSpeed'}]}) ---
                    tr
                      th Cruising Throttle:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_CruisingThrottle'}]}) ---
                    tr
                      th Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Valid'}]})
                    tr
                      th Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_Type'}]}) ---
                    tr
                      th Position Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_PositionValid'}]})
                    tr
                      th Velocity Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_VelocityValid'}]})
                    tr
                      th Velocity Frame:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_VelocityFrame'}]}) ---
                    tr
                      th Alt Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AltValid'}]})
                    tr
                      th Yaw Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_YawValid'}]})
                    tr
                      th Disable MC Yaw Control:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_DisableMcYawControl'}]})
                    tr
                      th Yawspeed Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_YawspeedValid'}]})
                    tr
                      th Loiter Direction:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_LoiterDirection'}]}) ---
                    tr
                      th Acceleration Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AccelerationValid'}]})
                    tr
                      th Acceleration Is Force:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Previous_AccelerationIsForce'}]})
                        
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Current
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Timestamp'}]}) ---
                    tr
                      th Latitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Lat'}]}) ---
                    tr
                      th Longitude :
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Lon'}]}) ---
                    tr
                      th X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Z'}]}) ---
                    tr
                      th VX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_VX'}]}) ---
                    tr
                      th VY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_VY'}]}) ---
                    tr
                      th VZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_VZ'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Alt'}]}) ---
                    tr
                      th Yaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Yaw'}]}) ---
                    tr
                      th Yawspeed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Yawspeed'}]}) ---
                    tr
                      th Loiter Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_LoiterRadius'}]}) ---
                    tr
                      th Pitch Minimum:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_PitchMin'}]}) ---
                    tr
                      th AX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AX'}]}) ---
                    tr
                      th AY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AY'}]}) ---
                    tr
                      th AZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AZ'}]}) ---
                    tr
                      th Acceptance Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AcceptanceRadius'}]}) ---
                    tr
                      th Cruising Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_CruisingSpeed'}]}) ---
                    tr
                      th Cruising Throttle:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_CruisingThrottle'}]}) ---
                    tr
                      th Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Valid'}]})
                    tr
                      th Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_Type'}]}) ---
                    tr
                      th Position Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_PositionValid'}]})
                    tr
                      th Velocity Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_VelocityValid'}]})
                    tr
                      th Velocity Frame:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_VelocityFrame'}]}) ---
                    tr
                      th Alt Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AltValid'}]})
                    tr
                      th Yaw Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_YawValid'}]})
                    tr
                      th Disable MC Yaw Control:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_DisableMcYawControl'}]})
                    tr
                      th Yawspeed Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_YawspeedValid'}]})
                    tr
                      th Loiter Direction:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_LoiterDirection'}]}) ---
                    tr
                      th Acceleration Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AccelerationValid'}]})
                    tr
                      th Acceleration Is Force:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Current_AccelerationIsForce'}]})
                        
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Next
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span.format-microseconds(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Timestamp'}]}) ---
                    tr
                      th Latitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Lat'}]}) ---
                    tr
                      th Longitude :
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Lon'}]}) ---
                    tr
                      th X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_X'}]}) ---
                    tr
                      th Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Y'}]}) ---
                    tr
                      th Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Z'}]}) ---
                    tr
                      th VX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_VX'}]}) ---
                    tr
                      th VY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_VY'}]}) ---
                    tr
                      th VZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_VZ'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Alt'}]}) ---
                    tr
                      th Yaw:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Yaw'}]}) ---
                    tr
                      th Yawspeed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Yawspeed'}]}) ---
                    tr
                      th Loiter Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_LoiterRadius'}]}) ---
                    tr
                      th Pitch Minimum:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_PitchMin'}]}) ---
                    tr
                      th AX:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AX'}]}) ---
                    tr
                      th AY:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AY'}]}) ---
                    tr
                      th AZ:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AZ'}]}) ---
                    tr
                      th Acceptance Radius:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AcceptanceRadius'}]}) ---
                    tr
                      th Cruising Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_CruisingSpeed'}]}) ---
                    tr
                      th Cruising Throttle:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_CruisingThrottle'}]}) ---
                    tr
                      th Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Valid'}]})
                    tr
                      th Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_Type'}]}) ---
                    tr
                      th Position Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_PositionValid'}]})
                    tr
                      th Velocity Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_VelocityValid'}]})
                    tr
                      th Velocity Frame:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_VelocityFrame'}]}) ---
                    tr
                      th Alt Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AltValid'}]})
                    tr
                      th Yaw Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_YawValid'}]})
                    tr
                      th Disable MC Yaw Control:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_DisableMcYawControl'}]})
                    tr
                      th Yawspeed Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_YawspeedValid'}]})
                    tr
                      th Loiter Direction:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_LoiterDirection'}]}) ---
                    tr
                      th Acceleration Valid:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AccelerationValid'}]})
                    tr
                      th Acceleration Is Force:
                      td
                        div.bool-led(data-sage={'tlm': [{'name': '/CFS/PX4/PST_Next_AccelerationIsForce'}]})
