extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | QAE

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-QAE-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/QAE/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/QAE/ErrCounter'}]}) ---
                    tr
                      th State
                      td
                        span(data-sage={tlm: [{name:'/CFS/QAE/State'}]}) ---
                    tr
                      th Estimator State
                      td
                        span(data-sage={tlm: [{name:'/CFS/QAE/EstimatorState'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/QAE/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/QAE/Reset'}}) Reset
      
    .row.row-fluid
      article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style="max-width:400px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Attitude
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_Timestamp'}]}) ---
                    tr
                      th Roll Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_RollSpeed'}]}) ---
                    tr
                      th Pitch Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_PitchSpeed'}]}) ---
                    tr
                      th Yaw Speed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_YawSpeed'}]}) ---
                    tr
                      th Quaternion 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_Q_0'}]}) ---
                    tr
                      th Quaternion 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_Q_1'}]}) ---
                    tr
                      th Quaternion 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_Q_2'}]}) ---
                    tr
                      th Quaternion 3:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/VA_Q_3'}]}) ---

    .row.row-fluid
      article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style="max-width:400px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Control State
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Timestamp'}]}) ---
                    tr
                      th X Acceleration:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_AccX'}]}) ---
                    tr
                      th Y Acceleration:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_AccY'}]}) ---
                    tr
                      th Z Acceleration:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_AccZ'}]}) ---
                    tr
                      th X Velocity:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelX'}]}) ---
                    tr
                      th Y Velocity:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelY'}]}) ---
                    tr
                      th Z Velocity:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelZ'}]}) ---
                    tr
                      th X Position:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosX'}]}) ---
                    tr
                      th Y Position:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosY'}]}) ---
                    tr
                      th Z Position:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosZ'}]}) ---
                    tr
                      th Airspeed:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Airspeed'}]}) ---
                    tr
                      th Velocity Variance 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelVar_0'}]}) ---
                    tr
                      th Velocity Variance 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelVar_1'}]}) ---
                    tr
                      th Velocity Variance 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_VelVar_2'}]}) ---
                    tr
                      th Position Variance 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosVar_0'}]}) ---
                    tr
                      th Position Variance 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosVar_1'}]}) ---
                    tr
                      th Position Variance 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PosVar_2'}]}) ---
                    tr
                      th Quaternion 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Q_0'}]}) ---
                    tr
                      th Quaternion 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Q_1'}]}) ---
                    tr
                      th Quaternion 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Q_2'}]}) ---
                    tr
                      th Quaternion 3:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_Q_3'}]}) ---
                    tr
                      th DeltaQReset 0:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_DeltaQReset_0'}]}) ---
                    tr
                      th DeltaQReset 1:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_DeltaQReset_1'}]}) ---
                    tr
                      th DeltaQReset 2:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_DeltaQReset_2'}]}) ---
                    tr
                      th DeltaQReset 3:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_DeltaQReset_3'}]}) ---
                    tr
                      th Roll Rate:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_RollRate'}]}) ---
                    tr
                      th Pitch Rate:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PitchRate'}]}) ---
                    tr
                      th Yaw Rate:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_YawRate'}]}) ---
                    tr
                      th Horizontal Acceleration Magnitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_HorzAccMag'}]}) ---
                    tr
                      th Roll Rate Bias:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_RollRateBias'}]}) ---
                    tr
                      th Pitch Rate Bias:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_PitchRateBias'}]}) ---
                    tr
                      th Yaw Rate Bias:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_YawRateBias'}]}) ---
                    tr
                      th Airspeed Valid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_AirspeedValid'}]}) ---
                    tr
                      th Quaternion Reset Counter:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/QAE/CS_QuatResetCounter'}]}) ---

  .row
    +app_specific_telemetry_control("GPS")
                                    
  .row          
    +app_specific_mempools("GPS")
    
  .row
    +registered_applications() 
    +app_specific_application_control("GPS")

  .row
    +app_specific_event_filters("GPS")
    
  .row
    +app_specific_scheduler_control("GPS")

