extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Land Detector

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Command and Data Handling
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/LD/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/LD/ErrCounter'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/LD/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/LD/Reset'}}) Reset

                      
              

                                        
  .row
    +app_specific_telemetry_control("LD")
                                                  
  .row          
    +app_specific_mempools("LD")
    
  .row
    +app_specific_application_control("LD") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("LD")
    
  .row
    +app_specific_scheduler_control("LD")