table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/MFAA/MFAA_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/MFAA/MFAA_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Raw Value
      td
        div(data-cdr={tlm:[{name:'/MFAA/MFAA_HkTlm_t/rawValue'}]}) ---
    tr
      th Calibrated Value
      td
        div(data-cdr={tlm:[{name:'/MFAA/MFAA_HkTlm_t/calibratedValue'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/Reset'}}) Reset    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/SendHk'}}) Send HK  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/Wakeup'}}) Wakeup 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/SetGain'}}) Set Gain
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/SetOffset'}}) Set Offset
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAA/SendConfig'}}) Send Config
      
