extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Sensor

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style='width: 300px')
      #wid-SCH-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SENS/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SENS/ErrCounter'}]}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/SENS/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/SENS/Reset'}}) Reset
                     
                                        
  .row
    +app_specific_telemetry_control("SENS")
                                              
  .row          
    +app_specific_mempools("SENS")
    
  .row
    +app_specific_application_control("SENS") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("SENS")
    
  .row
    +app_specific_scheduler_control("SENS")
                    



