.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - PositionSetpointTripletMsg Current
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Timestamp'}],indicator:'text'}) ---
          tr
            th AccelerationIsForce
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AccelerationIsForce'}],indicator:'text'}) ---
          tr
            th AccelerationValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AccelerationValid'}],indicator:'text'}) ---
          tr
            th AcceptanceRadius
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AcceptanceRadius'}],indicator:'text'}) ---
          tr
            th Alt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Alt'}],indicator:'text'}) ---
          tr
            th AltValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AltValid'}],indicator:'text'}) ---
          tr
            th AX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AX'}],indicator:'text'}) ---
          tr
            th AY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AY'}],indicator:'text'}) ---
          tr
            th AZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AZ'}],indicator:'text'}) ---
          tr
            th CruisingSpeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.CruisingSpeed'}],indicator:'text'}) ---
          tr
            th CruisingThrottle
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.CruisingThrottle'}],indicator:'text'}) ---        
          tr
            th DisableMcYawControl
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.DisableMcYawControl'}],indicator:'text'}) ---
          tr
            th Lat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Lat'}],indicator:'text'}) ---
          tr
            th LoiterDirection
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.LoiterDirection'}],indicator:'text'}) ---
          tr
            th LoiterRadius
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.LoiterRadius'}],indicator:'text'}) ---
          tr
            th Lon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Lon'}],indicator:'text'}) ---
          tr
            th PitchMin
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.PitchMin'}],indicator:'text'}) ---
          tr
            th Type
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Type'}],indicator:'text'}) ---
          tr
            th Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Valid'}],indicator:'text'}) ---
          tr
            th VelocityFrame
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VelocityFrame'}],indicator:'text'}) ---        
          tr
            th VelocityValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VelocityValid'}],indicator:'text'}) ---
          tr
            th VX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VX'}],indicator:'text'}) ---
          tr
            th VY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VY'}],indicator:'text'}) ---
          tr
            th VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VZ'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.X'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Y'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Z'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Yaw'}],indicator:'text'}) ---
          tr
            th YawspeedValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.YawspeedValid'}],indicator:'text'}) ---
          tr
            th YawValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.YawValid'}],indicator:'text'}) ---
          
