.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - SafetyMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th SafetyOff
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/SafetyOff'}],indicator:'text'}) ---
          tr
            th SafetySwitchAvailable
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/SafetySwitchAvailable'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/Timestamp'}],indicator:'text'}) ---
