.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - PositionSetpointTripletMsg Previous
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Timestamp'}],indicator:'text'}) ---
          tr
            th AccelerationIsForce
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AccelerationIsForce'}],indicator:'text'}) ---
          tr
            th AccelerationValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AccelerationValid'}],indicator:'text'}) ---
          tr
            th AcceptanceRadius
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AcceptanceRadius'}],indicator:'text'}) ---
          tr
            th Alt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Alt'}],indicator:'text'}) ---
          tr
            th AltValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AltValid'}],indicator:'text'}) ---
          tr
            th AX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AX'}],indicator:'text'}) ---
          tr
            th AY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AY'}],indicator:'text'}) ---
          tr
            th AZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AZ'}],indicator:'text'}) ---
          tr
            th CruisingSpeed
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.CruisingSpeed'}],indicator:'text'}) ---
          tr
            th CruisingThrottle
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.CruisingThrottle'}],indicator:'text'}) ---        
          tr
            th DisableMcYawControl
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.DisableMcYawControl'}],indicator:'text'}) ---
          tr
            th Lat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Lat'}],indicator:'text'}) ---
          tr
            th LoiterDirection
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.LoiterDirection'}],indicator:'text'}) ---
          tr
            th LoiterRadius
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.LoiterRadius'}],indicator:'text'}) ---
          tr
            th Lon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Lon'}],indicator:'text'}) ---
          tr
            th PitchMin
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.PitchMin'}],indicator:'text'}) ---
          tr
            th Type
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Type'}],indicator:'text'}) ---
          tr
            th Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Valid'}],indicator:'text'}) ---
          tr
            th VelocityFrame
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VelocityFrame'}],indicator:'text'}) ---        
          tr
            th VelocityValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VelocityValid'}],indicator:'text'}) ---
          tr
            th VX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VX'}],indicator:'text'}) ---
          tr
            th VY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VY'}],indicator:'text'}) ---
          tr
            th VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VZ'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.X'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Y'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Z'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Yaw'}],indicator:'text'}) ---
          tr
            th YawspeedValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.YawspeedValid'}],indicator:'text'}) ---
          tr
            th YawValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.YawValid'}],indicator:'text'}) ---
          
