.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleLocalPositionMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th AX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AX'}],indicator:'text'}) ---
          tr
            th AY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AY'}],indicator:'text'}) ---
          tr
            th AZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AZ'}],indicator:'text'}) ---
          tr
            th Delta_VXY[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VXY[0]'}],indicator:'text'}) ---
          tr
            th Delta_VXY[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VXY[1]'}],indicator:'text'}) ---
          tr
            th Delta_VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VZ'}],indicator:'text'}) ---
          tr
            th Delta_XY[0]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_XY[0]'}],indicator:'text'}) ---
          tr
            th Delta_XY[1]
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_XY[1]'}],indicator:'text'}) ---
          tr
            th Delta_Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_Z'}],indicator:'text'}) ---
          tr
            th DistBottom
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottom'}],indicator:'text'}) ---
          tr
            th DistBottomRate
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottomRate'}],indicator:'text'}) ---
          tr
            th DistBottomValid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottomValid'}],indicator:'text'}) ---
          tr
            th EpH
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EpH'}],indicator:'text'}) ---
          tr
            th EpV
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EpV'}],indicator:'text'}) ---
          tr
            th EstimatorType
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EstimatorType'}],indicator:'text'}) ---
          tr
            th EvH
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EvH'}],indicator:'text'}) ---
          tr
            th EvV
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EvV'}],indicator:'text'}) ---
          tr
            th RefAlt
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefAlt'}],indicator:'text'}) ---
          tr
            th RefLat
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefLat'}],indicator:'text'}) ---
          tr
            th RefLon
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefLon'}],indicator:'text'}) ---
          tr
            th RefTimestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefTimestamp'}],indicator:'text'}) ---
          tr
            th SurfaceBottomTimestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/SurfaceBottomTimestamp'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th VX
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VX'}],indicator:'text'}) ---
          tr
            th VXY_ResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VXY_ResetCounter'}],indicator:'text'}) ---
          tr
            th VY
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VY'}],indicator:'text'}) ---
          tr
            th VZ
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VZ'}],indicator:'text'}) ---
          tr
            th VZ_ResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VZ_ResetCounter'}],indicator:'text'}) ---
          tr
            th V_XY_Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/V_XY_Valid'}],indicator:'text'}) ---
          tr
            th V_Z_Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/V_Z_Valid'}],indicator:'text'}) ---
          tr
            th X
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/X'}],indicator:'text'}) ---
          tr
            th XY_Global
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_Global'}],indicator:'text'}) ---
          tr
            th XY_ResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_ResetCounter'}],indicator:'text'}) ---
          tr
            th XY_Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_Valid'}],indicator:'text'}) ---
          tr
            th Y
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Y'}],indicator:'text'}) ---
          tr
            th Yaw
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Yaw'}],indicator:'text'}) ---
          tr
            th Z
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z'}],indicator:'text'}) ---
          tr
            th Z_Global
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_Global'}],indicator:'text'}) ---
          tr
            th Z_ResetCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_ResetCounter'}],indicator:'text'}) ---
          tr
            th Z_Valid
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_Valid'}],indicator:'text'}) ---
