.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - SubsystemInfoMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th Enabled
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Enabled'}],indicator:'text'}) ---
          tr
            th Ok
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Ok'}],indicator:'text'}) ---
          tr
            th Present
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Present'}],indicator:'text'}) ---
          tr
            th SubsystemType
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/SubsystemType'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Timestamp'}],indicator:'text'}) ---
