.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - VehicleStatusMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th ArmingState
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/ArmingState'}],indicator:'text'}) ---
          tr
            th ComponentID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/ComponentID'}],indicator:'text'}) ---
          tr
            th DataLinkLost
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/DataLinkLost'}],indicator:'text'}) ---
          tr
            th DataLinkLostCounter
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/DataLinkLostCounter'}],indicator:'text'}) ---
          tr
            th EngineFailure
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/EngineFailure'}],indicator:'text'}) ---
          tr
            th EngineFailureCmd
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/EngineFailureCmd'}],indicator:'text'}) ---
          tr
            th Failsafe
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/Failsafe'}],indicator:'text'}) ---
          tr
            th HilState
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/HilState'}],indicator:'text'}) ---
          tr
            th InTransitionMode
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/InTransitionMode'}],indicator:'text'}) ---
          tr
            th IsRotaryWing
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/IsRotaryWing'}],indicator:'text'}) ---
          tr
            th IsVtol
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/IsVtol'}],indicator:'text'}) ---
          tr
            th MissionFailure
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/MissionFailure'}],indicator:'text'}) ---
          tr
            th NavState
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/NavState'}],indicator:'text'}) ---
          tr
            th OnboardControlSensorsEnabled
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsEnabled'}],indicator:'text'}) ---
          tr
            th OnboardControlSensorsHealth
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsHealth'}],indicator:'text'}) ---
          tr
            th OnboardControlSensorsPresent
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsPresent'}],indicator:'text'}) ---
          tr
            th RcInputMode
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/RcInputMode'}],indicator:'text'}) ---
          tr
            th RcSignalLost
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/RcSignalLost'}],indicator:'text'}) ---
          tr
            th SystemID
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/SystemID'}],indicator:'text'}) ---
          tr
            th SystemType
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/SystemType'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th VtolFwPermanentStab
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/VtolFwPermanentStab'}],indicator:'text'}) ---
