.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 PX4 - BatteryStatusMsg
    div.widget-body.table-responsive
      table.table.table-condensed
          tr
            th CellCount
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/CellCount'}],indicator:'text'}) ---
          tr
            th Connected
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Connected'}],indicator:'text'}) ---
          tr
            th Current
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Current'}],indicator:'text'}) ---
          tr
            th CurrentFiltered
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/CurrentFiltered'}],indicator:'text'}) ---
          tr
            th Discharged
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Discharged'}],indicator:'text'}) ---
          tr
            th Remaining
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Remaining'}],indicator:'text'}) ---
          tr
            th Scale
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Scale'}],indicator:'text'}) ---
          tr
            th Timestamp
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Timestamp'}],indicator:'text'}) ---
          tr
            th Voltage
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Voltage'}],indicator:'text'}) ---
          tr
            th VoltageFiltered
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/VoltageFiltered'}],indicator:'text'}) ---
          tr
            th Warning
            td
              div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/Warning'}],indicator:'text'}) ---
