extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Actuator and Motor Control

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/BAT/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/BAT/Reset'}}) Reset
                
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-ActuatorArmed.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Actuator Armed (Input)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_Timestamp'}]}) ---
                    tr
                      th Armed
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_Armed'}]}) ---
                    tr
                      th Prearmed
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_Prearmed'}]}) ---
                    tr
                      th Ready To Arm
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_ReadyToArm'}]}) ---
                    tr
                      th Lockdown
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_Lockdown'}]}) ---
                    tr
                      th Manual Lockdown
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_ManualLockdown'}]}) ---
                    tr
                      th Force Failsafe
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_ForceFailsafe'}]}) ---
                    tr
                      th In ESC Calibration Mode
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorArmed_InEscCalibrationMode'}]}) ---                       
                
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-ActuatorControls.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Actuator Controls (Input)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Timestamp'}]}) ---
                    tr
                      th Sample Time
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_SampleTime'}]}) ---
                    tr
                      th Control 0
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_0'}]}) ---
                    tr
                      th Control 1
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_1'}]}) ---
                    tr
                      th Control 2
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_2'}]}) ---
                    tr
                      th Control 3
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_3'}]}) ---
                    tr
                      th Control 4
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_4'}]}) ---
                    tr
                      th Control 5
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_5'}]}) ---
                    tr
                      th Control 6
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_6'}]}) ---
                    tr
                      th Control 7
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/ActuatorControls_Control_7'}]}) ---
                        
                
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-BatteryStatus.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Battery Status (Output)
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Timestamp'}]}) ---
                    tr
                      th Voltage
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Voltage'}]}) ---
                    tr
                      th Voltage (filtered)
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_VoltageFiltered'}]}) ---
                    tr
                      th Current
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Current'}]}) ---
                    tr
                      th Current (filtered)
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_CurrentFiltered'}]}) ---
                    tr
                      th Discharged
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Discharged'}]}) ---
                    tr
                      th Remaining
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Remaining'}]}) ---
                    tr
                      th Scale
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Scale'}]}) ---
                    tr
                      th Cell Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_CellCount'}]}) ---
                    tr
                      th Connected
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Connected'}]}) ---
                    tr
                      th Warning
                      td
                        span(data-sage={tlm: [{name:'/CFS/BAT/BatteryStatus_Warning'}]}) ---
                                              
  .row          
    +app_specific_mempools("BAT")
    
  .row
    +app_specific_application_control("BAT") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("BAT")

