extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | Multicopter Position Control

block main
  .row.row-fluid

    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MPC-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle State
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Autonomous Mode
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/ModeAuto'}]}) ---
                    tr
                      th Position Control
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/RunPosControl'}]}) ---
                    tr
                      th Altitude Control
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/RunAltControl'}]}) ---
                    tr
                      th Position Hold
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/PositionHoldEngaged'}]}) ---
                    tr
                      th Altitude Hold
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/AltitudeHoldEngaged'}]}) ---
                    tr
                      th In Takeoff
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/InTakeoff'}]}) ---
                    tr
                      th Triplet Finite
                      td
                        div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm: [{name:'/CFS/MPC/TripletLatLonFinite'}]}) ---
                    tr
                      th Was Landed
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/WasLanded'}]}) ---
                    tr
                      th Was Armed
                      td
                        div.bool-led(data-sage={tlm: [{name:'/CFS/MPC/WasArmed'}]}) ---

    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MPC-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Control State
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/AccelerationStateLimitXY',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/AccelerationStateLimitZ',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/ManualJerkLimitXY',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/ManualJerkLimitZ',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/TakeoffVelLimit',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/VelMaxXy',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/YawTakeoff',format:'%.4f'}]}) ---
                    tr
                      th 
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/Yaw',format:'%.4f'}]}) ---

    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MPC-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/SetXYPid'}}) Set XY PIDs
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/SetZPid'}}) Set Z PIDs

                                        
  .row
    +app_specific_telemetry_control("MPC")
                                    
  .row          
    +app_specific_mempools("MPC")
    
  .row
    +app_specific_application_control("MPC")
    +registered_applications() 

  .row
    +app_specific_event_filters("MPC")
    
  .row
    +app_specific_scheduler_control("MPC")

