extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | Multicopter Position Control

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MPC-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MPC/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/SetXYPid'}}) Set XY PIDs
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MPC/SetZPid'}}) Set Z PIDs

                                        
  .row
    +app_specific_telemetry_control("MPC")
                                    
  .row          
    +app_specific_mempools("MPC")
    
  .row
    +app_specific_application_control("MPC")
    +registered_applications() 

  .row
    +app_specific_event_filters("MPC")
    
  .row
    +app_specific_scheduler_control("MPC")

