- var appName = query.appName;
    
  table.table.table-condensed
    tbody
      tr
        th Cmd Count
        td
          div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.CmdCounter'}],indicator:'text'}) ---
      tr
        th Error Count
        td
          div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.ErrCounter'}],indicator:'text'}) ---
      tr
        th External Apps
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredExternalApps'}],indicator:'text'}) ---
      tr
        th App ID
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.AppId'}],indicator:'text'}) ---
      tr
        th Name
        td
          - if(typeof appName === 'undefined') { 
            span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Name'}],indicator:'text'}) ---
          - } else {
            span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Name'}],indicator:'text'}) ---
          - }
      tr
        th Type
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Type'}],indicator:'text'}) ---
      tr
        th Entry Point
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.EntryPoint'}],indicator:'text'}) ---
      tr
        th File Name
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.FileName'}],indicator:'text'}) ---
      tr
        th Stack Size
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.StackSize'}],indicator:'text'}) ---
      tr
        th Module ID
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ModuleId'}],indicator:'text'}) ---
      tr
        th Addresses Are Valid
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.AddressesAreValid'}],indicator:'text'}) ---
      tr
        th Code Address
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.CodeAddress', format: '0x%08x'}],indicator:'text'}) ---
      tr
        th Code Size
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.CodeSize'}],indicator:'text'}) ---
      tr
        th Data Address
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.DataAddress', format: '0x%08x'}],indicator:'text'}) ---
      tr
        th Data Size
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.DataSize'}],indicator:'text'}) ---
      tr
        th BSS Address
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.BSSAddress', format: '0x%08x'}],indicator:'text'}) ---
      tr
        th BSS Size
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.BSSSize'}],indicator:'text'}) ---
      tr
        th Start Address
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.StartAddress', format: '0x%08x'}],indicator:'text'}) ---
      tr
        th Exception Action
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ExceptionAction'}],indicator:'text'}) ---
      tr
        th Priority
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Priority'}],indicator:'text'}) ---
      tr
        th Main Task ID
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.MainTaskId'}],indicator:'text'}) ---
      tr
        th Main Task Name
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.MainTaskName'}],indicator:'text'}) ---
      tr
        th Execution Counter
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ExecutionCounter'}],indicator:'text'}) ---
      tr
        th Num Of Child Tasks
        td
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.NumOfChildTasks'}],indicator:'text'}) ---
                
  footer.btn-group(role="group")    
  - if(typeof appName === 'undefined') {   
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_QueryOne'},indicator:'cmd'}) Query
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StartAppCmd_t'},indicator:'cmd'}) Start 
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_RestartApp'},indicator:'cmd'}) Restart
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_AppReloadCmd_t'},indicator:'cmd'}) Reload  
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StopApp'},indicator:'cmd'}) Stop
  - } else {
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_QueryOne', argument: [{name: 'Payload.Application', value: appName}]},indicator:'cmd'}) Query
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StartAppCmd_t', argument: [{name: 'Payload.Application', value: appName}]},indicator:'cmd'}) Start 
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_RestartApp', argument: [{name: 'Payload.Application', value: appName}]},indicator:'cmd'}) Restart
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_AppReloadCmd_t', argument: [{name: 'Payload.Application', value: appName}]},indicator:'cmd'}) Reload  
    button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StopApp', argument: [{name: 'Payload.Application', value: appName}]},indicator:'cmd'}) Stop
  - }
