- var appName = query.appName;
    
table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.CmdCounter'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.ErrCounter'}]}) ---
    tr
      th External Apps
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredExternalApps'}]}) ---
    tr
      th App ID
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.AppId'}]}) ---
    tr
      th Name
      td
        - if(typeof appName === 'undefined') { 
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Name'}]}) ---
        - } else {
          span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Name'}]}) ---
        - }
    tr
      th Type
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Type'}]}) ---
    tr
      th Entry Point
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.EntryPoint'}]}) ---
    tr
      th File Name
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.FileName'}]}) ---
    tr
      th Stack Size
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.StackSize'}]}) ---
    tr
      th Module ID
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ModuleId'}]}) ---
    tr
      th Addresses Are Valid
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.AddressesAreValid'}]}) ---
    tr
      th Code Address
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.CodeAddress', format: '0x%08x'}]}) ---
    tr
      th Code Size
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.CodeSize'}]}) ---
    tr
      th Data Address
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.DataAddress', format: '0x%08x'}]}) ---
    tr
      th Data Size
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.DataSize'}]}) ---
    tr
      th BSS Address
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.BSSAddress', format: '0x%08x'}]}) ---
    tr
      th BSS Size
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.BSSSize'}]}) ---
    tr
      th Start Address
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.StartAddress', format: '0x%08x'}]}) ---
    tr
      th Exception Action
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ExceptionAction'}]}) ---
    tr
      th Priority
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.Priority'}]}) ---
    tr
      th Main Task ID
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.MainTaskId'}]}) ---
    tr
      th Main Task Name
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.MainTaskName'}]}) ---
    tr
      th Execution Counter
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.ExecutionCounter'}]}) ---
    tr
      th Num Of Child Tasks
      td
        span(data-cdr={tlm:[{name:'/CFE/CFE_ES_OneAppTlm_t/Payload.AppInfo.NumOfChildTasks'}]}) ---
                
footer.btn-group(role="group")    
  - if(typeof appName === 'undefined') {   
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_QueryOne'}}) Query
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StartAppCmd_t'}}) Start 
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_RestartApp'}}) Restart
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_AppReloadCmd_t'}}) Reload  
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StopApp'}}) Stop
  - } else {
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_QueryOne', argument: [{name: 'Payload.Application', value: appName}]}}) Query
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StartAppCmd_t', argument: [{name: 'Payload.Application', value: appName}]}}) Start 
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_RestartApp', argument: [{name: 'Payload.Application', value: appName}]}}) Restart
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_AppReloadCmd_t', argument: [{name: 'Payload.Application', value: appName}]}}) Reload  
    button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_StopApp', argument: [{name: 'Payload.Application', value: appName}]}}) Stop
  - }
