.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Application Control
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th CFE Version:
            td 
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFERevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMissionRevision'}],indicator:'text'}) -
            td
          tr
            th OSAL Version:
            td 
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALRevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMissionRevision'}],indicator:'text'}) -
            td
          tr
            th Checksum:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFECoreChecksum', format:'0x%04x'}],indicator:'text'}) ---
            td
              tr
                th Core Apps:
                td
                  span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredCoreApps'}],indicator:'text'}) ---
                td
              tr
                th Ext Apps:
                td
                  span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredExternalApps'}],indicator:'text'}) ---
                td
              tr 
                th Tasks:
                td
                  span(data-cdr={tlm: [{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredTasks'}],indicator:'text'}) ---
                td
              tr
                th Libs:
                td
                  span(data-cdr={tlm: [{name:'/CFE/CFE_ES_HkPacket_t/Payload.RegisteredLibs'}],indicator:'text'}) ---
                td
              tr
                th Bytes Free:
                td
                  span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBytesFree'}],indicator:'text'}) ---
                td
              tr
                th Blocks Free:
                td 
                  span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBlocksFree'}],indicator:'text'}) ---
                td
              tr
                th Maximum:
                td
                  span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapMaxBlockSize'}],indicator:'text'}) ---
                td
