table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td 
        div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.CmdCounter'}],indicator:'text'}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.ErrCounter'}],indicator:'text'}) ---
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_NoopCmd'},indicator:'cmd'}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_ResetCmd'},indicator:'cmd'}) Reset
