
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header.navbar.panel-header.py-0
       span.widget-icon
         i.fa.fa-table
       .navbar-brand.py-0 Command and Data Handling
       
       button.navbar-toggler.toggler-example(type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
          aria-expanded="false" aria-label="Toggle navigation")
          span.white-text
            i.fa.fa-gear
       #navbarSupportedContent1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              form.panel-config-form
                .form-group
                  label(for='exampleInputEmail1') Config Param 1
                  input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter parameter')
                .form-group
                  label(for="examplePassword1") Config Param 2
                  input#examplePassword1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter parameter')
                .form-check
                  input#exampleCheck1.form-check-input(type='checkbox' for="examplePassword1")
                  label.form-check-label(for='exampleCheck1') Config Param 3
      
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th Cmd Count
                td
                  div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.CmdCounter'}],indicator:'text'}) ---
              tr
                th Error Count
                td
                  div(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.ErrCounter'}],indicator:'text'}) ---
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_NoopCmd'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CFE/CFE_ES_ResetCmd'},indicator:'cmd'}) Reset
