.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Logging
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Bytes Used:
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.SysLogBytesUsed'}],indicator:'text'}) ---
            td
          tr
            th Entries:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.SysLogEntries'}],indicator:'text'}) ---
            td
              .btn-group
                button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_ClearSysLog'},indicator:'cmd'}) Clear Log
                button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_WriteSyslogCmd_t'},indicator:'cmd'}) Write Log
          tr 
            th Mode:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.SysLogMode'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_OverWriteSysLogCmd_t'},indicator:'cmd'}) Set Mode
          tr
            th Index:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.ERLogIndex'}],indicator:'text'}) ---
            td
          tr 
            th Entries:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.ERLogEntries'}],indicator:'text'}) ---
            td
              .btn-group
                button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_ClearErLog'},indicator:'cmd'}) Clear Log
                button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_WriteERlogCmd_t'},indicator:'cmd'}) Write Log
