.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Logging
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Bytes Used:
            td 
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogBytesUsed'}],indicator:'text'}) ---
            td
          tr
            th Entries:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogEntries'}],indicator:'text'}) ---
            td
              .btn-group
                button.btn.cdr-primary(data-sage={cmd: {name: '/CFS/CFE_ES/ClearSysLog'},indicator:'cmd'}) Clear Log
                button.btn.cdr-primary(data-sage={cmd: {name: '/CFS/CFE_ES/WriteSysLog'},indicator:'cmd'}) Write Log
          tr 
            th Mode:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogMode'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-sage={cmd: {name: '/CFS/CFE_ES/SetSysLogMode'},indicator:'cmd'}) Set Mode
          tr
            th Index:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogIndex'}],indicator:'text'}) ---
            td
          tr 
            th Entries:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogEntries'}],indicator:'text'}) ---
            td
              .btn-group
                button.btn.cdr-primary(data-sage={cmd: {name: '/CFS/CFE_ES/ClearErrLog'},indicator:'cmd'}) Clear Log
                button.btn.cdr-primary(data-sage={cmd: {name: '/CFS/CFE_ES/WriteErrLog'},indicator:'cmd'}) Write Log
