.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Memory
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Bytes Free:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBytesFree'}],indicator:'text'}) ---
            td
          tr
            th Blocks Free:
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBlocksFree'}],indicator:'text'}) ---
            td
          tr
            th Maximum:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapMaxBlockSize'}],indicator:'text'}) ---
            td
          tr
            th Pool handle
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolHandle', format:'0x%08x'}],indicator:'text'}) ---
          tr
            th Pool size
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.PoolSize'}],indicator:'text'}) ---
          tr
            th Num blocks requested
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.NumBlocksRequested'}],indicator:'text'}) ---
          tr
            th Check error count
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.CheckErrCtr'}],indicator:'text'}) ---
          tr
            th Num free bytes
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.NumFreeBytes'}],indicator:'text'}) ---       
    .table-responsive
      table.table.table-striped.table-condensed.table-memory
        thead
          th(style='width:50px') #
          th(style='width:100px') Block Size
          th(style='width:75px') Created
          th(style='width:75px') Free
        tbody
          tr
            th 0
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block0_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block0_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block0_NumFree'}],indicator:'text'}) ---
          tr
            th 1
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block1_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block1_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block1_NumFree'}],indicator:'text'}) ---
          tr
            th 2
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block2_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block2_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block2_NumFree'}],indicator:'text'}) ---
          tr
            th 3
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block3_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block3_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block3_NumFree'}],indicator:'text'}) ---
          tr
            th 4
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block4_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block4_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block4_NumFree'}],indicator:'text'}) ---
          tr
            th 5
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block5_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block5_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block5_NumFree'}],indicator:'text'}) ---
          tr
            th 6
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block6_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block6_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block6_NumFree'}],indicator:'text'}) ---
          tr
            th 7
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block7_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block7_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block7_NumFree'}],indicator:'text'}) ---
          tr
            th 8
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block8_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block8_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block8_NumFree'}],indicator:'text'}) ---
          tr
            th 9
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block9_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block9_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block9_NumFree'}],indicator:'text'}) ---
          tr
            th 10
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block10_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block10_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block10_NumFree'}],indicator:'text'}) ---
          tr
            th 11
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block11_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block11_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block11_NumFree'}],indicator:'text'}) ---
          tr
            th 12
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block12_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block12_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block12_NumFree'}],indicator:'text'}) ---
          tr
            th 13
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block13_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block13_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block13_NumFree'}],indicator:'text'}) ---
          tr
            th 14
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block14_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block14_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block14_NumFree'}],indicator:'text'}) ---
          tr
            th 15
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block15_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block15_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block15_NumFree'}],indicator:'text'}) ---
          tr
            th 16
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block16_Size'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block16_NumCreated'}],indicator:'text'}) ---
            td
              span(data-commander={tlm:[{name:'/CFE/CFE_ES/PoolStats_Block16_NumFree'}],indicator:'text'}) ---
    footer
      .btn-group
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_TlmPoolStatsCmd_t'},indicator:'cmd'}) Send Stats
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DumpCDSRegCmd_t'},indicator:'cmd'}) Dump CDS
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DeleteCDSCmd_t'},indicator:'cmd'}) Delete CDS
