.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Memory
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Bytes Free:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBytesFree'}],indicator:'text'}) ---
            td
          tr
            th Blocks Free:
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapBlocksFree'}],indicator:'text'}) ---
            td
          tr
            th Maximum:
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.HeapMaxBlockSize'}],indicator:'text'}) ---
            td
          tr
            th Pool handle
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolHandle', format:'0x%08x'}],indicator:'text'}) ---
          tr
            th Pool size
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.PoolSize'}],indicator:'text'}) ---
          tr
            th Num blocks requested
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.NumBlocksRequested'}],indicator:'text'}) ---
          tr
            th Check error count
            td 
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.CheckErrCtr'}],indicator:'text'}) ---
          tr
            th Num free bytes
            td
              span(data-cdr={tlm: [{name: '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.NumFreeBytes'}],indicator:'text'}) ---       
    .table-responsive
        table.table.table-striped.table-condensed.table-memory
          thead
            th(style='width:50px') #
            th(style='width:100px') Block Size
            th(style='width:75px') Created
            th(style='width:75px') Free
          tbody
            - for (var i = 0; i < 17; ++i) {
              - var size = '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].BlockSize'
              - var numCreated = '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].NumCreated'
              - var numFree = '/CFE/CFE_ES_PoolStatsTlm_t/Payload.PoolStats.BlockStats[' + i + '].NumFree'
              tr
                th #{i}
                td 
                  span(data-cdr={tlm:[{name: size}],indicator:'text'}) ---
                td 
                  span(data-cdr={tlm:[{name: numCreated}],indicator:'text'}) ---
                td
                  span(data-cdr={tlm:[{name: numFree}],indicator:'text'}) ---
            - }  
    
    footer
      .btn-group
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_TlmPoolStatsCmd_t'},indicator:'cmd'}) Send Stats
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DumpCDSRegCmd_t'},indicator:'cmd'}) Dump CDS
        button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_DeleteCDSCmd_t'},indicator:'cmd'}) Delete CDS
