
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Logging
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfState'}],indicator:'text'}) ---
          tr
            th Mode
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfMode'}],indicator:'text'}) ---
          tr
            th Trigger count
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfTriggerCount'}],indicator:'text'}) ---
          tr
            th Start
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataStart'}],indicator:'text'}) ---
          tr
            th End
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataEnd'}],indicator:'text'}) ---
          tr
            th Count
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataCount'}],indicator:'text'}) ---
          tr
            th Data to Write
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataToWrite'}],indicator:'text'}) ---
          tr
            th Filter Mask
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfFilterMask'}],indicator:'text'}) ---
          tr
            th Trigger Mask
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfTriggerMask'}],indicator:'text'}) ---
    footer.btn-group(role="group")      
         .btn-group.dropup
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfStartCmd_t'},indicator:'cmd'}) Start
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfStopCmd_t'},indicator:'cmd'}) Stop/Write
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfSetFilterMaskCmd_t'},indicator:'cmd'}) Set Mask
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfSetTrigMaskCmd_t'},indicator:'cmd'}) Set Trigger
            