
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfState'}]}) ---
          tr
            th Mode
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfMode'}]}) ---
          tr
            th Trigger count
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfTriggerCount'}]}) ---
          tr
            th Start
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataStart'}]}) ---
          tr
            th End
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataEnd'}]}) ---
          tr
            th Count
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataCount'}]}) ---
          tr
            th Data to Write
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfDataToWrite'}]}) ---
          tr
            th Filter Mask
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfFilterMask'}]}) ---
          tr
            th Trigger Mask
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_ES_HkPacket_t/Payload.PerfTriggerMask'}]}) ---
    footer.btn-group(role="group")      
         .btn-group.dropup
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfStartCmd_t'}}) Start
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfStopCmd_t'}}) Stop/Write
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfSetFilterMaskCmd_t'}}) Set Mask
            button.btn.btn-primary(data-cdr={cmd: {name: '/CFE/CFE_ES_PerfSetTrigMaskCmd_t'}}) Set Trigger
            