table.table.table-condensed
  tbody
    tr
      th Reset Type:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.ResetType', calibration: {type:'enumeration', 
          enumerations:[
           {value:1, name:'PROCESSOR'},
           {value:2, name:'POWERUP'}
         ]}}],indicator:'text'}) ---
      td
    tr
      th Reset Subtype:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.ResetSubtype', calibration: {type:'enumeration', 
          enumerations:[
            {value:1, name:'POWER_CYCLE'},
            {value:2, name:'PUSH_BUTTON'},
            {value:3, name:'HW_SPECIAL_COMMAND'},
            {value:4, name:'HW_WATCHDOG'},
            {value:5, name:'RESET_COMMAND'},
            {value:6, name:'EXCEPTION'},
            {value:7, name:'UNDEFINED_RESET'},
            {value:8, name:'HWDEBUG_RESET'},
            {value:9, name:'BANKSWITCH_RESET'}
          ]}}],indicator:'text'}) ---
      td
    tr
      th Proc Reset Cnt:
      td
        span.sage-tlm(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.ProcessorResets'}],indicator:'text'}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_ES_ResetPrCount'},indicator:'cmd'}) Reset
    tr
      th Max Proc Resets:
      td
        span.sage-tlm(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.MaxProcessorResets'}],indicator:'text'}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_ES_SetMaxPRCountCmd_t'},indicator:'cmd'}) Set
    tr
      th Boot Source:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.BootSource'}],indicator:'text'}) ---
      td
footer.btn-group(role="group")              
  button.btn.cdr-danger(data-cdr={cmd: {name: '/CFE/CFE_ES_RestartCmd_t', argument:[{name:'Type', value:'PROC'}]},indicator:'cmd'}) Proc Reset
  button.btn.cdr-danger(data-cdr={cmd: {name: '/CFE/CFE_ES_RestartCmd_t', argument:[{name:'Type', value:'POWER-ON'}]},indicator:'cmd'}) Power Reset
