.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Reset
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Reset Type:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetType'}],indicator:'text'}) ---
            td
          tr
            th Reset Subtype:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetSubtype'}],indicator:'text'}) ---
            td
          tr
            th Proc Reset Cnt:
            td
              span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/ProcessorResets'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-sage={cmd: {name:'/CFS/CFE_ES/ResetPRCount'},indicator:'cmd'}) Reset
          tr
            th Max Proc Resets:
            td
              span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/MaxProcessorResets'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-sage={cmd: {name:'/CFS/CFE_ES/SetMaxPRCount'},indicator:'cmd'}) Set
          tr
            th Boot Source:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/BootSource'}],indicator:'text'}) ---
            td
    footer.btn-group(role="group")              
      button.btn.cdr-important(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type', value:'PROC'}]},indicator:'cmd'}) Proc Reset
      button.btn.cdr-important(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type', value:'POWER-ON'}]},indicator:'cmd'}) Power Reset
