.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Reset
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Reset Type:
            td
              span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.ResetType'}],indicator:'text'}) ---
            td
          tr
            th Reset Subtype:
            td
              span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.ResetSubtype'}],indicator:'text'}) ---
            td
          tr
            th Proc Reset Cnt:
            td
              span.sage-tlm(data-cdr={tlm: [{name: '/CFE/ES_HK/ProcessorResets'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_ES_ResetPrCount'},indicator:'cmd'}) Reset
          tr
            th Max Proc Resets:
            td
              span.sage-tlm(data-cdr={tlm: [{name: '/CFE/ES_HK/MaxProcessorResets'}],indicator:'text'}) ---
            td
              button.btn.cdr-primary(data-commander={cmd: {name:'/CFE/SetMaxPRCount'},indicator:'cmd'}) Set
          tr
            th Boot Source:
            td
              span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.BootSource'}],indicator:'text'}) ---
            td
    footer.btn-group(role="group")              
      button.btn.cdr-important(style='margin:20px 10px 20px 20px' data-cdr={cmd: {name: '/CFE/CFE_ES_RestartCmd_t', argument:[{name:'Type', value:'PROC'}]},indicator:'cmd'}) Proc Reset
      button.btn.cdr-important(style='margin:20px 10px 20px 20px' data-cdr={cmd: {name: '/CFE/CFE_ES_RestartCmd_t', argument:[{name:'Type', value:'POWER-ON'}]},indicator:'cmd'}) Power Reset
