.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Version
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th CFE Version:
            td 
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.CFEMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.CFEMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.CFERevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.CFEMissionRevision'}],indicator:'text'}) -
            td
          tr
            th OSAL Version:
            td 
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.OSALMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.OSALMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.OSALRevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.OSALMissionRevision'}],indicator:'text'}) -
            td
          tr
            th Checksum:
            td
              span(data-cdr={tlm: [{name: '/CFE/ES_HK/Payload.CFECoreChecksum', format:'0x%04x'}],indicator:'text'}) ---
            td
