table.table.table-condensed
  tbody
    tr
    th CFE Version:
      td 
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMajorVersion'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMinorVersion'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFERevision'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFEMissionRevision'}],indicator:'text'}) -
      td
    tr
      th OSAL Version:
      td 
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMajorVersion'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMinorVersion'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALRevision'}],indicator:'text'}) -
        span.span-inline-block .
        span.span-inline-block(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.OSALMissionRevision'}],indicator:'text'}) -
      td
    tr
      th Checksum:
      td
        span(data-cdr={tlm: [{name: '/CFE/CFE_ES_HkPacket_t/Payload.CFECoreChecksum', format:'0x%04x'}],indicator:'text'}) ---
      td
