.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Version
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th CFE Version:
            td 
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFERevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMissionRevision'}],indicator:'text'}) -
            td
          tr
            th OSAL Version:
            td 
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMajorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMinorVersion'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALRevision'}],indicator:'text'}) -
              span.span-inline-block .
              span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMissionRevision'}],indicator:'text'}) -
            td
          tr
            th Checksum:
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/CFECoreChecksum', format:'0x%04x'}],indicator:'text'}) ---
            td
