.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 General
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th Cmd Count
                td
                  div.sage-tlm(data-commander={tlm:[{name:'/CFE/ES_HK/Payload.CmdCounter'}]} data-format='text') ---
              tr
                th Error Count
                td
                  div(data-commander={tlm:[{name:'/CFE/ES_HK/Payload.ProcessorResets'}]} data-format='led')   
    footer.btn-group(role="group")
      button.btn.btn-primary(data-commander={cmd:{name:'/CFE/SetMaxPRCount'}} data-format='cmd') Set MaxPRCount      
      button.btn.btn-primary(data-commander={cmd:{name:'/CFE/ES_Noop'}} data-format='cmd') No-Op
