#ifdef __cplusplus
extern "C" {
#endif

/*
** Pragmas
*/

/*
** Include Files
*/
#include "cfe.h"
#include "cfe_tbl_filedef.h"
#include "sch_platform_cfg.h"
#include "sch_msgdefs.h"
#include "sch_tbldefs.h"


/* Group IDs */
{%- for group in content.groups %}
#define {{ "%-*s" % (40, group.name) }} ({{ group.value }})
{%- endfor %}


/* Message Indices */
{%- for msg_idx in content.msg_idx %}
#define {{ "%-*s" % (40, msg_idx.name) }} ({{ msg_idx.value }})
{%- endfor %}


SCH_ScheduleEntry_t SCH_DefaultScheduleTable[SCH_TABLE_ENTRIES] = 
{
    {%- for slot in content.schedule -%}
    /* Slot #{{ loop.index0 }} */
    {%- for activity in slot %}
    { {{ "%-*s" % (13, activity.EnableState) }}, {{ "%-*s" % (21, activity.Type) }}, {{ activity.Frequency }}, {{ activity.Remainder }}, {{ "%-*s" % (30, activity.MessageIndex) }}, {{ "%-*s" % (30, activity.GroupData) }} 
        {%- if 'Deadline' in activity -%}
            , {{ activity.Deadline }}
        {%- endif %} }
    {{- "," if not loop.last else "" }}
    {%- endfor %}
    {{- "," if not loop.last else "" }}

    {% endfor %}
};


/* Table file header */
CFE_TBL_FILEDEF(SCH_DefaultScheduleTable, SCH.SCHED_DEF, {{description}}, {{file_name}}.tbl )


#ifdef __cplusplus
}
#endif

/*=======================================================================================
** End of file {{file_name}}.c
**=====================================================================================*/
    
