#ifdef __cplusplus
extern "C" {
#endif

/*
** Include Files
*/
#include "cfe.h"
#include "cfe_tbl_filedef.h"
#include "sch_platform_cfg.h"
#include "sch_tbldefs.h"
#include "msg_ids.h"

{% set COL_WIDTH = 40 %}


#define SCH_FIX_HEADER(a, b, c) CFE_MAKE_BIG16(a), CFE_MAKE_BIG16(b), CFE_MAKE_BIG16(c) 

/* Message table entry map */
SCH_MessageEntry_t SCH_DefaultMessageTable[SCH_MAX_MESSAGES] =
{
    /* **  DO NOT USE -- ENTRY #0 RESERVED FOR "UNUSED" COMMAND ID - DO NOT USE */
    { { SCH_FIX_HEADER({{ "%-*s," % (COL_WIDTH, "SCH_UNUSED_MID")}} 0XC000, 0X0001), 0X0000 } },
    {%- for idx in range(1, config.SCH_MAX_MESSAGES.value) %}
    {%-   set msgKey =  idx|string %}
    {%-   set MSG = tables._MSG_DEFS[msgKey] %}

        {%- if 'payload' in MSG %}
    { { SCH_FIX_HEADER({{ "%-*S," % (COL_WIDTH, MSG.msgid)}} 0XC000, {{ "0X{0:04X}".FORMAT(((MSG.payload | length) * 2) + 1)}}), {{ "%-*s," % (COL_WIDTH, MSG.cc)}} {% for WORD in MSG.payload -%}
             , {{ WORD }}
           {%- endfor %} } }
        {%- else %}
    { { SCH_FIX_HEADER({{ "%-*s," % (COL_WIDTH, MSG.msgid)}} 0XC000, 0X0001), {{ "%-*s" % (COL_WIDTH, MSG.cc)}} } }       
        {%- endif %}
    {%- endfor %}

};


/* Table file header */
CFE_TBL_FILEDEF(SCH_DefaultMessageTable, SCH.MSG_DEFS, SCH message definitions table, sch_def_msgtbl.tbl)



#ifdef __cplusplus
}
#endif

/*=======================================================================================
** End of file {{file_name}}.c
**=====================================================================================*/
    
