- var pluginName = query.pluginName;
table.table.table-condensed
  tbody
    tr
      th Commands Accepted 
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/cmdAcceptCount'}]}) ---
      td
