- var pluginName = query.pluginName;
table.table.table-condensed
  tbody
    tr
      th Commands Accepted 
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/cmdAcceptCount'}]}) ---
      td
    tr
      th Commands Rejected
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/cmdRejectCount'}]}) ---
      td
    tr
      th Card 1 Device Path
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card1DevicePath'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/setCardDevicePath'}}) Set
    tr
      th Card 2 Device Path
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card2DevicePath'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/setCardDevicePath'}}) Set
    tr
      th Card 3 Device Path
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card3DevicePath'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/setCardDevicePath'}}) Set
    tr
      th Card 1 Messages Received
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card1MsgRecvCount'}]}) ---
      td
    tr
      th Card 2 Messages Received
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card2MsgRecvCount'}]}) ---
      td
    tr
      th Card 2 Messages Received
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card3MsgRecvCount'}]}) ---
      td
    tr
      th Card 1 Messages Sent
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card1MsgSentCount'}]}) ---
      td
    tr
      th Card 2 Messages Sent
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card2MsgSentCount'}]}) ---
      td
    tr
      th Card 2 Messages Sent
      td
        div(data-cdr={tlm:[{name:'/' + pluginName + '/hk/card3MsgSentCount'}]}) ---
      td
      
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/Reset'}}) Reset
  button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/ReadSwitch'}}) Read Switch 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/' + pluginName + '/SetLED'}}) Set LED 
  