extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Manager

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-VM-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/ErrCounter'}]}) ---
                  tr
                    th Arming State
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/ArmingState'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Reset'}}) Reset
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Arm'}}) Arm
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Disarm'}}) Disarm
                                        
  .row
    +app_specific_telemetry_control("VM")
                                              
  .row          
    +app_specific_mempools("VM")
    
  .row
    +app_specific_application_control("VM") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("VM")
    
  .row
    +app_specific_scheduler_control("VM")
                  