extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Scheduler

block main
  -var SLOT_COUNT = 250
  -var ENTRIES_PER_SLOT = 15
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style='width: 300px')
      #wid-SCH-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 150px') Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/SCH/ErrCounter'}]}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/SCH/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/SCH/Reset'}}) Reset
                     
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style='width: 350px')
      #wid-SCH-Counts.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Counts
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 200px') Sync to MET
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/SyncToMET'}]}) ---
                  tr
                    th Major Frame Source
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MajorFrameSource'}]}) ---
                  tr
                    th Activity Successes
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/ScheduleActivitySuccessCount'}]}) ---
                  tr
                    th Activity Failures
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/ScheduleActivityFailureCount'}]}) ---
                  tr
                    th Slots Processed
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/SlotsProcessedCount'}]}) ---
                  tr
                    th Skipped Slots
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/SkippedSlotsCount'}]}) ---
                  tr
                    th Multiple Slots
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MultipleSlotcount'}]}) ---
                  tr
                    th Same Slot
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/SameSlotCount'}]}) ---
                  tr
                    th Bad Table Data
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/BadTableDataCount'}]}) ---
                  tr
                    th Table Verify Successes
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/TableVerifySuccessCount'}]}) ---
                  tr
                    th Table Verify Failures
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/TableVerifyFailureCount'}]}) ---
                  tr
                    th Table Passes
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/TablePassCount'}]}) ---
                  tr
                    th Valid Major Frames
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/ValidMajorFrameCount'}]}) ---
                  tr
                    th Missed Major Frames
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MissedMajorFrameCount'}]}) ---
                  tr
                    th Unexpected Major Frames
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/UnexpectedMajorFrameCount'}]}) ---
                      
    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style='width: 350px')
      #wid-SCH-General.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 General
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width: 200px') Minor Frames Since Tone
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/MinorFramesSincetone'}]}) ---
                  tr
                    th Next Slot Number
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/NextSlotNumber'}]}) ---
                  tr
                    th Last Sync MET Slot
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/LastSyncMETSlot'}]}) ---
                  tr
                    th Ignore Major Frame
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/IgnoreMajorFrame'}]}) ---
                  tr
                    th Unexpected Major Frame
                    td
                      span(data-sage={tlm:[{name:'/CFS/SCH/UnexpectedMajorFrame'}]}) ---
            footer
              .bth-group
                button.btn.btn-primary(data-sage={cmd:{name:'/CFS/SCH/EnableSync'}}) Enable Sync
                .btn-group.dropup
                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Group Ena/Dis
                    span.caret
                  ul#SCHCommands.dropdown-menu(role='menu')
                    li
                      a(data-sage={cmd:{name:'/CFS/SCH/EnableGroup'}}) Enable Group
                    li
                      a(data-sage={cmd:{name:'/CFS/SCH/DisableGroup'}}) Disable Group
                                              
  .row          
    +app_specific_mempools("SCH")
    
  .row
    +app_specific_application_control("SCH") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("SCH")
                    



