.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 DS - Housekeeping
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Commands Accepted
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/CmdAcceptedCounter'}],indicator:'text'}) ---
          tr
            th Commands Rejected
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/CmdRejectedCounter'}],indicator:'text'}) ---
          tr
            th Dest Table Load Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/DestTblLoadCounter'}],indicator:'text'}) ---
          tr
            th Dest Table Err Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/DestTblErrCounter'}],indicator:'text'}) ---
          tr
            th Filter Table Load Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FilterTblLoadCounter'}],indicator:'text'}) ---
          tr
            th Filter Table Err Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FilterTblErrCounter'}],indicator:'text'}) ---
          tr
            th App Enable State
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/AppEnableState'}],indicator:'text'}) ---
            td.btn-group(role="group") 
              button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_AppStateCmd_t'},indicator:'cmd'}) Enable
              button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_AppStateCmd_t'},indicator:'cmd'}) Disable    
          tr
            th File Write Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FileWriteCounter'}],indicator:'text'}) ---
          tr
            th File Write Err Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FileWriteErrCounter'}],indicator:'text'}) ---
          tr
            th File Update Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FileUpdateCounter'}],indicator:'text'}) ---
          tr
            th File Update Err Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FileUpdateErrCounter'}],indicator:'text'}) ---
          tr
            th Disabled Packet Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/DisabledPktCounter'}],indicator:'text'}) ---
          tr
            th Ignored Packet Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/IgnoredPktCounter'}],indicator:'text'}) ---
          tr
            th Filtered Packet Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FilteredPktCounter'}],indicator:'text'}) ---
          tr
            th Pass Packet Counter
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/PassedPktCounter'}],indicator:'text'}) ---
          tr
            th Filter Tabled Filename
            td
              div(data-cdr={tlm:[{name:'/DS/DS_HkPacket_t/FilterTblFilename'}],indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_NoopCmd_t'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_ResetCmd_t'},indicator:'cmd'}) Reset
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_FilterFileCmd_t'},indicator:'cmd'}) Filter File    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_FilterTypeCmd_t'},indicator:'cmd'}) Filter Type
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_FilterParmsCmd_t'},indicator:'cmd'}) Filter Params   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestTypeCmd_t'},indicator:'cmd'}) Destination Type   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestStateCmd_t'},indicator:'cmd'}) Destination State
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestPathCmd_t'},indicator:'cmd'}) Destination Path    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestBaseCmd_t'},indicator:'cmd'}) Destination Base   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestExtCmd_t'},indicator:'cmd'}) Destination Ext   
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestSizeCmd_t'},indicator:'cmd'}) Destination Size  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestAgeCmd_t'},indicator:'cmd'}) Destination Age    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_DestCountCmd_t'},indicator:'cmd'}) Destination Count    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_CloseFileCmd_t'},indicator:'cmd'}) Close File        
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_CloseAllCmd_t'},indicator:'cmd'}) Close All  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/DS/DS_AddMidCmd_t'},indicator:'cmd'}) Add Msg ID    
