table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/MM/MM_HkPacket_t/CmdCounter'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/MM/MM_HkPacket_t/ErrCounter'}]}) ---
        
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MM/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MM/Reset'}}) Reset
