table.table.table-condensed
  tbody
    tr
      th(style={width:'250px'}) Wakeup for File Proc
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.WakeupForFileProc'}]}) ---
    tr
      th Engine Cycle Count
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.EngineCycleCount'}]}) ---
    tr
      th Memory In Use
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemInUse'}]}) ---
    tr
      th Peak Mem In Use
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PeakMemInUse'}]}) ---
    tr
      th Low Memory Mark
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LowMemoryMark'}]}) ---
    tr
      th Max Mem Needed
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MaxMemNeeded'}]}) ---
    tr
      th Mem Allocated
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.MemAllocated'}]}) ---
    tr
      th Buffer Pool Handle
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.BufferPoolHandle'}]}) ---
    tr
      th Q Nodes Allocated
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QnodesAllocated'}]}) ---
    tr
      th Q Nodes Deallocated
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.QnodesDeallocated'}]}) ---
    tr
      th PDUs Received
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsReceived'}]}) ---
    tr
      th PDUs Rejected
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.PDUsRejected'}]}) ---
    tr
      th Total In Prog Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalInProgTrans'}]}) ---
    tr
      th Total Failed Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalFailedTrans'}]}) ---
    tr
      th Total Abandon Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalAbandonTrans'}]}) ---
    tr
      th Total Success Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalSuccessTrans'}]}) ---
    tr
      th Total Completed Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.TotalCompletedTrans'}]}) ---
    tr
      th Last Failed Trans
      td
        span(data-cdr={tlm: [{name: '/CF/CF_HkPacket_t/App.LastFailedTrans'}]}) ---
    tr
      th Auto Suspend Enabled
      td
        span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_Enable'}]}) ---
    tr
      th Auto Suspend Low Free Mark
      td
        span(data-cdr={tlm: [{name: '/CFS/CF/AutoSuspend_LowFreeMark'}]}) ---
        
footer
  .btn-group.dropup
    button.btn.cdr-primary.dropdown-toggle(type='button', data-toggle='dropdown')
      | Commands
      span.caret
    ul#MiscCommands.dropdown-menu(role='menu')
      li
        a(data-cdr={cmd: {name: '/CFS/CF/PlaybackFile'}}, href='javascript:void(0);') Playback File
      li
        a(data-cdr={cmd: {name: '/CFS/CF/PlaybackDir'}}, href='javascript:void(0);') Playback Dir
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Freeze'}}, href='javascript:void(0);') Freeze
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Thaw'}}, href='javascript:void(0);') Thaw
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Suspend'}}, href='javascript:void(0);') Suspend
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Resume'}}, href='javascript:void(0);') Resume
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Cancel'}}, href='javascript:void(0);') Cancel
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Abandon'}}, href='javascript:void(0);') Abandon
      li
        a(data-cdr={cmd: {name: '/CFS/CF/SetMIBParam'}}, href='javascript:void(0);') Set MIB Param
      li
        a(data-cdr={cmd: {name: '/CFS/CF/GetMIBParam'}}, href='javascript:void(0);') Get MIB Param
      li
        a(data-cdr={cmd: {name: '/CFS/CF/SendTransDiagData'}}, href='javascript:void(0);') Send Trans Diag Data
      li
        a(data-cdr={cmd: {name: '/CFS/CF/SetPollParam'}}, href='javascript:void(0);') Set Poll Param
      li
        a(data-cdr={cmd: {name: '/CFS/CF/SendCfgParams'}}, href='javascript:void(0);') Send Cfg Params
      li
        a(data-cdr={cmd: {name: '/CFS/CF/WriteQueueInfo'}}, href='javascript:void(0);') Write Queue Info
      li
        a(data-cdr={cmd: {name: '/CFS/CF/EnableDequeue'}}, href='javascript:void(0);') Enable Dequeue
      li
        a(data-cdr={cmd: {name: '/CFS/CF/DisableDequeue'}}, href='javascript:void(0);') Disable Dequeue
      li
        a(data-cdr={cmd: {name: '/CFS/CF/EnableDirPolling'}}, href='javascript:void(0);') Enable Dir Polling
      li
        a(data-cdr={cmd: {name: '/CFS/CF/DisableDirPolling'}}, href='javascript:void(0);') Disable Dir Polling
      li
        a(data-cdr={cmd: {name: '/CFS/CF/DeleteQueueNode'}}, href='javascript:void(0);') Delete Queue Node
      li
        a(data-cdr={cmd: {name: '/CFS/CF/PurgeQueue'}}, href='javascript:void(0);') Purge Queue
      li
        a(data-cdr={cmd: {name: '/CFS/CF/WriteActiveTrans'}}, href='javascript:void(0);') Write Active Trans
      li
        a(data-cdr={cmd: {name: '/CFS/CF/Kickstart'}}, href='javascript:void(0);') Kickstart
      li
        a(data-cdr={cmd: {name: '/CFS/CF/QuickStatus'}}, href='javascript:void(0);') Quick Status
      li
        a(data-cdr={cmd: {name: '/CFS/CF/GiveTake'}}, href='javascript:void(0);') Give / Take
      li
        a(data-cdr={cmd: {name: '/CFS/CF/EnaDisAutoSuspend'}}, href='javascript:void(0);') Ena/Dis Auto Suspend
