.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      button.btn.btn-outline-primary(data-sage={cmd: {name:'/CFS/FLOW/SendDiag'}}) Send Diag
      h2 Diagnostic
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Horizontal Field of View
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/HFOV',format:'%.4f'}]}) ---
          tr
            th FocalLengthX
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/FocalLengthX',format:'%.4f'}]}) ---
          tr
            th FocalLengthY
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/FocalLengthY',format:'%.4f'}]}) ---
          tr
            th Tile Size
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/TileSize'}]}) ---   
          tr
            th Blocks
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/Blocks'}]}) --- 
          tr
            th Output Rate
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/OutputRate'}]}) ---
          tr
            th Img Width
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/ImgWidth'}]}) ---
          tr
            th Img Height
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/ImgHeight'}]}) ---   
          tr
            th Search Size
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/SearchSize'}]}) ---
          tr
            th Feature Threshold
            td
              span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/FeatureThreshold'}]}) ---
          tr
            th Value Threshold
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/ValueThreshold'}]}) ---   
          tr
            th Meancount Threshold
            td
              span(data-sage={tlm:[{name:'/CFS/FLOW/MeancountThreshold'}]}) ---   
    footer.btn-group(role="group")
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetHFOV'}}) Set HFOV
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetTileSize'}}) Set Tile Size
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetBlocks'}}) Set Blocks
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetOutputRate'}}) Set Output Rate      
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetImgWidth'}}) Set Img Width
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetImgHeight'}}) Set Img Height      
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetSearchSize'}}) Set Search Size
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetFeatureThreshold'}}) Set Feature Threshold      
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetValueThreshold'}}) Set Value Threshold
      button.btn.btn-primary(data-sage={cmd:{name:'/CFS/FLOW/SetMeancountThreshold'}}) Set Meancount Threshold                   
