.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Command and Data Handling - HK
    div.widget-body.table-responsive
      table.table.table-condensed
            tbody
              tr
                th Timestamp
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/Timestamp'}]}) --- 
              tr
                th Quality
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/Quality'}]}) --- 
              tr
                th Pixel Flow X
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/PixelFlowX',format:'%.4f'}]}) ---
              tr
                th Pixel Flow Y
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/PixelFlowY',format:'%.4f'}]}) ---
              tr
                th Angular Flow X
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/AngularFlowX',format:'%.4f'}]}) ---   
              tr
                th Angular Flow Y
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/AngularFlowY',format:'%.4f'}]}) ---
              tr
                th Gyro Rate Integral X
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/GyroXRateIntegral',format:'%.4f'}]}) ---
              tr
                th Gyro Rate Integral Y
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/GyroYRateIntegral',format:'%.4f'}]}) ---   
              tr
                th Gyro Rate Integral Z
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/GyroZRateIntegral',format:'%.4f'}]}) ---  
              tr
                th Flow Sum X
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/FlowSumX',format:'%.4f'}]}) ---   
              tr
                th Flow Sum Y
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/FlowSumY',format:'%.4f'}]}) ---
              tr
                th Flow Quality Sum
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/FlowQualitySum'}]}) ---
              tr
                th Valid Frame Count
                td
                  span.sage-tlm(data-sage={tlm:[{name:'/CFS/FLOW/ValidFrameCount'}]}) ---
              tr
                th Delta Time
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/DeltaTime'}]}) ---   
              tr
                th Flow Status
                td
                  div.bool-led(style='--cmdr-led-off-bg-color: #ff0000;' data-sage={tlm:[{name:'/CFS/FLOW/FlowStatus'}]})
              tr
                th Gyro Last Timestamp
                td
                  span(data-sage={tlm:[{name:'/CFS/FLOW/LastGyroMsgAppeared'}]}) ---   
