extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | Multicopter Attitude Control

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-MAC-Housekeeping.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Housekeeping
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MAC/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/MAC/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MAC/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/MAC/Reset'}}) Reset

                                        
  .row
    +app_specific_telemetry_control("MAC")
                                    
  .row          
    +app_specific_mempools("MAC")
    
  .row
    +registered_applications() 
    +app_specific_application_control("MAC")

  .row
    +app_specific_event_filters("MAC")
    
  .row
    +app_specific_scheduler_control("MAC")

