extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Essential Services Summary

block main    
  .row.row-fluid
    article.col-xs-6.col-sm-5.col-md-4.col-lg-2(style="width:475px")
      #wid-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width: '150px'}) Cmd Count:
                    td(style={width: '150px'})
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/CmdCounter'}]}) ---
                    td(style={width: '150px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ResetCounters'}}) Reset
                  tr
                    th Cmd Error Count:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ErrCounter'}]}) ---
                    td
                  tr
                    th CFE Version:
                    td 
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMajorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMinorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFERevision'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/CFEMissionRevision'}]}) -
                    td
                  tr
                    th OSAL Version:
                    td 
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMajorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMinorVersion'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALRevision'}]}) -
                      span.span-inline-block .
                      span.span-inline-block(data-sage={tlm: [{name: '/CFS/CFE_ES/OSALMissionRevision'}]}) -
                    td
                  tr
                    th Checksum:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/CFECoreChecksum', format:'0x%04x'}]}) ---
                    td
                  tr
                    th Bytes Used:
                    td 
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogBytesUsed'}]}) ---
                    td
                  tr
                    th Entries:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogEntries'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ClearSysLog'}}) Clear Log
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/WriteSysLog'}}) Write Log
                  tr 
                    th Mode:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/SysLogMode'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/SetSysLogMode'}}) Set Mode
                  tr
                    th Index:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogIndex'}]}) ---
                  tr 
                    th Entries:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ERLogEntries'}]}) ---
                    td
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/ClearErrLog'}}) Clear Log
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_ES/WriteErrLog'}}) Write Log
                  tr
                    th Reset Type:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetType'}]}) ---
                    td
                  tr
                    th Reset Subtype:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/ResetSubtype'}]}) ---
                    td
                  tr
                    th Proc Reset Cnt:
                    td
                      span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/ProcessorResets'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/CFE_ES/ResetPRCount'}}) Reset
                  tr
                    th Max Proc Resets:
                    td
                      span.sage-tlm(data-sage={tlm: [{name: '/CFS/CFE_ES/MaxProcessorResets'}]}) ---
                    td
                      button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/CFE_ES/SetMaxPRCount'}}) Set
                  tr
                    th Boot Source:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/BootSource'}]}) ---
                    td
                  tr
                    th Core Apps:
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_ES/RegisteredCoreApps'}]}) ---
                    td
                  tr
                    th Ext Apps:
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_ES/RegisteredExternalApps'}]}) ---
                    td
                  tr 
                    th Tasks:
                    td
                      span(data-sage={tlm: [{name:'/CFS/CFE_ES/RegisteredTasks'}]}) ---
                    td
                  tr
                    th Libs:
                    td
                      span(data-sage={tlm: [{name:'/CFS/CFE_ES/RegisteredLibs'}]}) ---
                    td
                  tr
                    th Bytes Free:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapBytesFree'}]}) ---
                    td
                  tr
                    th Blocks Free:
                    td 
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapBlocksFree'}]}) ---
                    td
                  tr
                    th Maximum:
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/HeapMaxBlockSize'}]}) ---
                    td

    article.col-xs-2.col-sm-2.col-md-1.col-lg-1(style={width:'240px'})
      #wid-ProcReset.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Reset
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            button.btn.btn-xs.btn-danger.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type', value:'PROC'}]}}) Proc Reset
            button.btn.btn-xs.btn-danger.btn-labeled.sage-cmd-inline(style='margin:20px 10px 20px 20px' data-sage={cmd: {name: '/CFS/CFE_ES/Restart', argument:[{name:'Type', value:'POWER-ON'}]}}) Power Reset
                        
  .row
    +app_specific_telemetry_control("CFE_ES")
                
  .row          
    +app_specific_mempools("CFE_ES")
    
  .row
    +registered_applications() 
    +app_specific_application_control("CFE_ES")

  .row
    +app_specific_event_filters("CFE_ES")
    
  .row
    +app_specific_scheduler_control("CFE_ES")
