.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Application Control
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th(style='width:120px') App Name - Requested
            td(style='width:120px') FLOW
          tr
            th(style='width:120px') App Name - Telemetered
            td(style='width:120px') 
              span(data-sage={tlm:[{name: '/CFS/CFE_ES/AppInfo_Name'}]}) ---
          tr
            th ID
            td
              input.form-control(width=50 data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AppID'}]}, value='---')
          tr
            th Type
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Type'}]}) ---
          tr
            th Entry Point
            td
              input#AppCtrl_EntryPoint.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_EntryPoint'}]}, value='---')
          tr
            th File Name
            td
              input#AppCtrl_FileName.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_FileName'}]}, value='---')
          tr 
            th Stack Size
            td
              input#AppCtrl_StackSize.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StackSize'}]}, value='---')
          tr
            th Module ID
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ModuleID'}]}) ---
          tr
            th Addr valid
            td
              div.bool-led(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]})
          tr 
            th Code addr
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeAddress', format:'0x%08x'}]}) ---
          tr
            th Code size
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeSize'}]}) ---
          tr
            th Data Addr
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataAddress', format:'0x%08x'}]}) ---
          tr
            th Data Size
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataSize'}]}) ---
          tr
            th BSS Addr
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSAddress', format:'0x%08x'}]}) ---
          tr
            th BSS Size
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSSize'}]}) ---
          tr
            th Start Addr
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StartAddress', format:'0x%08x'}]}) ---
          tr 
            th Exception Action
            td              
              input#AppCtrl_ExceptionAction.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}, value='---')
          tr
            th Priority
            td
              input#AppCtrl_Priority.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Priority'}]}, value='---')
          tr
            th Main Task ID
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskId'}]}) ---
          tr
            th Execution Counter
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}) ---
          tr 
            th Main Task Name
            td
              span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskName'}]}) ---
          tr
            th Child Task Count
            td
             span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}) ---
    footer.btn-group(role="group")
      button#AppCtrl_QueryApp.btn.btn-primary.btn-labeled Query
      button.btn.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_ES/QueryAll'}}) Query All
      button#AppCtrl_StartApp.btn.btn-primary.btn-labeled Start
      button#AppCtrl_StopApp.btn.btn-primary.btn-labeled Stop
      button#AppCtrl_RestartApp.btn.btn-primary.btn-labeled Restart
      button#AppCtrl_ReloadApp.btn.btn-primary.btn-labeled Reload
