table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/HS/HS_HkPacket_t/CmdCount'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/Noop'}}) No-Op  
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/Reset'}}) Reset  
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/HS/HS_HkPacket_t/CmdErrCount'}]}) ---
      td            
    tr
      th App Monitor
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/CurrentAppMonState'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/EnableAppMon'}}) Enable
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/DisableAppMon'}}) Disable 
    tr
      th Event Monitor
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/CurrentEventMonState'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/EnableEventMon'}}) Enable
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/DisableEventMon'}}) Disable 
    tr
      th Aliveness Monitor
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/CurrentAlivenessState'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/EnableAliveness'}}) Enable
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/DisableAliveness'}}) Disable 
    tr
      th CPU Hog Monitor
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/CurrentCPUHogState'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/EnableCpuHog'}}) Enable
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/DisableCpuHog'}}) Disable 
    tr
      th CDS In Use
      td
        span -NA-
      td
    tr
      th Resets Performed
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/ResetsPerformed'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/ResetResetsPerformed'}}) Reset 
    tr
      th Max Resets
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/MaxResets'}]}) ---
      td  
        button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/SetMaxResets'}}) Set 
    tr
      th Events Monitored
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/EventsMonitoredCount'}]}) ---
      td
    tr
      th Invalid Events Monitored
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/InvalidEventMonCount'}]}) ---
      td  
    tr
      th Msg Act Exec
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/MsgActExec'}]}) ---
      td
    tr
      th CPU Average
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/UtilCpuAvg'}]}) ---
      td
    tr
      th CPU Peak
      td
        span(data-cdr={tlm: [{name:'/HS/HS_HkPacket_t/UtilCpuPeak'}]}) ---
      td
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/ReportDiag'}}) Report Diag 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/SetUtilParams'}}) Set Util Params 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/HS/SetUtilDiag'}}) Set Util Diag 
