.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 HS - Execution Counts
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th CFE_ES
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[0]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[0]'}]}) ---
          tr
            th CFE_EVS
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[1]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[1]'}]}) ---
          tr
            th CFE_TIME
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[2]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[2]'}]}) ---
          tr
            th TIME_TONE_TASK
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[3]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[3]'}]}) ---
          tr
            th TIME_1HZ_TASK
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[4]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[4]'}]}) ---
          tr
            th CFE_TBL
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[5]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[5]'}]}) ---
          tr
            th CFE_SB
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[6]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[6]'}]}) ---
          tr
            th CF
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[7]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[7]'}]}) ---
          tr
            th CI
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[8]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[8]'}]}) ---
          tr
            th CS
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[9]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[9]'}]}) ---
          tr
            th DS
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[10]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[10]'}]}) ---
          tr
            th EA
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[11]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[11]'}]}) ---
          tr
            th FM
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[12]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[12]'}]}) ---
          tr
            th HK
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[13]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[13]'}]}) ---
          tr
            th HS
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[14]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[14]'}]}) ---
          tr
            th LC
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[15]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[15]'}]}) ---
          tr
            th MD
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[16]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[16]'}]}) ---
          tr
            th MM
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[17]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[17]'}]}) ---
          tr
            th SC
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[18]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[18]'}]}) ---
          tr
            th SCH
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[19]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[19]'}]}) ---
          tr
            th TO
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[20]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[20]'}]}) ---
          tr
            th VC
            td 
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/ExeCounts[21]'}]}) ---
            td
              span(data-sage={tlm: [{name: '/HS/HS_HkPacket_t/AppMonEnables[21]'}]}) ---
