.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CS - Applications
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/AppCSState'}],indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableApps'},indicator:'cmd'}) Enable 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableApps'},indicator:'cmd'}) Disable
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/AppCSErrCounter'}],indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/ReportBaselineApp'},indicator:'cmd'}) Report Baseline  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineApp'},indicator:'cmd'}) Recompute Baseline  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableNameApp'},indicator:'cmd'}) Enable by Name
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableNameApp'},indicator:'cmd'}) Disable by Name
