table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/CmdCounter'}]}) ---
      td
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/CmdErrCounter'}]}) ---
      td
    tr
      th State
      td
        div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/ChecksumState'}]}) ---
      td
        .btn-group(role="group")
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/EnableAllCS'}}) Enable 
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/DisableAllCS'}}) Disable
    tr
      th Recompute In Progress
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/RecomputeInProgress'}]}) ---
      td
    tr
      th OneShot In Progress
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/OneShotInProgress'}]}) ---
      td
        .btn-group(role="group")
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/CS_OneShotCmd_t'}}) Start 
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/CancelOneShot'}}) Cancel
    tr
      th Current Entry In Table
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/CurrentEntryInTable'}]}) ---
      td
    tr
      th Last One Shot Address
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/LastOneShotAddress'}]}) ---
      td
    tr
      th Last One Shot Size
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/LastOneShotSize'}]}) ---
      td
    tr
      th Last One Shot Max Bytes Per Cycle
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/LastOneShotMaxBytesPerCycle'}]}) ---
      td
    tr
      th Last One Shot Checksum
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/LastOneShotChecksum'}]}) ---
      td
    tr
      th Pass Counter
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/PassCounter'}]}) ---
      td
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/Reset'}}) Reset  
