table.table.table-condensed
  tbody
    tr
      th State
      td
        div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/MemoryCSState'}]}) ---
      td
        .btn-group(role="group")
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/EnableMemory'}}) Enable 
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/DisableMemory'}}) Disable
    tr
      th Error Count
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/MemoryCSErrCounter'}]}) ---
      td
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/ReportBaselineMemory'}}) Report 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineMemory'}}) Recompute
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/EnableEntryMemory'}}) Enable Entry  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/DisableEntryMemory'}}) Disable Entry
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/GetEntryIDMemory'}}) Get Entry ID
