.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CS - OS
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/OSCSState'}],indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableOS'},indicator:'cmd'}) Enable 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableOS'},indicator:'cmd'}) Disable
          tr
            th Error Count
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/OSCSErrCounter'}], indicator:'text'}) ---
          tr
            th Baseline
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/OSBaseline'}], indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/ReportBaselineOS'},indicator:'cmd'}) Report 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineOS'},indicator:'cmd'}) Recompute
