table.table.table-condensed
  tbody
    tr
      th State
      td
        div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/TablesCSState'}]}) ---
      td
        .btn-group(role="group")
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/EnableTables'}}) Enable 
          button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/DisableTables'}}) Disable
    tr
      th Error Count
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/TablesCSErrCounter'}]}) ---
      td
    tr
      th Current CS Table
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/CurrentCSTable'}]}) ---
      td
    tr
      th Current Entry
      td
        span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/CurrentEntryInTable'}]}) ---
      td
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/ReportBaselineTable'}}) Report 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineTable'}}) Recompute
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/EnableNameTable'}}) Enable by Name  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CS/DisableNameTable'}}) Disable by Name
