.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 CS - Tables
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th State
            td
              div(data-cdr={tlm:[{name:'/CS/CS_HkPacket_t/TablesCSState'}],indicator:'text'}) ---
            td
              .btn-group(role="group")
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableTables'},indicator:'cmd'}) Enable 
                button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableTables'},indicator:'cmd'}) Disable
          tr
            th Error Count
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/TablesCSErrCounter'}], indicator:'text'}) ---
          tr
            th Current CS Table
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/CurrentCSTable'}], indicator:'text'}) ---
          tr
            th Current Entry
            td
              span(data-cdr={tlm: [{name:'/CS/CS_HkPacket_t/CurrentEntryInTable'}], indicator:'text'}) ---
              
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/ReportBaselineTable'},indicator:'cmd'}) Report 
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/RecomputeBaselineTable'},indicator:'cmd'}) Recompute
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/EnableNameTable'},indicator:'cmd'}) Enable by Name  
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/CS/DisableNameTable'},indicator:'cmd'}) Disable by Name
