style.
  .pfd-container-2{
    background-color: var(--th-bg-color);
    padding: 5px;
    display: inline-flex;
    margin: 2px;
    border: 1px solid var(--td-border-color) !important;
    border-radius: 5px;
  }
  
  .pfd-container-2 > i {
    font-size:x-large;
    display: grid;
    text-align: center; 
  }

  .pfd-value{
    display: grid;
    text-align: center;
    margin-left:5px;
  }

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    .pfd-container-2.pdf-vitals-battery
      i.fa.fa-battery-4
      .pfd-value
        div.pfd-bat-rem-val 0%
    .pfd-container-2#voltage
      i.fa.fa-bolt
      .pfd-value
        div(data-cdr={tlm:[{name:'/PX4/PX4_BatteryStatusMsg_t/VoltageFiltered', format:'%0.2fv'}]}) 0V
    .pfd-container-2#satellites
      i.fa.fa-globe
      .pfd-value
        div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/SatellitesUsed'}]}) 0  
      
    
script.
  /* PX4 Messages */
  setTimeout(()=>{
    var bat_add = {
      "ops_path": "/TO/TO_AddMessageFlowCmd_t" ,
      "args":{
        "MsgID":2572,
        "PQueueIdx":1,
        "MsgLimit":1,
        "ChannelIdx":0
      }
    }
    
    session.sendCommand(bat_add);
    
    
    /* Battery Status */  
    if(!('/PX4/PX4_BatteryStatusMsg_t/Remaining' in Object.keys(rogue_subscriptions))) {
      session.subscribe([{name:'/PX4/PX4_BatteryStatusMsg_t/Remaining'}], (paramArr)=>{
        try {
          var param = paramArr[0];
          var sample = param.sample[param.sample.length - 1];
          var value = sample.value;
          var batRemainingPercent = value * 100;
          if(batRemainingPercent > 100){
            batRemainingPercent = 100
          }
          else if(batRemainingPercent < 0){
            batRemainingPercent = 0
          }
          var indicatorCode = Math.floor(batRemainingPercent/20) -1;
          $('.pdf-vitals-battery').find('.fa').attr('class','fa fa-battery-'+indicatorCode);
          $('.pdf-vitals-battery').find('.pfd-bat-rem-val').text(batRemainingPercent.toFixed(2)+'%');
        }
        catch(e){
          cu.logError("RogueSubscribe | unable to process response. error= ",e.message)
        } 
      });
      setRogueSubsc('/PX4/PX4_BatteryStatusMsg_t/Remaining','text','.pfd-bat-rem-val');
    }
  },2000);
