extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Manager

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-VM-HK.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Command Handling
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/ErrCounter'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Reset'}}) Reset
              
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-VM-ArmingState.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Arming State
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Arming State
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/ArmingState'}]}) ---
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Arm'}}) Arm
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/Disarm'}}) Disarm
              
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
      #wid-VM-NavState.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Navigation State
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Nav State
                    td
                      span(data-sage={tlm: [{name:'/CFS/VM/NavState'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavManual'}}) Manual
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAltCtl'}}) AltCtl
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavPosCtl'}}) PosCtl
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAutoLoiter'}}) Loiter 
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAutoRTL'}}) Auto RTL 
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAcro'}}) Acro 
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavStabilize'}}) Stabilize  
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavRattitude'}}) Rattitude  
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAutoTakeoff'}}) Auto Takeoff  
              button.btn.btn-primary(data-sage={cmd: {name:'/CFS/VM/SetNavAutoLand'}}) Auto Land                             
  .row
    +app_specific_telemetry_control("VM")
                                              
  .row          
    +app_specific_mempools("VM")
    
  .row
    +app_specific_application_control("VM") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("VM")
    
  .row
    +app_specific_scheduler_control("VM")
                  