extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Position Estimator

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-LD-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/PE/CmdCounter'}]}) ---
                  tr
                    th Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/ErrCounter'}]}) ---
                  tr
                    th Timestamp
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/Timestamp'}]}) ---
                  tr
                    th Local Estimation Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/EstimatorLocalInitialized'}]}) ---
                  tr
                    th Global Estimation Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/EstimatorGlobalInitialized'}]}) ---
                  tr
                    th Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/AltitudeOrigin'}]}) ---
                  tr
                    th Altitude Origin Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/AltOriginInitialized'}]}) ---
                  tr
                    th Baro Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/BaroInitialized'}]}) ---
                  tr
                    th Baro Fault
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/BaroFault'}]}) ---
                  tr
                    th Baro Timeout
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/BaroTimeout'}]}) ---
                  tr
                    th Time Last Baro
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/TimeLastBaro'}]}) ---
                  tr
                    th Baro Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/BaroAltOrigin'}]}) ---
                  tr
                    th Gps Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/GpsInitialized'}]}) ---
                  tr
                    th Gps Fault
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/GpsFault'}]}) ---
                  tr
                    th Gps Timeout
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/GpsTimeout'}]}) ---
                  tr
                    th Time Last Gps
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/TimeLastGps'}]}) ---
                  tr
                    th Gps Altitude Origin
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/GpsAltOrigin'}]}) ---
                  tr
                    th Land Initialized
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/LandInitialized'}]}) ---
                  tr
                    th Land Fault
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/LandFault'}]}) ---
                  tr
                    th Land Timeout
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/LandTimeout'}]}) ---
                  tr
                    th Time Last Land
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/TimeLastLand'}]}) ---
                  tr
                    th Horizontal Estimate Valid
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/XyEstValid'}]}) ---
                  tr
                    th Vertical Estimate Valid
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/ZestValid'}]}) ---
                  tr
                    th Land Estimate Valid
                    td
                      span(data-sage={tlm:[{name:'/CFS/PE/TzEstValid'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/PE/Reset'}}) Reset

                      
              

                                        
  .row
    +app_specific_telemetry_control("PE")
                                                  
  .row          
    +app_specific_mempools("PE")
    
  .row
    +app_specific_application_control("PE") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("PE")
    
  .row
    +app_specific_scheduler_control("PE")
