{% extends "../../common/layout.pug" %}//TODO:find common solution

block header
        i.fa-fw.fa.fa-signal
        | Command Ingest

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style="max-width:450px")
        #wid-CI-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage="{'tlm': [{'name':'/CFS/CI/CmdCounter'}]}") ---
                    tr
                      th Error Count
                      td
                        span(data-sage="{'tlm': [{'name':'/CFS/CI/ErrCounter'}]}") ---
                    tr
                      th Ingest Count
                      td
                        span(data-sage="{'tlm': [{'name':'/CFS/CI/IngestMsgCount'}]}") ---
                    tr
                      th Ingest Error Count
                      td
                        span(data-sage="{'tlm': [{'name':'/CFS/CI/IngestErrorCount'}]}") ---
              footer
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/Reset'}}) Reset
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/ArmCmd'}}) Arm Cmd
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/DisarmCmd'}}) Disarm Cmd
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/RegCmd'}}) Register Cmd
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/DeregCmd'}}) Deregister Cmd
                button.btn.btn-primary(data-sage="{'cmd': {'name':'/CFS/CI/UpdateCmdReg'}}) Update Cmd




    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
        #wid-Tables.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Table
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th(style={width:'170px'}) Cmd Count
                      td(style={width:'150px'})
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/CmdCounter'}]}") ---
                      td(style={width:'80px'})
                    tr
                      th Cmd Error Count
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/ErrCounter'}]}") ---
                      td
                    tr
                      th Number of Tables
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/NumTables'}]}") ---
                      td
                    tr
                      th Pending updates
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/NumLoadPending'}]}") ---
                      td
                    tr
                      th Validations
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/ValidationCtr'}]}") ---
                      td
                    tr
                      th Last CRC
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastValCrc', 'format':'0x%08x'}]}") ---
                      td
                    tr
                      th Last Valid Table
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastValTableName'}]}") ---
                      td
                    tr
                      th Last Validation
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastValStatus'}]}") ---
                      td
                    tr
                      th Active Buffer
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/ActiveBuffer', 'format':'0x%08x'}]}") ---
                      td
                    tr
                      th Successful Validations
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/SuccessValCtr'}]}") ---
                      td
                    tr
                      th Failed Validations
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/FailedValCtr'}]}") ---
                      td
                    tr
                      th Validation Requests
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/NumValRequests'}]}") ---
                      td
                    tr
                      th Free Shared Buffers
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/NumFreeSharedBufs'}]}") ---
                      td
                    tr
                      th Last Updated Table
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastUpdatedTbl'}]}") ---
                      td
                    tr
                      th Last File Loaded
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastFileLoaded'}]}") ---
                      td
                    tr
                      th Last File Dumped
                      td
                        span(data-sage="{'tlm':[{'name':'/CFS/CFE_TBL/LastFileDumped'}]}") ---
                      td
              footer
                .btn-group
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Load'}}) Load Config
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Dump Config
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Validate', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Val Config
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Activate', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Act Config
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Tlm Config Reg
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/DeleteCDS', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Del Config CDS
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/AbortLoad', 'argument':[{'name':'TableName', 'value':'CI.CONFIG_TBL'}]}}") Abort Config Load
                .btn-group
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/Dump', 'argument':[{'name':'TableName', 'value':'CI.TIMEOUT_TBL'}]}}") Dump Timeout
                  button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage="{'cmd': {'name': '/CFS/CFE_TBL/TlmReg', 'argument':[{'name':'TableName', 'value':'CI.TIMEOUT_TBL'}]}}") Tlm Timeout Reg

    article.col-xs-12.col-sm-12.col-md-6.col-lg-3(style={width:'500px'})
      #wid-CFE-ES-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Application Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-app-status
                tbody
                  tr
                    th App Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Name'}]}") ---
                  tr
                    th ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_AppID'}]}") ---
                  tr
                    th Type
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Type'}]}") ---
                  tr
                    th Entry Point
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_EntryPoint'}]}") ---
                  tr
                    th File Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_FileName'}]}") ---
                  tr
                    th Stack Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_StackSize'}]}") ---
                  tr
                    th Module ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ModuleID'}]}") ---
                  tr
                    th Addr valid
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]}") ---
                  tr
                    th Code addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_CodeAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Code size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_CodeSize'}]}") ---
                  tr
                    th Data Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_DataAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Data Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_DataSize'}]}") ---
                  tr
                    th BSS Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_BSSAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th BSS Size
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_BSSSize'}]}") ---
                  tr
                    th Start Addr
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_StartAddress', 'format':'0x%08x'}]}") ---
                  tr
                    th Exception Action
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}") ---
                  tr
                    th Priority
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_Priority'}]}") ---
                  tr
                    th Main Task ID
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_MainTaskId'}]}") ---
                  tr
                    th Execution Counter
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}") ---
                  tr
                    th Main Task Name
                    td
                      span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_MainTaskName'}]}") ---
                  tr
                    th Child Task Count
                    td
                     span(data-sage="{'tlm': [{'name': '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}") ---
            .btn-group.dropup(style="margin-top: 10px;')
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/QueryOne', 'argument':[{'name':'Name', 'value':'CI'}]}}") Query
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/StartApp', 'argument':[{'name':'Name', 'value':'CI'},{'name':'EntryPoint', 'value':'CI_AppMain'},{'name':'FileName', 'value':'/cf/apps/CI.so'},{'name':'StackSize', 'value':'32768'},{'name':'ExceptionAction', 'value':'APP RESTART'},{'name':'Priority', 'value':'80'}]}}") Start
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/StopApp', 'argument':[{'name':'Name', 'value':'CI'}]}}") Stop
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/RestartApp', 'argument':[{'name':'Name', 'value':'CI'}]}}") Restart
              button.btn.btn-primary(data-sage="{'cmd': {'name': '/CFS/CFE_ES/ReloadApp', 'argument':[{'name':'Name', 'value':'CI'},{'name':'FileName', 'value':'/cf/apps/CI.so'}]}}") Reload
  .row
    script.
      var schDef = {
        slotCount:200,
        entriesPerSlot:5,
        appName:'CI',
        slots:[
          {id:7, activities:[1]},
          {id:11, activities:[1]}],
        groups:[
          {'name':'SCH_GROUP_CI', id:0x00000001}]};

    article.col-xs-12.col-sm-12.col-md-12.col-lg-8
      #wid-SCH-Diag-Entries.jarviswidget.jarviswidget-color-blueDark(style="width: 860px" data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Scheduler
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage="{'cmd':{'name':'/CFS/SCH/SendDiagTlm'}}) Send Schedule
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style="width: 150px') Cmd Count
                    td
                      span(data-sage="{'tlm': [{'name':'/CFS/SCH/CmdCounter'}]}") ---
                  tr
                    th Error Count
                    td
                      span(data-sage="{'tlm': [{'name':'/CFS/SCH/ErrCounter'}]}") ---
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width: 100px") Slot #
                    th(style="width: 100px") Activity #
                    th(style="width: 150px") State
                    th MsgID
                    th(style="width: 150px") Action
                tbody#thistablebody1
                  script.
                    function addrow(str,table){
                    //var tbody = table.children[0];
                    var length = table.children.length;
                    var row = tbody.insertRow(length-1);
                    row.innerHTML =str
                    }
                    var table = document.getElementById('thistablebody1');
                    for (var slotIdx = 0; slotIdx < schDef.slots.length; ++slotIdx) {
                      var slotID = schDef.slots[slotIdx].id;
                      var strSlotID = '' + slotID;
                        for (var actIdx = 0; actIdx < schDef.slots[slotIdx].activities.length; ++actIdx){
                          var actID = schDef.slots[slotIdx].activities[actIdx];
                          var strActID =  '' + actID;
                          var entryID = (schDef.entriesPerSlot * slotID) + actID;
                          var strEntryID = '' + entryID;
                          var tlmEntryState = "{'tlm':[{'name':'/CFS/SCH/EntryState_'+entryID}]}";
                          var tlmMsgID = "{'tlm':[{'name':'/CFS/SCH/MsgID_'+entryID}]}";
                          var cmdEnableEntry =" {'cmd': {'name':'/CFS/SCH/EnableEntry', 'argument':[{'name':'Slot', 'value':strSlotID},{'name':'Entry', 'value':strActID}]}}";
                          var cmdDisableEntry = "{'cmd': {'name':'/CFS/SCH/DisableEntry', 'argument':[{'name':'Slot', 'value':strSlotID},{'name':'Entry', 'value':strActID}]}}";
                          var txt = "<td>"+slotID+"</td>"+"<td>"+strActID+"</td>"+"<td><span data-sage="+tlmEntryState+">---</span></td>"+"<td><span data-sage="+tlmMsgID+">---</span></td>"+
                          "<td>"+
                          "<div class = 'btn-group dropup'>"+
                          "<button class=\"btn btn-xs btn-primary btn-labeled\" data-sage=\" "+cmdEnableEntry+" \">Ena</button>"+
                          "<button class=\"btn btn-xs btn-primary btn-labeled\" data-sage=\" "+cmdDisableEntry+" \">Dis</button>"+
                          "</div>"+
                          "</td>";
                          addrow(txt,table);
                        }

                    }
