extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Table Services

block main  
  .row.row-fluid                
    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:450px')
      #wid-CFE-Tbl-General.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 General
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'170px'}) Cmd Count
                    td(style={width:'150px'})
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/CmdCounter'}]}) ---
                    td(style={width:'80px'})
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ErrCounter'}]}) ---
                    td
                  tr
                    th
                    td(colspan=2)
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/NoOp'}}) NoOp
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_TBL/Reset'}}) Counter Reset
                  tr
                    th Number of Tables
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumTables'}]}) ---
                    td
                  tr
                    th Pending updates
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumLoadPending'}]}) ---
                    td
                  tr
                    th Validations
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ValidationCtr'}]}) ---
                    td
                  tr
                    th Last CRC
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValCrc', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Last Valid Table
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValTableName'}]}) ---
                    td
                  tr
                    th Last Validation
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastValStatus'}]}) ---
                    td
                  tr
                    th Active Buffer
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/ActiveBuffer', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Successful Validations
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/SuccessValCtr'}]}) ---
                    td
                  tr
                    th Failed Validations
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/FailedValCtr'}]}) ---
                    td
                  tr
                    th Validation Requests
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumValRequests'}]}) ---
                    td
                  tr
                    th Free Shared Buffers
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/NumFreeSharedBufs'}]}) ---
                    td
                  tr
                    th Last Updated Table
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastUpdatedTbl'}]}) ---
                    td
                  tr
                    th Last File Loaded
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastFileLoaded'}]}) ---
                    td
                  tr
                    th Last File Dumped
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/LastFileDumped'}]}) ---
                    td
            footer
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/Load'}}) Load
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/AbortLoad'}}) Abort Load
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/Dump'}}) Dump
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/Validate'}}) Validate
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/Activate'}}) Activate
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/DumpReg'}}) Dump Reg
                button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/DeleteCDS'}}) Delete CDS


    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:450px')
      #wid-CFE-Tbl-General.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Registry
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_TBL/TlmReg'}}) Send Reg
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'170px'}) Size
                    td(style={width:'150px'})
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_Size'}]}) ---
                    td(style={width:'80px'})
                  tr
                    th CRC
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_CRC'}]}) ---
                    td
                  tr
                    th Active Buffer Addr
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_ActiveBufferAddr', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Inactive Buffer Addr
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_InactiveBufferAddr', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Validation Func Ptr
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_ValidationFuncPtr', format:'0x%08x'}]}) ---
                    td
                  tr
                    th Time of Last Update
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_TimeOfLastUpdate_Seconds'}]}) ---
                    td
                  tr
                    th 
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_TimeOfLastUpdate_Subseconds'}]}) ---
                    td
                  tr
                    th File Create Time
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_FileCreateTime_Seconds'}]}) ---
                    td
                  tr
                    th
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_FileCreateTime_Subseconds'}]}) ---
                    td
                  tr
                    th Table Loaded Once
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_TableLoadedOnce'}]}) ---
                    td
                  tr
                    th Load Pending
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_LoadPending'}]}) ---
                    td
                  tr
                    th Dump Only 
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_DumpOnly'}]}) ---
                    td
                  tr
                    th Dbl Buffered 
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_DblBuffered'}]}) ---
                    td
                  tr
                    th Name
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_Name'}]}) ---
                    td
                  tr
                    th Last File Loaded
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_LastFileLoaded'}]}) ---
                    td
                  tr
                    th Owner App Name
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_OwnerAppName'}]}) ---
                    td
                  tr
                    th Critical
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_TBL/Registry_Critical'}]}) ---
                    td
            
  .row          
    +app_specific_mempools("CFE_TBL")
    
  .row
    +app_specific_application_control("CFE_TBL") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("CFE_TBL")