extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4 - Actuator Output

block main
    - var PX4_ACTUATOR_OUTPUTS_MAX = 16
    .row.row-fluid

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-AO.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 RC Channels
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/AO_Timestamp'}]}") ---
                    tr
                      th Count
                      td
                        span(data-sage="{'tlm': [{'name': '/CFS/PX4/AO_Count'}]}") ---
                    - for(var i = 0; i < PX4_ACTUATOR_OUTPUTS_MAX; ++i) {
                      -  var tlmID = '/CFS/PX4/RCC_Channel_' + i;
                    tr
                      th Channel #{i}
                      td
                        span(data-sage="{'tlm': [{'name': '#{tlmID}'}]}") ---
                    - }
