extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Battery Status

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_BATTERY_STATUS_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Battery Status
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={tlm: [{name: '/CFS/PX4/BS_Timestamp'}]}) ---
                    tr
                      th Voltage:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Voltage"}]}) ---
                    tr
                      th Voltage Filtered:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_VoltageFiltered"}]}) ---
                    tr
                      th Current:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Current"}]}) ---
                    tr
                      th Current Filtered:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_CurrentFiltered"}]}) ---
                    tr
                      th Discharged:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Discharged"}]}) ---
                    tr
                      th Remaining:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Remaining"}]}) ---
                    tr
                      th Cell Count:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_CellCount"}]}) ---
                    tr
                      th Connected:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Connected"}]}) ---
                    tr
                      th Warning:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/BS_Warning"}]}) ---
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Voltage
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Voltage(style='width:100%; height:300px;')
              
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Current
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Current(style='width:100%; height:300px;')
                        
    script.
        $(function () {
            var voltageDataplotDef = {
                data: [
                    { 'tlm': [
                        {'name': '/CFS/PX4/BS_Voltage'}
                      ],
                      'label': 'Voltage',
                      'color': '#ff00ff'
                    },
                    { 'tlm': [
                        {'name': '/CFS/PX4/BS_VoltageFiltered'}
                      ],
                      'label': 'Voltage (filtered)',
                      'color': '#ffff00'
                    }
                ]
            };
            
            var currentDataplotDef = {
                data: [
                    { 'tlm': [
                        {'name': '/CFS/PX4/BS_Current'}
                      ],
                      'label': 'Current',
                      'color': '#ff00ff'
                    },
                    { 'tlm': [
                        {'name': '/CFS/PX4/BS_CurrentFiltered'}
                      ],
                      'label': 'Current (filtered)',
                      'color': '#ffff00'
                    }
                ]
            };
    
            var voltageDataplot = new SageTimeSeriesDataplot($('#Voltage'), voltageDataplotDef);
            var currentDataplot = new SageTimeSeriesDataplot($('#Current'), currentDataplotDef);
        });
              

