extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Distance Sensor

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_DISTANCE_SENSOR_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Distance
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Distance(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Distance
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Minimum:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_MinDistance"}]}) ---
                    tr
                      th Maximum:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_MaxDistance"}]}) ---
                    tr
                      th Current:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_CurrentDistance"}]}) ---
                    tr
                      th Covariance:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_Covariance"}]}) ---
                    tr
                      th Type:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_Type"}]}) ---
                    tr
                      th ID:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_ID"}]}) ---
                    tr
                      th Orientation:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/DS_Orientation"}]}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                data: [
                    { tlm: {name: '/CFS/PX4/DS_CurrentDistance'},
                      label: 'Distance',
                      color: '#ff00ff'
                    }
                ]
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Distance'), dataplotDef);
        });
