extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Offboard Control Mode

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_OFFBOARD_CONTROL_MODE_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Offboard Control Mode
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_Timestamp'}]}) ---
                    tr
                      th Ignore Thrust:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnoreThrust'}]}) ---
                    tr
                      th Ignore Attitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnoreAttitude'}]}) ---
                    tr
                      th Ignore Bodyrate:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnoreBodyrate'}]}) ---
                    tr
                      th Ignore Position:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnorePosition'}]}) ---
                    tr
                      th Ignore Velocity:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnoreVelocity'}]}) ---
                    tr
                      th Ignore Acceleration Force:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/OCM_IgnoreAccelerationForce'}]}) ---
                        
