extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4 - RC Input

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_INPUT_RC_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - RC Input
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Dataplot(style='width:100%; height:600px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - RC Input
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Timestamp"}]}) ---
                    tr
                      th Last Signal Time:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_LastSignalTime"}]}) ---
                    tr
                      th Channel Count:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_ChannelCount"}]}) ---
                    tr
                      th RSSI:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_ChannelCount"}]}) ---
                    tr
                      th Total Frame Count:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_RcTotalFrameCount"}]}) ---
                    tr
                      th Lost Frame Count:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_RcLostFrameCount"}]}) ---
                    tr
                      th PPM Frame Length:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_RcPpmFrameLength"}]}) ---
                    tr
                      th Channel 0:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_0"}]}) ---
                    tr
                      th Channel 1:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_1"}]}) ---
                    tr
                      th Channel 2:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_2"}]}) ---
                    tr
                      th Channel 3:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_3"}]}) ---
                    tr
                      th Channel 4:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_4"}]}) ---
                    tr
                      th Channel 5:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_5"}]}) ---
                    tr
                      th Channel 6:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_6"}]}) ---
                    tr
                      th Channel 7:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_7"}]}) ---
                    tr
                      th Channel 8:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_8"}]}) ---
                    tr
                      th Channel 9:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_9"}]}) ---
                    tr
                      th Channel 10:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_10"}]}) ---
                    tr
                      th Channel 11:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_11"}]}) ---
                    tr
                      th Channel 12:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_12"}]}) ---
                    tr
                      th Channel 13:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_13"}]}) ---
                    tr
                      th Channel 14:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_14"}]}) ---
                    tr
                      th Channel 15:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_15"}]}) ---
                    tr
                      th Channel 16:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_16"}]}) ---
                    tr
                      th Channel 17:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_Values_17"}]}) ---
                    tr
                      th Fail Safe:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_RcFailsafe"}]}) ---
                    tr
                      th RC Lost:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_RcLost"}]}) ---
                    tr
                      th Input Source:
                      td 
                        span(data-sage={'tlm': [{'name': "/CFS/PX4/IRC_InputSource"}]}) ---
                        
                        
    script.
        $(function () {
            var dataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_0'},
                      'label': '0'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_1'},
                      'label': '1'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_2'},
                      'label': '2'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_3'},
                      'label': '3'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_4'},
                      'label': '4'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_5'},
                      'label': '5'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_6'},
                      'label': '6'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_7'},
                      'label': '7'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_8'},
                      'label': '8'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_9'},
                      'label': '9'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_10'},
                      'label': '10'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_11'},
                      'label': '11'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_12'},
                      'label': '12'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_13'},
                      'label': '13'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_14'},
                      'label': '14'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_15'},
                      'label': '15'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_16'},
                      'label': '16'
                    },
                    { 'tlm': {'name': '/CFS/PX4/IRC_Values_17'},
                      'label': '17'
                    }
                ]
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Dataplot'), dataplotDef);
        });
                        
                       