extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Baro Sensor

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SENSOR_BARO_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Baro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Baro(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SB.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Baro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SB_Timestamp"}]}) ---
                    tr
                      th Error Count:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SB_ErrorCount"}]}) ---
                    tr
                      th Pressure:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SB_Press"}]}) ---
                    tr
                      th Altitude:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SB_Alt"}]}) ---
                    tr
                      th Temperature:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SB_Temp"}]}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                data: [
                    { tlm: {name: '/CFS/PX4/SB_Alt'},
                      label: 'Altitude',
                      color: '#ff00ff'
                    }
                ]
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Baro'), dataplotDef);
        });
