extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Sensor Combined

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SENSOR_COMBINED_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Accelerometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_Timestamp'}]}) ---
                    tr
                      th Gyro X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_GyroRadX'}]}) ---
                    tr
                      th Gyro Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_GyroRadY'}]}) ---
                    tr
                      th Gyro Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_GyroRadZ'}]}) ---
                    tr
                      th Gyro Integration Dt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_GyroIntDt'}]}) ---
                    tr
                      th Accel Relative Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccRelTimestamp'}]}) ---
                    tr
                      th Accel Invalid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccRelTimeInvalid'}]}) ---
                    tr
                      th Accel X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccX'}]}) ---
                    tr
                      th Accel Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccY'}]}) ---
                    tr
                      th Accel Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccZ'}]}) ---
                    tr
                      th Accel Integration Dt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_AccIntDt'}]}) ---
                    tr
                      th Mag Rel Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_MagRelTimestamp'}]}) ---
                    tr
                      th Mag Invalid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_MagRelTimeInvalid'}]}) ---
                    tr
                      th Mag X:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_MagX'}]}) ---
                    tr
                      th Mag Y:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_MagY'}]}) ---
                    tr
                      th Mag Z:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_MagZ'}]}) ---
                    tr
                      th Baro Rel Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_BaroRelTimestamp'}]}) ---
                    tr
                      th Baro Invalid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_BaroRelTimeInvalid'}]}) ---
                    tr
                      th Baro Altitude:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_BaroAlt'}]}) ---
                    tr
                      th Baro Temperature:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/SC_BaroTemp'}]}) ---
      
    .row.row-fluid
      article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-Gyro.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Gyro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Gyro(style='width:100%; height:300px;')
      
    .row.row-fluid
      article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-Accelerometer.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Accelerometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Accelerometer(style='width:100%; height:300px;')
      
    .row.row-fluid
      article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-Mag.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Magnetometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Magnetometer(style='width:100%; height:300px;')
      
    .row.row-fluid
      article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-Baro.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Baro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Baro(style='width:100%; height:300px;')
                        
    script.
        $(function () {
            var gyroDataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SC_GyroRadX'},
                      'label': 'X',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_GyroRadY'},
                      'label': 'Y',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_GyroRadZ'},
                      'label': 'Z',
                      'color': '#ffff00'
                    }
                ]
            };
    
            var gyroDataplot = new SageTimeSeriesDataplot($('#Gyro'), gyroDataplotDef);
            
            var accelDataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SC_AccX'},
                      'label': 'X',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_AccY'},
                      'label': 'Y',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_AccZ'},
                      'label': 'Z',
                      'color': '#ffff00'
                    }
                ],
                'options': {
                    'yaxis' : {
                        'max' : 20.0,
                        'min' : -20.0
                    }
                }
            };
    
            var accelDataplot = new SageTimeSeriesDataplot($('#Accelerometer'), accelDataplotDef);
            
            var magDataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SC_MagX'},
                      'label': 'X',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_MagY'},
                      'label': 'Y',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SC_MagZ'},
                      'label': 'Z',
                      'color': '#ffff00'
                    }
                ]
            };
    
            var magDataplot = new SageTimeSeriesDataplot($('#Magnetometer'), magDataplotDef);
            
            var baroDataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SC_BaroAlt'},
                      'label': 'Altitude',
                      'color': '#ff00ff'
                    }
                ]
            };
    
            var baroDataplot = new SageTimeSeriesDataplot($('#Baro'), baroDataplotDef);
        });
