extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SENSOR_MAG_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Magnetometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Magnetometer(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Magnetometer
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
                table.table.table-hover.table-condensed.table-compressed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Timestamp"}]}) ---
                    tr
                      th Error Count:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_ErrorCount"}]}) ---
                    tr
                      th X:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_X"}]}) ---
                    tr
                      th Y:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Y"}]}) ---
                    tr
                      th Z:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Z"}]}) ---
                    tr
                      th Range:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Range"}]}) ---
                    tr
                      th Scaling:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Scaling"}]}) ---
                    tr
                      th Temp:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_Temp"}]}) ---
                    tr
                      th Device ID:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_DeviceID"}]}) ---
                    tr
                      th X Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_XRaw"}]}) ---
                    tr
                      th Y Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_YRaw"}]}) ---
                    tr
                      th Z Raw:
                      td 
                        span(data-sage={tlm: [{name: "/CFS/PX4/SM_ZRaw"}]}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                'data': [
                    { 'tlm': {'name': '/CFS/PX4/SM_X'},
                      'label': 'X',
                      'color': '#ff00ff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SM_Y'},
                      'label': 'Y',
                      'color': '#00ffff'
                    },
                    { 'tlm': {'name': '/CFS/PX4/SM_Z'},
                      'label': 'Z',
                      'color': '#ffff00'
                    }
                ]
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Magnetometer'), dataplotDef);
        });
