extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SUBSYSTEM_INFO_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Subsystem Info
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SSI_Timestamp"}}) ---
                    tr
                      th Subsystem Type:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SSI_SubsystemType"}}) ---
                    tr
                      th Present:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SSI_Present"}}) ---
                    tr
                      th Enabled:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SSI_Enabled"}}) ---
                    tr
                      th Ok:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SSI_Ok"}}) ---
                        