extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_SYSTEM_POWER_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6
        #wid-SM.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Voltage
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              #Voltage(style='width:100%; height:300px;')

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Sensor - Gyro
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_Timestamp"}}) ---
                    tr
                      th Voltage 5V:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_Voltage5V"}}) ---
                    tr
                      th USB Connected:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_UsbConnected"}}) ---
                    tr
                      th Brick Valid:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_BrickValid"}}) ---
                    tr
                      th Servo Valid:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_ServoValid"}}) ---
                    tr
                      th Periph 5V:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_Periph5V"}}) ---
                    tr
                      th Hi Power 5V:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/SP_HiPower5V"}}) ---
                        
    script.
        $(function () {
            var dataplotDef = {
                data: [
                    { 
                      tlm: {name: '/CFS/PX4/SP_Voltage5V'},
                      label: 'Voltage',
                      color: '#ff00ff'
                    }
                ]
            };
    
            var dataplot = new SageTimeSeriesDataplot($('#Voltage'), dataplotDef);
        });
