extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_TELEMETRY_STATUS_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Telemetry Status
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_Timestamp"}}) ---
                    tr
                      th Heartbeat Time:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_Voltage5V"}}) ---
                    tr
                      th Telem Time:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_TelemTime"}}) ---
                    tr
                      th Rx Errors:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_RxErrors"}}) ---
                    tr
                      th Fixed:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_Fixed"}}) ---
                    tr
                      th Type:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_Type"}}) ---
                    tr
                      th RSSI:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_RSSI"}}) ---
                    tr
                      th Remote RSSI:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_RemoteRSSI"}}) ---
                    tr
                      th Noise:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_Noise"}}) ---
                    tr
                      th Remote Noise:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_RemoteNoise"}}) ---
                    tr
                      th TX Buf:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_TxBuf"}}) ---
                    tr
                      th System ID:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_SystemID"}}) ---
                    tr
                      th Component ID:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/TS_ComponentID"}}) ---