extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4 - Vehicle Control Mode

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_CONTROL_MODE_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Control Mode
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_Timestamp'}]}) ---
                    tr
                      th Armed
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_Armed'}]}) ---
                    tr
                      th External Manual Override OK
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_ExtManOvrrdOk'}]}) ---
                    tr
                      th System HIL Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_SysHilEna'}]}) ---
                    tr
                      th Manual Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlManEna'}]}) ---
                    tr
                      th Auto Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlAutoEna'}]}) ---
                    tr
                      th Offboard Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlOffbrdEna'}]}) ---
                    tr
                      th Rates Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlRatesEna'}]}) ---
                    tr
                      th Attitude Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlAttEna'}]}) ---
                    tr
                      th Rattitude Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlRattEna'}]}) ---
                    tr
                      th Force Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlForceEna'}]}) ---
                    tr
                      th Acceleration Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlAccEna'}]}) ---
                    tr
                      th Velocity Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlVelEna'}]}) ---
                    tr
                      th Position Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlPosEna'}]}) ---
                    tr
                      th Altitude Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlAltEna'}]}) ---
                    tr
                      th Climb Rate Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlClimbRateEna'}]}) ---
                    tr
                      th Termination Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlTermEna'}]}) ---
                    tr
                      th Fixed Heading Control Enabled
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VCM_CtrlFixedHdgEna'}]}) ---
