extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Vehicle Status

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_STATUS_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Status
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_Timestamp'}]}) ---
                    tr
                      th System ID:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_SystemID'}]}) ---
                    tr
                      th Component ID:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_ComponentID'}]}) ---
                    tr
                      th Onboard Control Sensors Present:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_OnbrdCtrlSnsrsPresent'}]}) ---
                    tr
                      th Onboard Control Sensors Enabled:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_OnbrdCtrlSnsrsEna'}]}) ---
                    tr
                      th Onboard Control Sensors Health:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_OnbrdCtrlSnsrsHealth'}]}) ---
                    tr
                      th Navigation State:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_NavState'}]}) ---
                    tr
                      th Arming State:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_ArmingState'}]}) ---
                    tr
                      th Hil State:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_HilState'}]}) ---
                    tr
                      th Fail-safe:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_Failsafe'}]}) ---
                    tr
                      th System Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_SystemType'}]}) ---
                    tr
                      th Is Rotary Wing:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_IsRotaryWing'}]}) ---
                    tr
                      th Is VTOL:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_IsVtol'}]}) ---
                    tr
                      th VTOL FW Perm Stab:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_VtolFwPermStab'}]}) ---
                    tr
                      th In Trans Mode:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_InTransMode'}]}) ---
                    tr
                      th RC Signal Lost:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_RcSignalLost'}]}) ---
                    tr
                      th RC Input Mode:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_RcInputMode'}]}) ---
                    tr
                      th Datalink Lost:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_DataLinkLost'}]}) ---
                    tr
                      th Datalink Lost Counter:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_DataLinkLostCounter'}]}) ---
                    tr
                      th Engine Failure:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_EngineFailure'}]}) ---
                    tr
                      th Engine Failure Cmd:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_EngineFailureCmd'}]}) ---
                    tr
                      th Mission Failure:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VS_MissionFailure'}]}) ---
