extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | PX4 - Vehicle GPS Position

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_GPS_POSITION_MID'}])
      
    .row.row-fluid
      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style="max-width:450px")
        #wid-SA.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Global Position
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Timestamp'}]}) ---
                    tr
                      th Time UTC Usec:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_TimeUtcUsec'}]}) ---
                    tr
                      th Lat:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Lat'}]}) ---
                    tr
                      th Lon:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Lon'}]}) ---
                    tr
                      th Alt:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Alt'}]}) ---
                    tr
                      th Alt Ellipsoid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_AltEllipsoid'}]}) ---
                    tr
                      th S Var:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_SVar'}]}) ---
                    tr
                      th C Var:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_CVar'}]}) ---
                    tr
                      th EpH:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_EpH'}]}) ---
                    tr
                      th EpV:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_EpV'}]}) ---
                    tr
                      th HDOP:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_HDOP'}]}) ---
                    tr
                      th VDOP:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_VDOP'}]}) ---
                    tr
                      th Noiser Per Ms:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_NoisePerMs'}]}) ---
                    tr
                      th Jamming Indicator:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_JamInd'}]}) ---
                    tr
                      th Vel m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Vel_m_s'}]}) ---
                    tr
                      th Vel N m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Vel_n_m_s'}]}) ---
                    tr
                      th Vel E m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Vel_e_m_s'}]}) ---
                    tr
                      th Vel D m/s:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_Vel_d_m_s'}]}) ---
                    tr
                      th COG:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_COG'}]}) ---
                    tr
                      th Relative Timstamp:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_TimestampTimeRelative'}]}) ---
                    tr
                      th Fix Type:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_FixType'}]}) ---
                    tr
                      th Vel NED Valid:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_VelNedValid'}]}) ---
                    tr
                      th Satellites Used:
                      td
                        span(data-sage={'tlm': [{'name': '/CFS/PX4/VGPP_SatellitesUsed'}]}) ---
