extends ../../web_includes/common/layout

block includes
    include ../../web_includes/common/common_includes.pug


block header
        i.fa-fw.fa.fa-signal
        | PX4

block main
    .row.row-fluid
      +msg_macro_specific_telemetry_control([{macro: 'PX4_VEHICLE_LAND_DETECTED_MID'}])

      article.col-xs-10.col-sm-6.col-md-6.col-lg-6(style='max-width:450px')
        #wid-SG.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header(style="overflow:hidden;")
            span.widget-icon
              i.fa.fa-table
            h2 Vehicle Land Detected
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/VLD_Timestamp"}}) ---
                    tr
                      th Alt Max:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/VLD_AltMax"}}) ---
                    tr
                      th Landed:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/VLD_Landed"}}) ---
                    tr
                      th Freefall:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/VLD_Freefall"}}) ---
                    tr
                      th Ground Contact:
                      td 
                        span(data-sage={tlm: {name: "/CFS/PX4/VLD_GroundContact"}}) ---
