extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Memory Manager

block main
  .row
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-MM-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Cmd and Data
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Cmd Count
                    td
                      span.sage-tlm(data-sage={tlm:[{name:'/CFS/MM/CmdCounter'}]}) ---
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/MM/ErrCounter'}]}) ---
            footer
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MM/NoOp'}}) No-Op
              button.btn.btn-primary(data-sage={cmd:{name:'/CFS/MM/Reset'}}) Reset 

    article.col-xs-12.col-sm-12.col-md-6.col-lg-4
      #wid-CF-App.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 General
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th Last Action
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/LastAction'}]}) --- 
                  tr
                    th Mem Type
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/MemType'}]}) --- 
                  tr
                    th Address
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/Address', format:'0x%08x'}]}) --- 
                  tr
                    th Fill Pattern
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/FillPattern', format:'0x%08x'}]}) --- 
                  tr
                    th Bytes Processed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/BytesProcessed'}]}) --- 
                  tr
                    th File Name
                    td 
                      span(data-sage={tlm:[{name:'/CFS/MM/FileName'}]}) --- 
            footer
              .btn-group.dropdown
                button.btn.btn-primary.dropdown-toggle.btn-xs(type='button', data-toggle='dropdown')
                  | Commands
                  span.caret
                ul#Commands.dropdown-menu(role='menu')
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/Peek'}}) Peek
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/Poke'}}) Poke
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/LoadMemWID'}}) Load Mem WID
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/LoadMemFromFile'}}) Load Mem From File
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/DumpMemToFile'}}) Dump Mem To File
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/DumpInEvent'}}) Dump In Event
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/FillMem'}}) Fill Mem
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/LookupSym'}}) Lookup Symbol
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/SymTblToFile'}}) Sym Tbl To File
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/EnableEEPROMWrite'}}) Enable EEPROM Write
                  li
                    a(data-sage={cmd:{name:'/CFS/MM/DisableEEPROMWrite'}}) Disable EEPROM Write
                                        
  .row
    +app_specific_telemetry_control("MM")
                                                  
  .row          
    +app_specific_mempools("MM")
    
  .row
    +app_specific_application_control("MM") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("MM")
    
  .row
    +app_specific_scheduler_control("MM")