table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/MFAB/MFAB_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/MFAB/MFAB_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Raw Value
      td
        div(data-cdr={tlm:[{name:'/MFAB/MFAB_HkTlm_t/rawValue'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAB/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAB/Reset'}}) Reset    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAB/SendHk'}}) Send HK  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAB/Wakeup'}}) Wakeup 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/MFAB/SetRawValue'}}) Set Raw Value
      
