extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
  i.fa-fw.fa.fa-signal
  | Actuator and Motor Control

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/ErrCounter'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/AMC/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/AMC/Reset'}}) Reset 
                        
                
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-AMC-ActuatorOutputs.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 Actuator Outputs
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Timestamp
                      td
                        span.format-microseconds(data-sage={tlm: [{name:'/CFS/AMC/Timestamp'}]}) ---
                    tr
                      th Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Count'}]}) ---
                    tr
                      th Output 0
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_0'}]}) ---
                    tr
                      th Output 1
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_1'}]}) ---
                    tr
                      th Output 2
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_2'}]}) ---
                    tr
                      th Output 3
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_3'}]}) ---
                    tr
                      th Output 4
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_4'}]}) ---
                    tr
                      th Output 5
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_5'}]}) ---
                    tr
                      th Output 6
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_6'}]}) ---
                    tr
                      th Output 7
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_7'}]}) ---
                    tr
                      th Output 8
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_8'}]}) ---
                    tr
                      th Output 9
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_9'}]}) ---
                    tr
                      th Output 10
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_10'}]}) ---
                    tr
                      th Output 11
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_11'}]}) ---
                    tr
                      th Output 12
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_12'}]}) ---
                    tr
                      th Output 13
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_13'}]}) ---
                    tr
                      th Output 14
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_14'}]}) ---
                    tr
                      th Output 15
                      td
                        span(data-sage={tlm: [{name:'/CFS/AMC/Output_15'}]}) ---
                                        
  .row
    +app_specific_telemetry_control("AMC")
    
  .row
    +app_specific_table_control("AMC")
                                    
  .row          
    +app_specific_mempools("AMC")
    
  .row
    +registered_applications() 
    +app_specific_application_control("AMC")

  .row
    +app_specific_event_filters("AMC")
    
  .row
    +app_specific_scheduler_control("AMC")

