.row.os-theme-dark
  article.col-xs-12.col-sm-12
  header
    span.widget-icon
      i.fa.fa-table
    h2 General
  div.widget-body.table-responsive
    table.table.table-condensed
          tbody
            tr
              th Cmd Count
              td
                cmdr-text(data-tlm={tlm:[{name:'/CFS/FLOW/CmdCounter'}]})
            tr
              th Error Count
              td
                cmdr-text(data-tlm={tlm:[{name:'/CFS/FLOW/ErrCounter'}]}) 
            tr
              th Led
              td
                cmdr-led(data-tlm={tlm:[{name:'/CFS/FLOW/ErrCounter'}]})  
  footer.btn-group(role="group")
    cmdr-button(data-steps=['No-Op', 'Confirm'] data-cmd={cmd:[{name:'/CFS/FLOW/NoOp'}]})
    cmdr-button(data-text="Reset" data-cmd={cmd:[{name:'/CFS/FLOW/Reset'}]})  
  article.col-xs-12.col-sm-12
  header
    span.widget-icon
      i.fa.fa-area-chart
    h2 Pixel Flow Graph
  div.widget-graph
    cmdr-dataplot(data-tlm={tlm:[{name:'/CFS/FLOW/VLP_DistBottom'}]} data-label=['Altitude AGL (m)'] data-color=['#ff00ff'])  
