table.table.table-condensed
        tbody
          tr
            th Size
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.Size'}]}) ---
            td
          tr
            th CRC
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.Crc'}]}) ---
            td
          tr
            th Active Buffer Addr
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.ActiveBufferAddr', format:'0x%08x'}]}) ---
            td
          tr
            th Inactive Buffer Addr
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.InactiveBufferAddr', format:'0x%08x'}]}) ---
            td
          tr
            th Validation Func Ptr
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.ValidationFuncPtr', format:'0x%08x'}]}) ---
            td
          tr
            th Time of Last Update
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.TimeOfLastUpdate.Seconds'}]}) ---
            td
          tr
            th 
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.TimeOfLastUpdate.Subseconds'}]}) ---
            td
          tr
            th File Create Time
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.FileCreateTimeSecs'}]}) ---
            td
          tr
            th
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.FileCreateTimeSubSecs'}]}) ---
            td
          tr
            th Table Loaded Once
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.TableLoadedOnce'}]}) ---
            td
          tr
            th Load Pending
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.LoadPending'}]}) ---
            td
          tr
            th Dump Only 
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.DumpOnly'}]}) ---
            td
          tr
            th Dbl Buffered 
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.DblBuffered'}]}) ---
            td
          tr
            th Name
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.Name'}]}) ---
            td
          tr
            th Last File Loaded
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.LastFileLoaded'}]}) ---
            td
          tr
            th Owner App Name
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.OwnerAppName'}]}) ---
            td
          tr
            th Critical
            td
              span(data-cdr={tlm:[{name:'/CFE/CFE_TBL_TblRegPacket_t/Payload.Critical'}]}) ---
            td
