-   var queryString = '$.Airliner.apps.TO.config';
-   global.COMMANDER.queryConfigDB(queryString, function (config) {

table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Total Messages Dropped
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usTotalMsgDropped'}]}) ---
    tr
      th Queued In Output Channel 0
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/QueuedInOutputChannel[0]'}]}) ---
    tr
      th Queued In Output Channel 1
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/QueuedInOutputChannel[1]'}]}) ---
    tr
      th Queued In Output Channel 2
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/QueuedInOutputChannel[2]'}]}) ---
             
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/TO/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/TO/Reset'}}) Reset

-   });