-   var queryString = '$.Airliner.apps.TO.config';
-
-   global.COMMANDER.queryConfigDB(queryString, function (config) {
-       var msgs = [];
-       var queryString = '$.Airliner.apps';
-       global.COMMANDER.queryConfigDB(queryString, function (apps) {
-           for(var appName in apps[0]) {
-               var operations = apps[0][appName].operations;
-               for(var msgName in operations) {
-                   var msg = operations[msgName];
-                   if(msg.hasOwnProperty('macro')) {
-                       if(msg.hasOwnProperty('airliner_mid')) {
-                           var msgID = parseInt(msg.airliner_mid);
-                           var duplicate = false;
-                                                     
-                           for(var i = 0; i < msgs.length; ++i) {
-                               if(msgs[i].msgID === msgID) {
-                                   duplicate = true;
-                               }
-                           }
-                             
-                           if(!duplicate) {
-                               msgs.push({msgID: msgID, macro: msg.macro});
-                           }
-                       }
-                   }
-               }
-           }

script.
  var msgs = JSON.parse('!{JSON.stringify(msgs)}');
          
  function msgIDToMacro(msgID) {
    for(var i = 0; i < msgs.length; ++i) {
      if(msgs[i].msgID === msgID) {
        return msgs[i].macro;
      }
    };
    
    return sprintf('0x%04x', msgID);
  };
      
table.table.table-condensed
  tbody
    tr
      th Index
      td
        div(data-cdr={tlm:[{name:'/TO/TO_MsgFlowListPkt_t/ChannelIndex'}]}) ---
    tr
      th Offset
      td
        div(data-cdr={tlm:[{name:'/TO/TO_MsgFlowListPkt_t/Offset'}]}) ---
    tr
      th Message Flow ID
      th Message ID
      th Message Limit
      th Priority Queue ID
      th Dropped Message Count
      th Queued Message Count
          -  for (var FlowIndex=0; FlowIndex < config[0].TO_MAX_MESSAGE_FLOWS; FlowIndex++) {
          -      var tlmMsgIDName = '/TO/TO_MsgFlowListPkt_t/MessageFlow[' + FlowIndex +'].MsgId';
          -      var tlmMsgLimitObj = {tlm:[{name:'/TO/TO_MsgFlowListPkt_t/MessageFlow[' + FlowIndex +'].MsgLimit'}]}
          -      var tlmPQueueIDObj = {tlm:[{name:'/TO/TO_MsgFlowListPkt_t/MessageFlow[' + FlowIndex +'].PQueueID'}]}
          -      var tlmDroppedMsgCntObj = {tlm:[{name:'/TO/TO_MsgFlowListPkt_t/MessageFlow[' + FlowIndex +'].DroppedMsgCnt'}]}
          -      var tlmQueuedMsgCntObj = {tlm:[{name:'/TO/TO_MsgFlowListPkt_t/MessageFlow[' + FlowIndex +'].QueuedMsgCnt'}]}

    tr
      th
        div #{FlowIndex}
      td
        div(data-cdr={tlm:[{name: tlmMsgIDName , calibration:{type:'function', function:'msgIDToMacro'}}]}) ---
      td
        div(data-cdr= tlmMsgLimitObj) ---
      td
        div(data-cdr= tlmPQueueIDObj) ---
      td
        div(data-cdr= tlmDroppedMsgCntObj) ---
      td
        div(data-cdr= tlmQueuedMsgCntObj) ---
          -  }
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/TO/TO_SendDiagCmd_t', argument:[{name:'ChannelIdx', value: 0}]}}) Send Diagnostics   
      
-     });  
- });
