-   var appKeyName = query.appName;
-   if(typeof appKeyName !== 'undefined') {
-       var msgs = [];
-       var queryString = '$.Airliner.apps';
-       global.COMMANDER.queryConfigDB(queryString, function (apps) {
-           for(var appName in apps[0]) {
-               var operations = apps[0][appName].operations;
-               for(var msgName in operations) {
-                   var msg = operations[msgName];
-                   if(msg.hasOwnProperty('macro')) {
-                       if(msg.hasOwnProperty('airliner_mid')) {
-                           var msgID = parseInt(msg.airliner_mid);
-                           var duplicate = false;
-                                                     
-                           for(var i = 0; i < msgs.length; ++i) {
-                               if(msgs[i].msgID === msgID) {
-                                   duplicate = true;
-                               }
-                           }
-                             
-                           if(!duplicate) {
-                               if(msg.macro.startsWith(appKeyName)) {
-                                   msgs.push({msgID: msgID, macro: msg.macro});
-                               };
-                           }
-                       }
-                   }
-               }
-           }

h2 Telemetry Control (#{appKeyName})
table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th Message
      td 
          - for(var i = 0; i < msgs.length; ++i) {
          -   var cmdAddMsgFlow = {cmd:{name:'/TO/TO_AddMessageFlowCmd_t', argument:[{name:'MsgID', value: msgs[i].msgID}, {name:'MsgLimit', value: 1}, {name:'ChannelIdx', value: 0}, {name:'PQueueIdx', value: 1}]}};
          -   var cmdRemoveMsgFlow = {cmd:{name:'/TO/TO_RemoveMessageFlowCmd_t', argument:[{name:'MsgID', value: msgs[i].msgID}, {name:'ChannelIdx', value: 0}]}};
    tr
      td #{msgs[i].macro}
      td 
        .btn-group
          button.btn.cdr-primary(data-cdr= cmdAddMsgFlow) Add
          button.btn.cdr-primary(data-cdr= cmdRemoveMsgFlow) Remove
          - }
-   }); 
- }; 