table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/LC/LC_HkPacket_t/CmdCount'}]}) ---
      td
      td
      td
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/LC/LC_HkPacket_t/CmdErrCount'}]}) ---
      td
      td
      td
    tr
      th Current LC State
      td
        span(data-cdr={tlm: [{name:'/LC/LC_HkPacket_t/CurrentLCState'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/SetLCState', argument:[{name:'NewLCState', value:1}]}}) Active
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/SetLCState', argument:[{name:'NewLCState', value:2}]}}) Passive
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/SetLCState', argument:[{name:'NewLCState', value:3}]}}) Disabled

footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/Reset'}}) Reset
