-var STARTING_POINT = 150
-var POINTS_PER_DISPLAY = 25
-var ENDING_POINT = STARTING_POINT + POINTS_PER_DISPLAY - 1
table.table.table-condensed
  tbody
    tr 
      th #
      th Watch
      th Action State
      th Action Result
      th Commands
      th
      th
      th
      th
    - for (var iPoint = STARTING_POINT; iPoint < ENDING_POINT; ++iPoint) {   
    tr
      th #{iPoint}
      td
        div(data-cdr={tlm:[{name:'/LC/LC_HkPacket_t/WPResults['+iPoint+']'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/LC/LC_HkPacket_t/APResults['+iPoint+']'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/LC/LC_HkPacket_t/x'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/SetAPState', argument:[{name:'APNumber', value:iPoint}]}}) Set AP State
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/SetAPPermOff', argument:[{name:'APNumber', value:iPoint}]}}) Set AP Perm Off
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/ResetAPStats', argument:[{name:'APNumber', value:iPoint}]}}) Reset AP Stats 
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/LC/ResetWPStats', argument:[{name:'APNumber', value:iPoint}]}}) Reset WP Stats 
    - }
