table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/PRM/PRM_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/PRM/PRM_HkTlm_t/usCmdErrCnt'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/Reset'}}) Reset  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/SetParameter'}}) Set Param
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/GetParameter'}}) Get Param
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/SendHk'}}) Send HK  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/PRM/Wakeup'}}) Wakeup
      
