extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Software Bus

block main
  .row.row-fluid
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'450px'})
      #wid-CFE-SB-HK.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style={width:'170px'}) Cmd Count
                    td(style={width:'95px'})
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/CommandCnt'}]}) ---
                    td(style={width:'160px'})
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_SB/NoOp'}}) No-Op
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name: '/CFS/CFE_SB/ResetCounters'}}) Counter Reset
                  tr
                    th Cmd Error Count
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/CmdErrCnt'}]}) ---
                    td
                  tr  
                    th No Subscribers
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/NoSubscribersCnt'}]}) ---
                    td
                  tr  
                    th Msg Send Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MsgSendErrCnt'}]}) ---
                    td 
                  tr  
                    th Msg Receive Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MsgReceiveErrCnt'}]}) ---
                    td
                  tr  
                    th Internal Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/InternalErrCnt'}]}) ---
                    td
                  tr  
                    th Create Pipe Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/CreatePipeErrCnt'}]}) ---
                    td
                  tr  
                    th Subscribe Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/SubscribeErrCnt'}]}) ---
                    td
                  tr  
                    th Duplicate Subscriptions
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/DupSubscriptionsCnt'}]}) ---
                    td
                  tr  
                    th Pipe Overflows
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PipeOverflowErrCnt'}]}) ---
                    td
                  tr  
                    th Msg Limit Errors
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MsgLimitErrCnt'}]}) ---
                    td
                  tr  
                    th Memory in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MemInUse'}]}) ---
                    td
                  tr  
                    th Unmarked Memory
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/UnmarkedMem'}]}) ---
                    td
                  tr  
                    th Mem Pool Handle
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MemPoolHandle', format:'0x%08x'}]}) ---
                    td
            footer
              .btn-group.dropdown
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Commands
                  span.caret
                ul#MiscCommands.dropdown-menu(role='menu')
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_SB/EnableRoute'}}) Enable Route
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_SB/DisableRoute'}}) Disable Route
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_SB/SendRoutingInfo'}}) Send Routing Info
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_SB/SendPipeInfo'}}) Send Pipe Info 
                  li
                    a(data-sage={cmd:{name:'/CFS/CFE_SB/SendMapInfo'}}) Send Map Info 
       
    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:300px')
      #wid-CFE-SB-Statistics.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Statistics Summary
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_SB/SendStats'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr 
                    th(style={width:'190px'})  Msg IDs in Use
                    td
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MsgIdsInUse'}]}) ---
                  tr  
                    th Peak Msg IDs in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PeakMsgIdsInUse'}]}) ---
                  tr  
                    th Max Msg Ids Allowed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MaxMsgIdsAllowed'}]}) ---
                  tr  
                    th Pipes in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PipesInUse'}]}) ---
                  tr  
                    th Peak Pipes in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PeakPipesInUse'}]}) ---
                  tr  
                    th Max Pipes Allowed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MaxPipesAllowed'}]}) ---
                  tr  
                    th Memory in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/StatsMemInUse'}]}) ---
                  tr  
                    th Peak Memory in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PeakMemInUse'}]}) ---
                  tr  
                    th Max Memory Allowed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MaxMemAllowed'}]}) ---
                  tr  
                    th Subscriptions in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/SubscriptionsInUse'}]}) ---
                  tr  
                    th Peak Subscriptions in Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PeakSubscriptionsInUse'}]}) ---
                  tr  
                    th Max Subscriptions Allowed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MaxSubscriptionsAllowed'}]}) ---
                  tr  
                    th SB Buffers In Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/SBBuffersInUse'}]}) ---
                  tr  
                    th Peak SB Buffers In Use
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/PeakSBBuffersInUse'}]}) ---
                  tr  
                    th Max Pipe Depth Allowed
                    td 
                      span(data-sage={tlm:[{name:'/CFS/CFE_SB/MaxPipeDepthAllowed'}]}) ---
                                       
  .row      
    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:250px')
      #wid-CFE-SB-Statistics-Pipe-Detail1.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Pipe Stats
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/CFE_SB/SendStats'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-bordered.table-condensed
                thead
                  tr
                    th(style="width:50px") Pipe ID
                    th(style="width:50px") Depth
                    th(style="width:50px") In Use
                tbody
                  - for (var i = 0; i < 64; ++i) {
                    - var PipeId = '/CFS/CFE_SB/PipeDepthStats_' + i + '_PipeID'
                    - var Depth = '/CFS/CFE_SB/PipeDepthStats_' + i + '_Depth'
                    - var InUse = '/CFS/CFE_SB/PipeDepthStats_' + i + '_InUse'
                    tr
                      td 
                        span(data-sage={tlm:[{name:PipeId}]}) ---
                      td 
                        span(data-sage={tlm:[{name:Depth}]}) ---
                      td
                        span(data-sage={tlm:[{name:InUse}]}) ---
                  - }  
                                        
  .row
    +app_specific_telemetry_control("CFE_SB")
                                    
  .row          
    +app_specific_mempools("CFE_SB")
    
  .row
    +registered_applications() 
    +app_specific_application_control("CFE_SB")

  .row
    +app_specific_event_filters("CFE_SB")
    
  .row
    +app_specific_scheduler_control("CFE_SB")

block scripts
  script.
      
      Handlebars.registerHelper('toHex16', function(context) {
        return sprintf("0x%04x", context);
      }); 
      
      PrevSubFullTemplate = "" +
        "{{#each value.Entry}}" +
        "<tr>" +
        "  <th>{{toHex16 MsgID}}</td>" +
        "  <td>{{Priority}}</td>" +
        "  <td>{{Reliability}}</td>" +
        "  <td>{{PipeID}}</td>" +
        "</tr>" +
        "{{/each}}";
        
      var tplPrevSubArea = Handlebars.compile(PrevSubFullTemplate);
      var srcPrevSubArea   = $("#CFE_ES_PrevSubs_Table").html();
      
      //sage.Subscribe('CFE_SB_PrevSubMsg_Full', function(record) {
      //  var template = tplPrevSubArea(record);
      //  $('#CFE_ES_PrevSubs_Table').html(template);
      //});
      
      function SendMemoryPoolStats()
      {        
        session.sendCommand('/CFS/CFE_ES/TlmPoolStats', [
          {name:'Application', value:'CFE_SB'},
          {name:'PoolHandle', value:parseInt($('#CFE_SB_MemPoolHandle').text()).toString()}
        ]);
      }
      
      //sage.Subscribe("CFE_ES_PoolStats_Handle", function(record) {
      //  var timeStamp = CfeTimeToJsTime(record.seconds, record.subseconds)
      //  $("#MEM_LastUpdate").text($.format.date(timeStamp, "MM/dd/yyyy HH:mm:ss.") + timeStamp.getMilliseconds().toString().paddingLeft("000"));
      //});
      
      //sage.onAfterTlmUpdate(UpdatePoolHandleColors);
      
      function UpdatePoolHandleColors() {
        if($('#CFE_SB_MemPoolHandle').text() === $('#CFE_ES_PoolStats_Handle').text())
        {
            $('#CFE_SB_MemPoolHandle').css({'color':'green'});
            $('#CFE_ES_PoolStats_Handle').css({'color':'green'}); 
        }
        else
        {
            $('#CFE_SB_MemPoolHandle').css({'color':'red'});
            $('#CFE_ES_PoolStats_Handle').css({'color':'red'}); 
        }
      }
   
