table.table.table-condensed
  tbody
    tr
      th Horizontal FOV
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/HFOV'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Focal Length X
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/FocalLength_X'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Focal Length Y
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/FocalLength_Y'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Tile Size
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/TileSize'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Blocks
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/Blocks'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Output Rate
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/OutputRate'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Image Width
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/ImgWidth'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Image Height
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/ImgWidth'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Search Size
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/Search Size'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Feature Threshold
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/FeatureThreshold'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Value Threshold
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/ValueThreshold'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
    tr
      th Mean Count Threshold
      td
        div(data-cdr={tlm:[{name:'/FLOW/FLOW_DiagPacket_t/MeancountThreshold'}]}) ---
      td
        button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/'}}) Set
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/FLOW/SendDiag'}}) Send Diag
