extends layout

block main

  .row              
    article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      .jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false',data-widget-colorbutton='false',data-widget-deletebutton='false')
        header
          span.widget-icon
            i.fa.fa-map-marker
          h2 Ground Track
        div
          .jarviswidget-editbox
          .widget-body.no-padding
            .google_maps#veh_groundtrack(style='height: 550px')

    script(src='/js/satellite.js')
    script(src='/js/groundtrack.js')

