- var appKeyName = query.appName;
- if(typeof appKeyName !== 'undefined') {
-   if( query.appName == 'CFE_ES' || query.appName == 'CFE_EVS' || query.appName == 'CFE_SB' || query.appName == 'CFE_TBL' || query.appName == 'CFE_TIME') {
-       appKeyName = 'CFE';
-   }       
-
-   var queryString = '$.Airliner.apps.' + appKeyName + '.events';
-   global.COMMANDER.queryConfigDB(queryString, function (events) {
-       if(appKeyName != query.appName) {
-           var re = new RegExp(query.appName + '.*');
-       } else {
-           var re = new RegExp('.*');
-       }
-     
-       var appEvents = [];
-       for(var idx in events[0]) {
-           var event = events[0][idx];
-           if(re.test(event.macro)) {
-               appEvents.push(event);
-           }
-       }
  
table.table.table-condensed
            tbody
              tr
                th CFE EVS Cmd Count
                td
                    span(data-cdr={tlm: [{name: '/CFE/CFE_EVS_HousekeepingTlm_t/Payload.CommandCounter'}]}) ---
              tr
                th CFE EVS Err Count
                td
                    span(data-cdr={tlm: [{name: '/CFE/CFE_EVS_HousekeepingTlm_t/Payload.CommandErrCounter'}]}) ---
              tr
                th(style={width:'100px'}) App Events
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEvents', argument:[{name:'Payload.AppName', value:query.appName}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEvents', argument:[{name:'Payload.AppName', value:query.appName}]}}) Disable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetAllFilters_t', argument:[{name:'Payload.AppName', value:query.appName}]}}) Reset All
              tr
                th Event Types
                td
              tr
                td(style='padding-left: 20px !important') Critical
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Error
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Info
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Debug
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                th Event IDs (#{appEvents.length})
                td
              - for (var idx = 0; idx < appEvents.length; ++idx) {
                - var strEventID = '' + appEvents[idx].id;
                - var cmdSetFilter = {cmd: {name:'/CFE/CFE_EVS_SetFilter_t', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.EventID', value:strEventID}]}};
                - var cmdResetFilter = {cmd: {name:'/CFE/CFE_EVS_ResetFilter_t', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.EventID', value:strEventID}]}};
                - var cmdAddEventFilter = {cmd: {name:'/CFE/CFE_EVS_AddEventFilter_t', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.EventID', value:strEventID}]}};
                - var cmdDeleteEventFilter = {cmd: {name:'/CFE/CFE_EVS_DeleteEventFilter_t', argument:[{name:'Payload.AppName', value:query.appName},{name:'Payload.EventID', value:strEventID}]}};
                tr
                  td(style='padding-left: 20px !important')  #{appEvents[idx].macro}
                  td
                    .btn-group
                      button.btn.cdr-primary(data-cdr= cmdSetFilter) Set
                      button.btn.cdr-primary(data-cdr= cmdResetFilter) Reset
                      button.btn.cdr-primary(data-cdr= cmdAddEventFilter) Add
                      button.btn.cdr-primary(data-cdr= cmdDeleteEventFilter) Delete
              - };       
-   });
- } else {

table.table.table-condensed
            tbody
              tr
                th(style={width:'100px'}) App Events
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEvents'}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEvents'}}) Disable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetAllFilters_t'}}) Reset All
              tr
                th Event Types
                td
              tr
                td(style='padding-left: 20px !important') Critical
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Error
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Info
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                td(style='padding-left: 20px !important')  Debug
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}}) Enable
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}}) Disable
              tr
                th Event IDs
                td
                  .btn-group
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_SetFilter_t'}}) Set
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetFilter_t'}}) Reset
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_AddEventFilter_t'}}) Add
                    button.btn.cdr-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DeleteEventFilter_t'}}) Delete

- }
                
               
