.row.os-theme-dark
  - 
    var schDef = {
      slotCount:200,
      entriesPerSlot:5,
      appName:'EVS',
      slots:[
        {id:40, activities:[1]}],
      groups:[
        {name:'SCH_GROUP_EVS_HK_SEND_HK', id:0x00080000}]};
  article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-table
        h2 Scheduler
      div.widget-body.table-responsive
        table.table.table-condensed
          tbody
            tr
              th(style='width: 150px') Cmd Count
              td
                span(data-cdr={tlm: [{name:'/CFE/SCH/CmdCounter'}]}) ---
            tr
              th Error Count
              td
                span(data-cdr={tlm: [{name:'/CFE/SCH/ErrCounter'}]}) ---
        table.table.table-bordered.table-condensed
          thead
            tr
              th(style="width: 100px") Slot #
              th(style="width: 100px") Activity #
              th(style="width: 150px") State
              th MsgID
              th(style="width: 150px") Action
          tbody
            - for (var slotIdx = 0; slotIdx < schDef.slots.length; ++slotIdx) {
              - var slotID = schDef.slots[slotIdx].id;
              - var strSlotID = '' + slotID;
              - for (var actIdx = 0; actIdx < schDef.slots[slotIdx].activities.length; ++actIdx){
                - var actID = schDef.slots[slotIdx].activities[actIdx];
                - var strActID =  '' + actID;
                - var entryID = (schDef.entriesPerSlot * slotID) + actID;
                - var strEntryID = '' + entryID;
                - var tlmEntryState = {tlm:[{name:'/CFE/SCH/EntryState_'+entryID}]};
                - var tlmMsgID = {tlm:[{name:'/CFE/SCH/MsgID_'+entryID}]};
                - var cmdEnableEntry = {cmd: {name:'/CFE/SCH/EnableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                - var cmdDisableEntry = {cmd: {name:'/CFE/SCH/DisableEntry', argument:[{name:'Slot', value:strSlotID},{name:'Entry', value:strActID}]}};
                tr
                  td #{slotID}
                  td #{strActID}
                  td 
                    span(data-cdr= tlmEntryState) ---
                  td
                    span(data-cdr= tlmMsgID) ---
                  td
                    .btn-group.dropup
                      button.btn.cdr-primary(data-cdr= cmdEnableEntry) Ena
                      button.btn.cdr-primary(data-cdr= cmdDisableEntry) Dis
              - };
            - };
        table.table.table-bordered.table-condensed
          thead
            tr
              th(style="width: 100px") Group Name
              th(style="width: 100px") Group ID
              th(style="width: 150px") Action
          tbody
            - for (var grpIdx = 0; grpIdx < schDef.groups.length; ++grpIdx) {
              - var grpName = schDef.groups[grpIdx].name;
              - var grpID = schDef.groups[grpIdx].id;
              - var strGrpID = '0x' + grpID.toString(16);
              - var cmdEnableGroup = {cmd: {name:'/CFE/SCH/EnableGroup', argument:[{name:'Group', value:strGrpID}]}};
              - var cmdDisableGroup = {cmd: {name:'/CFE/SCH/DisableGroup', argument:[{name:'Group', value:strGrpID}]}};
              tr
                td #{grpName}
                td(style='font-family: monospace') #{strGrpID}
                td
                  .btn-group.dropup
                    button.btn.cdr-primary(data-cdr= cmdEnableGroup) Ena
                    button.btn.cdr-primary(data-cdr= cmdDisableGroup) Dis
            - };
