table.table.table-condensed.table-striped
 thead
   th(style={width:'50px'}) #
   th(style={width:'75px'}) App ID
   th(style={width:'100px'}) Msgs Sent
   th(style={width:'100px'}) Status
   th(style={width:'10px'}) 
 tbody
   tr
     td 0
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[0].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[0].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[0].AppEnableStatus'}]}) ---
     td
   tr
     td 1
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[1].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[1].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[1].AppEnableStatus'}]}) ---
     td
   tr
     td 2
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[2].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[2].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[2].AppEnableStatus'}]}) ---
     td
   tr
     td 3
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[3].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[3].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[3].AppEnableStatus'}]}) ---
     td
   tr
     td 4
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[4].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[4].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[4].AppEnableStatus'}]}) ---
     td
   tr
     td 5
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[5].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[5].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[5].AppEnableStatus'}]}) ---
     td
   tr
     td 6
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[6].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[6].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[6].AppEnableStatus'}]}) ---
     td
   tr
     td 7
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[7].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[7].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[7].AppEnableStatus'}]}) ---
     td
   tr
     td 8
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[8].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[8].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[8].AppEnableStatus'}]}) ---
     td
   tr
     td 9
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[9].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[9].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[9].AppEnableStatus'}]}) ---
     td
   tr
     td 10
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[10].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[10].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[10].AppEnableStatus'}]}) ---
     td
   tr
     td 11
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[11].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[11].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[11].AppEnableStatus'}]}) ---
     td
   tr
     td 12
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[12].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[12].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[12].AppEnableStatus'}]}) ---
     td
   tr
     td 13
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[13].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[13].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[13].AppEnableStatus'}]}) ---
     td
   tr
     td 14
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[14].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[14].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[14].AppEnableStatus'}]}) ---
     td
   tr
     td 15
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[15].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[15].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[15].AppEnableStatus'}]}) ---
     td
   tr
     td 16
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[16].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[16].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[16].AppEnableStatus'}]}) ---
     td
   tr
     td 17
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[17].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[17].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[17].AppEnableStatus'}]}) ---
     td
   tr
     td 18
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[18].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[18].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[18].AppEnableStatus'}]}) ---
     td
   tr
     td 19
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[19].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[19].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[19].AppEnableStatus'}]}) ---
     td
   tr
     td 20
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[20].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[20].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[20].AppEnableStatus'}]}) ---
     td
   tr
     td 21
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[21].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[21].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[21].AppEnableStatus'}]}) ---
     td
   tr
     td 22
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[22].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[22].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[22].AppEnableStatus'}]}) ---
     td
   tr
     td 23
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[23].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[23].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[23].AppEnableStatus'}]}) ---
     td
   tr
     td 24
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[24].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[24].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[24].AppEnableStatus'}]}) ---
     td
   tr
     td 25
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[25].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[25].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[25].AppEnableStatus'}]}) ---
     td
   tr
     td 26
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[26].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[26].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[26].AppEnableStatus'}]}) ---
     td
   tr
     td 27
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[27].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[27].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[27].AppEnableStatus'}]}) ---
     td
   tr
     td 28
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[28].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[28].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[28].AppEnableStatus'}]}) ---
     td
   tr
     td 29
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[29].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[29].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[29].AppEnableStatus'}]}) ---
     td
   tr
     td 30
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[30].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[30].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[30].AppEnableStatus'}]}) ---
     td
   tr
     td 31
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[31].AppID', calibration:{type:'function', function:'AppIDtoName(value)'}}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[31].AppMessageSentCounter'}]}) ---
     td 
        span(data-cdr={tlm:[{name:'/CFE/CFE_EVS_HousekeepingTlm_t/Payload.AppData[31].AppEnableStatus'}]}) ---
     td
     
footer.btn-group(role="group") 
  button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/EVS_WRITELOG2FILE'}}) Write To File
  .btn-group.dropup
    button.btn.cdr-primary.dropdown-toggle(type='button', data-toggle='dropdown')
      | Reset App Counters
      span.caret
    ul#ResetAppCounters.dropdown-menu(role='menu')
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CFE_ES'}]}}, data-placement="left") CFE_ES
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CF_EVS'}]}}, data-placement="left") CFE_EVS_HousekeepingTlm_t
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CFE_SB'}]}}, data-placement="left") CFE_SB
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CFE_TBL'}]}}, data-placement="left") CFE_TBL
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CFE_TIME'}]}}, data-placement="left") CFE_TIME
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CF'}]}}, data-placement="left") CF
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CIO'}]}}, data-placement="left") CIO
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'CS'}]}}, data-placement="left") CS
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'DS'}]}}, data-placement="left") DS
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'PE'}]}}, data-placement="left") PE
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'FM'}]}}, data-placement="left") FM
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'HK'}]}}, data-placement="left") HK
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'LC'}]}}, data-placement="left") LC
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'MD'}]}}, data-placement="left") MD
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'MM'}]}}, data-placement="left") MM
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'SC'}]}}, data-placement="left") SC
      li.cdr-dropdown-list-item
        a(data-cdr={cmd:{name:'/CFE/CFE_EVS_ResetAppCounter_t', argument:[{name:'Payload.AppName', value:'SCH'}]}}, data-placement="left") SCH
script.
  var AppIDtoName = function(value) {
    //return value;
    switch(value){
      case 0:
        return 'CFE_EVS_HousekeepingTlm_t';

      case 1:
        return 'CFE_SB';

      case 2:
        return 'CFE_ES';

      case 3:
        return 'CFE_TIME';

      case 4:
        return 'CFE_TBL';

      case 5:
        return 'SCH';

      case 6:
        return 'TO';

      case 7:
        return 'CI';

      case 8:
        return 'PX4BR';

      case 9:
        return 'SCH';

      case 10:
        return 'CS';

      case 11:
        return 'DS';

      case 12:
        return 'FM';

      case 13:
        return 'HK';

      case 14:
        return 'FM';

      case 15:
        return 'LC';

      case 16:
        return 'MD';

      case 17:
        return 'MM';

      case 18:
        return 'HS';

      case 19:
        return 'ETA';

      default:
        return '???';
    }
  }
