mixin time_series_dataplot(objData)
      script.

        $(function () {
          function legendFormatter(label, series) {
            return '<div ' +
               'style="color:white;font-size:8pt;text-align:left;padding:4px;padding-left:10px">' +
               label + '</div>';
          };
          
          var MaxCount = 2500;
          var XData = [];
          var YData = [];
          var ZData = [];

          var objDefaultData = {
              data-homogeneity: 0,
              maxcount: 120,
              options : {
                  xaxis : {
                      mode : 'time',
                      font : {
                          color: "#ffffff"
                      }
                  },
                  yaxis : {
                      min : -20.0,
                      max : 20.0,
                      font : {
                          color: "#ffffff"
                      }
                  },
                  series : {
                      lines : {
                          show : true
                      },
                  points: {
                      show: false
                      }
                  },
                  legend: {
                      show: true,
                      labelFormatter: legendFormatter,
                      labelBoxBorderColor: 'rgba(255, 255, 255, 0.0)',
                      noColumns: 1,
                      position: 'ne',
                      margin: [10,10],
                      backgroundColor: null,
                      backgroundOpacity: 0,
                      container: null,
                      sorted: false
                  },
                  grid: {
                      show: true,
                      //aboveData: boolean
                      //color: '#ffffff',
                      //backgroundColor: color/gradient or null
                      //margin: number or margin object
                      //labelMargin: number
                      //axisMargin: number
                      //markings: [{ color: "#ffffff" }],
                      //markings: array of markings or (fn: axes -> array of markings)
                      //borderWidth: number or object with "top", "right", "bottom" and "left" properties with different widths
                      //borderColor: color or null or object with "top", "right", "bottom" and "left" properties with different colors
                      //minBorderMargin: number or null
                      //clickable: boolean
                      //hoverable: boolean
                      //autoHighlight: boolean
                      //mouseActiveRadius: number
                  }
              }
          };

          var UtilGraph = $.plot($("##{objData.id}"), [], objOptions);
          
          var MaxCount = 120;
          var ignoreCount = 3;
          var updateInterval = 100;
          var count = 0;
          var prevX = -1;
          var prevY = -1;
          var prevZ = -1;
          
          var objTlm = {};
          for(i=0; i < objData.data.length; ++i) {
              objTlm.push(objData.data.tlm);
          }

          session.subscribe({
            homogeneity: {tolerance: 0},
            'tlm': objTlm
            ]},function(params) {
              count = count + 1;
              if(ignoreCount > 0){
                ignoreCount = ignoreCount - 1;
              } else {
                if (XData.length >= MaxCount) {
                  XData = XData.slice(1);
                }
                if (YData.length >= MaxCount) {
                  YData = YData.slice(1);
                }
                if (ZData.length >= MaxCount) {
                  ZData = ZData.slice(1);
                }

                var timeStamp = new Date(params[0].acquisitionTime);
                var X = params[0].engValue.floatValue;
                var Y = params[1].engValue.floatValue;
                var Z = params[2].engValue.floatValue;

                XData.push([timeStamp, X]);
                YData.push([timeStamp, Y]);
                ZData.push([timeStamp, Z]);
              }
          });

          function update() {
            UtilGraph.setData(
              [{
                data: XData,
                label: "X",
                color: '#ff00ff'
              }, {
                data : YData,
                label : 'Y',
                color: '#00ffff'
              }, {
                data : ZData,
                label : 'Z',
                color: '#ffff00'
              }]);


            // since the axes don't change, we don't need to call plot.setupGrid()
            UtilGraph.setupGrid();
            UtilGraph.draw();
            setTimeout(update, updateInterval);
          }

          update();
        });
