table.table.table-condensed
  tbody
    tr
      th Timestamp
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Timestamp'}]}) ---
    tr
      th Acc
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.AccX'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.AccY'}]}) ---
      td(colspan=2)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.AccZ'}]}) ---
    tr
      th Vel
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelX'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelY'}]}) ---
      td(colspan=2)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelZ'}]}) ---
    tr
      th Pos
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosX'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosY'}]}) ---
      td(colspan=2)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosZ'}]}) ---
    tr
      th Airspeed
      td(colspan=4)
              span(data-cdr={tlm: [{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Airspeed'}]}) ---
    tr
      th Vel Variance
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelVariance[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelVariance[1]'}]}) ---
      td(colspan=2)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.VelVariance[2]'}]}) ---
    tr
      th Pos Variance
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosVariance[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosVariance[1]'}]}) ---
      td(colspan=2)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PosVariance[2]'}]}) ---
    tr
      th Q
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Q[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Q[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Q[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.Q[2]'}]}) ---
    tr
      th Delta Q Reset
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.DeltaQReset[0]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.DeltaQReset[1]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.DeltaQReset[2]'}]}) ---
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.DeltaQReset[2]'}]}) ---
    tr
      th Roll Rate
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.RollRate'}]}) ---
    tr
      th Pitch Rate
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PitchRate'}]}) ---
    tr
      th Yaw Rate
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.YawRate'}]}) ---
    tr
      th Horz Acc Mag
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.HorzAccMag'}]}) ---
    tr
      th Roll Rate Bias
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.RollRateBias'}]}) ---
    tr
      th Pitch Rate Bias
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.PitchRateBias'}]}) ---
    tr
      th Yaw Rate Bias
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.YawRateBias'}]}) ---
    tr
      th Airspeed Valid
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.AirspeedValid'}]}) ---
    tr
      th Quat Reset Counter
      td(colspan=4)
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/ControlStateMsg.RollRate'}]}) ---
                 
              