table.table.table-condensed
  tbody
    tr
      th Timestamp
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.Timestamp'}]}) ---
    tr
      th Roll Speed
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.RollSpeed'}]}) ---
    tr
      th Pitch Speed
      td
        span(data-cdr={tlm: [{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.PitchSpeed'}]}) ---
    tr
      th Yaw Speed
      td
        span(data-cdr={tlm: [{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.YawSpeed'}]}) ---
    tr
      th Q[0]
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.Q[0]'}]}) ---
    tr
      th Q[1]
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.Q[1]'}]}) ---
    tr
      th Q[2]
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.Q[2]'}]}) ---
    tr
      th Q[3]
      td
        div(data-cdr={tlm:[{name:'/QAE/QAE_HkTlm_t/VehicleAttitudeMsg.Q[3]'}]}) ---