extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Application Control 

block main    
  .row.row-fluid
    article.col-xs-9.col-sm-7.col-md-6.col-lg-5(style='width:400px')
      #wid-CFE-ES-AppCtrl-ApplicationControl.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Application Control
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
                tbody
                  tr
                    th(style='width:120px') App Name
                    td(style='width:120px')
                      input#AppCtrl_AppName.form-control(type='text' width=50 data-sage={tlm:[{name: '/CFS/CFE_ES/AppInfo_Name'}]}, value='---') 
                  tr
                    th ID
                    td
                      input.form-control(width=50 data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AppID'}]}, value='---')
                  tr
                    th Type
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Type'}]}) ---
                  tr
                    th Entry Point
                    td
                      input#AppCtrl_EntryPoint.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_EntryPoint'}]}, value='---')
                  tr
                    th File Name
                    td
                      input#AppCtrl_FileName.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_FileName'}]}, value='---')
                  tr 
                    th Stack Size
                    td
                      input#AppCtrl_StackSize.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StackSize'}]}, value='---')
                  tr
                    th Module ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ModuleID'}]}) ---
                  tr
                    th Addr valid
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_AddressesAreValid'}]}) ---
                  tr 
                    th Code addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeAddress', format:'0x%08x'}]}) ---
                  tr
                    th Code size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_CodeSize'}]}) ---
                  tr
                    th Data Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataAddress', format:'0x%08x'}]}) ---
                  tr
                    th Data Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_DataSize'}]}) ---
                  tr
                    th BSS Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSAddress', format:'0x%08x'}]}) ---
                  tr
                    th BSS Size
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_BSSSize'}]}) ---
                  tr
                    th Start Addr
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_StartAddress', format:'0x%08x'}]}) ---
                  tr 
                    th Exception Action
                    td              
                      input#AppCtrl_ExceptionAction.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExceptionAction'}]}, value='---')
                  tr
                    th Priority
                    td
                      input#AppCtrl_Priority.form-control(width=50, data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_Priority'}]}, value='---')
                  tr
                    th Main Task ID
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskId'}]}) ---
                  tr
                    th Execution Counter
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_ExecutionCounter'}]}) ---
                  tr 
                    th Main Task Name
                    td
                      span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_MainTaskName'}]}) ---
                  tr
                    th Child Task Count
                    td
                     span(data-sage={tlm: [{name: '/CFS/CFE_ES/AppInfo_NumOfChildTasks'}]}) ---
            button#AppCtrl_QueryApp.btn.btn-primary.btn-labeled Query
            button.btn.btn-primary.btn-labeled(data-sage={cmd: {name: '/CFS/CFE_ES/QueryAll'}}) Query All
            button#AppCtrl_StartApp.btn.btn-primary.btn-labeled Start
            button#AppCtrl_StopApp.btn.btn-primary.btn-labeled Stop
            button#AppCtrl_RestartApp.btn.btn-primary.btn-labeled Restart
            button#AppCtrl_ReloadApp.btn.btn-primary.btn-labeled Reload
              
    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='width:350px')
      #wid-CFE-ES-AppCtrl-RegisteredApplications.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Registered Applications
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
               tbody
                tr  
                 th Core applications
                 td 
                   span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredCoreApps'}]}) ---
                tr
                 th External applications
                 td 
                   span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredExternalApps'}]}) ---
                tr
                 th Tasks
                 td 
                   span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredTasks'}]}) ---
                tr
                 th Libraries
                 td 
                   span(data-sage={tlm: [{name: '/CFS/CFE_ES/RegisteredLibs'}]}) --- 
          
  script.  
    $('#AppCtrl_QueryApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/QueryOne', [{name:'Name', value:$('#AppCtrl_AppName').val()}]);
    });

    $('#AppCtrl_StopApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/StopApp', [{name:'Name', value:$('#AppCtrl_AppName').val()}]);
    });

    $('#AppCtrl_RestartApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/RestartApp', [{name:'Name', value:$('#AppCtrl_AppName').val()}]);
    });
     
    $('#AppCtrl_StartApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/StartApp', [
        {name:'Name', value:$('#AppCtrl_AppName').val()},
        {name:'EntryPoint', value:$('#AppCtrl_EntryPoint').val()},
        {name:'FileName', value:$('#AppCtrl_FileName').val()},
        {name:'StackSize', value:$('#AppCtrl_StackSize').val()},
        {name:'ExceptionAction', value:$('#AppCtrl_ExceptionAction').val()},
        {name:'Priority', value:$('#AppCtrl_Priority').val()}
      ]);
    });
     
    $('#AppCtrl_ReloadApp').click(function(){
      session.sendCommand('/CFS/CFE_ES/ReloadApp', [
        {name:'Name', value:$('#AppCtrl_AppName').val()},
        {name:'FileName', value:$('#AppCtrl_FileName').val()}
      ]);
    });


