extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Console

block main  
  .row  
    article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #wid-CFE-ES-Console.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Console
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            form.smart-form(action='')
              fieldset
                section
                  label.label Output
                  label.textarea.textarea-resizable                                         
                    textarea#CFE_ES_ConsoleOutput.custom-scroll(style='font-family: monospace' rows='20') 
                  label.label Command
                  label.input                                        
                    input#CFE_ES_ConsoleCommand.input-xs(style='font-family: monospace' type='text') 
                  label.label File
                  label.input                                        
                    input#CFE_ES_ConsoleOutputFile.input-xs(style='font-family: monospace' type='text') 
            footer
              button#CFE_ES_ConsoleSendCmd.btn.btn-primary Send

block scripts
  script.
    $(function () {
      //session.subscribe([CFE_ES_CmdCounter", function(record) {
      //  var timeStamp = CfeTimeToJsTime(record.seconds, record.subseconds)
      //  $("#CFE_ES_LastUpdate").text($.format.date(timeStamp, "MM/dd/yyyy HH:mm:ss.") + timeStamp.getMilliseconds().toString().paddingLeft("000"));
      //});
    
      session.subscribe({tlm: [{name: '/CFS/CFE_ES/ShellOutput'}]}, function(tlm) {
        console.log(tlm);
        $('#CFE_ES_ConsoleOutput').val($('#CFE_ES_ConsoleOutput').val() + tlm.engValue.stringValue);
        $('#CFE_ES_ConsoleOutput').scrollTop($('#CFE_ES_ConsoleOutput')[0].scrollHeight);
      });
     
      $('#CFE_ES_ConsoleSendCmd').click(function(){
        session.sendCommand('/CFS/CFE_ES/ShellCmd', [{name:'Command', value:$('#CFE_ES_ConsoleCommand').val()},{name:'OutputFile', value:$('#CFE_ES_ConsoleOutputFile').val()}]);
        $('#CFE_ES_ConsoleOutput').val($('#CFE_ES_ConsoleOutput').val() + '\n');
      });
    });
