extends ../../common/layout

block header
        i.fa-fw.fa.fa-signal
        | Essential Services - Performance

block main
  style.
    .table-no-border>thead>tr>th, 
    .table-no-border>tbody>tr>th, 
    .table-no-border>tfoot>tr>th, 
    .table-no-border>thead>tr>td, 
    .table-no-border>tbody>tr>td, 
    .table-no-border>tfoot>tr>td,
    .table-no-border>tbody,
    .table-no-border>thead,
    .table-no-border>tbody>tr>td>input,
    .table-no-border>tfoot{
      border-top: none !important; 
      border-bottom: none !important; 
    }
    
    table.table-perf th:nth-of-type(1) {width:150px; overflow:hidden;} 
    table.table-perf th:nth-of-type(2) {width:75px; overflow:hidden;} 
    table.table-perf th:nth-of-type(3) {width:75px; overflow:hidden;} 
    table.table-perf th:nth-of-type(4) {width:80px; overflow:hidden;}
    table.table-perf th:nth-of-type(5) {width:75px; overflow:hidden;} 
    table.table-perf th:nth-of-type(6) {width:75px; overflow:hidden;}  
    table.table-perf td:nth-of-type(1) {width:150px; overflow:hidden;}
    table.table-perf td:nth-of-type(2) {width:75px; overflow:hidden;}
    table.table-perf td:nth-of-type(3) {width:75px; overflow:hidden;}
    table.table-perf td:nth-of-type(4) {width:80px; overflow:hidden;}
    table.table-perf td:nth-of-type(5) {width:75px; overflow:hidden;} 
    table.table-perf td:nth-of-type(6) {width:75px; overflow:hidden;} 
    

  .row.row-fluid
    article.col-xs-10.col-sm-6.col-md-5.col-lg-4(style='max-width:350px')
      #wid-CFE-ES-PerfMon-Performance.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Performance
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed
               tbody
                tr
                 th State
                 td 
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfState'}]}) ---
                tr
                 th Mode
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfMode'}]}) ---
                tr
                 th Trigger count
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerCount'}]}) ---
                tr
                 th Start
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfDataStart'}]}) ---
                tr
                 th End
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfDataEnd'}]}) ---
                tr
                 th Count
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfDataCount'}]}) ---
                tr
                 th Data to Write
                 td
                   span(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfDataToWrite'}]}) ---
            footer
              .btn-group.dropup
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/PerfStart'}}) Start
                button.btn.btn-primary(data-sage={cmd: {name: '/CFS/CFE_ES/PerfStop'}}) Stop/Write

  .row.row-fluid
    article.col-xs-8.col-sm-6.col-md-5.col-lg-4(style='max-width:500px')
      #wid-CFE-ES-PerfMon-FilterMask-0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Filter Mask 0
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-no-border.table-perf
                tbody
                  tr
                    th
                    th(colspan='2') Filter
                    th
                    th(colspan='2') Trigger
                  tr
                    th
                    th Act
                    th Cmd
                    th
                    th Act
                    th Cmd
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_0_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter0'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_0_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_0_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger0'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_0_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE ES Main
                    td 
                      input#CFE_ES_PerfFilterMask_1_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter1'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_1_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_1_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger1'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_1_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE EVS Main
                    td 
                      input#CFE_ES_PerfFilterMask_2_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask2'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_2_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_2_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask2'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_2_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE Table Main
                    td 
                      input#CFE_ES_PerfFilterMask_3_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask3'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_3_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_3_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask3'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_3_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE SB Main
                    td 
                      input#CFE_ES_PerfFilterMask_4_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask4'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_4_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_4_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask4'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_4_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE SB Message Limit
                    td 
                      input#CFE_ES_PerfFilterMask_5_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask5'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_5_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_5_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask5'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_5_Commanded(type='checkbox')
                  tr
                    td 
                      label CFE Time Main
                    td 
                      input#CFE_ES_PerfFilterMask_6_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask6'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_6_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_6_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask6'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_6_Commanded(type='checkbox')
                  tr
                    td 
                      label 1HZ Tone ISR
                    td 
                      input#CFE_ES_PerfFilterMask_7_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask7'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_7_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_7_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask7'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_7_Commanded(type='checkbox')
                  tr
                    td 
                      label Local 1HZ ISR
                    td 
                      input#CFE_ES_PerfFilterMask_8_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask8'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_8_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_8_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask8'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_8_Commanded(type='checkbox')
                  tr
                    td 
                      label Send MET
                    td 
                      input#CFE_ES_PerfFilterMask_9_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask9'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_9_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_9_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask9'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_9_Commanded(type='checkbox')
                  tr
                    td 
                      label Local 1HZ Task
                    td 
                      input#CFE_ES_PerfFilterMask_10_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask10'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_10_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_10_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask10'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_10_Commanded(type='checkbox')
                  tr
                    td 
                      label Tone 1Hz Task
                    td 
                      input#CFE_ES_PerfFilterMask_11_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask11'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_11_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_11_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask11'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_11_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_12_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask12'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_12_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_12_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask12'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_12_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_13_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask13'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_13_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_13_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask13'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_13_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_14_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask14'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_14_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_14_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask14'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_14_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_15_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask15'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_15_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_15_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask15'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_15_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_16_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask16'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_16_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_16_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask16'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_16_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_17_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask17'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_17_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_17_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask17'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_17_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_18_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask18'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_18_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_18_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask18'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_18_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_19_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask19'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_19_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_19_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask19'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_19_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_20_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask20'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_20_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_20_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask20'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_20_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_21_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask21'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_21_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_21_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask21'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_21_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_22_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask22'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_22_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_22_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask22'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_22_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_23_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask23'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_23_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_23_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask23'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_23_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_24_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask24'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_24_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_24_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask24'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_24_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_25_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask25'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_25_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_25_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask25'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_25_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_26_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask26'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_26_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_26_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask26'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_26_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_27_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask27'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_27_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_27_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask27'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_27_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_28_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask28'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_28_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_28_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask28'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_28_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_29_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask29'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_29_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_29_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask29'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_29_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_30_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask30'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_30_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_30_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask30'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_30_Commanded(type='checkbox')
                  tr
                    td CFE SB Pipe Overflow
                    td 
                      input#CFE_ES_PerfFilterMask_31_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask31'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_31_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_31_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask31'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_31_Commanded(type='checkbox')

    article.col-xs-8.col-sm-6.col-md-5.col-lg-4(style='max-width:500px')
      #wid-CFE-ES-PerfMon-FilterMask-0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Filter Mask 1
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-no-border.table-perf
                tbody
                  tr
                    th
                    th(colspan='2') Filter
                    th
                    th(colspan='2') Trigger
                  tr
                    th
                    th Act
                    th Cmd
                    th
                    th Act
                    th Cmd
                  tr
                    td 
                      label CF App Main
                    td 
                      input#CFE_ES_PerfFilterMask_32_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter32'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_32_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_32_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger32'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_32_Commanded(type='checkbox')
                  tr
                    td 
                      label CF File Size
                    td 
                      input#CFE_ES_PerfFilterMask_33_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter33'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_33_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_33_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger33'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_33_Commanded(type='checkbox')
                  tr
                    td 
                      label CF File Open
                    td 
                      input#CFE_ES_PerfFilterMask_34_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter34'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_34_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_34_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger34'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_34_Commanded(type='checkbox')
                  tr
                    td 
                      label CF File Close
                    td 
                      input#CFE_ES_PerfFilterMask_35_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter35'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_35_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_35_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger35'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_35_Commanded(type='checkbox')
                  tr
                    td 
                      label CF File Read
                    td 
                      input#CFE_ES_PerfFilterMask_36_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter36'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_36_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_36_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger36'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_36_Commanded(type='checkbox')
                  tr
                    td 
                      label CF File Write
                    td 
                      input#CFE_ES_PerfFilterMask_37_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter37'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_37_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_37_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger37'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_37_Commanded(type='checkbox')
                  tr
                    td 
                      label CF Red Light
                    td 
                      input#CFE_ES_PerfFilterMask_38_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter38'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_38_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_38_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger38'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_38_Commanded(type='checkbox')
                  tr
                    td 
                      label CF Cycle Engine
                    td 
                      input#CFE_ES_PerfFilterMask_39_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter39'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_39_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_39_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger39'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_39_Commanded(type='checkbox')
                  tr
                    td 
                      label CF Q Dir Files
                    td 
                      input#CFE_ES_PerfFilterMask_40_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter40'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_40_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_40_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger40'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_40_Commanded(type='checkbox')
                  tr
                    td 
                      label TO Main Task
                    td 
                      input#CFE_ES_PerfFilterMask_41_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter41'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_41_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_41_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger41'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_41_Commanded(type='checkbox')
                  tr
                    td 
                      label TO Socket Send
                    td 
                      input#CFE_ES_PerfFilterMask_42_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter42'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_42_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_42_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger42'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_42_Commanded(type='checkbox')
                  tr
                    td 
                      label CI Main Task
                    td 
                      input#CFE_ES_PerfFilterMask_43_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter43'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_43_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_43_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger43'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_43_Commanded(type='checkbox')
                  tr
                    td 
                      label CI Socket Rcv
                    td 
                      input#CFE_ES_PerfFilterMask_44_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter44'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_44_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_44_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger44'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_44_Commanded(type='checkbox')
                  tr
                    td 
                      label CS App Main
                    td 
                      input#CFE_ES_PerfFilterMask_45_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter45'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_45_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_45_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger45'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_45_Commanded(type='checkbox')
                  tr
                    td 
                      label DS App Main
                    td 
                      input#CFE_ES_PerfFilterMask_46_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter46'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_46_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_46_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger46'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_46_Commanded(type='checkbox')
                  tr
                    td 
                      label EIM App Main
                    td 
                      input#CFE_ES_PerfFilterMask_47_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter47'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_47_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_47_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger47'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_47_Commanded(type='checkbox')
                  tr
                    td 
                      label FM App Main
                    td 
                      input#CFE_ES_PerfFilterMask_48_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter48'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_48_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_48_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger48'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_48_Commanded(type='checkbox')
                  tr
                    td 
                      label FM Child Task
                    td 
                      input#CFE_ES_PerfFilterMask_49_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter49'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_49_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_49_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger49'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_49_Commanded(type='checkbox')
                  tr
                    td 
                      label HK App Main
                    td 
                      input#CFE_ES_PerfFilterMask_50_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter50'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_50_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_50_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger50'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_50_Commanded(type='checkbox')
                  tr
                    td 
                      label HS Idle Task
                    td 
                      input#CFE_ES_PerfFilterMask_51_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter51'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_51_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_51_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger51'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_51_Commanded(type='checkbox')
                  tr
                    td 
                      label HS App Main
                    td 
                      input#CFE_ES_PerfFilterMask_52_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter52'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_52_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_52_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger52'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_52_Commanded(type='checkbox')
                  tr
                    td 
                      label LC App Main
                    td 
                      input#CFE_ES_PerfFilterMask_53_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter53'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_53_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_53_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger53'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_53_Commanded(type='checkbox')
                  tr
                    td 
                      label LC WDT Search
                    td 
                      input#CFE_ES_PerfFilterMask_54_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter54'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_54_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_54_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger54'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_54_Commanded(type='checkbox')
                  tr
                    td 
                      label MD App Main
                    td 
                      input#CFE_ES_PerfFilterMask_55_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter55'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_55_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_55_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger55'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_55_Commanded(type='checkbox')
                  tr
                    td 
                      label MM App Main
                    td 
                      input#CFE_ES_PerfFilterMask_56_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter56'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_56_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_56_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger56'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_56_Commanded(type='checkbox')
                  tr
                    td 
                      label MM Seg Break
                    td 
                      input#CFE_ES_PerfFilterMask_57_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter57'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_57_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_57_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger57'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_57_Commanded(type='checkbox')
                  tr
                    td 
                      label MM EEPROM Poke
                    td 
                      input#CFE_ES_PerfFilterMask_58_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter58'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_58_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_58_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger58'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_58_Commanded(type='checkbox')
                  tr
                    td 
                      label MM EEPROM File Load
                    td 
                      input#CFE_ES_PerfFilterMask_59_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter59'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_59_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_59_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger59'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_59_Commanded(type='checkbox')
                  tr
                    td 
                      label MM EEPROM Fill
                    td 
                      input#CFE_ES_PerfFilterMask_60_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter60'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_60_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_60_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger60'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_60_Commanded(type='checkbox')
                  tr
                    td 
                      label SC App Main
                    td 
                      input#CFE_ES_PerfFilterMask_61_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter61'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_61_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_61_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger61'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_61_Commanded(type='checkbox')
                  tr
                    td 
                      label SCH App Main
                    td 
                      input#CFE_ES_PerfFilterMask_62_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter62'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_62_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_62_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger62'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_62_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_63_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter63'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_63_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_63_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger63'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_63_Commanded(type='checkbox')

    article.col-xs-8.col-sm-6.col-md-5.col-lg-4(style='max-width:500px')
      #wid-CFE-ES-PerfMon-FilterMask-0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Filter Mask 2
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-no-border.table-perf
                tbody
                  tr
                    th
                    th(colspan='2') Filter
                    th
                    th(colspan='2') Trigger
                  tr
                    th
                    th Act
                    th Cmd
                    th
                    th Act
                    th Cmd
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_64_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter64'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_64_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_64_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger64'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_64_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_65_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter65'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_65_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_65_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger65'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_65_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_66_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter66'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_66_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_66_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger66'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_66_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_67_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter67'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_67_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_67_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger67'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_67_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_68_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter68'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_68_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_68_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger68'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_68_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_69_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter69'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_69_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_69_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger69'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_69_Commanded(type='checkbox')
                  tr
                    td 
                      label MPU9250 App Main
                    td 
                      input#CFE_ES_PerfFilterMask_70_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter70'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_70_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_70_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger70'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_70_Commanded(type='checkbox')
                  tr
                    td 
                      label MS5611 App Main
                    td 
                      input#CFE_ES_PerfFilterMask_71_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter71'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_71_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_71_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger71'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_71_Commanded(type='checkbox')
                  tr
                    td 
                      label NEO M8N App Main
                    td 
                      input#CFE_ES_PerfFilterMask_72_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter72'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_72_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_72_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger72'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_72_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_73_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter73'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_73_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_73_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger73'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_73_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_74_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter74'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_74_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_74_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger74'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_74_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_75_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter75'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_75_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_75_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger75'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_75_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_76_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter76'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_76_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_76_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger76'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_76_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_77_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter77'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_77_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_77_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger77'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_77_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_78_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter78'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_78_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_78_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger78'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_78_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_79_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter79'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_79_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_79_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger79'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_79_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_80_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter80'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_80_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_80_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger80'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_80_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_81_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter81'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_81_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_81_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger81'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_81_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_82_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter82'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_82_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_82_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger82'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_82_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_83_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter83'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_83_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_83_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger83'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_83_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_84_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter84'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_84_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_84_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger84'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_84_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_85_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter85'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_85_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_85_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger85'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_85_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_86_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter86'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_86_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_86_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger86'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_86_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_87_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter87'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_87_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_87_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger87'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_87_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_88_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter88'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_88_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_88_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger88'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_88_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_89_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter89'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_89_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_89_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger89'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_89_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_90_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter90'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_90_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_90_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger90'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_90_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_91_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter91'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_91_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_91_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger91'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_91_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_92_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter92'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_92_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_92_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger92'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_92_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_93_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter93'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_93_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_93_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger93'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_93_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_94_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter94'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_94_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_94_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger94'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_94_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_95_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter95'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_95_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_95_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger95'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_95_Commanded(type='checkbox')

    article.col-xs-8.col-sm-6.col-md-5.col-lg-4(style='max-width:500px')
      #wid-CFE-ES-PerfMon-FilterMask-0.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Filter Mask 3
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-no-border.table-perf
                tbody
                  tr
                    th
                    th(colspan='2') Filter
                    th
                    th(colspan='2') Trigger
                  tr
                    th
                    th Act
                    th Cmd
                    th
                    th Act
                    th Cmd
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_96_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter96'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_96_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_96_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger96'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_96_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_97_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter97'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_97_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_97_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger97'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_97_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_98_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter98'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_98_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_98_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger98'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_98_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_99_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilter99'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_99_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_99_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTrigger99'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_99_Commanded(type='checkbox')
                  tr
                    td 
                      label Local 1HZ Task
                    td 
                      input#CFE_ES_PerfFilterMask_100_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask100'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_100_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_100_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask100'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_100_Commanded(type='checkbox')
                  tr
                    td 
                      label Tone 1Hz Task
                    td 
                      input#CFE_ES_PerfFilterMask_101_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask101'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_101_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_101_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask101'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_101_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_102_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask102'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_102_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_102_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask102'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_102_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_103_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask103'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_103_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_103_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask103'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_103_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_104_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask104'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_104_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_104_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask104'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_104_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_105_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask105'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_105_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_105_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask105'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_105_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_106_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask106'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_106_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_106_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask106'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_106_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_107_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask107'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_107_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_107_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask107'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_107_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_108_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask108'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_108_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_108_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask108'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_108_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_109_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask109'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_109_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_109_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask109'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_109_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_110_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask110'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_110_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_110_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask110'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_110_Commanded(type='checkbox')
                  tr
                    td 
                      label ---
                    td 
                      input#CFE_ES_PerfFilterMask_111_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask111'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_111_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_111_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask111'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_111_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_112_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask112'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_112_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_112_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask112'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_112_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_113_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask113'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_113_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_113_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask113'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_113_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_114_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask114'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_114_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_114_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask114'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_114_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_115_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask115'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_115_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_115_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask115'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_115_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_116_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask116'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_116_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_116_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask116'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_116_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_117_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask117'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_117_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_117_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask117'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_117_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_118_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask118'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_118_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_118_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask118'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_118_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_119_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask119'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_119_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_119_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask119'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_119_Commanded(type='checkbox')
                  tr
                    td 
                      label Local 1HZ Task
                    td 
                      input#CFE_ES_PerfFilterMask_120_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask120'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_120_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_120_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask120'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_120_Commanded(type='checkbox')
                  tr
                    td 
                      label Tone 1Hz Task
                    td 
                      input#CFE_ES_PerfFilterMask_121_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask121'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_121_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_121_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask121'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_121_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_122_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask122'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_122_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_122_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask122'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_122_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_123_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask123'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_123_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_123_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask123'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_123_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_124_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask124'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_124_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_124_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask124'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_124_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_125_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask125'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_125_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_125_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask125'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_125_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_126_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask126'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_126_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_126_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask126'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_126_Commanded(type='checkbox')
                  tr
                    td ---
                    td 
                      input#CFE_ES_PerfFilterMask_127_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfFilterMask127'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfFilterMask_127_Commanded(type='checkbox')
                    td 
                    td 
                      input#CFE_ES_PerfTriggerMask_127_Actual(data-sage={tlm:[{name:'/CFS/CFE_ES/PerfTriggerMask127'}]} type='checkbox')
                    td 
                      input#CFE_ES_PerfTriggerMask_127_Commanded(type='checkbox')

