extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Data Storage

block main
  .row                  
    article.col-xs-12.col-sm-12.col-md-6.col-lg-4(style={width:'350px'})
      #wid-DS-General.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 Housekeeping
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-striped
                tbody
                  tr
                    th(style={width:'160px'}) Cmd Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/CmdAcceptedCounter'}]}) ---
                    td(style={width:'100px'}) 
                  tr
                    th Cmd Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/CmdRejectedCounter'}]}) ---
                    td 
                  tr
                    th Dest Tbl Load Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/DestTblLoadCounter'}]}) ---
                    td
                  tr
                    th Dest Tbl Err Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/DestTblErrCounter'}]}) ---
                    td 
                  tr
                    th Filter Tbl Load Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FilterTblLoadCounter'}]}) ---
                    td 
                  tr
                    th Filter Tbl Err Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FilterTblErrCounter'}]}) ---
                    td 
                  tr
                    th App Enable State
                    td 
                      span(style='width: 60px; display:inline-block;', data-sage={tlm:[{name:'/CFS/DS/AppEnableState'}]}) ---
                    td 
                      .btn-group
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/DS/SetAppState', argument:[{name:'State', value:'Disabled'}]}}) Dis
                        button.btn.btn-xs.btn-primary.btn-labeled.sage-cmd-inline(data-sage={cmd: {name:'/CFS/DS/SetAppState', argument:[{name:'State', value:'Enabled'}]}}) Ena
                  tr
                    th File Write Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FileWriteCounter'}]}) ---
                    td 
                  tr
                    th File Write Err Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FileWriteErrCounter'}]}) ---
                    td 
                  tr
                    th File Update Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FileUpdateCounter'}]}) ---
                    td 
                  tr
                    th File Update Err Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FileUpdateErrCounter'}]}) ---
                    td 
                  tr
                    th Disabled Pkt Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/DisabledPktCounter'}]}) ---
                    td 
                  tr
                    th Ignored Pkt Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/IgnoredPktCounter'}]}) ---
                    td 
                  tr
                    th Filtered Pkt Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/FilteredPktCounter'}]}) ---
                    td 
                  tr
                    th Passed Pkt Count
                    td 
                      span(data-sage={tlm:[{name:'/CFS/DS/PassedPktCounter'}]}) ---
                    td 
            footer
                .btn-group.dropup
                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Commands
                    span.caret
                  ul#CSCommands.dropdown-menu(role='menu')
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetFilterFile'}}) Set Filter File
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetFilterType'}}) Set Filter Type
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetFilterParms'}}) Set Filter Params
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestType'}}) Set Dest Type
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestState'}}) Set Dest State
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestPath'}}) Set Dest Path
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestBase'}}) Set Dest Base
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestExt'}}) Set Dest Ext
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestSize'}}) Set Dest Size
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestAge'}}) Set Dest Age
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/SetDestCount'}}) Set Dest Count
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/CloseFile'}}) Close File
                    li
                      a(data-sage={cmd:{name:'/CFS/DS/CloseAll'}}) Close All
      
  .row
    article.col-xs-12.col-sm-12.col-md-9.col-lg-8(style={width:'900px'}) 
      #wid-DS-Diag.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
        header
          span.widget-icon
            i.fa.fa-table
          h2 File Info
            button.btn.btn-xs.btn-primary.btn-labeled(data-sage={cmd:{name:'/CFS/DS/GetFileInfo'}}) Send
        div
          .jarviswidget-editbox
            input.form-control(type='text')
          .widget-body
            .table-responsive
              table.table.table-condensed.table-striped  
               thead
                 th(style={width:'100px'}) Age
                 th(style={width:'100px'})  Size
                 th(style={width:'100px'})  Rate
                 th(style={width:'100px'})  Sequence
                 th(style={width:'100px'})  Enabled State
                 th(style={width:'100px'})  Open State
                 th(style={width:'280px'})  File Name
               tbody
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_0_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_1_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_2_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_3_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_4_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_5_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_6_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_7_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_8_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_9_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_10_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_11_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_12_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_13_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_14_FileName'}]}) ---
                 tr
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_Age'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_Size'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_Rate'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_SequenceCount'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_EnableState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_OpenState'}]}) ---
                   td
                     span(data-sage={tlm:[{name:'/CFS/DS/FileInfo_15_FileName'}]}) ---
                            
  .row          
    +app_specific_mempools("DS")
    
  .row
    +app_specific_application_control("DS") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("DS")
    
  .row
    +app_specific_scheduler_control("DS")
   
