table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/LGC/LGC_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/LGC/LGC_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th State
      td
        span(data-cdr={tlm: [{name:'/LGC/LGC_HkTlm_t/State'}]}) ---

footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LGC/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LGC/Reset'}}) Reset
