style.
  .wdg-time{
    display:block;
  }
  .wdg-time > div{
    padding: 0px 5px;
  }
  .wdg-label{
    float:left;
    margin-right:10px;
  }
  .wdg-session-conn-value{
    float:right;
  }

div.wgd-time
  div.wdg-label Session 
  div.wdg-session-conn-value -

script.
  if( WdgSessionConStatusInterval == undefined){
    var WdgSessionConStatusInterval = setInterval( () => {
      try{
        /* Socket status */
        if ( window.session.socket.connected ) {
          $( '.wdg-session-conn-value' ).text( "CONNECTED" );
          $( '.wdg-session-conn-value' ).attr( 'class', 'wdg-session-conn-value cdr-gadget-value cdr-gadget-on-status' );

        } else {
          $( '.wdg-session-conn-value' ).text( "DISCONNECTED" );
          $( '.wdg-session-conn-value' ).attr( 'class', 'wdg-session-conn-value cdr-gadget-value cdr-gadget-off-status' );
        }

      }
      catch(e){
        cu.logError('Widget | session connection widget errored out');
      }
    }, 1000 );
    widgetIntervalCollection.push({
      interval:WdgSessionConStatusInterval,
      bindclass:'wdg-session-conn-value'
      })
  }
