style.
  .wdg-label{
    float:left;
    margin-right:2px;
  }
  .wdg-network-latency-value{
    float:right;
  }
  .wdg-network-latency-text{
    margin-right:5px;
    float:left;
    font-size: xx-small;
  }

div.wdg-network
  div.wdg-label Network Latency 
  div.wdg-network-latency-text -
  div.wdg-network-latency-value -

script.
  var sparkLineOptions = {
    width: 30,
    height: 20,
    startColor: 'transperant',
    maxColor: 'red',
    minColor: 'green',
  }

  $('.wdg-network-latency-value').toArray().forEach((wdgFlot)=>{
      
      
      if($(wdgFlot).attr('sparklineIndex') == undefined | $(wdgFlot).attr('sparklineIndex') == null){
        var index = sparklineIndex.push(new Sparkline(wdgFlot,sparkLineOptions)) - 1;
        $(wdgFlot).attr('sparklineIndex',index);
      }

    });
    
  if(networkLatency == undefined | networkLatency == null ){
    var networkLatency = [];
  }
    
    
  if( WdgNetworkLatencyInterval == undefined){

    
    var WdgNetworkLatencyInterval = setInterval( () => {
      
      try{
        
        var latencyAccumulated = 0;
        
        var entries = performance.getEntries( {
          "initiatorType": "xmlhttprequest"
        } );
        
        for ( var i in entries ) {
          try {
            latencyAccumulated += entries[ i ].duration;
          } catch ( e ) {
            cu.logError( 'Network Latency | error calculating network latency' )
          }
        }
        
        networkLatency.push( latencyAccumulated / entries.length )
        if ( networkLatency.length == 10 ) {
          networkLatency.splice( 0, 1 );
        }

        
      }
      catch(e){
        cu.logError('Widget | session connection widget errored out');
      }
      
      $('.wdg-network-latency-value').toArray().forEach((wdgFlot)=>{
          sparklineIndex[$(wdgFlot).attr('sparklineIndex')].draw(networkLatency);
        });
        
        $('.wdg-network-latency-text').toArray().forEach((wdgTextVal)=>{
            $(wdgTextVal).text(networkLatency[networkLatency.length - 1 ].toFixed(0) + ' ms');
          });
      
    }, 1000 );
    
    
    
    widgetIntervalCollection.push({
      interval:WdgNetworkLatencyInterval,
      bindclass:'wdg-network-latency-value'
      })
  }
  
  if( WdgNetworkPerformanceInterval == undefined){
    
    var WdgNetworkPerformanceInterval = setInterval(()=>{
        
        performance.clearResourceTimings();
      
      },10000);
      
    widgetIntervalCollection.push({
      interval:WdgNetworkPerformanceInterval,
      bindclass:'wdg-network'
      })
  }
