.row.row-fluid
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Time Diag
    div.widget-body
      table.table.table-condensed
        tbody
          tr
            th At Tone MET
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneMET.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneMET.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone STCF
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneSTCF.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneSTCF.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Delay
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneDelay.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneDelay.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Latch
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Leaps
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLeaps'}], indicator:'text'}) ---
          tr
            th Clock API State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockStateAPI', calibration: {type:'enumeration', 
                enumerations:[
                  {value:-1, name:'INVALID'},
                  {value:0, name:'VALID'},
                  {value:1, name:'FLYWHEEL'}
                ]}}],indicator:'text'}) ---
          tr
            th Time Since Tone
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.TimeSinceTone.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.TimeSinceTone.Subseconds'}], indicator:'text'}) ---
          tr
            th Current Latch
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th Current MET
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentMET.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentMET.Subseconds'}], indicator:'text'}) ---
          tr
            th Current TAI
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentTAI.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentTAI.Subseconds'}], indicator:'text'}) ---

              
    footer
      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiag'}, indicator:'cmd'}) Telemeter Diag
                      