.row.row-fluid
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Time Diag
    div.widget-body
      table.table.table-condensed
        tbody
          tr
            th At Tone MET
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneMET.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneMET.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone STCF
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneSTCF.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneSTCF.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Delay
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneDelay.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneDelay.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Latch
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th At Tone Leaps
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.AtToneLeaps'}], indicator:'text'}) ---
          tr
            th Clock API State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockStateAPI'}], indicator:'text'}) ---
          tr
            th Time Since Tone
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.TimeSinceTone.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.TimeSinceTone.Subseconds'}], indicator:'text'}) ---
          tr
            th Current Latch
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th Current MET
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentMET.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentMET.Subseconds'}], indicator:'text'}) ---
          tr
            th Current TAI
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentTAI.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentTAI.Subseconds'}], indicator:'text'}) ---
          tr
            th Current UTC
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentUTC.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.CurrentUTC.Subseconds'}], indicator:'text'}) ---
          tr
            th Set State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSetState'}], indicator:'led'}) ---
          tr
            th Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockFlyState'}], indicator:'led'}) ---
          tr
            th Source
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSource'}], indicator:'led'}) ---
          tr
            th Signal
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockSignal'}], indicator:'led'}) ---
          tr
            th Server Fly State
            td 
              span(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ServerFlyState'}], indicator:'led'}) ---
          tr
            th Forced to Fly
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.Forced2Fly'}], indicator:'led'}) ---
              
              
          tr
            th Clock State Flags
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ClockStateFlags'}], indicator:'text'}) ---
          tr
            th One Time Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeDirection'}], indicator:'text'}) ---
          tr
            th 1Hz Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzDirection'}], indicator:'text'}) ---
          tr
            th Delay Direction
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.DelayDirection'}], indicator:'text'}) ---
          tr
            th One Time Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeAdjust.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneTimeAdjust.Subseconds'}], indicator:'text'}) ---
          tr
            th 1Hz Adjust
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzAdjust.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.OneHzAdjust.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Signal Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalLatch.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Data Latch
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataLatch.Seconds'}], indicator:'text'}) ---
          tr
            th
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataLatch.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Match Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneMatchCount'}], indicator:'text'}) ---
          tr
            th Tone Match Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneMatchErrors'}], indicator:'text'}) ---
          tr
            th Tone Signal Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneSignalCount'}], indicator:'text'}) ---
          tr
            th Tone Data Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneDataCount'}], indicator:'text'}) ---
          tr
            th Tone Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneIntCount'}], indicator:'text'}) ---
          tr
            th Tone Int Errors
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneIntErrors'}], indicator:'text'}) ---
          tr
            th Tone Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneTaskCount'}], indicator:'text'}) ---
          tr
            th Version Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.VersionCount'}], indicator:'text'}) ---
          tr
            th Local Int Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.LocalIntCount'}], indicator:'text'}) ---
          tr
            th Local Task Count
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.LocalTaskCount'}], indicator:'text'}) ---
          tr
            th Virtual MET
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.VirtualMET'}], indicator:'text'}) ---
          tr
            th Min Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MinElapsed'}], indicator:'text'}) ---
          tr
            th Max Elapsed
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxElapsed'}], indicator:'text'}) ---
          tr
            th Max Local Clock
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxLocalClock.Seconds'}], indicator:'text'}) ---
          tr
            th 
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.MaxLocalClock.Subseconds'}], indicator:'text'}) ---
          tr
            th Tone Over Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneOverLimit'}], indicator:'text'}) ---
          tr
            th Tone Under Limit
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.ToneUnderLimit'}], indicator:'text'}) ---
          tr
            th Data Store Status
            td 
              div(data-cdr={tlm:[{name:'/CFE/CFE_TIME_DiagPacket_t/Payload.DataStoreStatus'}], indicator:'text'}) ---
              
              
    footer
      button.btn.cdr-primary(data-cdr={cmd:{name:'/CFE/CFE_TIME_SendDiag'}, indicator:'cmd'}) Telemeter Diag
                      