extends ../../../web_includes/common/layout

block includes
  include ../../../web_includes/common/common_includes.pug

block header
        i.fa-fw.fa.fa-signal
        | Command Ingest

block main
  .row.row-fluid
    article.col-xs-10.col-sm-8.col-md-6.col-lg-6(style='max-width:450px')
        #wid-CI-CmdAndData.jarviswidget.jarviswidget-color-blueDark(data-widget-editbutton='false')
          header
            span.widget-icon
              i.fa.fa-table
            h2 General
          div
            .jarviswidget-editbox
              input.form-control(type='text')
            .widget-body
              .table-responsive
                table.table.table-condensed
                  tbody
                    tr
                      th Cmd Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/CI/CmdCounter'}]}) ---
                    tr
                      th Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/CI/ErrCounter'}]}) ---
                    tr
                      th Ingest Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/CI/IngestMsgCount'}]}) ---
                    tr
                      th Ingest Error Count
                      td
                        span(data-sage={tlm: [{name:'/CFS/CI/IngestErrorCount'}]}) ---
              footer
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/NoOp'}}) No-Op
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/Reset'}}) Reset
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/ArmCmd'}}) Arm Cmd
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/DisarmCmd'}}) Disarm Cmd
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/RegCmd'}}) Register Cmd
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/DeregCmd'}}) Deregister cmd
                button.btn.btn-primary(data-sage={cmd: {name:'/CFS/CI/UpdateCmdReg'}}) Update cmd
                                        
  .row
    +app_specific_telemetry_control("CI")
                            
  .row          
    +app_specific_mempools("CI")
    
  .row
    +app_specific_application_control("CI") 
    +registered_applications() 
  
  .row
    +app_specific_table_control("CI")
    
  .row
    +app_specific_scheduler_control("CI")

