.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-area-chart
      h2 Pixel Flow Graph
    div.widget-graph
      div(data-commander={tlm:[{name:'/CFE/ES_HK/Payload.ProcessorResets'},{name:'/CFE/ES_HK/Payload.CFEMinorVersion'}]} data-format='dataplot')
