.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 NAV - Auto Landing State
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Force Descent Executing
            td
              div(data-cdr={tlm:[{name:'/NAV/NAV_HkTlm_t/LandForceDescentExecuting'}],indicator:'led'}) ---
          tr
            th Force Descent Completed
            td
              div(data-cdr={tlm:[{name:'/NAV/NAV_HkTlm_t/LandForceDescentCompleted'}],indicator:'led'}) ---
