table.table.table-condensed
  tbody
    tr
      th Mission Item Reached
      td
        div(data-cdr={tlm:[{name:'/NAV/NAV_HkTlm_t/MissionItemReached'}],indicator:'led'}) ---
    tr
      th Waypoint Position Reached
      td
        div(data-cdr={tlm:[{name:'/NAV/NAV_HkTlm_t/WaypointPositionReached'}],indicator:'led'}) ---
    tr
      th Waypoint Yaw Reached
      td
        div(data-cdr={tlm:[{name:'/NAV/NAV_HkTlm_t/WaypointYawReached'}],indicator:'led'}) ---
    
