script.
    var sendSBMemPoolStats = function () {
        var poolHandle = $('#SBMemPoolHandle').text();
        session.sendCommand({ops_path:'/CFE/CFE_ES_SendMemPoolStats_t', args:{'Payload.Application':'CFE_SB', 'Payload.PoolHandle':poolHandle}});
    };
         
table.table.table-condensed
          tbody
            tr
              th Cmd Count
              td
                div(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.CommandCnt'}]}) ---
              td
                .btn-group
                  button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_Noop_t'}}) No-Op
                  button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_ResetCounters_t'}}) Counter Reset
            tr
              th Cmd Error Count
              td
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.CmdErrCnt'}]}) ---
              td
            tr  
              th No Subscribers
              td
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.NoSubscribersCnt'}]}) ---
              td
            tr  
              th Msg Send Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.MsgSendErrCnt'}]}) ---
              td 
            tr  
              th Msg Receive Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.MsgReceiveErrCnt'}]}) ---
              td
            tr  
              th Internal Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.InternalErrCnt'}]}) ---
              td
            tr  
              th Create Pipe Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.CreatePipeErrCnt'}]}) ---
              td
            tr  
              th Subscribe Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.SubscribeErrCnt'}]}) ---
              td
            tr  
              th Duplicate Subscriptions
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.DupSubscriptionsCnt'}]}) ---
              td
            tr  
              th Pipe Overflows
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.PipeOverflowErrCnt'}]}) ---
              td
            tr  
              th Msg Limit Errors
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.MsgLimErrCnt'}]}) ---
              td
            tr  
              th Memory in Use
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.MemInUse'}]}) ---
              td
            tr  
              th Unmarked Memory
              td 
                span(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.UnmarkedMem'}]}) ---
              td
            tr  
              th Mem Pool Handle
              td 
                span#SBMemPoolHandle(data-cdr={tlm:[{name:'/CFE/CFE_SB_HousekeepingTlm_t/Payload.MemPoolHandle', format:'0x%08x'}]}) ---
              td
                button.btn.cdr-primary(onclick='sendSBMemPoolStats()') Send Stats

footer
  .btn-group
    button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_EnableRoute_t'}}) Enable Route
    button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_DisableRoute_t'}}) Disable Route
    button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_SendRoutingInfo_t'}}) Send Routing Info
    button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_SendPipeInfo_t'}}) Send Pipe Info
    button.btn.cdr-primary(data-cdr={cmd: {name: '/CFE/CFE_SB_SendMapInfo_t'}}) Send Map Info
    